<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<properties resource="properties.config"/>-->
  <properties>
    <property key="security_maps_root" value="contrib/security/res/maps"/>
    <property key="workflow_maps_root" value="contrib/workflow/res/maps"/>
    <property key="dynamicform_maps_root" value="contrib/dynamicform/res/maps"/>

    <property key="xqp2_maps_root" value="apps/xqp2/res/maps"/>
  </properties>

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true" />
    <setting useReflectionOptimizer="true"/>
  </settings>

  <providers embedded="Botwave.Extension.IBatisNet.providers.config, Botwave.Extension.IBatisNet"/>

  <!-- Database connection information 修改了 botwave.extension.ibatisnet 从 web.config 中读取数据库连接字符串-->
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="botwave" connectionString="ConnectionString" />
  </database>

  <sqlMaps>
    <!-- security(begin) -->
    <sqlMap embedded="Botwave.Security.IBatisNet.Maps.Authorization.config, Botwave.Security.IBatisNet" />
    <sqlMap embedded="Botwave.Security.IBatisNet.Maps.Department.config, Botwave.Security.IBatisNet" />
    <sqlMap embedded="Botwave.Security.IBatisNet.Maps.EntityPermission.config, Botwave.Security.IBatisNet" />
    <sqlMap embedded="Botwave.Security.IBatisNet.Maps.Resource.config, Botwave.Security.IBatisNet" />
    <sqlMap embedded="Botwave.Security.IBatisNet.Maps.Role.config, Botwave.Security.IBatisNet" />
    <sqlMap embedded="Botwave.Security.IBatisNet.Maps.User.config, Botwave.Security.IBatisNet" />
    <!-- security(end) -->

    <!-- workflow(begin) -->
    <sqlMap embedded="Botwave.Workflow.IBatisNet.Maps.ActivityDefinition.config, Botwave.Workflow.IBatisNet" />
    <sqlMap embedded="Botwave.Workflow.IBatisNet.Maps.ActivityInstance.config, Botwave.Workflow.IBatisNet" />
    <sqlMap embedded="Botwave.Workflow.IBatisNet.Maps.ActivitySet.config, Botwave.Workflow.IBatisNet" />
    <sqlMap embedded="Botwave.Workflow.IBatisNet.Maps.Assignment.config, Botwave.Workflow.IBatisNet" />
    <sqlMap embedded="Botwave.Workflow.IBatisNet.Maps.Comment.config, Botwave.Workflow.IBatisNet" />
    <sqlMap embedded="Botwave.Workflow.IBatisNet.Maps.Countersigned.config, Botwave.Workflow.IBatisNet" />
    <sqlMap embedded="Botwave.Workflow.IBatisNet.Maps.Report.config, Botwave.Workflow.IBatisNet" />
    <!--<sqlMap embedded="Botwave.Workflow.IBatisNet.Maps.WorkflowDefinition.config, Botwave.Workflow.IBatisNet" />-->
    <sqlMap embedded="Botwave.XQP.Maps.WorkflowDefinition.config, Botwave.XQP" />
    <sqlMap embedded="Botwave.Workflow.IBatisNet.Maps.WorkflowInstance.config, Botwave.Workflow.IBatisNet" />
    <sqlMap embedded="Botwave.Workflow.IBatisNet.Maps.WorkflowSetting.config, Botwave.Workflow.IBatisNet" />

    <sqlMap embedded="Botwave.Workflow.Extension.Maps.Workflow_Extension.config, Botwave.Workflow.Extension" />
    <!-- workflow(end) -->

    <!-- dynamic form (begin) -->
    <sqlMap embedded="Botwave.DynamicForm.IBatisNet.Maps.FormDefinition.config, Botwave.DynamicForm.IBatisNet" />
    <sqlMap embedded="Botwave.DynamicForm.IBatisNet.Maps.FormInstance.config, Botwave.DynamicForm.IBatisNet" />
    <sqlMap embedded="Botwave.DynamicForm.IBatisNet.Maps.FormOptimize.config, Botwave.DynamicForm.IBatisNet" />
    <!--<sqlMap resource="${dynamicform_maps_root}/FormItemExtension.config" />
    <sqlMap resource="${dynamicform_maps_root}/JsLibrary.config" />
    <sqlMap resource="${dynamicform_maps_root}/FormItemIFrames.config" />
    <sqlMap resource="${dynamicform_maps_root}/DataListSetting.config" />
    <sqlMap resource="${dynamicform_maps_root}/DataListInstance.config" />-->
    <sqlMap embedded="Botwave.DynamicForm.Extension.Maps.FormItemExtension.config, Botwave.DynamicForm.Extension" />
    <sqlMap embedded="Botwave.DynamicForm.Extension.Maps.JSLibrary.config, Botwave.DynamicForm.Extension" />
    <sqlMap embedded="Botwave.DynamicForm.Extension.Maps.FormItemIFrames.config, Botwave.DynamicForm.Extension" />
    <sqlMap embedded="Botwave.DynamicForm.Extension.Maps.DataListSetting.config, Botwave.DynamicForm.Extension" />
    <sqlMap embedded="Botwave.DynamicForm.Extension.Maps.DataListInstance.config, Botwave.DynamicForm.Extension" />
    <!-- dynamic form (end) -->

    <!-- xqp2 (begin) -->
    <sqlMap embedded="Botwave.XQP.Maps.XQPCore.config, Botwave.XQP" />
    <sqlMap embedded="Botwave.XQP.Maps.XQPWorkflowControl.config, Botwave.XQP" />
    <sqlMap embedded="Botwave.XQP.Maps.XQPAttachment.config, Botwave.XQP" />
    <sqlMap embedded="Botwave.XQP.Maps.Apps.config, Botwave.XQP" />
    <sqlMap embedded="Botwave.XQP.Maps.WorkflowCustomReport.config, Botwave.XQP" />
    <sqlMap embedded="Botwave.XQP.Maps.WorkflowMenuGroup.config, Botwave.XQP" />
    <sqlMap embedded="Botwave.XQP.Maps.WorkflowDesigner.config, Botwave.XQP" />
    <sqlMap embedded="Botwave.XQP.Maps.IntelligentRemind.config, Botwave.XQP" />
    <sqlMap embedded="Botwave.XQP.Maps.CZMCC.config, Botwave.XQP" />
    <sqlMap embedded="Botwave.XQP.Maps.WorkflowAPI.config, Botwave.XQP" />
    <sqlMap embedded="Botwave.XQP.Maps.SZIntelligentRemind.config, Botwave.XQP" />
    <sqlMap embedded="Botwave.XQP.Maps.WorkflowRole.config, Botwave.XQP" />
    <sqlMap embedded="Botwave.XQP.Maps.Ucs_Reportforms.config, Botwave.XQP" />
    <!-- xqp2 (end) -->

    <sqlMap embedded="Botwave.Workflow.Routing.Maps.ActivityRulesDetail.config, Botwave.Workflow.Routing" />
  </sqlMaps>
</sqlMapConfig>