<?xml version="1.0" encoding="utf-8"?>
<urlRewriter enable="true">
  <rewriter path="index*.aspx" pattern="index/([\w\W]*).aspx" url="default.aspx?q=$1" />
  <rewriter path="main" pattern="~/main/index.aspx" url="main/default.aspx" />
  <rewriter path="login.aspx" pattern="login.aspx" url="apps/gmcc/pages/login.aspx" />
  <rewriter path="ssoproxy/index/*.ashx" pattern="ssoproxy/index/([\w\W]*).ashx" url="ssoproxy.ashx?contrib/workflow/pages/workflowIndex.aspx?workflow=$1" />
  <rewriter path="ssoproxy/start/*.ashx" pattern="ssoproxy/start/([\w\W]*).ashx" url="ssoproxy.ashx?contrib/workflow/pages/start.aspx?workflow=$1" />
  <rewriter path="ssoproxy/todo/*ashx" pattern="ssoproxy/todo/([\w\W]*).ashx" url="ssoproxy.ashx?contrib/workflow/pages/default.aspx?wfname=$1" />
  <rewriter path="ssoproxy/process/*.ashx" pattern="ssoproxy/process/([\w\W]*).ashx" url="ssoproxy.ashx?contrib/workflow/pages/process.aspx?aiid=$1" />
  <rewriter path="ssoproxy/view/*ashx" pattern="ssoproxy/view/([\w\W]*).ashx" url="ssoproxy.ashx?contrib/workflow/pages/workflowview.aspx?aiid=$1" />
  <rewriter path="workbench.aspx" pattern="workbench.aspx" url="apps/gmcc/pages/default.aspx" />

  <rewriter path="ssoprox/index/*.ashx" pattern="ssoprox/index/([\w\W]*).ashx" url="contrib/workflow/pages/default.aspx" />
  <rewriter path="ssoprox/start/*.ashx" pattern="ssoprox/start/([\w\W]*).ashx" url="contrib/workflow/pages/start.aspx?wid=3165ce2e-68d0-43fc-9dcf-96918d0422f6" />
  <rewriter path="ssoprox/todo/*.ashx" pattern="ssoprox/todo/([\w\W]*).ashx" url="contrib/workflow/pages/doneTaskByAppl.aspx" />
  
  <rewriter path="contrib/security/pages/login.aspx" pattern="contrib/security/pages/login.aspx" url="apps/gmcc/pages/login.aspx" />
  <rewriter path="apps/xqp2/pages/extension/default.aspx" pattern="apps/xqp2/pages/extension/default.aspx" url="apps/gmcc/pages/default.aspx" />
</urlRewriter>
