
@{
    ViewBag.Title = "合同选择";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        var choseArr = new Array();
        var app = angular.module('ListPage', ['tm.pagination']);
        //控制器
        app.controller('PageController', ['$scope', "$filter", 'BusinessService', function ($scope, $filter, BusinessService) {
            $scope.queryBuilder = {
            };

            //获取列表
            var GetListData = function () {
                box.load("GetListData");
                $scope.master = false;
                choseArr = [];
                var postData = {
                    pageIndex: $scope.paginationConf.currentPage,
                    pageSize: $scope.paginationConf.itemsPerPage,
                    queryBuilder: $scope.queryBuilder
                }
                BusinessService.list(postData).success(function (response) {
                    box.ready("GetListData");
                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                    $scope.total = response.total;
                }).error(function (err) {
                    box.ready("GetListData");
                    box.alert("网络出错！", { icon: 'error' });
                });

            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };

            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);

            var selectedId = '@ViewData["selected"]';
            var str = "";
            $scope.isCh = function (contract) {
                if (selectedId.indexOf(contract.ContractID) >= 0) {
                    if (str.indexOf(contract.ContractID) < 0) {
                        choseArr.push(contract);
                        str += contract.ContractID + ",";
                    }
                }
                return selectedId.indexOf(contract.ContractID) >= 0;

            }

            /*实现全选，多选操作*/
            $scope.x = false;//默认未选中
            $scope.all = function ($event) {//全选
                var isChecked = $event.target.checked;
                angular.element("[ng-model='x']").prop("checked", isChecked);
                if (isChecked == true) {
                    choseArr = [];
                    angular.forEach($scope.ListPageData, function (obj) {
                        choseArr.push(obj);//此处ID名称不同的页面名称不同，需要修改
                    });
                }
                else
                    choseArr = [];
            };
            $scope.chk = function ($event, z) {//单选或者多选
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if (choseArr.indexOf(z) < 0) {
                        choseArr.push(z);
                    }
                    if (choseArr.length == $scope.ListPageData.length) {
                        $scope.master = true;
                    }
                }
                else {//取消选中
                    var index = choseArr.indexOf(z);
                    if (index > -1) {
                        choseArr.splice(index, 1);
                        $scope.master = false;
                    }
                }
            };

            $scope.query = function () {
                GetListData();
            }


        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http.post(CurPath + 'InvestContract/GetListData', postData);
            };

            return serive;
        }]);
        function getResult() {
            var appElement = document.querySelector('[ng-controller=PageController]');
            var $scope = angular.element(appElement).scope();
            var ListPageData = $scope.ListPageData;
            var result = [];
            $.each(choseArr, function (i, item) {
                result.push({
                    ContractID: item.ContractID,
                    ContractName: item.ContractName
                });
            });
            return result;
        }
    </script>
}
<div id="ng-app" ng-app="ListPage" ng-controller="PageController">
    <!--content--->
    <div class="search-mod">
        <table>
            <tr>
                <td>
                    项目编号：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ContractID" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>
                    项目名称：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ProjectName" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>是否MIS单类：</td>
                <td>
                    <div class="ui-input">
                        <div class="selectdrapdown">
                            <select ng-model="queryBuilder.IsMIS" class="cell-input" style="width:80px;">
                                <option value="">请选择</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    合同编号：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ContractID" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>
                    合同名称：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ContractName" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>
                    <div class="ui-input">
                        <a ng-click="query()" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>
                <th>合同流水号</th>
                <th>导入时间</th>
                <th>项目编号</th>
                <th>项目名称</th>
                <th>合同编号</th>
                <th>合同名称</th>
                <th>合同主办部门</th>
                <th>主办人</th>
                <th>合同不含税金额(元)</th>
                <th>合同税金(元)</th>
                <th>合同含税金额(元)</th>
                <th>币种</th>
                <th>合同状态</th>
                <th>合同属性</th>
                <th>审批开始时间</th>
                <th>审批结束时间</th>
                <th>合同档案号</th>
                <th>印花税率</th>
                <th>印花税金</th>
                <th>签订时间</th>
                <th>供应商</th>
                <th>需求部门</th>
                <th>相关部门</th>
                <th>项目开展原因</th>
                <th>合同类型</th>
                <th>合同对方</th>
                <th>合同对方来源</th>
                <th>合同对方选择方式</th>
                <th>采购方式</th>
                <th>付款方式</th>
                <th>付款说明</th>
                <th>合同有效区间起始</th>
                <th>合同有效区间终止</th>
                <th>框架合同</th>
                <th>起草时间</th>
                <th>项目金额</th>
                <th>已签署项目总额</th>
                <th>合同总金额(元)</th>
                <th>实际合同金额(元)</th>
                <th>MIS单类</th>
            </tr>
            <tr ng-repeat="emp in ListPageData">
                <td><input type="checkbox" id="{{emp.ID}}" ng-model="x" ng-checked="isCh(emp)" ng-click="chk($event,emp)" /></td>
                <td>{{emp.ContractSeries}}</td>
                <td ng-bind="emp.ImportTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td>{{emp.ContractID}}</td>
                <td>{{emp.ProjectName}}</td>
                <td>{{emp.ContractID}}</td>
                <td>{{emp.ContractName}}</td>
                <td>{{emp.DpCode_Text}}</td>
                <td>{{emp.User_Text}}</td>
                <td>{{emp.SignTotal}}</td>
                <td>{{emp.Tax}}</td>
                <td>{{emp.SignTotalTax}}</td>
                <td>{{emp.Currency}}</td>
                <td>{{emp.ContractState}}</td>
                <td>{{emp.Attribute}}</td>
                <td ng-bind="emp.ApproveStartTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td ng-bind="emp.ApproveEndTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td>{{emp.ContractFilesNum}}</td>
                <td>{{emp.StampTaxrate}}</td>
                <td>{{emp.Stamptax}}</td>
                <td ng-bind="emp.SignTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td>{{emp.Supply}}</td>
                <td>{{emp.RequestDp_Text}}</td>
                <td>{{emp.RelevantDp_Text}}</td>
                <td>{{emp.ProjectCause}}</td>
                <td>{{emp.ContractType}}</td>
                <td>{{emp.ContractOpposition}}</td>
                <td>{{emp.ContractOppositionFrom}}</td>
                <td>{{emp.ContractOppositionType}}</td>
                <td>{{emp.Purchase}}</td>
                <td>{{emp.PayType}}</td>
                <td>{{emp.PayRemark}}</td>
                <td ng-bind="emp.ContractStartTime|date:'yyyy-MM-dd'"></td>
                <td ng-bind="emp.ContractEndTime|date:'yyyy-MM-dd'"></td>
                <td>{{emp.IsFrameContract}}</td>
                <td ng-bind="emp.DraftTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td>{{emp.ProjectTotal}}</td>
                <td>{{emp.ProjectAllTotal}}</td>
                <td>{{emp.AllTotal}}</td>
                <td>{{emp.PayTotal}}</td>
                <td>{{emp.IsMIS=="1"?'是':'否'}}</td>
            </tr>
        </table>
    </div>

    <div class="main-flip">
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>

