<div class="left-nav">
    <span class="span-1"><i></i>新闻投稿<b></b></span>
    <ul>
        <li><a href="javascript:void(0);">新闻中心</a></li>
        <li><a href="javascript:void(0);">文章评论</a></li>
        <li><a href="javascript:void(0);">系统管理</a></li>
        <li><a href="javascript:void(0);">问卷调查</a></li>
    </ul>

</div>

<div class="left-nav">
    <span class="span-2"><i></i>投稿未审核<b></b></span>
    <ul>
        <li><a href="javascript:void(0);"> </a></li>
    </ul>
</div>

<div class="left-nav">
    <span class="span-3"><i></i>投稿退回<b></b></span>
    <ul>
        <li><a href="javascript:void(0);"> </a></li>
    </ul>
</div>

<div class="left-nav">
    <span class="span-4"><i></i>部门审批<b></b></span>
    <ul>
        <li><a href="javascript:void(0);"> </a></li>
    </ul>
</div>

<div class="left-nav">
    <span class="span-5"><i></i>版主审核<b></b></span>
    <ul>
        <li><a href="javascript:void(0);"> </a></li>
    </ul>
</div>

<div class="left-nav">
    <span class="span-6"><i></i>新闻统计<b></b></span>
    <ul>
        <li><a href="javascript:void(0);"> </a></li>
    </ul>
</div>

<div class="left-nav">
    <span class="span-7"><i></i>新闻栏目<b></b></span>
    <ul>
        <li><a href="javascript:void(0);"> </a></li>
    </ul>
</div>

<div class="left-nav">
    <span class="span-8"><i></i>网站团队<b></b></span>
    <ul>
        <li><a href="javascript:void(0);"> </a></li>
    </ul>
</div>

<div class="left-nav">
    <span class="span-9"><i></i>全市群发<b></b></span>
    <ul>
        <li><a href="javascript:void(0);"> </a></li>
    </ul>
</div>

<div class="left-nav">
    <span class="span-10"><i></i>公告管理<b></b></span>
    <ul>
        <li><a href="javascript:void(0);"> </a></li>
    </ul>
</div>

<div class="left-nav">
    <span class="span-11"><i></i>新闻之星<b></b></span>
    <ul>
        <li><a href="javascript:void(0);"> </a></li>
    </ul>
</div>