
@{
    ViewBag.Title = "领用申请";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <script src="~/Content/Javascript/jscroll.js"></script>
    <script src="~/Content/app/number.js"></script>
    <script src="~/Content/app/executor.aftersubmit.js"></script>
    <script>
        var type = '@ViewData["type"]';
        var workflowName = '@ViewData["workflowName"]';
        $(function () {
            setByType();
        });

        function setByType() {
            if (type != 'edit') {
                $('.forEdit').remove();
            }
            else {
                $('.editWithout').remove();
            }
        }

        function addJsCroll(elememt) {
            if ($(elememt).length > 0) {
                $(elememt).jscroll({
                    W: "8px",
                    BgUrl: "",
                    Bg: "#f4f4f4",
                    Bar: {
                        //Pos: "bottom",
                        Bd: { Out: "#f4f4f4", Hover: "#f4f4f4" },
                        Bg: { Out: "#0085d1", Hover: "#03a3fe", Focus: "#03a3fe" }
                    },
                    Btn: { btn: false }
                });
            }
        }


        var app = angular.module('CreateOrUpdate', ['executor.aftersubmit', 'number']);
        app.config(['$locationProvider', function ($locationProvider) {
            $locationProvider.html5Mode(true);
        }]);
        app.controller('CreateController', ['$scope', '$filter', '$timeout', 'BusinessService', function ($scope, $filter, $timeout, BusinessService) {

            $scope.aftersubmitConf = {
                workflowName: workflowName
            };
            $scope.WFStepAfterSumbitInfo = {};

            $scope.wfDataReady = false;//下一步骤的数据是否加载完成
            //获取当前数据
            var Id = '@ViewData["Id"]';
            $scope.apply = {};
            $scope.Ids = [];
            $scope.ConsumableData = [];

            //-----------------------------
            if (Id != null && Id.toString().length > 0) {
                BusinessService.getDataByID(Id).success(function (response) {
                    $scope.apply = response.items[0];
                    //获取耗材详情
                    BusinessService.getDataByApplyID(Id).success(function (data) {
                        box.load("ConsumableGetListData");
                        box.ready("ConsumableGetListData");
                        $scope.ConsumableData = data.items;
                        $.each($scope.ConsumableData, function (i, item) {
                            $scope.Ids.push(item.ID);
                        })
                    }).error(function (err) {
                        box.ready("ConsumableGetListData");
                        box.alert("网络出错！", { icon: 'error' });
                    });
                    //---------------------------

                }).error(function (response) {
                    box.alert("错误!!！", { icon: 'error' });
                });
            }
            else {
                BusinessService.GetNewApplyInfo().success(function (response) {
                    for (var item in response) {
                        $scope.apply[item] = response[item];
                    }
                }).error(function (err) {
                    box.alert("网络出错！", { icon: 'error' });
                });
            }

            $scope.detailChange2 = function () {
                if ($scope.wfDataReady) {

                    var hightValueData = $filter('filter')($scope.ConsumableData, function (obj) {
                        return obj.count > 0 && obj.IsValue == 0;//非低值且数量大于0的数据
                    });
                    if (hightValueData.length > 0) {//存在非低值耗材
                        //alert("存在非低值耗材");
                        //$scope.aftersubmitConf.StepData = $scope.WFStepAfterSumbitInfo;
                        var tempItem = $filter('filter')($scope.WFStepAfterSumbitInfo.items, { 'activityName': '室经理审批' });
                        $scope.aftersubmitConf.StepData = {
                            items: tempItem
                        };
                    }
                    else {//全部是低值耗材，必须提交给“业务支持中心”
                        //alert("全部是低值耗材");
                        var tempItem = $filter('filter')($scope.WFStepAfterSumbitInfo.items, { 'activityName': '业务支持中心' });
                        $scope.aftersubmitConf.StepData = {
                            items: tempItem
                        };
                    }
                    $scope.$apply();
                }
                else {
                    $timeout(function () {
                        $scope.detailChange2();
                    }, 1000);
                }
            }

            //耗材领用申请，耗材明细修改是触发
            $scope.$watch(function () {
                var validData = $filter('filter')($scope.ConsumableData, function (obj) {
                    return obj.count > 0;
                });
                return validData.length;
            }, $scope.detailChange2);




            $scope.save = function () {
                $scope.editForm.failSubmited = false;
                if ($scope.editForm.$valid) {
                    var postData = {
                        ConsumingList: $scope.apply,
                        Details: []
                    }
                    $.each($scope.ConsumableData, function (i, item) {
                        if (item.count != null && (!isNaN(item.count)) && item.count > 0) {
                            postData.Details.push({ ConsumableID: item.ID, ClaimsNumber: item.count });
                        }
                    })

                    BusinessService.save(postData).success(function (response) {
                        if (response.IsSuccess) {
                            box.alert("保存成功", { icon: 'success' }, function () {
                                window.location.href = CurPath + 'Consumable/ConsumingList';
                            });
                        }
                        else {
                            box.alert(response.Message, { icon: 'error' });
                        }
                    }).error(function (response) { box.alert("网络出错！", { icon: 'error' }); });
                }
                else {
                    $scope.editForm.failSubmited = true;
                }
            };
            //-------------------------
            $scope.submit = function () {

                if ($scope.ConsumableData == null || $scope.ConsumableData.length <= 0) {
                    box.alert("没有耗材领用明细！", { icon: 'info' });
                    return;
                }
                var allCount = 0;
                $.each($scope.ConsumableData, function (i, item) {
                    allCount += item.count;
                })
                if (allCount < 1) {
                    box.alert("耗材领用明细数量小于1！", { icon: 'info' });
                    return;
                }

                var nextInfo = $scope.aftersubmitConf.getValue();
                if (!nextInfo.isSuccess) {
                    box.alert(nextInfo.errorMessage, { icon: 'warning' });
                    return;
                }
                if (nextInfo == null || nextInfo.nextActivity == '' || nextInfo.nextActors.length < 1) {
                    box.alert("请选择下一步骤以及执行人！", { icon: 'warning' });
                    return;
                }

                $scope.editForm.failSubmited = false;
                if ($scope.editForm.$valid) {
                    var postData = {
                        ConsumingList: $scope.apply,
                        Details: []
                    }
                    $.each($scope.ConsumableData, function (i, item) {
                        if (item.count != null && (!isNaN(item.count)) && item.count > 0) {
                            postData.Details.push({ ConsumableID: item.ID, ClaimsNumber: item.count });
                        }
                    })

                    //先保存数据再提交
                    BusinessService.save(postData).success(function (response) {
                        if (response.IsSuccess) {

                            var postData2 = {
                                ApplyID: response.Message,
                                nextActivity: nextInfo.nextActivity,
                                nextActors: getAttrByArr(nextInfo.nextActors, 'UserName').join(','),
                                nextCC: getAttrByArr(nextInfo.nextCC, 'UserName').join(',')
                            }

                            box.load("submitData");
                            BusinessService.SubmitApply(postData2).success(function (response) {
                                box.ready("submitData");
                                if (response.IsSuccess) {
                                    //提交--------------------

                                    box.alert("提交成功", { icon: 'success' }, function () {
                                        window.location.href = CurPath + 'Consumable/ConsumingList';
                                    });
                                } else {
                                    box.alert(response.Message, { icon: 'warning' });
                                }
                            }
                            ).error(function (response) { box.ready("submitData"); box.alert("错误！", { icon: 'error' }) });
                            //提交------------------------------------------------
                        } else {
                            box.alert(response.Message, { icon: 'warning' });
                        }
                    }
                    ).error(function (response) { box.alert("错误！", { icon: 'error' }) });

                    //------------------------------

                }
                else { $scope.editForm.failSubmited = true; }
            };

            //获取“申请”流程提交后的下一个步骤和执行人信息
            BusinessService.getWFStepAfterSumbit().success(function (response) {
                $scope.WFStepAfterSumbitInfo = response;
                $scope.wfDataReady = true;
            }).error(function (err) {
                $scope.wfDataReady = true;
                box.alert("网络出错！", { icon: 'error' });
            });

            $scope.editMember = function () {
                var iframeId = 'Con_edit';
                var title = "领用明细";
                var iframeSrc = '../Consumable/ConWinInfo?hasStock=true'//?selected=' + $scope.Ids;
                var wWidth = 830;
                title += "选择";
                var iframeStr = "<iframe id='" + iframeId + "' name='" + iframeId + "' frameborder='0' marginwidth='0' style='width:100%;height:100%;overflow:hidden;' src='" + iframeSrc + "'></iframe>";
                box.popup(iframeStr,
                    {
                        title: title,
                        width: wWidth,//窗口宽度，默认400
                        height: 400,//窗口高度，默认400
                        hasOk: true,
                        hasCancel: true,
                        onBeforeClose: function (data) {
                            if (data == true) {
                                var theWindow = window;
                                while ((!theWindow.frames[iframeId]) && (!!theWindow.parent)) {
                                    theWindow = theWindow.parent;
                                }
                                if (!theWindow.frames[iframeId]) {
                                    box.alert('出错！', { icon: 'error' });
                                }
                                else {
                                    var result = theWindow.frames[iframeId].getResult();
                                    $.each(result, function (i, item) {
                                        if ($filter('filter')($scope.ConsumableData, { 'ID': item.ID }).length < 1) {
                                            item.count = 0;
                                            $scope.ConsumableData.push(item);
                                        }
                                    });
                                    $scope.Ids = [];
                                    $.each($scope.ConsumableData, function (i, item) {
                                        $scope.Ids.push(item.ID);
                                    })
                                    $scope.$apply();
                                }
                            }
                        }
                    });
            }

            $scope.deleteConsumable = function (obj) {
                var index = $scope.ConsumableData.indexOf(obj);
                $scope.ConsumableData.splice(index, 1);
                $scope.$apply();
                addJsCroll($('.jscroll'));
            }

            $scope.print = function () {
                if ($scope.apply.WorkflowInstanceId == null || $scope.apply.WorkflowInstanceId.length <= 0)
                    box.alert("没有流程实例ID，请先提交数据！", { icon: 'error' });
                else
                    window.open(CurPath + 'plugins/easyflow/contrib/workflow/pages/print.aspx?wiid=' + $scope.apply.WorkflowInstanceId);
            }

            //------------------------------
        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            serive.GetNewApplyInfo = function () {//获取新的申请信息
                return $http({
                    method: 'POST',
                    url: CurPath + 'Consumable/getNewApplyInfo'
                });
            };
            serive.getWFStepAfterSumbit = function (id) {//获取数据
                return $http({
                    method: 'POST',
                    url: CurPath + 'Workflow/getWFStepAfterSumbit',
                    data: { workflowName: workflowName }
                });
            };
            serive.save = function (postData) {//保存
                return $http({
                    method: 'POST',
                    url: CurPath + 'Consumable/Save_Consuming',
                    data: postData
                });
            };
            serive.SubmitApply = function (id) {//提交
                return $http({
                    method: 'POST',
                    url: CurPath + 'Consumable/Sumbit_Consuming',
                    data: id
                });
            };
            serive.getDataByApplyID = function (Id) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'Consumable/ConsumableGetDetailByApplyID/' + Id

                });
            };
            serive.getDataByID = function (Id) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'Consumable/ConsumableGetByID?Id=' + Id

                });
            };

            return serive;
        }]);

        app.directive('onFinishRenderFilters', function ($timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attr) {
                    if (scope.$last === true) {
                        $timeout(function () {
                            setByType();
                            //scope.$emit('ngRepeatFinished');
                            addJsCroll(element.parents('.jscroll'));
                        });
                    }
                }
            };
        });

    </script>
    <style>
        .the-operation1 ul li a {
            padding: 0px;
        }

        .public-form {
            margin-bottom: 0px;
            margin-top: 20px;
        }

        .public-table-main {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .main-flip {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    </style>
}
<!--公告编辑--->

<div xmlns:ng="http://angularjs.org">
    <form action="" method="post" id="ng-app" ng-app="CreateOrUpdate" ng-controller="CreateController" name="editForm" novalidate>
        <div class="public-form">
            <table>
                <tr class="editWithout">
                    <th>申请人：</th>
                    <td><label>{{apply.ApplyName}}</label> </td>
                </tr>
                <tr>
                    <th style="width:20%">流程单号：</th>
                    <td>{{apply.Series==null?'(提交时自动生成)':apply.Series}}</td>
                    <th class="editWithout" style="width:20%">所在部门：</th>
                    <td class="editWithout" ng-bind="apply.DpName"></td>
                </tr>
                <tr class="editWithout">
                    <th>申请日期：</th>
                    <td ng-bind="apply.ApplyTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <th>手机号码：</th>
                    <td ng-bind="apply.Mobile"></td>
                </tr>
                <tr>
                    <th>主题：</th>
                    <td colspan="3">
                        <div class="ui-input">
                            <input type="text" style="width:300px;" name="Title" ng-model="apply.Title" ng-maxlength="200" required class="cell-input" />
                            <strong class="must-options">*</strong>
                            <div class="ui-tips" ng-show="editForm.Title.$invalid&&editForm.failSubmited ">
                                <div class="note"><i class="icon-note"></i>输入提示</div>
                                <div class="error" style="display:block">
                                    <i class="icon-error"></i>
                                    <span ng-show="editForm.Title.$error.required">请输入标题</span>
                                    <span ng-show="editForm.Title.$error.maxlength">输入文本过长</span>
                                </div>
                                <div class="correct"><i class="icon-correct"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>领用说明：</th>
                    <td colspan="3">

                        <div class="the-text-area">
                            <textarea name="Content" ng-model="apply.Content" ng-maxlength="200" style="width:500px; height:30px;" required></textarea>
                            <strong class="must-options">*</strong>
                            <div class="ui-tips" ng-show="editForm.Content.$invalid&&editForm.failSubmited ">
                                <div class="note"><i class="icon-note"></i>输入提示</div>
                                <div class="error" style="display:block">
                                    <i class="icon-error"></i>
                                    <span ng-show="editForm.Content.$error.required">请输入领用说明</span>
                                    <span ng-show="editForm.Content.$error.maxlength">输入文本过长</span>
                                </div>
                                <div class="correct"><i class="icon-correct"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="forEdit">
                    <td colspan="2">
                        <executor-aftersubmit conf="aftersubmitConf"></executor-aftersubmit>
                    </td>
                </tr>
            </table>
        </div>
        <div class="public-table-main">
            <div class="jscroll" style="height:150px;">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        @*<th><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>*@
                        <th>耗材类别</th>
                        <th>耗材名称</th>
                        <th>耗材品牌</th>
                        <th>耗材型号</th>
                        <th>适用设备</th>
                        <th>单位</th>
                        <th>是否低值</th>
                        <th>数量</th>
                        <th class="forEdit">删除</th>
                    </tr>
                    <tr ng-repeat="emp in ConsumableData" on-finish-render-filters>
                        @*<td><input type="checkbox" id="{{emp.ID}}" ng-model="x" ng-checked="x" ng-click="chk($event,emp.ID)" /></td>*@
                        <td ng-bind="emp.Type"></td>
                        <td ng-bind="emp.Name"></td>
                        <td ng-bind="emp.Trademark"></td>
                        <td ng-bind="emp.Model"></td>
                        <td ng-bind="emp.Equipment"></td>
                        <td ng-bind="emp.Unit"></td>
                        <td>{{emp.IsValue=='0'?'否':'是'}}</td>
                        <td><input type="text" style="width:50px;" ng-model="emp.count" number min="0" class="cell-input" /></td>
                        <td class="forEdit">
                            <div class="operation-btn">
                                <a href="javascript:void(0);" ng-click="deleteConsumable(emp)">删除</a>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="main-flip">

            <div class="the-operation1" style="float:left">
                <ul>
                    <li>
                        <a id="Detail" ng-click="editMember()" class="cell-btn-blue forEdit" style="width:70px;">添加明细</a>
                    </li>
                    <li>
                        <a id="btnAdd" ng-click="save()" class="cell-btn-blue forEdit" style="width:70px;">保存</a>
                    </li>
                    <li>
                        <a id="btnSave" ng-click="submit()" class="cell-btn-blue forEdit" style="width:70px;">提交</a>
                    </li>
                    <li>
                        <a ng-click="print()" class="cell-btn-blue editWithout" style="width:70px;">打印</a>
                    </li>
                    <li><a href="../Consumable/ConsumingList" class="cell-btn-orange" style="width:70px;">返回</a>
                </ul>

            </div>
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </form>
</div>
<!--公告编辑 end--->
