<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="ActivitySetSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="ActivitySet" type="Botwave.Workflow.Domain.ActivitySet, Botwave.Workflow.Core" />
  </alias>

  <resultMaps>
    <resultMap id="ActivitySetResult" class="ActivitySet">
      <result property="SetId" column="SetId"/>
      <result property="ActivityId" column="ActivityId"/>
    </resultMap>
  </resultMaps>

  <statements>
    <insert id="bwwf_ActivitySet_Insert" parameterClass="ActivitySet">
      INSERT INTO bwwf_ActivitySet
      (SetId, ActivityId)
      VALUES
      (#SetId#, #ActivityId#)
    </insert>

    <select id="bwwf_ActivitySet_Select" resultMap="ActivitySetResult" parameterClass="guid">
      SELECT SetId, ActivityId
      FROM bwwf_ActivitySet
      <dynamic prepend="where">
        <isParameterPresent>
          SetId = #value#
        </isParameterPresent>
      </dynamic>
    </select>

    <select id="bwwf_ActivitySet_Select_Next_By_WorkflowId" resultMap="ActivitySetResult" parameterClass="guid">
      SELECT * FROM bwwf_ActivitySet WHERE SetId in
      (
      SELECT NextActivitySetId FROM bwwf_Activities
      WHERE WorkflowId = #value#
      )
    </select>

    <select id="bwwf_ActivitySet_Select_By_WorkflowId" resultMap="ActivitySetResult" parameterClass="guid">
      SELECT * FROM bwwf_ActivitySet WHERE SetId IN(
        (SELECT NextActivitySetId FROM bwwf_Activities
          WHERE WorkflowId = #value#)
        UNION ALL
        (SELECT PrevActivitySetId FROM bwwf_Activities
          WHERE WorkflowId = #value#)
      )
    </select>

  </statements>
</sqlMap>
