<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="AssignmentSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="Assignment" type="Botwave.Workflow.Domain.Assignment, Botwave.Workflow.Core" />
    <typeAlias alias="TodoInfo" type="Botwave.Workflow.Domain.TodoInfo, Botwave.Workflow.Core" />
    <typeAlias alias="ActorInfo" type="Botwave.Workflow.Domain.ActorInfo, Botwave.Workflow.Core" />
    <typeAlias alias="AllocatorOption" type="Botwave.Workflow.Domain.AllocatorOption, Botwave.Workflow.Core" />
    <typeAlias alias="BasicUser" type="Botwave.Entities.BasicUser, Botwave.Core" />
  </alias>

  <resultMaps>
    <resultMap id="AssignmentResult" class="Assignment">
      <result property="ActivityInstanceId" column="ActivityInstanceId"/>
      <result property="AssignedUser" column="AssignedUser"/>
      <result property="AssigningUser" column="AssigningUser"/>
      <result property="AssignedTime" column="AssignedTime"/>
      <result property="Message" column="Message" />
    </resultMap>

    <resultMap id="TodoInfoResult" class="TodoInfo">
      <result property="ActivityInstanceId" column="ActivityInstanceId"/>
      <result property="UserName" column="UserName"/>
      <result property="State" column="State"/>
      <result property="ProxyName" column="ProxyName"/>
      <result property="OperateType" column="OperateType"/>
    </resultMap>

    <resultMap id="TodoInfoResult2" class="TodoInfo">
      <result property="ActivityInstanceId" column="ActivityInstanceId"/>
      <result property="UserName" column="UserName"/>
      <result property="State" column="State"/>
      <result property="ProxyName" column="ProxyName"/>
      <result property="OperateType" column="OperateType"/>
      
      <result property="WorkItemTitle" column="WorkItemTitle"/>
      <result property="ActivityName" column="ActivityName"/>
      <result property="RealName" column="RealName"/>
    </resultMap>
    
    <resultMap id="ActorInfoResult" class="ActorInfo">
      <result property="UserName" column="UserName"/>
      <result property="RealName" column="RealName"/>
      <result property="ProxyName" column="ProxyName"/>
    </resultMap>

    <resultMap id="AllocatorOptionResult" class="AllocatorOption">
      <result property="ActivityId" column="ActivityId"/>
      <result property="AllocatorResource" column="AllocatorResource"/>
      <result property="AllocatorUsers" column="AllocatorUsers"/>
      <result property="ExtendAllocators" column="ExtendAllocators"/>
      <result property="ExtendAllocatorArgs" column="ExtendAllocatorArgs"/>
      <result property="DefaultAllocator" column="DefaultAllocator"/>
    </resultMap>

    <resultMap id="BasicUserResult" class="BasicUser">
      <result property="UserName" column="UserName"/>
      <result property="RealName" column="RealName"/>
    </resultMap>
  </resultMaps>

  <statements>
    <insert id="bwwf_Assignment_Insert" parameterClass="Assignment">
      INSERT INTO bwwf_Tracking_Assignments
      (ActivityInstanceId,AssignedUser,AssigningUser,AssignedTime,Message)
      VALUES
      (#ActivityInstanceId#,#AssignedUser#,#AssigningUser#,getdate(),#Message#)
    </insert>
    
    <select id="bwwf_Assignment_Select_Users_By_ActivityInstanceId" parameterClass="guid" resultMap="BasicUserResult">
      <![CDATA[
      SELECT DISTINCT UserName, RealName FROM vw_bw_UsersInRoles_Enabled
      WHERE UserName IN(
        SELECT UserName FROM bwwf_Tracking_Todo 
        WHERE ActivityInstanceId = #value#
      )
      ]]>
    </select>

    <select id="bwwf_Assignment_Select_By_WorkflowInstanceId" parameterClass="guid" resultMap="AssignmentResult">
      <![CDATA[
      SELECT tass.ActivityInstanceId, tass.AssignedTime, tass.Message, 
            AssignedUser + '/' +AssignedUsers.RealName AS AssignedUser, AssigningUsers.RealName AS AssigningUser
      FROM bwwf_Tracking_Assignments tass LEFT JOIN
            bw_Users AssigningUsers ON 
            AssigningUsers.UserName = tass.AssigningUser LEFT JOIN
            bw_Users AssignedUsers ON tass.AssignedUser = AssignedUsers.UserName
      WHERE tass.ActivityInstanceId IN (
	          SELECT ActivityInstanceId FROM vw_bwwf_Tracking_Activities_All
	          WHERE WorkflowInstanceId = #value#
      )
      ORDER BY tass.AssignedTime
      ]]>
    </select>
    
    <!-- Assignment Allocator Begin -->
    <insert id="bwwf_AssignmentAllocator_Insert" parameterClass="AllocatorOption">
      INSERT INTO bwwf_Assignments
        (ActivityId,AllocatorResource,AllocatorUsers,ExtendAllocators,ExtendAllocatorArgs,DefaultAllocator)
      VALUES
        (#ActivityId#,#AllocatorResource#,#AllocatorUsers#,#ExtendAllocators#, #ExtendAllocatorArgs#,#DefaultAllocator#)
    </insert>
    
    <update id="bwwf_AssignmentAllocator_Update" parameterClass="AllocatorOption">
      <![CDATA[
        UPDATE bwwf_Assignments 
          SET AllocatorResource = #AllocatorResource#, AllocatorUsers=#AllocatorUsers#,
          ExtendAllocators = #ExtendAllocators#, ExtendAllocatorArgs = #ExtendAllocatorArgs#, DefaultAllocator=#DefaultAllocator#
        WHERE ActivityId = #ActivityId#
      ]]>
    </update>
    
    <select id="bwwf_AssignmentAllocator_Select_ByWorkflowId" parameterClass="guid" resultMap="AllocatorOptionResult">
      <![CDATA[
      SELECT ActivityId, AllocatorResource, AllocatorUsers, ExtendAllocators, 
            ExtendAllocatorArgs, DefaultAllocator
      FROM bwwf_Assignments
      WHERE ActivityId IN(
        SELECT ActivityId FROM bwwf_Activities WHERE WorkflowId = #value#
      )
      ]]>
    </select>

    <select id="bwwf_AssignmentAllocator_Select_ByActivityId" parameterClass="guid" resultMap="AllocatorOptionResult">
      <![CDATA[
      SELECT ActivityId, AllocatorResource, AllocatorUsers, ExtendAllocators, 
            ExtendAllocatorArgs, DefaultAllocator
      FROM bwwf_Assignments
      WHERE ActivityId  = #value#
      ]]>
    </select>
    
    <select id="bwwf_AssignmentAllocator_Select_ByActivityInstanceId" parameterClass="guid" resultMap="AllocatorOptionResult">
      <![CDATA[
      SELECT ActivityId, AllocatorResource, AllocatorUsers, ExtendAllocators, 
            ExtendAllocatorArgs, DefaultAllocator
      FROM bwwf_Assignments
      WHERE ActivityId =(
        SELECT ActivityId FROM bwwf_Tracking_Activities WHERE ActivityInstanceId = #value#
      )
      ]]>
    </select>
    
    <!-- Assignment Allocator End -->

    <!-- bwwf_Tacking_Todo Begin -->
    <insert id="bwwf_Todo_Insert" parameterClass="TodoInfo">
      INSERT INTO bwwf_Tracking_Todo
      (ActivityInstanceId,UserName,State,ProxyName,OperateType)
      VALUES
      (#ActivityInstanceId#,#UserName#,0,#ProxyName#,#OperateType#)
    </insert>

    <!--更新未读/已读-->
    <update id="bwwf_Todo_UpdateReaded" parameterClass="Hashtable">
      <![CDATA[
        UPDATE bwwf_Tracking_Todo SET State = #State#
        WHERE ActivityInstanceId = #ActivityInstanceId#
          AND UserName = #UserName# 
      ]]>
    </update>
    
    <delete id="bwwf_Todo_Delete" parameterClass="guid">
      DELETE FROM bwwf_Tracking_Todo WHERE ActivityInstanceId = #value#
    </delete>

    <delete id="bwwf_Todo_Delete_Item_ByActivityUserName" parameterClass="Hashtable">
      DELETE FROM bwwf_Tracking_Todo WHERE ActivityInstanceId = #ActivityInstanceId# AND UserName = #UserName#
    </delete>

    <select id="bwwf_Todo_Select_By_ActivityInstanceId_UserName" parameterClass="Hashtable" resultClass="TodoInfo">
      select ActivityInstanceId,UserName,State,ProxyName,OperateType from bwwf_Tracking_Todo
      where ActivityInstanceId = #ActivityInstanceId# AND (UserName = #UserName# OR ProxyName = #UserName#)
    </select>

    <select id="bwwf_Todo_Select_Next_By_ActivityInstanceId" parameterClass="guid" resultClass="TodoInfo">
        select tt.ActivityInstanceId, tt.UserName, tt.State, tt.ProxyName, tt.OperateType,
        w.Title as WorkItemTitle, a.ActivityName, u.RealName
        from bwwf_Tracking_Todo as tt
        left join bwwf_Tracking_Activities as ta on tt.ActivityInstanceId = ta.ActivityInstanceId
        left join bwwf_Tracking_Workflows as w on w.WorkflowInstanceId = ta.WorkflowInstanceId
        left join bwwf_Activities as a on a.ActivityId = ta.ActivityId
        left join bw_Users u on tt.UserName = u. UserName
        where ta.PrevSetId =
        (
        select top 1 SetId from bwwf_Tracking_Activities_Set where ActivityInstanceId = #value#
        )
        union all
        select ta.ActivityInstanceId, ta.Actor as UserName, 0 as State, null as ProxyName, 1 as OperateType,
        w.Title as WorkItemTitle, a.ActivityName, u.RealName
        from bwwf_Tracking_Activities_Completed as ta
        left join bwwf_Tracking_Workflows as w on w.WorkflowInstanceId = ta.WorkflowInstanceId
        left join bwwf_Activities as a on a.ActivityId = ta.ActivityId
        left join bw_Users u on ta.Actor = u.UserName
        where ta.ActivityInstanceId in
        (
        select ActivityInstanceId from bwwf_Tracking_Activities_Set where SetId =
        (
        select PrevSetId from bwwf_Tracking_Activities_Completed where ActivityInstanceId = #value# and Command = 'reject'
        )
        )
    </select>

    <select id="bwwf_Todo_Select_CurrentActors" parameterClass="guid" resultMap="BasicUserResult">
      <![CDATA[
      SELECT UserName, RealName
      FROM bw_Users
      WHERE UserName IN(
	      (
	      SELECT Actor FROM vw_bwwf_Tracking_Activities_All
	      WHERE ActivityInstanceId = #value# AND IsCompleted = 1
	      )
	      UNION
	      (
	      SELECT UserName FROM bwwf_Tracking_Todo
	      WHERE ActivityInstanceId = (
		      SELECT ActivityInstanceId FROM vw_bwwf_Tracking_Activities_All
	          WHERE ActivityInstanceId = #value# AND IsCompleted = 0)
	      )
      )
      ]]>
    </select>
    
    <select id="bwwf_Todo_Select_NextActivityActors" parameterClass="guid" resultMap="ActorInfoResult">
      <![CDATA[
      select ttd.UserName, u.RealName, ttd.ProxyName
      from bwwf_Tracking_Todo ttd
		      left join bw_users u on  ttd.UserName = u.UserName
          left join vw_bwwf_Tracking_Activities_All ta on ttd.ActivityInstanceId = ta.ActivityInstanceId
      where ta.PrevSetId =
          (select top 1 SetId from bwwf_Tracking_Activities_Set where ActivityInstanceId = #value#)
      ]]>
    </select>
    
    <select id="bwwf_Todo_Select_ActivityActors" parameterClass="guid" resultMap="ActorInfoResult">
      <![CDATA[
      select ttd.UserName, u.RealName, ttd.ProxyName
      from bwwf_Tracking_Todo ttd
		      left join bw_users u on  ttd.UserName = u.UserName
      where ttd.ActivityInstanceId = #value#
      ]]>
    </select>
    <!-- bwwf_Tacking_Todo End -->
  </statements>
</sqlMap>