<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="FormDefinitionSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="FormDefinition" type="Botwave.DynamicForm.Domain.FormDefinition, Botwave.DynamicForm" />
    <typeAlias alias="FormDefinitionInExternalEntity" type="Botwave.DynamicForm.Domain.FormDefinitionsInExternals, Botwave.DynamicForm" />
    <typeAlias alias="FormItemDefinition" type="Botwave.DynamicForm.Domain.FormItemDefinition, Botwave.DynamicForm" />
  </alias>

  <resultMaps>
    <resultMap id="FormDefinitionResult" class="FormDefinition">
      <result property="Id" column="Id"/>
      <result property="Creator" column="Creator"/>
      <result property="LastModifier" column="LastModifier"/>
      <result property="CreatedTime" column="CreatedTime" />
      <result property="LastModTime" column="LastModTime" />
      <result property="Name" column="Name"/>
      <result property="Version" column="Version"/>
      <result property="IsCurrentVersion" column="IsCurrentVersion"/>
      <result property="Enabled" column="Enabled" />
      <result property="Comment" column="Comment" />
      <result property="TemplateContent" column="TemplateContent" />
    </resultMap>

    <resultMap id="FormItemDefinitionResult" class="FormItemDefinition">
      <result column="Id" property="Id" />
      <result column="FormDefinitionId" property="FormDefinitionId" />
      <result column="FName" property="FName" />
      <result column="Name" property="Name" />
      <result column="Comment" property="Comment" />
      <result column="ItemDataType" property="ItemDataType" />
      <result column="ItemType" property="ItemType" />
      <result column="DataSource" property="DataSource" />
      <result column="DataBinder" property="DataBinder" />
      <result column="DefaultValue" property="DefaultValue" />
      <result column="Left" property="Left" />
      <result column="Top" property="Top" />
      <result column="Width" property="Width" />
      <result column="Height" property="Height" />
      <result column="RowExclusive" property="RowExclusive" />
      <result column="Require" property="Require" />
      <result column="ValidateType" property="ValidateType" />
      <result column="MaxVal" property="MaxVal" />
      <result column="MinVal" property="MinVal" />
      <result column="Op" property="Op" />
      <result column="OpTarget" property="OpTarget" />
      <result column="ErrorMessage" property="ErrorMessage" />
      <result column="ShowSet" property="ShowSet" />
      <result column="ReadonlySet" property="ReadonlySet" />
      <result column="CreatedTime" property="CreatedTime" />
    </resultMap>

    <resultMap id="FormDefinitionInExternalEntityResult" class="FormDefinitionInExternalEntity">
      <result column="FormDefinitionId" property="FormDefinitionId" />
      <result column="EntityType" property="EntityType" />
      <result column="EntityId" property="EntityId"/>
    </resultMap>
  </resultMaps>

  <statements>
    <!--FormDefinition Statements Begin-->
    <insert id="bwdf_Definitions_Insert" parameterClass="FormDefinition">
      update bwdf_FormDefinitions set IsCurrentVersion = 0 where name = #Name#;
      insert into bwdf_FormDefinitions
      (Id,Creator,LastModifier,Name,Version,TemplateContent)
      values
      (#Id#,#Creator#,#LastModifier#,#Name#,#Version#,#TemplateContent#)
    </insert>

    <update id="bwdf_Definitions_Remove" parameterClass="FormDefinition">
      update bwdf_FormDefinitions set
      LastModifier=#LastModifier#, LastModTime=#LastModTime#,Enabled=#Enabled#
      where Id=#Id#
    </update>  

    <select id="bwdf_Definitions_Select_By_Name" resultMap="FormDefinitionResult" parameterClass="string">
      SELECT Id,Creator,LastModifier,CreatedTime,LastModTime,Name,Version,IsCurrentVersion,Enabled,Comment,TemplateContent
      FROM bwdf_FormDefinitions where IsCurrentVersion = 1 and Name = #Name#
    </select>

    <select id="bwdf_Definitions_Select" resultMap="FormDefinitionResult" parameterClass="Guid">
      SELECT Id,Creator,LastModifier,CreatedTime,LastModTime,Name,Version,IsCurrentVersion,Enabled,Comment,TemplateContent
      FROM bwdf_FormDefinitions where IsCurrentVersion = 1 AND Enabled=1
      <dynamic prepend="AND">
        <isParameterPresent>
          Id = #value#
        </isParameterPresent>
      </dynamic>
    </select>

    <select id="bwdf_Definitions_Select_By_ExternalEntity" resultMap="FormDefinitionResult" parameterClass="Hashtable">
      SELECT Id,Creator,LastModifier,CreatedTime,LastModTime,Name,Version,IsCurrentVersion,Enabled,Comment,TemplateContent
      FROM bwdf_FormDefinitions AS d
        LEFT JOIN bwdf_FormDefinitionInExternals AS e on d.Id = e.FormDefinitionId
      WHERE e.[EntityType] = #EntityType# AND e.[EntityId] = #EntityId#
      ORDER BY d.IsCurrentVersion desc, d.Version desc
    </select>
        <!--根据实体类型返回流程定义的列表-->
     <select id="bwdf_Definitions_Select_By_ExternalEntityType" resultMap="FormDefinitionResult" parameterClass="Hashtable">
          SELECT Id,Creator,LastModifier,CreatedTime,LastModTime,Name,Version,IsCurrentVersion,Enabled,Comment,TemplateContent
          FROM bwdf_FormDefinitions AS d
          Right JOIN bwdf_FormDefinitionInExternals AS e on d.Id = e.FormDefinitionId
          WHERE e.[EntityType] = #EntityType#
          ORDER BY d.IsCurrentVersion desc, d.Version desc
     </select>

    <select id="bwdf_Definitions_Select_By_FormInstanceId" resultClass="FormDefinition" parameterClass="guid">
      SELECT d.[Id], d.Creator, d.LastModifier,d.CreatedTime,d.LastModTime,d.[Name],d.Version,d.IsCurrentVersion,d.Enabled,d.Comment,d.TemplateContent
      FROM bwdf_FormInstances AS i
      LEFT JOIN bwdf_FormDefinitions AS d on d.Id = i.FormDefinitionId
      WHERE i.[ID] = #value#
    </select>

    <update id="bwdf_Definitions_Update_Template" parameterClass="Hashtable">
      update bwdf_FormDefinitions set
      TemplateContent=#TemplateContent#
      where Id=#Id#
    </update>
    <!--FormDefinition Statements End-->

    <!--FormItemDefinition Statements Begin-->
    <insert id="bwdf_ItemDefinitions_Insert" parameterClass="FormItemDefinition">
      INSERT INTO bwdf_FormItemDefinitions
      ([Id],[FormDefinitionId],[FName],[Name],[Comment],[ItemDataType],[ItemType],[DataSource],[DataBinder],[DefaultValue],[Left],[Top],[Width],[Height],[RowExclusive],[Require],[ValidateType],[MaxVal],[MinVal],[Op],[OpTarget],[ErrorMessage],[ShowSet],[ReadonlySet], CreatedTime)
      VALUES 
      (#Id#,#FormDefinitionId#,#FName#,#Name#,#Comment#,#ItemDataType#,#ItemType#,#DataSource#,#DataBinder#,#DefaultValue#,#Left#,#Top#,#Width#,#Height#,#RowExclusive#,#Require#,#ValidateType#,#MaxVal#,#MinVal#,#Op#,#OpTarget#,#ErrorMessage#,#ShowSet#,#ReadonlySet#, getdate())
    </insert>

    <update id="bwdf_ItemDefinitions_Update" parameterClass="FormItemDefinition">
      UPDATE bwdf_FormItemDefinitions
      SET [FormDefinitionId] = #FormDefinitionId#,[FName] = #FName#,[Name] = #Name#,[Comment] = #Comment#,[ItemDataType] = #ItemDataType#,[ItemType] = #ItemType#,[DataSource] = #DataSource#,[DataBinder] = #DataBinder#,[DefaultValue] = #DefaultValue#,
      [Left] = #Left#,[Top] = #Top#,[Width] = #Width#,[Height] = #Height#,[RowExclusive] = #RowExclusive#,[Require] = #Require#,[ValidateType] = #ValidateType#,[MaxVal] = #MaxVal#,[MinVal] = #MinVal#,[Op] = #Op#,[OpTarget] = #OpTarget#,[ErrorMessage] = #ErrorMessage#,[ShowSet] = #ShowSet#,[ReadonlySet] = #ReadonlySet#
      WHERE [Id] = #Id#
    </update>

    <delete id="bwdf_ItemDefinitions_Delete" parameterClass="FormItemDefinition">
      DELETE FROM bwdf_FormItemDefinitions WHERE [Id] = #Id#
    </delete>

    <select id="bwdf_ItemDefinitions_Select" parameterClass="Guid" resultMap="FormItemDefinitionResult" >
      SELECT [Id],[FormDefinitionId],[FName],[Name],[Comment],[ItemDataType],[ItemType],[DataSource],[DataBinder],[DefaultValue],[Left],[Top],[Width],[Height],[RowExclusive],[Require],[ValidateType],[MaxVal],[MinVal],[Op],[OpTarget],[ErrorMessage],[ShowSet],[ReadonlySet], [CreatedTime]
      FROM bwdf_FormItemDefinitions
      <dynamic prepend="where">
        <isParameterPresent>[Id] = #Id#</isParameterPresent>
      </dynamic>
      ORDER BY [CreatedTime] ASC
    </select>

    <select id="bwdf_ItemDefinitions_Select_By_FormIdAndName" parameterClass="Hashtable" resultMap="FormItemDefinitionResult" >
      SELECT [Id],[FormDefinitionId],[FName],[Name],[Comment],[ItemDataType],[ItemType],[DataSource],[DataBinder],[DefaultValue],[Left],[Top],[Width],[Height],[RowExclusive],[Require],[ValidateType],[MaxVal],[MinVal],[Op],[OpTarget],[ErrorMessage],[ShowSet],[ReadonlySet], [CreatedTime]
      FROM bwdf_FormItemDefinitions
      WHERE [FName] = #FName# AND [FormDefinitionId] = #FormDefinitionId#
      ORDER BY [CreatedTime] ASC
    </select>

    <select id="bwdf_ItemDefinitions_Select_By_Id" parameterClass="Guid" resultMap="FormItemDefinitionResult" >
      SELECT [Id],[FormDefinitionId],[FName],[Name],[Comment],[ItemDataType],[ItemType],[DataSource],[DataBinder],[DefaultValue],[Left],[Top],[Width],[Height],[RowExclusive],[Require],[ValidateType],[MaxVal],[MinVal],[Op],[OpTarget],[ErrorMessage],[ShowSet],[ReadonlySet], [CreatedTime]
      FROM bwdf_FormItemDefinitions
      WHERE [Id] = #Id#
      ORDER BY [CreatedTime] ASC
    </select>

    <select id="bwdf_ItemDefinitions_Select_By_FormId" parameterClass="Guid" resultMap="FormItemDefinitionResult" >
      SELECT [Id],[FormDefinitionId],[FName],[Name],[Comment],[ItemDataType],[ItemType],[DataSource],[DataBinder],[DefaultValue],[Left],[Top],[Width],[Height],[RowExclusive],[Require],[ValidateType],[MaxVal],[MinVal],[Op],[OpTarget],[ErrorMessage],[ShowSet],[ReadonlySet], [CreatedTime] 
      FROM bwdf_FormItemDefinitions
      WHERE [FormDefinitionId] = #FormDefinitionId#
      ORDER BY [FName],[Top],[Left],[CreatedTime] ASC
    </select>
    <!--FormItemDefinition Statements End-->

    <!--FormDefinitionInExternalEntity Statements Begin-->
    <insert id="bwdf_DefinitionInExternalEntity_Insert" parameterClass="FormDefinitionInExternalEntity">
      INSERT INTO bwdf_FormDefinitionInExternals 
      ([FormDefinitionId],[EntityType],[EntityId])
      VALUES 
      (#FormDefinitionId#,#EntityType#,#EntityId#)
    </insert>

    <update id="bwdf_DefinitionInExternalEntity_Update_By_EntityId" parameterClass="FormDefinitionInExternalEntity">
      UPDATE bwdf_FormDefinitionInExternals
      SET [FormDefinitionId]=#FormDefinitionId#
      WHERE [EntityId]=#EntityId# AND [EntityType]=#EntityType#
    </update>

    <update id="bwdf_DefinitionInExternalEntity_Update_By_FormDefinitionId" parameterClass="FormDefinitionInExternalEntity">
      UPDATE bwdf_FormDefinitionInExternals 
      SET [EntityId]=#EntityId# 
      WHERE [FormDefinitionId]=#FormDefinitionId# AND [EntityType]=#EntityType#
    </update>
    <!--FormDefinitionInExternalEntity Statements End-->
    
  </statements>

</sqlMap>