<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="FormItemExtensionSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="FormItemExtension" type="Botwave.DynamicForm.Extension.Domain.FormItemExtension, Botwave.DynamicForm.Extension" />
  </alias>

  <!--<cacheModels>
        <cacheModel id="ad-cache" implementation="LRU" readOnly="true" serialize="false">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="200"/>
        </cacheModel>
    </cacheModels>-->

  <resultMaps>
    <resultMap class="FormItemExtension" id="FormItemExtensionDetail" >
      <result property="FormItemDefinitionId" column="FormItemDefinitionId"/>
      <result property="GetDataType" column="GetDataType"/>
      <result property="GetDataSource" column="GetDataSource"/>
      <result property="SourceString" column="SourceString"/>
      <result property="FillDataType" column="FillDataType"/>
      <result property="FillDataSource" column="FillDataSource"/>
      <result property="FillDataString" column="FillDataString"/>
      <result property="ValidateType" column="ValidateType"/>
      <result property="ValidateDescription" column="ValidateDescription"/>
      <result property="ValidateFunction" column="ValidateFunction"/>
      <result property="ItemsLinkageJson" column="ItemsLinkageJson"/>
      <result property="ItemsLinkageType" column="ItemsLinkageType"/>
      <result property="ItemsLinkageSource" column="ItemsLinkageSource"/>
      <result property="DataEncode" column="DataEncode"/>
      <result property="ItemsRulesType" column="ItemsRulesType"/>
      <result property="ItemsRulesJson" column="ItemsRulesJson"/>
    </resultMap>
  </resultMaps>

  <statements>

    <select id="bwdf_FormItemExtension_Select_By_Id" resultMap="FormItemExtensionDetail" parameterClass="Guid">
        <![CDATA[
        SELECT FormItemDefinitionId,GetDataType,GetDataSource,SourceString,FillDataType,FillDataSource,FillDataString,ValidateType, ValidateDescription,ValidateFunction,ItemsLinkageJson ,ItemsLinkageType,ItemsLinkageSource,DataEncode
        ,ItemsRulesType,ItemsRulesJson
        FROM bwdf_formitemsExtension
        where FormItemDefinitionId = #value# 
        ]]>
    </select>

    <select id="bwdf_FormItemExtension_Settings_Select_By_FormdefinitionId" resultMap="FormItemExtensionDetail" parameterClass="Guid">
      <![CDATA[
        SELECT FormItemDefinitionId,GetDataType,GetDataSource,SourceString,FillDataType,FillDataSource,FillDataString,fe.ValidateType, ValidateDescription,ValidateFunction,ItemsLinkageJson,ItemsLinkageType,ItemsLinkageSource,DataEncode
        ,ItemsRulesType,ItemsRulesJson
        FROM bwdf_formitemsExtension fe
inner join bwdf_formitemdefinitions bd on fe.FormItemDefinitionId = bd.id
where bd.formdefinitionid= #value# 
        ]]>
    </select>


    <select id="bwdf_FormItemExtension_Settings_Select_By_FormdefinitionId_GetDataType" resultMap="FormItemExtensionDetail" parameterClass="Hashtable">
      <![CDATA[
        SELECT FormItemDefinitionId,GetDataType,GetDataSource,SourceString,FillDataType,FillDataSource,FillDataString,fe.ValidateType, ValidateDescription,ValidateFunction,ItemsLinkageJson,ItemsLinkageType,ItemsLinkageSource,DataEncode
        ,ItemsRulesType,ItemsRulesJson
        FROM bwdf_formitemsExtension fe
inner join bwdf_formitemdefinitions bd on fe.FormItemDefinitionId = bd.id
 where bd.formdefinitionid= #FormdefinitionId# and GetDataType=#GetDataType#
        ]]>
    </select>

    <select id="bwdf_FormItemExtension_Is_Exist" resultClass="int" parameterClass="Guid">
        <![CDATA[
        SELECT count(FormItemDefinitionId) from bwdf_formitemsExtension where FormItemDefinitionId = #value# 
        ]]>
    </select>

    <insert id="bwdf_FormItemExtension_Insert" parameterClass="FormItemExtension">
        <![CDATA[
        INSERT INTO bwdf_formitemsExtension(
        FormItemDefinitionId,GetDataType,GetDataSource,SourceString,FillDataType,FillDataSource,FillDataString,ValidateType, ValidateDescription,ValidateFunction,ItemsLinkageJson,ItemsLinkageType,ItemsLinkageSource,DataEncode
        ,ItemsRulesType,ItemsRulesJson)VALUES(
        #FormItemDefinitionId#,#GetDataType#,#GetDataSource#,#SourceString#,#FillDataType#,#FillDataSource#,#FillDataString#,#ValidateType#, #ValidateDescription#,#ValidateFunction#,#ItemsLinkageJson#,#ItemsLinkageType#,#ItemsLinkageSource#,#DataEncode#
        ,#ItemsRulesType#,#ItemsRulesJson#
        )
        ]]>
    </insert>

    <update id="bwdf_FormItemExtension_Update" parameterClass="FormItemExtension">
      <![CDATA[
        UPDATE bwdf_formitemsExtension set 
        GetDataType = #GetDataType#,
        GetDataSource = #GetDataSource#,
        SourceString = #SourceString#,
        FillDataType = #FillDataType#,
        FillDataSource = #FillDataSource#,
        FillDataString = #FillDataString#,
        ValidateType = #ValidateType#,
        ValidateDescription = #ValidateDescription#,
        ValidateFunction = #ValidateFunction#,
        ItemsLinkageJson = #ItemsLinkageJson#,
        ItemsLinkageType = #ItemsLinkageType#,
        ItemsLinkageSource = #ItemsLinkageSource#,
        DataEncode = #DataEncode#,
        ItemsRulesType = #ItemsRulesType#,
        ItemsRulesJson = #ItemsRulesJson#
        WHERE FormItemDefinitionId = #FormItemDefinitionId#
      ]]>
    </update>
    
      <update id ="bwdf_FormItemExtension_Delete" parameterClass="Guid">
          <![CDATA[
          update bwdf_formitemsExtension set enabled=0 WHERE FormItemDefinitionId = #value#
          ]]>
      </update>
  </statements>
</sqlMap>