<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="FormInstanceSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="FormInstance" type="Botwave.DynamicForm.Domain.FormInstance, Botwave.DynamicForm" />
    <typeAlias alias="FormItemInstance" type="Botwave.DynamicForm.Domain.FormItemInstance, Botwave.DynamicForm" />
  </alias>
  
  <parameterMaps>
    <parameterMap id="QueryItemInstanceParameters" class="guid">
      <parameter property="FormInstanceId" />
    </parameterMap>
  </parameterMaps>
  
  <resultMaps>
    <resultMap class="FormInstance" id="FormInstanceResult">
      <result column="Id" property="Id" />
      <result column="FormDefinitionId" property="FormDefinitionId" />
      <result column="CreatedTime" property="CreatedTime" />
      <result column="LastModTime" property="LastModTime" />
      <result column="Creator" property="Creator" />
      <result column="LastModifier" property="LastModifier" />
    </resultMap>

    <resultMap class="FormItemInstance" id="FormItemInstance_Result">
      <result column="Id" property="Id" />
      <result column="FormItemDefinitionId" property="FormItemDefinitionId" />
      <result column="FormInstanceId" property="FormInstanceId" />
      <result column="Value" property="Value" />
      <result column="TextValue" property="TextValue" />
      <result column="DecimalValue" property="DecimalValue" />
    </resultMap>
  </resultMaps>

  <statements>

    <!--FormInstances Statement Begin-->
    <insert id="bwdf_Instances_Insert" parameterClass="FormInstance">
      INSERT INTO bwdf_FormInstances ([Id],[FormDefinitionId],[Creator],[LastModifier])
      VALUES (#Id#,#FormDefinitionId#,#Creator#,#LastModifier#)
    </insert>

    <update id="bwdf_Instances_Update" parameterClass="FormInstance">
      UPDATE bwdf_FormInstances SET [LastModifier] = #LastModifier#,[LastModTime]=#LastModTime#
      WHERE [Id] = #Id#
    </update>

    <delete id="bwdf_Instances_Delete" parameterClass="FormInstance">
      DELETE FROM bwdf_FormInstances WHERE [Id] = #Id#
    </delete>

    <select id="bwdf_Instances_Select" parameterClass="Guid" resultMap="FormInstanceResult" >
      SELECT [Id],[FormDefinitionId],[CreatedTime],[LastModTime],[Creator],[LastModifier]
      FROM bwdf_FormInstances with(nolock)
      <dynamic prepend="where">
        <isParameterPresent>[Id] = #Id#</isParameterPresent>
      </dynamic>
    </select>

    <select id="bwdf_Instances_Select_By_FormDefinitionId" parameterClass="Guid" resultMap="FormInstanceResult" >
      SELECT [Id],[FormDefinitionId],[CreatedTime],[LastModTime],[Creator],[LastModifier]
      FROM bwdf_FormInstances with(nolock)
      <dynamic prepend="where">
        <isParameterPresent>[FormDefinitionId] = #FormDefinitionId#</isParameterPresent>
      </dynamic>
    </select>
    <!--FormInstances Statement End-->

    <!--FormItemInstances Statement Begin-->
    <insert id="bwdf_ItemInstances_Insert" parameterClass="FormItemInstance">
      INSERT INTO bwdf_FormItemInstances
      ([Id],[FormItemDefinitionId],[FormInstanceId],[Value_Str],[Value_Decimal],[Value_Text])
      VALUES
      (#Id#,#FormItemDefinitionId#,#FormInstanceId#,#Value#,#DecimalValue#,#TextValue#)
    </insert>

    <update id="bwdf_ItemInstances_Update" parameterClass="FormItemInstance">
      UPDATE bwdf_FormItemInstances
      SET [Value_Str] = #Value#,[Value_Decimal] = #DecimalValue#,[Value_Text] = #TextValue#
      WHERE [FormItemDefinitionId] = #FormItemDefinitionId# AND [FormInstanceId] = #FormInstanceId#
    </update>

    <delete id="bwdf_ItemInstances_Delete" parameterClass="FormItemInstance">
      DELETE FROM bwdf_FormItemInstances WHERE [Id] = #Id#
    </delete>

    <!--<select id="bwdf_ItemInstances_Select" parameterClass="Guid" resultMap="FormItemInstance_Result" >
      SELECT A.[Id],[FormItemDefinitionId],[FormInstanceId],[Value_Str] as Value,[Value_Decimal] as DecimalValue,[Value_Text] as TextValue
      FROM bwdf_FormItemInstances AS A
      LEFT JOIN bwdf_FormItemDefinitions AS B ON A.[FormItemDefinitionId]=B.[Id]
      WHERE [FormInstanceId]=#Value#
    </select>-->
    
    <procedure id="bwdf_ItemInstances_Select" parameterMap="QueryItemInstanceParameters" resultClass="FormItemInstance" >
      bwdf_ext_GetFormItemInstanceList
    </procedure>
    
    <select id="bwdf_ItemInstances_Select_By_InstanceAndDefinitionId" parameterClass="Hashtable" resultMap="FormItemInstance_Result" >
      SELECT [Id],[FormItemDefinitionId],[FormInstanceId],[Value_Str] as Value,[Value_Decimal] as DecimalValue,[Value_Text] as TextValue
      FROM bwdf_FormItemInstances with(nolock)
      WHERE [FormInstanceId]=#FormInstanceId# AND [FormItemDefinitionId] = #FormItemDefinitionId#
    </select>
    <!--FormItemInstances Statement End-->
  </statements>
</sqlMap>
