<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="FormOptimizeSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
  </alias>

  <resultMaps>    
  </resultMaps>

  <statements>
    <!--FormInstance Contents begin-->
    <insert id="bwdf_FormInstances_Contents_Insert" parameterClass="Hashtable">
      INSERT INTO bwdf_FormInstances_Contents
      (FormInstanceId, FormContent)
      VALUES
      (#FormInstanceId#, #FormContent#)
    </insert>

    <update id="bwdf_FormInstances_Contents_Update" parameterClass="Hashtable">
      UPDATE bwdf_FormInstances_Contents
      SET FormContent = #FormContent#
      WHERE FormInstanceId = #FormInstanceId#
    </update>
    
    <select id="bwdf_FormInstances_Contents_Select_FormContent" parameterClass="Guid" resultClass="string" >
      SELECT FormContent FROM bwdf_FormInstances_Contents
      WHERE FormInstanceId = #Value#
    </select>

    <select id="bwdf_FormInstances_Contents_Select_Count_ByFormInstanceId" parameterClass="Guid" resultClass="int" >
      SELECT Count(*) FROM bwdf_FormInstances_Contents
      WHERE FormInstanceId = #Value#
    </select>
    <!--FormInstance Contents end-->
    
  </statements>
</sqlMap>
