<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="CommentSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="Comment" type="Botwave.Workflow.Domain.Comment, Botwave.Workflow.Core" />
  </alias>

  <resultMaps>
    <resultMap id="CommentResult" class="Comment">
      <result property="Id" column="Id"/>
      <result property="WorkflowInstanceId" column="WorkflowInstanceId"/>
      <result property="ActivityInstanceId" column="ActivityInstanceId"/>
      <result property="Message" column="Message"/>
      <result property="Creator" column="Creator" />
      <result property="CreatedTime" column="CreatedTime" />
    </resultMap>
  </resultMaps>

  <statements>
    <insert id="bwwf_Comment_Insert" parameterClass="Comment">
      insert into bwwf_Tracking_Comments
      (Id,WorkflowInstanceId,ActivityInstanceId,Message,Creator,CreatedTime)
      values
      (#Id#,#WorkflowInstanceId#,#ActivityInstanceId#,#Message#,#Creator#,getdate())
    </insert>

    <select id="bwwf_Comment_Select_WorkflowInstanceId" resultMap="CommentResult" parameterClass="guid">
      <![CDATA[
      SELECT c.Id, c.WorkflowInstanceId, c.ActivityInstanceId, c.Message, c.CreatedTime, u.RealName Creator
      FROM bwwf_Tracking_Comments c INNER JOIN
          bw_Users u ON c.Creator = u.UserName
      WHERE (c.WorkflowInstanceId =#value#)
      ORDER BY c.CreatedTime DESC
      ]]>
    </select>
    
    <select id="bwwf_Comment_Select_ActivityInstanceId" resultMap="CommentResult" parameterClass="guid">
      <![CDATA[
      SELECT c.Id, c.WorkflowInstanceId, c.ActivityInstanceId, c.Message, c.CreatedTime, u.RealName Creator
      FROM bwwf_Tracking_Comments c INNER JOIN
          bw_Users u ON c.Creator = u.UserName
      WHERE (c.ActivityInstanceId =#value#)
      ORDER BY c.CreatedTime DESC
      ]]>
    </select>

    <update id="bwwf_Workflows_Update_CommentCount" parameterClass="guid">
      <![CDATA[
        UPDATE bwwf_Tracking_Workflows
        SET CommentCount = (
            SELECT Count(0) FROM bwwf_Tracking_Comments
            WHERE WorkflowInstanceId = #value#
        )
        WHERE WorkflowInstanceId = #value#
      ]]>
    </update>

    <update id="bwwf_Workflows_Update_CommentCount_Increased" parameterClass="guid">
      <![CDATA[
        UPDATE bwwf_Tracking_Workflows
        SET CommentCount = (CommentCount + 1)
        WHERE WorkflowInstanceId = #value#
      ]]>
    </update>
    
    <select id="bwwf_Workflows_Select_CommentCount" resultClass="int" parameterClass="guid">
      <![CDATA[
      SELECT CommentCount
      FROM bwwf_Tracking_Workflows
      WHERE (WorkflowInstanceId =#value#)
      ]]>
    </select>
  </statements>
</sqlMap>