<?xml version="1.0" encoding="utf-8"?>
<!-- 
    botwave.workflowMap 说明:
    (1) botwave.workflowMap 属性：
            selectedColor:被选中流程活动的背景颜色;
            alpha:背景颜色的透明度;
            cachePath: 流程图的缓存路径。     
    (2) activity, 即流程活动(步骤)的属性.
            x: 流程活动(步骤)框的起始位置 X 坐标;
            y: 流程活动(步骤)框的起始位置 Y 坐标;
            width: 流程活动(步骤)框的宽度;
            height: 流程活动(步骤)框的高度.            
     (3) Workflow 示例:
     <workflow name="业务需求开发" path="~/contrib/workflow/res/workflowMaps/AA.jpg">
        <activity name="提单" x="225" y="1" width="114" height="39" />
     </workflow>
 -->
<botwave.workflowMap selectedColor="blue" alpha="100" cachePath="~/App_Data/Protected/Cache">
</botwave.workflowMap>
