.groupImage { height:14px;}
.aa{ color: #E47E0F;}
.ab{ color: #D37AD4;}
.ae{ color: #8FE278;}
.af{ color: #C3BB01;}
.ag{ color: #FF877C;}
.ah{ color: #BA9964;}
.aj{ color: #85B889;}
.ak{ color: #F5B30E;}
.an{ color: #C6C5FF;}
.ap{ color: #E5DF00;}
.aq{ color: #DBB7B7;}
.ar{ color: #E1CB99;}
.as{ color: #1CE4F5;}
.au{ color: #34D1C5;}
.aw{ color: #29A345;}
.az{ color: #51A8FF;}
.ba{ color: #E47E0F;}
.bg{ color: #FF877C;}
.bn{ color: #C6C5FF;}
.bo{ }