body { font-family:Arial, simsun; font-size:12px; margin:0; padding:0; color:#333; overflow-y:scroll; *overflow-y:inherit; }
input,textarea,select,button { color:#000; margin:0; vertical-align:middle; }
form , ul , ol , li { margin:0; padding:0; list-style:none; }
img { border:0; }
h1,h2,h3,h4,h5 { margin:0; padding:0; font-size:12px; }
p { margin:0 0 8px; }
a:visited , a:link { text-decoration:underline; color:#333; }
a:hover { color:#F50 !important; text-decoration:underline; }
.clear { clear:both; height:1px; font-size:0; overflow:hidden;  }

.expand{width:100%;}
.expand .left_e{float:left;width:200px;}
.expand .left_e ul{}
.expand .left_e a{display:block;height:39px;}
.expand .left_e a:link,.expand .left_e a:visited{color:#336699!important; text-decoration:none!important;}
.expand .left_e a:hover{color:#ff6600!important;}
.expand .left_e li{background:url(images/expand_left_li.gif) no-repeat right -40px;height:39px;line-height:39px;padding-left:30px;}
.expand .left_e .c{background:url(images/expand_left_li.gif) no-repeat top right!important;}
.expand .right_e{float:left;width:550px;}
.expand .right_e dl{margin:0;padding-bottom:20px;}
.expand .right_e dt{margin:0;font-weight:bold;color:#247ecf;padding-bottom:10px;_padding-bottom:6px;}
.expand .right_e dd{margin:0;padding-left:16px; line-height:18px;}
.expand_input{ width:98%; border:1px solid #cdcdcd;}
.expand table{ width:100%; border-collapse:collapse;}
.expand th{background:#f4f4f4; padding:5px 8px; border:1px solid #eaeaea;vertical-align:top;}
.expand td{border:1px solid #eaeaea;padding:5px 8px; }
.expand_btn{margin-top:15px;}
.expand_btn_a{background:url(images/expand_btn.gif) repeat-x left top;height:30px;line-height:30px;border:none; text-align:center;width:97px;}
.expand_btn_b{background:url(images/expand_btn.gif) repeat-x left -30px;height:30px;line-height:30px;border:none; text-align:center;width:69px;}
