<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="DataListSettingSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="DataListSetting" type="Botwave.DynamicForm.Extension.Domain.DataListSetting, Botwave.DynamicForm.Extension" />
    <typeAlias alias="DataListItemDefinition" type="Botwave.DynamicForm.Extension.Domain.DataListItemDefinition, Botwave.DynamicForm.Extension" />
  </alias>

  <!--<cacheModels>
        <cacheModel id="ad-cache" implementation="LRU" readOnly="true" serialize="false">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="200"/>
        </cacheModel>
    </cacheModels>-->

  <resultMaps>
    <resultMap class="DataListSetting" id="DataListSettingDetail" >
      <result property="FormItemDefinitionId" column="FormItemDefinitionId"/>
      <result property="Type" column="Type"/>
      <result property="Columns" column="Columns"/>
      <result property="Rows" column="Rows"/>
    </resultMap>

  <resultMap id="DataListItemDefinitionResult" class="DataListItemDefinition">
    <result column="Id" property="Id" />
    <result column="FormItemDefinitionId" property="FormItemDefinitionId" />
    <result column="FName" property="FName" />
    <result column="Name" property="Name" />
    <result column="Comment" property="Comment" />
    <result column="ItemDataType" property="ItemDataType" />
    <result column="ItemType" property="ItemType" />
    <result column="DataSource" property="DataSource" />
    <result column="DataBinder" property="DataBinder" />
    <result column="DefaultValue" property="DefaultValue" />
    <result column="ColumnNumber" property="ColumnNumber" />
    <result column="Width" property="Width" />
    <result column="Height" property="Height" />
    <result column="RowExclusive" property="RowExclusive" />
    <result column="Require" property="Require" />
    <result column="ValidateType" property="ValidateType" />
    <result column="MaxVal" property="MaxVal" />
    <result column="MinVal" property="MinVal" />
    <result column="Op" property="Op" />
    <result column="OpTarget" property="OpTarget" />
    <result column="ErrorMessage" property="ErrorMessage" />
    <result column="ShowSet" property="ShowSet" />
    <result column="ReadonlySet" property="ReadonlySet" />
    <result column="CreatedTime" property="CreatedTime" />
  </resultMap>
  </resultMaps>

  <statements>
<!--DataListSetting begin-->
    <select id="bwdf_DataListSetting_Select" resultMap="DataListSettingDetail" parameterClass="Guid">
        <![CDATA[
        SELECT [FormItemDefinitionId],[Type],[Columns],[Rows] FROM bwdf_ItemDataListSetting where FormItemDefinitionId = #value#
        ]]>
    </select>

    <select id="bwdf_DataListItemDefinition_Select_By_FormdefinitionId" resultMap="DataListSettingDetail" parameterClass="Guid">
      <![CDATA[
         SELECT [FormItemDefinitionId],[Type],[Columns],[Rows]
      FROM bwdf_ItemDataListSetting fe
inner join bwdf_formitemdefinitions bd on fe.FormItemDefinitionId = bd.id
where bd.formdefinitionid= #value# 
        ]]>
    </select>
    <insert id="bwdf_DataListSetting_Insert" parameterClass="DataListSetting">
        <![CDATA[
        INSERT INTO [dbo].[bwdf_ItemDataListSetting]
           ([FormItemDefinitionId]
           ,[type]
           ,[Columns]
           ,[Rows])
     VALUES
           (#FormItemDefinitionId#
           ,#Type#
           ,#Columns#
           ,#Rows#
           )
        ]]>
    </insert>

    <update id="bwdf_DataListSetting_Update" parameterClass="DataListSetting">
      <![CDATA[
        update [dbo].[bwdf_ItemDataListSetting]
           set [Columns] = #Columns#
           ,[type]=#Type#
           ,[Rows] = #Rows#
     where FormItemDefinitionId = #FormItemDefinitionId#
      ]]>
    </update>
    
      <delete id ="bwdf_DataListSetting_Delete" parameterClass="Guid">
          <![CDATA[
          delete from bwdf_ItemDataListSetting where FormItemDefinitionId=#value#
          ]]>
      </delete>
    <!--DataListSetting end-->

    <!--DataListItemDefinition begin-->
    <insert id="bwdf_DataListItemDefinition_Insert" parameterClass="DataListItemDefinition">
      INSERT INTO bwdf_DataListItemDefinitions
      ([Id],[FormItemDefinitionId],[FName],[Name],[Comment],[ItemDataType],[ItemType],[DataSource],[DataBinder],[DefaultValue],[ColumnNumber],[Width],[Height],[RowExclusive],[Require],[ValidateType],[MaxVal],[MinVal],[Op],[OpTarget],[ErrorMessage],[ShowSet],[ReadonlySet], CreatedTime)
      VALUES
      (#Id#,#FormItemDefinitionId#,#FName#,#Name#,#Comment#,#ItemDataType#,#ItemType#,#DataSource#,#DataBinder#,#DefaultValue#,#ColumnNumber#,#Width#,#Height#,#RowExclusive#,#Require#,#ValidateType#,#MaxVal#,#MinVal#,#Op#,#OpTarget#,#ErrorMessage#,#ShowSet#,#ReadonlySet#, getdate())
    </insert>

    <update id="bwdf_DataListItemDefinition_Update" parameterClass="DataListItemDefinition">
      UPDATE bwdf_DataListItemDefinitions
      SET [FormItemDefinitionId] = #FormItemDefinitionId#,[FName] = #FName#,[Name] = #Name#,[Comment] = #Comment#,[ItemDataType] = #ItemDataType#,[ItemType] = #ItemType#,[DataSource] = #DataSource#,[DataBinder] = #DataBinder#,[DefaultValue] = #DefaultValue#,
      [ColumnNumber] = #ColumnNumber#,[Width] = #Width#,[Height] = #Height#,[RowExclusive] = #RowExclusive#,[Require] = #Require#,[ValidateType] = #ValidateType#,[MaxVal] = #MaxVal#,[MinVal] = #MinVal#,[Op] = #Op#,[OpTarget] = #OpTarget#,[ErrorMessage] = #ErrorMessage#,[ShowSet] = #ShowSet#,[ReadonlySet] = #ReadonlySet#
      WHERE [Id] = #Id#
    </update>

    <delete id="bwdf_DataListItemDefinition_Delete" parameterClass="Guid">
      DELETE FROM bwdf_DataListItemDefinitions WHERE [Id] = #value#
    </delete>

    <select id="bwdf_DataListItemDefinition_Select" parameterClass="Guid" resultMap="DataListItemDefinitionResult" >
      SELECT [Id],[FormItemDefinitionId],[FName],[Name],[Comment],[ItemDataType],[ItemType],[DataSource],[DataBinder],[DefaultValue],[ColumnNumber],[Width],[Height],[RowExclusive],[Require],[ValidateType],[MaxVal],[MinVal],[Op],[OpTarget],[ErrorMessage],[ShowSet],[ReadonlySet], [CreatedTime]
      FROM bwdf_DataListItemDefinitions
      <dynamic prepend="where">
        <isParameterPresent>[Id] = #Id#</isParameterPresent>
      </dynamic>
      ORDER BY [CreatedTime] ASC
    </select>

    <select id="bwdf_DataListItemDefinition_Select_By_FormItemDefinitionIdAndName" parameterClass="Hashtable" resultMap="DataListItemDefinitionResult" >
      SELECT [Id],[FormItemDefinitionId],[FName],[Name],[Comment],[ItemDataType],[ItemType],[DataSource],[DataBinder],[DefaultValue],[ColumnNumber],[Width],[Height],[RowExclusive],[Require],[ValidateType],[MaxVal],[MinVal],[Op],[OpTarget],[ErrorMessage],[ShowSet],[ReadonlySet], [CreatedTime]
      FROM bwdf_DataListItemDefinitions
      WHERE [FName] = #FName# AND [FormItemDefinitionId] = #FormItemDefinitionId#
      ORDER BY [CreatedTime] ASC
    </select>

    <select id="bwdf_DataListItemDefinition_Select_By_Id" parameterClass="Guid" resultMap="DataListItemDefinitionResult" >
      SELECT [Id],[FormItemDefinitionId],[FName],[Name],[Comment],[ItemDataType],[ItemType],[DataSource],[DataBinder],[DefaultValue],[ColumnNumber],[Width],[Height],[RowExclusive],[Require],[ValidateType],[MaxVal],[MinVal],[Op],[OpTarget],[ErrorMessage],[ShowSet],[ReadonlySet], [CreatedTime]
      FROM bwdf_DataListItemDefinitions
      WHERE [Id] = #Id#
      ORDER BY [CreatedTime] ASC
    </select>

    <select id="bwdf_DataListItemDefinition_Select_By_FormItemDefinitionId" parameterClass="Guid" resultMap="DataListItemDefinitionResult" >
      SELECT [Id],[FormItemDefinitionId],[FName],[Name],[Comment],[ItemDataType],[ItemType],[DataSource],[DataBinder],[DefaultValue],[ColumnNumber],[Width],[Height],[RowExclusive],[Require],[ValidateType],[MaxVal],[MinVal],[Op],[OpTarget],[ErrorMessage],[ShowSet],[ReadonlySet], [CreatedTime]
      FROM bwdf_DataListItemDefinitions
      WHERE [FormItemDefinitionId] = #value#
      ORDER BY [FName],[ColumnNumber],[CreatedTime] ASC
    </select>
    <!--DataListItemDefinition end-->
  </statements>
</sqlMap>