<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="FormItemIFramesSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="FormItemIFrames" type="Botwave.DynamicForm.Extension.Domain.FormItemIFrames, Botwave.DynamicForm.Extension" />
  </alias>

  <resultMaps>
    <resultMap class="FormItemIFrames" id="Apps_Result">
      <result column="AppId" property="AppId" />
      <result column="FormItemDefinitionId" property="FormItemDefinitionId" />
      <result column="ActivityName" property="ActivityName" />
      <result column="Remark" property="Remark" />
      <result column="SettingType" property="SettingType" />
      <result column="Enabled" property="Enabled" />
      <result column="AccessUrl" property="AccessUrl" />
      <result column="Height" property="Height" />
      <result column="Width" property="Width" />
      <result column="Creator" property="Creator" />
      <result column="LastModifier" property="LastModifier" />
      <result column="CreatedTime" property="CreatedTime" />
      <result column="LastModTime" property="LastModTime" />
    </resultMap>
  </resultMaps>

  <statements>

    <insert id="bwdf_FormItemIFrames_Insert" parameterClass="FormItemIFrames">
      INSERT INTO bwdf_Apps ([FormItemDefinitionId],[ActivityName],[Remark],[SettingType],[Enabled],[AccessUrl],Height,Width,[Creator],[CreatedTime], LastModifier, LastModTime)
      VALUES (#FormItemDefinitionId#,#ActivityName#,#Remark#,#SettingType#,#Enabled#,#AccessUrl#,#Height#,#Width#,#Creator#,getdate(), #Creator#, getdate())
    </insert>

    <update id="bwdf_FormItemIFrames_Update" parameterClass="FormItemIFrames">
      UPDATE bwdf_Apps
      SET FormItemDefinitionId = #FormItemDefinitionId#, [ActivityName] = #ActivityName#, [Remark] = #Remark#,[SettingType]=#SettingType#,Enabled=#Enabled#,
      [AccessUrl] = #AccessUrl#, Height = #Height#,Width = #Width#, [LastModifier] = #LastModifier#, LastModTime = getdate()
      WHERE [AppId] = #AppId#
    </update>

    <update id="bwdf_FormItemIFrames_Delete" parameterClass="Guid">
      update bwdf_Apps set enabled = 0 WHERE [FormItemDefinitionId] = #value#
    </update>

    <select id="bwdf_FormItemIFrames_Select" parameterClass="int" resultMap="Apps_Result" >
      SELECT [AppId],[FormItemDefinitionId],[ActivityName],[Remark],[SettingType],[Enabled],[AccessUrl],Height,Width,[Creator],[CreatedTime], LastModifier, LastModTime
      FROM bwdf_Apps
      <dynamic prepend="where">
        <isParameterPresent>[AppId] = #AppId#</isParameterPresent>
      </dynamic>
    </select>

    <select id="bwdf_FormItemIFrames_Select_By_FormItemDefinitionId" parameterClass="Guid" resultMap="Apps_Result" >
      SELECT [AppId],[FormItemDefinitionId],[ActivityName],[Remark],[SettingType],[Enabled],[AccessUrl],Height,Width,[Creator],[CreatedTime], LastModifier, LastModTime
      FROM bwdf_Apps where [FormItemDefinitionId] = #FormItemDefinitionId# and Enabled=1
    </select>

    <select id="bwdf_FormItemIFrames_Select_By_Name_And_Id" parameterClass="FormItemIFrames" resultMap="Apps_Result" >
      SELECT [AppId],[FormItemDefinitionId],[ActivityName],[Remark],[SettingType],[Enabled],[AccessUrl],Height,Width,[Creator],[CreatedTime], LastModifier, LastModTime
      FROM bwdf_Apps
      WHERE [ActivityName] = #ActivityName# and FormItemDefinitionId = #FormItemDefinitionId# and SettingType = 1
    </select>

    <select id="bwdf_FormItemIFrames_Select_By_Type_And_Id" parameterClass="FormItemIFrames" resultMap="Apps_Result" >
      SELECT [AppId],[FormItemDefinitionId],[ActivityName],[Remark],[SettingType],[Enabled],[AccessUrl],Height,Width,[Creator],[CreatedTime], LastModifier, LastModTime
      FROM bwdf_Apps
      WHERE FormItemDefinitionId = #FormItemDefinitionId# and SettingType = #SettingType#
    </select>

    <select id="bwdf_FormItemIFrames_Select_IsExists" parameterClass="FormItemIFrames" resultClass="int" >
      SELECT appid
      FROM bwdf_Apps
      WHERE [FormItemDefinitionId] = #FormItemDefinitionId# And ActivityName = #ActivityName# and SettingType=#SettingType#
    </select>

    <select id="bwdf_FormItemIFrames_Select_By_FormdefinitionId" resultMap="Apps_Result" parameterClass="Guid">
      <![CDATA[
        SELECT [AppId],fe.[FormItemDefinitionId],[ActivityName],[Remark],[SettingType],fe.[Enabled],[AccessUrl],fe.Height,fe.Width,fe.[Creator],fe.CreatedTime, fe.LastModifier, fe.LastModTime
        FROM bwdf_Apps fe
inner join bwdf_formitemdefinitions bd on fe.FormItemDefinitionId = bd.id
where bd.formdefinitionid= #value# 
        ]]>
    </select>
  </statements>
</sqlMap>
