<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="AuthorizationSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="AuthorizationInfo" type="Botwave.Security.Domain.AuthorizationInfo, Botwave.Security" />
  </alias>

  <resultMaps>
    <resultMap id="AuthorizationInfoResult" class="AuthorizationInfo">
      <result property="Id" column="Id"/>
      <result property="FromUserId" column="FromUserId"/>
      <result property="ToUserId" column="ToUserId"/>
      <result property="IsFullAuthorized" column="IsFullAuthorized"/>
      <result property="BeginTime" column="BeginTime"/>
      <result property="EndTime" column="EndTime"/>
      <result property="Enabled" column="Enabled"/>
    </resultMap>

    <resultMap id="AuthorizationInfoResult2" class="AuthorizationInfo">
      <result property="Id" column="Id"/>
      <result property="FromUserId" column="FromUserId"/>
      <result property="ToUserId" column="ToUserId"/>
      <result property="IsFullAuthorized" column="IsFullAuthorized"/>
      <result property="BeginTime" column="BeginTime"/>
      <result property="EndTime" column="EndTime"/>
      <result property="Enabled" column="Enabled"/>

      <result property="FromRealName" column="FromRealName"/>
      <result property="ToRealName" column="ToRealName"/>
      <result property="ToUserName" column="ToUserName"/>
      <result property="ToDpFullName" column="ToDpFullName"/>
    </resultMap>
  </resultMaps>

  <statements>
    <insert id="bw_Authorizations_Insert" parameterClass="AuthorizationInfo">
      <![CDATA[
      INSERT INTO bw_Authorizations
          (FromUserId, ToUserId, IsFullAuthorized, BeginTime, EndTime, Enabled)
      VALUES
          (#FromUserId#, #ToUserId#, #IsFullAuthorized#, #BeginTime#, #EndTime#, #Enabled#)
      ]]>
    </insert>
    
    <update id="bw_Authorizations_Update_Enabled" parameterClass="hashtable">
      <![CDATA[
      UPDATE bw_Authorizations SET Enabled = #Enabled#
      WHERE Id = #Id#
      ]]>
    </update>
    
    <delete id="bw_Authorizations_Delete" parameterClass="int">
      DELETE FROM bw_Authorizations WHERE [Id] = #value#
    </delete>

    <select id="bw_Authorizations_Select" parameterClass="int" resultMap="AuthorizationInfoResult2">
      SELECT Id, FromUserId, ToUserId, IsFullAuthorized, BeginTime, EndTime, Enabled, FromRealName, ToRealName, ToUserName,ToDpFullName
      FROM vw_bw_Authorizations_Detail
      <dynamic prepend="where">
        <isParameterPresent>
          [Id] = #value#
        </isParameterPresent>
      </dynamic>
      ORDER BY [Id] DESC
    </select>
    
  </statements>
</sqlMap>