<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <spring>
    <context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
      <resource uri="config://spring/objects"/>
      <resource uri="file://~/plugins/easyflow/apps/gmcc/objects.config"/>
      <!--<resource uri="file://~/apps/gmcc/objects.config"/>-->
    </context>
    <objects xmlns="http://www.springframework.net" > 
      <object type="controls/LeftMenu.ascx" >
        <property name="workflowResourceService" ref="workflowResourceService"/>
      </object>
      <object id="authService"
          type="Botwave.Workflow.Practices.CZMCC.Support.DefaultAuthService, Botwave.Workflow.Practices">
      </object>
      <object type="pages/Login.aspx" >
        <property name="authService" ref="authService"/>
      </object> 
      <object type="pages/LoginIndex.aspx" >
        <property name="authService" ref="authService"/>
      </object>

      <object type="pages/LoginMobile.aspx" >
        <property name="authService" ref="authService"/>
      </object>
    </objects>
  </spring>
</configuration>
