<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="WfSectionGroup">
      <section name="ConsumableCancelling" type="System.Configuration.DictionarySectionHandler"/><!--耗材退库申请-->
      <section name="ConsumableApply" type="System.Configuration.DictionarySectionHandler"/><!--耗材领用申请-->
      <section name="ConsumableLevelling" type="System.Configuration.DictionarySectionHandler"/><!--耗材调平申请-->
      <section name="ConsumableScrap" type="System.Configuration.DictionarySectionHandler"/><!--耗材报废申请-->
      <section name="ConsumableMakeup" type="System.Configuration.DictionarySectionHandler"/><!--耗材补录归档-->
      <section name="EquipApply" type="System.Configuration.DictionarySectionHandler"/><!--设备申请-->
      <section name="BoardroomApply" type="System.Configuration.DictionarySectionHandler"/><!--会议室申请-->
      <section name="InvestMonthEstimateApply" type="System.Configuration.DictionarySectionHandler"/><!--每月暂估流程跟踪-->
      <section name="InvestAgoEstimateApply" type="System.Configuration.DictionarySectionHandler"/><!--历史项目暂估申请-->
      <section name="VacationApply" type="System.Configuration.DictionarySectionHandler"/><!--休假申请-->
      <section name="ReVacationApply" type="System.Configuration.DictionarySectionHandler"/><!--异常休假申请-->
      <section name="VacationCloseApply" type="System.Configuration.DictionarySectionHandler"/><!--销假申请-->
      <section name="MarketOrder_OrderApply_YX" type="System.Configuration.DictionarySectionHandler"/><!--营销订单流程-->
      <!--销假申请-->
    </sectionGroup>
  </configSections>
  <WfSectionGroup>
    <ConsumableCancelling>
      <!--耗材退库申请-->
      <add key="WorkFlowName" value="耗材退库申请"></add>
      <add key="ShenHe" value="审核"></add>
      <!--ShenHe通过时，修改耗材库存量-->
    </ConsumableCancelling>
    <ConsumableApply>
      <!--耗材领用申请-->
      <add key="WorkFlowName" value="耗材领用申请"></add>
      <add key="ShenHe" value="业支中心领导审批"></add>
      <!--非低值产品，业支中心领导审批ShenHe通过时，修改耗材库存量-->
      <add key="YeZhi" value="业务支持中心"></add>
      <!--低值产品，下一步为“业务支持中心”，应该在提交时及修改库存量-->
    </ConsumableApply>
    <ConsumableLevelling>
      <!--耗材调平申请-->
      <add key="WorkFlowName" value="耗材调平申请"></add>
      <add key="ShenHe" value="室经理审批"></add>
      <!--ShenHe通过时，修改耗材库存量-->
    </ConsumableLevelling>
    <ConsumableScrap>
      <!--耗材报废申请-->
      <add key="WorkFlowName" value="耗材报废申请"></add>
      <add key="ShenHe" value="审批"></add>
      <!--ShenHe通过时，修改耗材库存量-->
    </ConsumableScrap>
    <ConsumableMakeup>
      <!--耗材补录归档-->
      <add key="WorkFlowName" value="耗材补录归档"></add>
      <add key="ShenHe" value="提单"></add>
      <!--ShenHe通过时，修改耗材库存量，提单即扣库存-->
    </ConsumableMakeup>
    <EquipApply>
      <!--设备申请-->
      <add key="WorkFlowName" value="办公设备申请"></add>
      <add key="ShenHe" value="审核1"></add><!--ShenHe通过时，修改申请单的提交状态-->
    </EquipApply>
    <BoardroomApply>
      <!--会议室申请-->
      <add key="WorkFlowName" value="会议室申请"></add>
      <add key="ShenHeSuccess" value="会议室管理员审批"></add>
      <!--ShenHeSuccess通过时，表示会议室申请已经成功，将会议时间添加到对应参与用户的日程安排中-->
    </BoardroomApply>
    <InvestMonthEstimateApply>
      <!--每月暂估填报流程-->
      <add key="WorkFlowName" value="每月暂估填报流程"></add>
      <add key="ShenPi" value="审批"></add>
      <!--ShenHeSuccess通过时，将数据插入到暂估表-->
    </InvestMonthEstimateApply>
    <InvestAgoEstimateApply>
      <!--历史项目暂估申请-->
      <add key="WorkFlowName" value="历史项目暂估申请"></add>
      <add key="Confirm" value="财务人员确认"></add>
      <!--ShenHe通过时，修改耗材库存量-->
    </InvestAgoEstimateApply>

    <VacationApply>
      <!--休假申请-->
      <add key="WorkFlowName" value="休假申请"></add>
      <add key="Confirm" value="审核"></add>
      <!--审核通过时，修改休假记录-->
    </VacationApply>
    <ReVacationApply>
      <!--休假申请-->
      <add key="WorkFlowName" value="异常休假申请"></add>
      <add key="Confirm" value="审核"></add>
      <!--审核通过时，修改休假记录-->
    </ReVacationApply>
    <VacationCloseApply>
      <!--休假申请-->
      <add key="WorkFlowName" value="销假申请"></add>
      <add key="Confirm" value="审核"></add>
      <!--审核通过时，修改休假记录-->
    </VacationCloseApply>
    <MarketOrder_OrderApply_YX>
      <!--营销订单流程-->
      <add key="WorkFlowName" value="营销订单流程"></add>
      <add key="0" value="提单"></add>
      <add key="1" value="邮政高级人员审核"></add>
      <add key="2" value="邮政人员配送处理"></add>
      <add key="3" value="邮政人员填写配送情况"></add>
      <add key="4" value="BOSS操作员开户操作"></add>
      <add key="5" value="回访员回访"></add>
      <add key="6" value="邮政人员回收处理"></add>
      <add key="7" value="邮政人员填写回收情况"></add>
      <!--审核通过时，修改休假记录-->
    </MarketOrder_OrderApply_YX>
  </WfSectionGroup>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=172.17.21.100;Initial Catalog=CZManageSystem;User ID=sa;Password=CzGmcc@014;Persist Security Info=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>