@{ 
    Layout= "~/Views/Shared/_Content.cshtml";
}
    <!--content--->
    <div class="search-mod">
        <table>
            <tr>
                <td>
                    新闻分类：
                </td>

                <td>
                    <div class="ui-input">
                        <div class="selectdrapdown">
                            <div class="cell-input">全部</div>
                            <div class="drapdown">
                                <ul>
                                    <li>下拉选项1</li>
                                    <li>下拉选项2</li>
                                    <li>下拉选项3</li>
                                    <li>下拉选项4</li>
                                    <li>下拉选项5</li>
                                    <li>下拉选项6</li>
                                    <li>下拉选项7</li>
                                    <li>下拉选项8</li>
                                    <li>下拉选项9</li>
                                    <li>下拉选项10</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </td>

                <td>
                    新闻标题：
                </td>

                <td>
                    <div class="ui-input">
                        <span></span>
                        <input type="text" value=" " class="cell-input" style="width:120px;" />
                    </div>
                </td>

                <td>
                    时间：
                </td>

                <td>
                    <div class="ui-input" style="margin-right:5px;">
                        <input type="text" value="" onfocus="WdatePicker()" class="cell-input cell-input-data">
                        <i class="icon-data"></i>
                    </div>
                </td>

                <td>
                    至
                </td>

                <td>
                    <div class="ui-input" style="margin-left:5px;">
                        <input type="text" value="" onfocus="WdatePicker()" class="cell-input cell-input-data">
                        <i class="icon-data"></i>
                    </div>
                </td>

                <td>
                    状态：
                </td>

                <td>
                    <div class="ui-input">
                        <div class="selectdrapdown">
                            <div class="cell-input">全部</div>
                            <div class="drapdown">
                                <ul>
                                    <li>下拉选项1</li>
                                    <li>下拉选项2</li>
                                    <li>下拉选项3</li>
                                    <li>下拉选项4</li>
                                    <li>下拉选项5</li>
                                    <li>下拉选项6</li>
                                    <li>下拉选项7</li>
                                    <li>下拉选项8</li>
                                    <li>下拉选项9</li>
                                    <li>下拉选项10</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="ui-input">
                        <a href="javascript:void(0);" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th><input type="checkbox" checked="checked" /></th>
                <th>新闻标题</th>
                <th>新闻分类</th>
                <th>投稿时间</th>
                <th>投稿人</th>
                <th>状态</th>
                <th>操作</th>
            </tr>

            <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>市区：公司领导谢副总深入市区一线开展调研</td>
                <td>公司要闻</td>
                <td>2015-04-20 14:20:01</td>
                <td>杨幸奇</td>
                <td>草稿</td>
                <td><div class="operation-btn"><a href="javscript:void(0);">修改</a> <a href="javscript:void(0);">提交</a></div></td>
            </tr>

            <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>市区：公司领导谢副总深入市区一线开展调研</td>
                <td>公司要闻</td>
                <td>2015-04-20 14:20:01</td>
                <td>杨幸奇</td>
                <td>草稿</td>
                <td><div class="operation-btn"><a href="javscript:void(0);">修改</a> <a href="javscript:void(0);">提交</a></div></td>
            </tr>

            <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>市区：公司领导谢副总深入市区一线开展调研</td>
                <td>公司要闻</td>
                <td>2015-04-20 14:20:01</td>
                <td>杨幸奇</td>
                <td>草稿</td>
                <td><div class="operation-btn"><a href="javscript:void(0);">修改</a> <a href="javscript:void(0);">提交</a></div></td>
            </tr>

            <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>市区：公司领导谢副总深入市区一线开展调研</td>
                <td>公司要闻</td>
                <td>2015-04-20 14:20:01</td>
                <td>杨幸奇</td>
                <td>草稿</td>
                <td><div class="operation-btn"><a href="javscript:void(0);">修改</a> <a href="javscript:void(0);">提交</a></div></td>
            </tr>

            <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>市区：公司领导谢副总深入市区一线开展调研</td>
                <td>公司要闻</td>
                <td>2015-04-20 14:20:01</td>
                <td>杨幸奇</td>
                <td>草稿</td>
                <td><div class="operation-btn"><a href="javscript:void(0);">修改</a> <a href="javscript:void(0);">提交</a></div></td>
            </tr>

            <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>市区：公司领导谢副总深入市区一线开展调研</td>
                <td>公司要闻</td>
                <td>2015-04-20 14:20:01</td>
                <td>杨幸奇</td>
                <td>草稿</td>
                <td><div class="operation-btn"><a href="javscript:void(0);">修改</a> <a href="javscript:void(0);">提交</a></div></td>
            </tr>

            <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>市区：公司领导谢副总深入市区一线开展调研</td>
                <td>公司要闻</td>
                <td>2015-04-20 14:20:01</td>
                <td>杨幸奇</td>
                <td>草稿</td>
                <td><div class="operation-btn"><a href="javscript:void(0);">修改</a> <a href="javscript:void(0);">提交</a></div></td>
            </tr>

            <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>市区：公司领导谢副总深入市区一线开展调研</td>
                <td>公司要闻</td>
                <td>2015-04-20 14:20:01</td>
                <td>杨幸奇</td>
                <td>草稿</td>
                <td><div class="operation-btn"><a href="javscript:void(0);">修改</a> <a href="javscript:void(0);">提交</a></div></td>
            </tr>

            <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>市区：公司领导谢副总深入市区一线开展调研</td>
                <td>公司要闻</td>
                <td>2015-04-20 14:20:01</td>
                <td>杨幸奇</td>
                <td>草稿</td>
                <td><div class="operation-btn"><a href="javscript:void(0);">修改</a> <a href="javscript:void(0);">提交</a></div></td>
            </tr>

            <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>市区：公司领导谢副总深入市区一线开展调研</td>
                <td>公司要闻</td>
                <td>2015-04-20 14:20:01</td>
                <td>杨幸奇</td>
                <td>草稿</td>
                <td><div class="operation-btn"><a href="javscript:void(0);">修改</a> <a href="javscript:void(0);">提交</a></div></td>
            </tr>
        </table>
    </div>

    <div class="main-flip">

    <div class="the-operation1" style="float:left">

        <ul>
            <li><a href="javascript:void(0);" class="btn-add"><i></i>添加</a></li>
            <li><a href="javascript:void(0);" class="btn-del"><i></i>删除</a></li>
            <li><a href="javascript:void(0);" class="btn-ok"><i></i>提交</a></li>
            <li><a href="javascript:void(0);" class="lia-4"><i></i>导入</a></li>
        </ul>

    </div>
    <div>
        <a href="javascript:void(0);" class="a-1">上一页</a>
        <a href="javascript:void(0);" class="a-1">下一页</a>
        <span>转到第<input type="text" />页</span>
        <a href="javascript:void(0);" class="cell-btn-blue">GO</a>
    </div>
    </div>
    <!--content--->

