
@{
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <script src="~/Content/app/number.js"></script>
    <script src="~/Content/app/datePicker.js"></script>

    <script>
        var loadComData1 = false;
        var loadComData2 = false;
        var app = angular.module('CreateOrUpdate', ['number', 'datePicker']);
        app.config(['$locationProvider', function ($locationProvider) {
            $locationProvider.html5Mode(true);
        }]);
        app.controller('CreateController', ['$scope', '$timeout', 'BusinessService', function ($scope, $timeout, BusinessService) {

            

           

           

            var id = '@ViewData["Id"]';
            if (id != null && id.toString().length > 0) {
                BusinessService.getDataByID(id).success(function (response) {
                    $scope.curObj = response;
                }).error(function (response) {
                    box.alert("网络出错！", { icon: 'error' });
                });
            }

            $scope.save = function () {
                $scope.editForm.failSubmited = false;
                if ($scope.editForm.$valid) {
                    var postData = $scope.curObj;
                    BusinessService.save(postData).success(function (response) {
                        if (response.IsSuccess) {
                            box.alert("保存成功", { icon: 'success' }, function () {
                                window.location.href = CurPath + 'CarApplyFee/Index';
                            });
                        }
                        else {
                            box.alert(response.Message, { icon: 'error' });
                        }
                    }).error(function (response) {
                        box.alert("网络出错！", { icon: 'error' })
                    });
                }
                else {
                    $scope.editForm.failSubmited = true;
                }
            };


         
        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};

            serive.save = function (postData) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'CarApplyFee/CarApplyFeeInfo',
                    data: postData
                });
            };
            serive.getDataByID = function (id) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'CarApplyFee/CarApplyFeeDataByID?Id=' + id
                });
            };

           
          
            return serive;
        }]);
    </script>
}
<!--公告编辑--->

<div xmlns:ng="http://angularjs.org" class="public-form">
    <form action="" method="post" id="ng-app" ng-app="CreateOrUpdate" ng-controller="CreateController" name="editForm" novalidate>
        <table>
            
           
            <tr>
                <th>起始里程：</th>
                <td>
                    <div class="ui-input">
                        <input type="text" name="KmNum1" ng-model="curObj.KmNum1" required class="cell-input" />
                        <strong class="must-options">*</strong>
                        <div class="ui-tips" ng-show="editForm.KmNum1.$invalid&&editForm.failSubmited">
                            <div class="note"><i class="icon-note"></i>输入提示</div>
                            <div class="error" style="display:block">
                                <i class="icon-error"></i>
                                <span ng-show="editForm.KmNum1.$error.required">请输入保险费</span>
                                <span ng-show="editForm.KmNum1.$error.maxlength">输入文本过长</span>
                            </div>
                            <div class="correct"><i class="icon-correct"></i></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>终止里程：</th>
                <td>
                    <div class="ui-input">
                        <input type="text" name="KmNum2" ng-model="curObj.KmNum2" required class="cell-input" />
                        <strong class="must-options">*</strong>
                        <div class="ui-tips" ng-show="editForm.KmNum2.$invalid&&editForm.failSubmited">
                            <div class="note"><i class="icon-note"></i>输入提示</div>
                            <div class="error" style="display:block">
                                <i class="icon-error"></i>
                                <span ng-show="editForm.KmNum2.$error.required">请输入车船税</span>
                                <span ng-show="editForm.KmNum2.$error.maxlength">输入文本过长</span>
                            </div>
                            <div class="correct"><i class="icon-correct"></i></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>使用里程：</th>
                <td>
                    <div class="ui-input">
                        <input type="text" name="KmCount" ng-model="curObj.KmCount" required class="cell-input" />
                        <strong class="must-options">*</strong>
                        <div class="ui-tips" ng-show="editForm.KmCount.$invalid&&editForm.failSubmited">
                            <div class="note"><i class="icon-note"></i>输入提示</div>
                            <div class="error" style="display:block">
                                <i class="icon-error"></i>
                                <span ng-show="editForm.KmCount.$error.required">请输入公路基金</span>
                                <span ng-show="editForm.KmCount.$error.maxlength">输入文本过长</span>
                            </div>
                            <div class="correct"><i class="icon-correct"></i></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>单据数量：</th>
                <td>
                    <div class="ui-input">
                        <input type="text" name="BalCount" ng-model="curObj.BalCount" required class="cell-input" />
                        <strong class="must-options">*</strong>
                        <div class="ui-tips" ng-show="editForm.BalCount.$invalid&&editForm.failSubmited">
                            <div class="note"><i class="icon-note"></i>输入提示</div>
                            <div class="error" style="display:block">
                                <i class="icon-error"></i>
                                <span ng-show="editForm.BalCount.$error.required">请输入其它杂费</span>
                                <span ng-show="editForm.BalCount.$error.maxlength">输入文本过长</span>
                            </div>
                            <div class="correct"><i class="icon-correct"></i></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>合计金额：</th>
                <td>
                    <div class="ui-input">
                        <input type="text" name="BalTotal" ng-model="curObj.BalTotal" required class="cell-input" />
                        <strong class="must-options">*</strong>
                        <div class="ui-tips" ng-show="editForm.BalTotal.$invalid&&editForm.failSubmited">
                            <div class="note"><i class="icon-note"></i>输入提示</div>
                            <div class="error" style="display:block">
                                <i class="icon-error"></i>
                                <span ng-show="editForm.BalTotal.$error.required">请输入费用小计</span>
                                <span ng-show="editForm.BalTotal.$error.maxlength">输入文本过长</span>
                            </div>
                            <div class="correct"><i class="icon-correct"></i></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>结算备注：</th>
                <td>
                    <div class="the-text-area">
                        <textarea class="onfocus" ng-model="curObj.BalRemark">这里是备注</textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>
                    <a ng-click="save()" class="cell-btn-blue" style="width:70px; margin-right:20px;">保存</a>
                    <a href="../CarApplyFee/Index" class="cell-btn-orange" style="width:70px;">返回</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<!--公告编辑 end--->
