
@{
    ViewBag.Title = "营销方案选择";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <script src="~/Content/app/number.js"></script>
    <script src="~/Content/Javascript/ngDialog/ngDialog.js"></script>
    <script type="text/javascript">

        function getResult() {
            var appElement = document.querySelector('[ng-controller=ListController]');
            var $scope = angular.element(appElement).scope();
            var result = $scope.selectedData;
            return result;
        }


        var app = angular.module('ListPage', ['tm.pagination', 'number', 'ngDialog']);
        //控制器
        app.controller('ListController', ['$scope', "$filter", 'BusinessService', 'ngDialog', function ($scope, $filter, BusinessService, ngDialog) {
            $scope.queryBuilder = {
            };

            //获取列表
            var GetListData = function () {
                box.load("GetListData");
                $scope.master = false;
                choseArr = [];
                var postData = {
                    pageIndex: $scope.paginationConf.currentPage,
                    pageSize: $scope.paginationConf.itemsPerPage,
                    queryBuilder: $scope.queryBuilder
                }
                BusinessService.list(postData).success(function (response) {
                    box.ready("GetListData");
                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                }).error(function (err) {
                    box.ready("GetListData");
                    box.alert("网络出错！", { icon: 'error' });
                });

            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };

            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);

            $scope.query = function () {
                GetListData();
            }

            $scope.selectedData = {};
            $scope.chk = function ($event, obj) {
                $scope.selectedData = obj;
            };

            //显示title
            $scope.showTitle = function ($event, value) {
                ele = $event.target;
                if (!value) {
                    value = ele.innerHTML;
                }
                if (ele.offsetWidth < ele.scrollWidth) {
                    ele.title = ele.innerHTML;
                }
                else {
                    ele.title = '';
                }
            };

        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http.post(CurPath + 'MarketOrder_Market/GetListData', postData);
            };
            serive.deleteData = function (ids) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'MarketOrder_Market/Delete',
                    data: ids
                });
            };
            return serive;
        }]);

    </script>
    <style>
        body {
            min-width: 760px;
        }
    </style>
}
<div id="ng-app" ng-app="ListPage" ng-controller="ListController">
    <!--content--->
    <div class="search-mod">
        <table>
            <tr>
                <td>
                    营销方案编号：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.Order" number precision="0" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>
                    营销方案名称：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.Market" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>
                    <div class="ui-input">
                        <a ng-click="query()" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th></th>
                <th>营销方案编号</th>
                <th>营销方案名称</th>
                <th>生效时间</th>
                <th>失效时间</th>
            </tr>
            <tr ng-repeat="emp in ListPageData">
                <td><input type="radio" id="{{emp.ID}}" ng-checked="selectedData.ID==emp.ID" ng-click="chk($event,emp)" /></td>
                <td ng-bind="emp.Order"></td>
                <td>
                    <div class="divOverflow" ng-mouseenter="showTitle($event)" style="text-align:left; width:300px;">{{emp.Market}}</div>
                </td>
                <td ng-bind="emp.AbleTime|date:'yyyy-MM-dd'"></td>
                <td ng-bind="emp.DisableTime|date:'yyyy-MM-dd'"></td>
            </tr>
        </table>
    </div>

    <div class="main-flip">
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>













