
@{
    ViewBag.Title = "销假申请列表页";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        var app = angular.module('ListPage', ['tm.pagination', 'datePicker']);
        //控制器
        app.controller('NoticeController', ['$scope', "$filter", 'BusinessService', function ($scope, $filter, BusinessService) {
            $scope.queryBuilder = {
                ApplyTitle: "",
                State: ""
            };

            //获取列表
            var GetListData = function () {
                box.load("GetListData");
                $scope.master = false;
                choseArr = [];
                if (parent.getPageParam != undefined)
                    postData = parent.getPageParam('@Request.Path');//根据路径获取
                if (postData == null) {
                    postData = {
                        pageIndex: $scope.paginationConf.currentPage,
                        pageSize: $scope.paginationConf.itemsPerPage,
                        queryBuilder: $scope.queryBuilder
                    };
                }
                BusinessService.list(postData).success(function (response) {
                    box.ready("GetListData");
                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                }).error(function (err) {
                    box.ready("GetListData");
                    box.alert("网络出错！", { icon: 'error' });
                });

            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };

            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);

            /*实现全选，多选操作*/
            var choseArr = new Array();
            $scope.x = false;//默认未选中
            $scope.all = function ($event) {//全选
                var isChecked = $event.target.checked;
                angular.element("[ng-model='x']").prop("checked", isChecked);
                if (isChecked == true) {
                    choseArr = [];
                    angular.forEach($scope.ListPageData, function (obj) {
                        choseArr.push(obj.ApplyId);//此处ID名称不同的页面名称不同，需要修改
                    });
                }
                else
                    choseArr = [];
            };
            $scope.chk = function ($event, z) {//单选或者多选
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if (choseArr.indexOf(z) < 0) {
                        choseArr.push(z);
                    }
                    if (choseArr.length == $scope.ListPageData.length) {
                        $scope.master = true;
                    }
                }
                else {//取消选中
                    var index = choseArr.indexOf(z);
                    if (index > -1) {
                        choseArr.splice(index, 1);
                        $scope.master = false;
                    }
                }
            };

            $scope.deleteData = function () {//
                if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                    box.alert("请至少选中一条数据再操作！");
                    return;
                };
                box.confirm("确定要删除选中的" + choseArr.length + "条数据吗？", { icon: 'question' }, function (result) {
                    if (result) {
                        //调用删除服务
                        BusinessService.deleteData(choseArr).success(function (response) {
                            if (response.isSuccess) {
                               box.alert("成功删除" + response.successCount + "条数据", { icon: 'success' }); choseArr = new Array();
                                GetListData();
                            }
                            else {
                                box.alert(response.messsage.length > 0 ? response.messsage : "删除失败", { icon: 'error' });
                            }
                        }).error(function (response) { box.alert("网络出错！", { icon: 'error' }); });
                    }
                });
            };

            $scope.query = function () {
                GetListData();
            }

            //点击标题
            $scope.clickTitle = function (obj) {
                var src = CurPath + 'VacationCloseApply/Edit?ApplyID=' + obj.ApplyId;
                //if (obj.State == 0) {
                //    src += '&type=edit';
                //}
                //else {
                //    src += '&type=look';
                //}
                src += '&type=look';
                //保存最近一次的查询条件
                if (parent.pageParamList != undefined) {
                    var pageParam = { pageUrl: '@Request.Path', postData: postData };
                    parent.pageParamList.push(pageParam);
                }
                window.location.href = src;
            }
            //修改按钮
            $scope.editData = function () {
                if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                    box.alert("请至少选中一条数据再操作！");
                    return;
                };
                var dd = $filter('filter')($scope.ListPageData, { 'ApplyId': choseArr[0] });
                if (dd.length < 0 || dd[0].State != 0) {
                    box.alert("该数据已经提交，不能修改！");
                    return;
                }
                //保存最近一次的查询条件
                if (parent.pageParamList != undefined) {
                    var pageParam = { pageUrl: '@Request.Path', postData: postData };
                    parent.pageParamList.push(pageParam);
                }
                window.location.href = CurPath + 'VacationCloseApply/Edit?type=edit&ApplyID=' + choseArr[0];
            }
            $scope.addData = function () {
                var url = CurPath + 'VacationCloseApply/Edit?type=edit';
                //保存最近一次的查询条件
                if (parent.pageParamList != undefined) {
                    var pageParam = { pageUrl: '@Request.Path', postData: postData };
                    parent.pageParamList.push(pageParam);
                }
                window.location.href = url;
            };
            $scope.getStateText = function (state) {
                var result = '';
                switch (state) {
                    case 0: result = '未提交'; break;
                    case 1: result = '已提交'; break;
                    default: result = '未知状态'; break;
                }
                return result;
            }

        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http.post(CurPath + 'VacationCloseApply/GetListData_Apply', postData);
            };

            serive.deleteData = function (ids) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'VacationCloseApply/Delete_Applys',
                    data: { IDs: ids }
                });
            };
            return serive;
        }]);

    </script>
}
<div id="ng-app" ng-app="ListPage" ng-controller="NoticeController">
    <!--content--->
    <div class="search-mod">
        <table>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标题：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ApplyTitle" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>
                    状态：
                </td>

                <td>
                    <div class="ui-input">
                        <div class="selectdrapdown">
                            <select class="cell-input" ng-model="queryBuilder.State">
                                <option value="">全部</option>
                                <option value="0">未提交</option>
                                <option value="1">已提交</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ui-input">
                        <a ng-click="query()" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>
                <td>
                    <div class="ui-input">
                        <a href="../VacationCloseApply/VacationApplyList" class="cell-btn-blue" style="*margin-bottom:8px;">返回</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>
                <th>标题</th>
                <th>单号</th>
                <th>申请人</th>
                <th>申请时间</th>
                <th>状态</th>
            </tr>
            <tr ng-repeat="emp in ListPageData">
                <td><input type="checkbox" id="{{emp.ApplyId}}" ng-model="x" ng-checked="x" ng-click="chk($event,emp.ApplyId)" /></td>
                <td><a style="color:blue;cursor:pointer;" ng-click="clickTitle(emp)">{{emp.ApplyTitle}}</a></td>
                <td>{{emp.State==0?'(提交时自动生成)':emp.ApplySn}}</td>
                <td>{{emp.Editor_Text}}</td>
                <td ng-bind="emp.EditTime|date:'yyyy-MM-dd HH:mm'"></td>
                <td>
                    <div title="{{emp.WF_StateText=='已提交'?emp.WF_CurActivityName:''}}">{{emp.WF_StateText}}</div>
                </td>
            </tr>

        </table>
    </div>

    <div class="main-flip">

        <div class="the-operation1" style="float:left">
            <ul>
                @*<li><a href="../VacationCloseApply/VacationApplyList" class="btn-add"><i></i>添加</a></li>*@
                <li><a href="javascript:void(0);" ng-click="addData()" class="btn-add"><i></i>添加</a></li>
                <li><a href="javascript:void(0);" ng-click="editData()" class="btn-edit"><i></i>编辑</a></li>
                <li><a href="javascript:void(0);" ng-click="deleteData()" class="btn-del"><i></i>删除</a></li>
            </ul>

        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>


