
@{
    ViewBag.Title = "月固定收入统计";
    Layout = "~/Views/Shared/_Content.cshtml";
}
@section Scripts{
    <script src="~/Content/app/number.js"></script>
    <script src="~/Content/app/datePicker.js"></script>
    <script src="~/Content/Javascript/ngDialog/ngDialog.js"></script>

    <script type="text/javascript">
        var app = angular.module('ListPage', ['tm.pagination', 'datePicker', 'ngDialog']);
        //控制器
        app.controller('Controller', ['$scope', "$filter", '$timeout', 'BusinessService', 'ngDialog', function ($scope, $filter, $timeout, BusinessService, ngDialog) {
            $scope.deptIds = '';
            $scope.queryBuilder = {
                AppTime_start: "",
                AppTime_end: "",
                TypeOf: '',
                FixedIncomeProject: '',
                CodeOrName: '',
                DeptName: '',
                PositionRank: [],
                Gears: [],
                Tantile1: '',
                Tantile2: ''
            };
            $scope.Parents = [];
            $scope.PayNames = [];
            $scope.PositionRank = [2, 3, 4, 5, 6, 7, 8, 9];
            $scope.Gears = ['A', 'B', 'C'];
            BusinessService.getIncomeType().success(function (response) {
                $scope.Parents = response.Parents;
                $scope.PayNames = response.PayNames;
            }).error(function (err) {
                //alert("网络出错！");
                box.alert("网络出错！", { icon: 'error' });
            });
            $scope.updateGears = function ($event, v) {
                if (v == null || v == "undefined") {
                    return;
                }
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if ($scope.queryBuilder.Gears.indexOf(v) < 0)
                        $scope.queryBuilder.Gears.push(v);
                    return;
                }
                //取消选中
                var index = $scope.queryBuilder.Gears.indexOf(v);
                if (index > -1)
                    $scope.queryBuilder.Gears.splice(index, 1);
            };
            $scope.updatePositionRank = function ($event, v) {
                if (v == null || v == "undefined") {
                    return;
                }
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if ($scope.queryBuilder.PositionRank.indexOf(v) < 0)
                        $scope.queryBuilder.PositionRank.push(v);
                    return;
                }
                //取消选中
                var index = $scope.queryBuilder.PositionRank.indexOf(v);
                if (index > -1)
                    $scope.queryBuilder.PositionRank.splice(index, 1);
            };

            //获取列表
            var GetListData = function () {
                box.load("loading");
                $scope.master = false;
                choseArr = [];
                if (parent.getPageParam != undefined)
                    postData = parent.getPageParam('@Request.Path');//根据路径获取
                if (postData == null) {
                    postData = {
                        pageIndex: $scope.paginationConf.currentPage,
                        pageSize: $scope.paginationConf.itemsPerPage,
                        queryBuilder: $scope.queryBuilder
                    };
                }
                else {
                    $scope.paginationConf.currentPage = postData.pageIndex;
                    $scope.paginationConf.itemsPerPage = postData.pageSize;
                    $scope.queryBuilder = postData.queryBuilder;
                }
                BusinessService.list(postData).success(function (response) {
                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                    box.ready("loading");
                }).error(function (err) {
                    //alert("网络出错！");
                    box.ready("loading");
                    box.alert("网络出错！", { icon: 'error' });
                });
            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };

            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);

            /*实现全选，多选操作*/
            var choseArr = new Array();
            $scope.x = false;//默认未选中
            $scope.all = function ($event) {//全选
                var isChecked = $event.target.checked;
                angular.element("[ng-model='x']").prop("checked", isChecked);
                if (isChecked == true) {
                    choseArr = [];
                    angular.forEach($scope.ListPageData, function (obj) {
                        choseArr.push(obj.EmployerId + obj.Billcyc + obj.PayId);//此处ID名称不同的页面名称不同，需要修改
                    });
                }
                else
                    choseArr = [];
            };
            $scope.chk = function ($event, f) {//单选或者多选
                if (f == null || f == "undefined") {
                    return;
                }
                var z = f.EmployerId + f.Billcyc + f.PayId;
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if (choseArr.indexOf(z) < 0) {
                        choseArr.push(z);
                    }
                    if (choseArr.length == $scope.ListPageData.length) {
                        $scope.master = true;
                    }
                }
                else {//取消选中
                    var index = choseArr.indexOf(z);
                    if (index > -1) {
                        choseArr.splice(index, 1);
                        $scope.master = false;
                    }
                }
            };
            $scope.editData = function (id) {
                var url = "";
                if (id == "" || id == undefined) { //判断是列表点击确发，还是编辑按钮确发
                    if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                        box.alert("请选中一条您要修改的数据再操作（请不要多选）！");
                        return;
                    };
                    url = CurPath + 'FixedIncome/Edit?keys=' + choseArr[0];
                }
                else {
                    url = CurPath + 'FixedIncome/Edit?keys=' + id;
                }
                //保存最近一次的查询条件
                if (parent.pageParamList != undefined) {
                    var pageParam = { pageUrl: '@Request.Path', postData: postData };
                    parent.pageParamList.push(pageParam);
                }
                window.location.href = url;
            }

            $scope.deleteData = function () {//
                if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                    box.alert("请至少选中一条数据再操作！");
                    return;
                };
                box.confirm("确定要删除选中的" + choseArr.length + "条数据吗？", { icon: 'question' }, function (result) {
                    if (result) {
                        //调用删除服务
                        BusinessService.deleteData(choseArr).success(function (response) {
                            if (response.IsSuccess) {
                                box.alert("成功删除" + response.data.successCount + "条数据", { icon: 'success' });
                                GetListData();
                            }
                            else {
                                box.alert(response.Message.length > 0 ? response.Message : "删除失败", { icon: 'error' });
                            }
                        }).error(function (response) { box.alert("网络出错！", { icon: 'error' }); });
                    }
                });
            };
            $scope.query = function () {
                GetListData();
            }

            $scope.fileDialog = function () {
                var _type = 'FixedIncome'; //导入的类型
                var dialog = ngDialog.openConfirm({
                    title: '导入月固定收入',
                    template: "<iframe ' frameborder='0' marginwidth='0' style='width:100%;height:100%;overflow:hidden;' src='../Import/Index?type=" + _type + "'></iframe>",
                    disableAnimation: true,
                    showClose: true,
                    plain: true,
                    width: 700,
                    height: 400,
                    top: -60,
                    preCloseCallback: function () {
                        //回调。窗口关闭后所做的事。。。。。
                        GetListData();
                    }
                });

            };

            $scope.editDepts = function (type) {//dept、role、user
                var iframeId = type + '_edit';
                var title = "";
                var iframeSrc = "";
                var wWidth = 530;

                title = '部门';
                iframeSrc = '../UsersGrounp/SelectDepts?selectedId=' + $scope.deptIds;

                title += "选择";
                var iframeStr = "<iframe id='" + iframeId + "' name='" + iframeId + "' frameborder='0' marginwidth='0' style='width:100%;height:100%;overflow:hidden;' src='" + iframeSrc + "'></iframe>";
                box.popup(iframeStr,
                    {
                        title: title,
                        width: wWidth,//窗口宽度，默认400
                        height: 380,//窗口高度，默认400
                        hasOk: true,
                        hasCancel: true,
                        onBeforeClose: function (data) {
                            if (data == true) {
                                var theWindow = window;
                                while ((!theWindow.frames[iframeId]) && (!!theWindow.parent)) {
                                    theWindow = theWindow.parent;
                                }
                                if (!theWindow.frames[iframeId]) {
                                    box.alert('出错！', { icon: 'error' });
                                }
                                else {
                                    var result = theWindow.frames[iframeId].getResult();
                                    $scope.deptIds = getAttrByArr(result, 'id').join();
                                    $scope.queryBuilder.DeptName = getAttrByArr(result, 'text').join();
                                    $scope.$apply();
                                }
                            }
                        }
                    });
            }



            //导出功能
            $scope.downloadFile = function () {
                if ($scope.ListPageData.length == 0) {//没有选择一个的时候提示
                    box.alert("没有可以导出的数据！！");
                    return;
                };
                box.load("GetListData");
                window.location.href = CurPath + 'FixedIncome/Download?queryBuilder=' + JSON.stringify($scope.queryBuilder);
                box.ready("GetListData");
            }


        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http.post(CurPath + 'FixedIncome/GetListData', postData);
            };
            serive.getIncomeType = function () {
                return $http({
                    method: 'POST',
                    url: CurPath + 'FixedIncome/GetIncomeType'
                });
            };
            serive.deleteData = function (ids) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'FixedIncome/Delete',
                    data: ids
                });
            };

            return serive;
        }]);
    </script>
}
<div id="ng-app" ng-app="ListPage" ng-controller="Controller">
    <!--content--->
    <div class="search-mod">
        <table>
            <tr>
                <td>
                    员工编号/姓名：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.CodeOrName" class="cell-input" style="width:120px;" />
                    </div>

                </td>
                <td>
                    部门：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.DeptName" ng-click="editDepts()" class="cell-input" style="width:120px;" />
                    </div>

                </td>
                <td>固定收入项目：</td>
                <td>
                    <div class="ui-input">
                        <select class="cell-input" name="FixedIncomeProject" ng-model="queryBuilder.FixedIncomeProject" style="width:150px;">
                            <option value="">-全部-</option>
                            <option ng-repeat="x in PayNames" value="{{x.PayName}}">{{x.PayName}}</option>
                        </select>
                    </div>
                </td>


            </tr>
            <tr>
                <td>
                    账务周期：
                </td>
                <td>
                    <div class="ui-input" style="margin-right:0px;">
                        <input type="text" ng-model="queryBuilder.AppTime_start" readonly date-Picker datefmt="yyyy年M月" maxdate="%y-%M" class="cell-input cell-input-data">
                        <i class="icon-data"></i>
                    </div>
                </td>
                <td style="padding-left:5px;padding-right:5px;">至</td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.AppTime_end" readonly date-Picker datefmt="yyyy年M月" maxdate="%y-%M" class="cell-input cell-input-data">
                        <i class="icon-data"></i>
                    </div>
                </td>
                <td>所属类型：</td>
                <td>
                    <div class="ui-input">
                        <select class="cell-input" name="TypeOf" ng-model="queryBuilder.TypeOf" style="width:150px;">
                            <option value="">-全部-</option>
                            <option ng-repeat="x in Parents" value="{{x.PayName}}">{{x.PayName}}</option>
                        </select>
                    </div>
                </td>

            </tr>
            <tr>
                <td>档位：</td>
                <td>
                    <div class="ui-input">

                        <div ng-repeat="x in Gears" style="float:left;margin-right :5px ">
                            <input style="margin-top :8px" type="checkbox" id="{{x}}" value="{{x}}" ng-click="updateGears($event,x)" />
                            <label>{{x}}</label>
                        </div>
                    </div>
                </td>
                <td>职位职级：</td>
                <td colspan="3">
                    <div class="ui-input">
                        <div ng-repeat="x in PositionRank" style="float:left;margin-right :5px ">
                            <input style="margin-top :8px" type="checkbox" id="{{x}}" value="{{x}}" ng-click="updatePositionRank($event,x)" />
                            <label>{{x}}</label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    分位值：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.Tantile1" class="cell-input" style="width:120px;" />
                    </div>

                </td>
                <td>
                    到：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.Tantile2" class="cell-input" style="width:120px;" />
                    </div>

                </td>
                <td colspan="2">
                    <div class="ui-input">
                        <a ng-click="query()" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>
            </tr>
        </table>




    </div>

    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th style="width:30px;"><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>
                <th style="width:230px;">员工编号</th>
                <th style="width:100px;">员工姓名</th>
                <th style="width:100px;">部门</th>
                <th style="width:130px;">账务周期</th>
                <th style="width:130px;">收入编号</th>
                <th style="width:130px;">固定收入项目</th>
                <th style="width:130px;">所属类型</th>
                <th style="width:130px;">收入</th>
            </tr>
            <tr ng-repeat="emp in ListPageData">
                <td><input type="checkbox" id="{{emp.EmployerId}}" ng-model="x" ng-checked="x" ng-click="chk($event,emp)" /></td>
                <td><a ng-click="editData(emp.EmployerId+emp.Billcyc+emp.PayId)" ng-bind="emp.EmployerId"></a></td>
                <td ng-bind="emp.EmployerName"></td>
                <td ng-bind="emp.DeptName"></td>
                <td ng-bind="emp.AccountingCycle"></td>
                <td ng-bind="emp.PayId"></td>
                <td ng-bind="emp.FixedIncomeProject"></td>
                <td ng-bind="emp.TypeOf"></td>
                <td ng-bind="emp.Income"></td>
            </tr>

        </table>
    </div>

    <div class="main-flip">

        <div class="the-operation1" style="float:left">
            <ul>
                <li><a href="../FixedIncome/Edit" class="btn-add"><i></i>添加</a></li>
                <li><a ng-click="editData('')" class="btn-edit"><i></i>编辑</a></li>
                <li><a href="javascript:void(0);" ng-click="deleteData()" class="btn-del"><i></i>删除</a></li>
                <li><a ng-click="fileDialog()" class="btn-import"><i></i>导入</a></li>
                <li><a href="javascript:void(0);" ng-click="downloadFile()" class="btn-export"><i></i>导出</a></li>
            </ul>

        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>
