<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <spring>
    <context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
      <resource uri="config://spring/objects"/>
      <resource uri="file://~/plugins/easyflow/apps/pms/objects.config"/>
    </context>
    <objects xmlns="http://www.springframework.net" >
      
      <object type="pages/Ucs_Reportforms.aspx" >
        <property name="ucs_ReportformsService" ref="ucs_ReportformsService"/>
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>
      <object type="pages/UCS_FromManagerEdit.aspx" >
        <property name="ucs_ReportformsService" ref="ucs_ReportformsService"/>
      </object>
      <object type="pages/UCS_ImgFromManagerEdit.aspx" >
        <property name="ucs_ReportformsService" ref="ucs_ReportformsService"/>
      </object>
      <object type="pages/StatInstanceReport.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="ucs_ReportformsService" ref="ucs_ReportformsService"/>
      </object>
      <object type="pages/ActivityStatInstanceReport.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="ucs_ReportformsService" ref="ucs_ReportformsService"/>
      </object>
    </objects>
  </spring>
</configuration>
