
@{
    ViewBag.Title = "排班方式一";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <link href="~/Content/app/AngularJsMultiSelect/isteven-multi-select.css" rel="stylesheet" />
    <script src="~/Content/app/AngularJsMultiSelect/isteven-multi-select.js"></script>
    <script>
        var ZhiBanId = '@ViewData["ZhiBanId"]';
        var curDate = '@ViewData["curDate"]';

        //将num的长度补齐到n位，左侧加defaultValue，defaultValue默认0
        function padLeft(num, n, defaultValue) {
            if (defaultValue == null || defaultValue == '')
                defaultValue = '0';
            return Array(n > ('' + num).length ? (n - ('' + num).length + 1) : 0).join(defaultValue) + num;
        }

        var app = angular.module('ListPage', ['isteven-multi-select']);
        app.controller('PageController', ['$scope', '$timeout', '$filter', 'BusinessService', function ($scope, $timeout, $filter, BusinessService) {
            $scope.curObj = {
                zhibanInfo: {},
                banciList: [],
                userDatas: []
            };

            //获取当前数据
            var getCurData = false;
            if (ZhiBanId != null && ZhiBanId.toString().length > 0) {
                //loadCurData();
                BusinessService.getDataByID(ZhiBanId).success(function (response) {
                    $.each(response.banciList, function (a, itemA) {
                        itemA.userDatas = [];
                        $.each(response.userDatas, function (b, itemB) {
                            var selectValue = itemA.RichData["Day" + padLeft(itemB.day, 2)];
                            if (selectValue == null) selectValue = '';
                            if (selectValue.length > 0) selectValue = ',' + selectValue + ',';
                            var temp = {};
                            itemA.userDatas.push(temp);
                            temp.day = itemB.day;
                            temp.userSelected = [];
                            temp.userObj = [];
                            $.each(itemB.userList, function (c, itemC) {
                                temp.userObj.push({ text: itemC, ticked: (selectValue.indexOf(',' + itemC + ',') > -1) });

                            })
                        })
                    });
                    $scope.curObj = response;
                    $scope.ResetSaveBtn();
                }).error(function (response) {
                    //alert("错误！");
                    box.alert("网络出错！", { icon: 'error' });
                }).then(function () { getCurData = true; });
            }
            else {
                getCurData = true;
            }

            //判断是否允许保存功能
            $scope.ResetSaveBtn = function () {
                var temp = curDate.substr(0, 4) + curDate.substr(5, 2);
                if (temp >= $scope.curObj.zhibanInfo.Year + $scope.curObj.zhibanInfo.Month) {
                    $("#btnSave").remove();
                }
            }

            $scope.getWeekText = function (value) {
                var weekTexts = ['日', '一', '二', '三', '四', '五', '六'];
                var str = weekTexts[value];
                return str;
            }

            //保存
            $scope.save = function () {
                var data = [];
                $.each($scope.curObj.banciList, function (a, itemA) {
                    var curData = {
                        BanciId: itemA.Id
                    };
                    data.push(curData);
                    $.each(itemA.userDatas, function (b, itemB) {
                        curData["Day" + padLeft(itemB.day, 2)] = getAttrByArr(itemB.userSelected, 'text').join(",")
                    })
                })

                BusinessService.save(data).success(function (response) {
                    if (response.IsSuccess) {
                        box.alert("保存成功", { icon: 'success' });
                    }
                    else {
                        box.alert(response.Message.length > 0 ? response.Message : "保存失败", { icon: 'error' });
                    }
                }).error(function (response) { box.alert('网络出错！', { icon: 'error' }); });

            }

        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //保存数据
            serive.save = function (postData) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'Shift/Save_RichMode1',
                    data: postData
                });
            };
            //根据id获取数据
            serive.getDataByID = function (id) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'Shift/GetDataForRichMode1?ZhiBanId=' + id
                });
            };
            return serive;
        }]);
    </script>
}
<style>
</style>


<div id="ng-app" ng-app="ListPage" ng-controller="PageController">
    <div class="public-table-main" style="height:450px; position:relative;">
        <table>
            <tr>
                <th>{{curObj.zhibanInfo.Year+'年'+curObj.zhibanInfo.Month+'月'}}</th>
                <th colspan="50" style="text-align:left;">值班表</th>@*{{curObj.userDatas.length}}*@
            </tr>
            <tr>
                <th rowspan="2">班次</th>
                <th ng-repeat="x in curObj.userDatas">{{x.day}}</th>
            </tr>
            <tr>
                <th ng-repeat="x in curObj.userDatas">{{getWeekText(x.week)}}</th>
            </tr>
            <tr ng-repeat="x in curObj.banciList">
                <td>{{x.BcName}}<br />{{x.StartHour+':'+x.StartMinute+' 到 '+x.EndHour+':'+x.EndMinute}}</td>
                <td ng-repeat="a in x.userDatas">
                    <div class="selectdrapdown" style="margin:0px;">
                        <div isteven-multi-select
                             input-model="a.userObj"
                             output-model="a.userSelected"
                             button-label="text"
                             item-label="text"
                             tick-property="ticked"
                             helper-elements=""
                             style="width:80px;">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div style="margin:10px 0px;">
            <a id="btnSave" ng-click="save()" class="cell-btn-blue" style="width:70px; margin-right:20px;">保存</a>
            <a onclick="window.history.go(-1);" class="cell-btn-orange" style="width:70px;">返回</a>
        </div>
    </div>
</div>
