<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=172.17.21.100;Initial Catalog=CZManageSystem;User ID=sa;Password=CzGmcc@014;Persist Security Info=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="YKTBalanceConnect" connectionString="Data Source=172.17.21.100;Initial Catalog=czzh;User ID=sa;Password=CzGmcc@014;Persist Security Info=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <!--<add name="SqlConnection" connectionString="Data Source=.;Initial Catalog=CZManageSystem;User ID=sa;Password=123456;Persist Security Info=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="timeForUpdateServiceStrategyInfo" value="60000"/>
    <!--从数据库更新服务策略信息的时间间隔(毫秒)，没有配置则默认10分钟-->
    <add key="timeForExecuteServiceStrategyInfo" value="1000"/>
    <!--执行服务策略信息的时间间隔(毫秒)，没有配置则默认1秒-->
    <add key="retriedTimes" value="3"/>
    <!--服务策略失败尝试次数，没有配置则默认3次-->

    <!--流程易中配置系统信息 9c687feb-3cb5-454c-b760-150c7dbb0657-->
    <add key="Workflow_SystemID" value="9c687feb-3cb5-454c-b760-150c7dbb0657"/>
    <add key="Workflow_SystemAcount" value="CompositeManagement"/>
    <add key="Workflow_SystemPwd" value="123456"/>
    <add key="Workflow_SystemUrl" value="http://localhost:5774/Plugins/easyflow/contrib/workflow/pages/ws/WorkflowAPIService.asmx"/>
    <add key="WorkflowType_SearchWorkflow" value="SearchWorkflow"/>
    <add key="WorkflowType_ManageWorkflow" value="ManageWorkflow"/>
    <add key="WorkflowApply_BoardroomApply" value="会议室申请"/>
    
    <!--UIM系统信息，用于同步组织和用户信息-->
    <add key="UIMinfo_url" value="http://uim.gmcc.net/uim/axis/BizService"/>
    <add key="UIMinfo_classname" value="BizAdaptorService"/>
    <add key="UIMinfo_methodname" value="runBiz"/>
    <add key="UIMinfo_appid" value="2c818836ff1c4003a8ca50db67088280"/>
    <add key="UIMinfo_webservicepwd" value="abcd1234"/>
    <add key="UIMinfo_lastOrgLogId" value="1340729"/>
    <add key="UIMinfo_lastUserLogId" value="3098582"/>

    <!--portal系统信息，推送待办待阅-->
    <add key="Portal_PendingUrl" value="http://portal-oa.gmcc.net:9999/uipservice2/uipservice"/>
    <add key="Portal_PendingClassName" value="UIPService"/>
    <add key="Portal_SystemId" value="CZPAC_ACCESSRIGHT"/>
    <add key="Portal_UserName" value="xtczpac"/>
    <add key="Portal_PassWord" value="CZPAC2016xt"/>
    <add key="Portal_DealUrlAuthority" value="http://localhost:9002/"/>

    <!--通知发送服务相关参数-->
    <add key="Notify_TryTime" value="5"/>
    <add key="Notify_HourRange" value="24"/>
    <!--短信平台相关参数-->
    <add key="SMS_Connection" value="Data Source=.;user id = sa;password=Sql2008;Initial Catalog=CZ_Gateway;Max Pool Size=1000;Connect Timeout=5"/>
    <add key="SMS_Port" value="10657345220819"/>
    <add key="SMS_Type" value="FREE"/>
    <add key="SMS_State" value="1"/>
    <add key="SMS_ProName" value="SYS_spSubmitLong"/>

    <!--考勤数据同步相关参数-->
    <add key="YKT_Connect" value="Data Source=10.252.36.80;user id = jichuanyong;password=Cz@BSC2013;Initial Catalog=czykt;Max Pool Size=1000;Connect Timeout=5"/>
    <add key="SyncHrData_Connect" value="Data Source=172.17.21.100;user id = sa;password=CzGmcc@014;Initial Catalog=CZ_Gateway;Max Pool Size=1000;Connect Timeout=5"/>
    <add key="RFSIMData_Connect" value="Data Source=10.250.63.24;user id = czzh;password=czzh@63.24;Initial Catalog=RFSIM;Max Pool Size=1000;Connect Timeout=5"/>
    <add key="TBKData_Connect" value="Data Source=10.250.63.24;user id = czzh;password=czzh@63.24;Initial Catalog=card;Max Pool Size=1000;Connect Timeout=5"/>
    <add key ="KQ_GetCount" value="100"/>
    <add key ="IsGet_HrData" value="1"/>
    
    <add key="Card" value="server=172.17.21.100;uid=sa;password=CzGmcc@014;database=czzh" />
    <!--优惠方案ftp接口-->
    <add key="ImportDir" value="" />
    <add key="RemoteHost_FTPDiscount" value="172.17.21.100"/>
    <!--FTP地址-->
    <add key="RemotePort_FTPDiscount" value="2128"/>
    <!--FTP端口-->
    <add key="RemoteUser_FTPDiscount" value="gj"/>
    <!--FTP登录用户-->
    <add key="RemotePass_FTPDiscount" value="Czgj63.170"/>
    <!--FTP登录密码-->
    <add key="RemotePath_FTPDiscount" value="sdf"/>
    <!--FTP文件路径-->
    <add key="MRKTPLAN_FTPDiscount" value="MRKTPLAN"/>
    <!--FTP文件路径-->
    <add key="MRKTPLANDetail_FTPDiscount" value="MRKTPLANDetail"/>
    <!--FTP文件路径-->
    <add key="RemoteFile_FTPDiscount" value="FTPDiscount_*.log"/>
    <add key="LocalPath_FTPDiscount" value="D:\WinService\Landray Service\CZMP\Import\Discount"/>
    <!--本地文件保存路径-->
    <add key="LocalFile_FTPDiscount" value=""/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
