<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="XQPWorkflowControlSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="WorkflowCreationControl" type="Botwave.XQP.Domain.WorkflowCreationControl, Botwave.XQP" />
    <typeAlias alias="FieldControlInfo" type="Botwave.Workflow.Extension.Domain.FieldControlInfo, Botwave.Workflow.Extension" />
    <typeAlias alias="FieldInfo" type="Botwave.Workflow.Extension.Domain.FieldInfo, Botwave.Workflow.Extension" />
  </alias>

	<resultMaps>
    <resultMap class="WorkflowCreationControl" id="WorkflowCreationControlResult">
      <result column="Id" property="Id" />
      <result column="WorkflowName" property="WorkflowName" />
      <result column="Urgency" property="Urgency" />
      <result column="CreationControlType" property="CreationControlType" />
      <result column="MaxCreationInMonth" property="MaxCreationInMonth" />
      <result column="MaxCreationInWeek" property="MaxCreationInWeek" />
    </resultMap>
    
    <resultMap class="FieldControlInfo" id="FieldControlInfoResult">
      <result column="Id" property="Id" />
      <result column="WorkflowName" property="WorkflowName" />
      <result column="ActivityName" property="ActivityName" />
      <result column="FieldName" property="FieldName" />
      <result column="FieldValue" property="FieldValue" />
      <result column="ExtCondition" property="ExtCondition" />
      <result column="TargetUsers" property="TargetUsers" />
      <result column="CreatedTime" property="CreatedTime" />
    </resultMap>
    
    <resultMap class="FieldInfo" id="FieldInfoResult">
      <result column="Id" property="Id" />
      <result column="FieldName" property="FieldName" />
      <result column="DisplayName" property="DisplayName" />
      <result column="DataSource" property="DataSource" />
      <result column="ItemDataType" property="ItemDataType" />
    </resultMap>
  </resultMaps>
	
	<statements>
    <!-- WorkflowCreationControl (begin) -->
    <insert id="xqp_WorkflowCreationControl_Insert" parameterClass="WorkflowCreationControl">
      INSERT INTO xqp_WorkflowCreationControl
      (WorkflowName, Urgency, CreationControlType,MaxCreationInMonth,MaxCreationInWeek)
      VALUES
      (#WorkflowName#, #Urgency#, #CreationControlType#,#MaxCreationInMonth#,#MaxCreationInWeek#)
    </insert>

    <update id="xqp_WorkflowCreationControl_Update_ByWorkflowName" parameterClass="WorkflowCreationControl">
      UPDATE xqp_WorkflowCreationControl
      SET CreationControlType=#CreationControlType#,
      MaxCreationInMonth=#MaxCreationInMonth#,MaxCreationInWeek=#MaxCreationInWeek#
      WHERE (WorkflowName = #WorkflowName#) AND (Urgency=#Urgency#)
    </update>

    <select id="xqp_WorkflowCreationControl_Select_IsExists" resultClass="int" parameterClass="Hashtable">
      <![CDATA[
      SELECT [Id] FROM xqp_Reminder_IntelligentControl      
      WHERE (WorkflowName = #WorkflowName#) AND (Urgency=#Urgency#)
      ]]>
    </select>

    <select id="xqp_WorkflowCreationControl_Select_ByWorkflowName" resultMap="WorkflowCreationControlResult" parameterClass="string">
      <![CDATA[
      SELECT Id, WorkflowName, Urgency, CreationControlType, MaxCreationInMonth, MaxCreationInWeek
      FROM xqp_WorkflowCreationControl
      WHERE WorkflowName = #value#
      ]]>
    </select>

    <select id="xqp_WorkflowCreationControl_Select_ByWorkflowId" resultMap="WorkflowCreationControlResult" parameterClass="guid">
      <![CDATA[
      SELECT  Id, WorkflowName, Urgency, CreationControlType, MaxCreationInMonth, MaxCreationInWeek
      FROM xqp_WorkflowCreationControl
      WHERE WorkflowName = (
            SELECT WorkflowName FROM bwwf_Workflows WHERE WorkflowId = #value#
      )
      ]]>
    </select>

    <select id="xqp_WorkflowCreationControl_Select_ByWorkflowIdAndUrgency" resultMap="WorkflowCreationControlResult" parameterClass="Hashtable">
      <![CDATA[
      SELECT  Id, WorkflowName, Urgency, CreationControlType, MaxCreationInMonth, MaxCreationInWeek
      FROM xqp_WorkflowCreationControl
      WHERE (Urgency=#Urgency#) AND WorkflowName = (
            SELECT WorkflowName FROM bwwf_Workflows WHERE WorkflowId = #WorkflowId#
      )
      ]]>
    </select>

    <!-- Controllers -->

    <select id="bwwf_WfInstanceCreationController_Count_ByWorkflowId" resultClass="int" parameterClass="Hashtable">
      <![CDATA[
      SELECT COUNT(*) FROM bwwf_Tracking_Workflows
      WHERE (StartedTime >= #StartedTime#) 
        AND (WorkflowId IN(
              SELECT WorkflowId FROM bwwf_Workflows WHERE WorkflowName = (
                  SELECT WorkflowName FROM bwwf_Workflows WHERE WorkflowId = #WorkflowId#)
               ))
      ]]>
    </select>

    <select id="bwwf_WfInstanceCreationController_Count_ByWorkflowIdAndDpId" resultClass="int" parameterClass="Hashtable">
      <![CDATA[
      SELECT COUNT(*) FROM bwwf_Tracking_Workflows
      WHERE (StartedTime >= #StartedTime#)
       AND (WorkflowId IN(
            SELECT WorkflowId FROM bwwf_Workflows WHERE WorkflowName = (
                SELECT WorkflowName FROM bwwf_Workflows WHERE WorkflowId = #WorkflowId#)
             ))
        AND Creator IN(
          SELECT UserName FROM bw_Users WHERE DpId LIKE '$DpId$%'
        )
      ]]>
    </select>

    <select id="bwwf_WfInstanceCreationController_Count_Undone_ByCreator" resultClass="int" parameterClass="Hashtable">
      <![CDATA[
      SELECT COUNT(*) FROM bwwf_Tracking_Workflows
      WHERE (State <= 1) AND (Creator = #UserName#)
        AND (WorkflowId IN(
            SELECT WorkflowId FROM bwwf_Workflows WHERE WorkflowName = (
                SELECT WorkflowName FROM bwwf_Workflows WHERE WorkflowId = #WorkflowId#)
             ))
      ]]>
    </select>

    <select id="bwwf_WfInstanceCreationController_Count_Adv_ByWorkflowId" resultClass="int" parameterClass="Hashtable">
      <![CDATA[
      SELECT COUNT(*) FROM bwwf_Tracking_Workflows
      WHERE (StartedTime >= #StartedTime#) AND (Urgency = #Urgency#)
        AND (WorkflowId IN(
            SELECT WorkflowId FROM bwwf_Workflows WHERE WorkflowName = (
                SELECT WorkflowName FROM bwwf_Workflows WHERE WorkflowId = #WorkflowId#)
             ))
      ]]>
    </select>

    <select id="bwwf_WfInstanceCreationController_Count_Adv_ByCreator" resultClass="int" parameterClass="Hashtable">
      <![CDATA[
      SELECT COUNT(*) FROM bwwf_Tracking_Workflows
      WHERE (StartedTime >= #StartedTime#) AND (Urgency = #Urgency#) 
          AND (Creator = #UserName#) AND (WorkflowId IN(
              SELECT WorkflowId FROM bwwf_Workflows WHERE WorkflowName = (
                  SELECT WorkflowName FROM bwwf_Workflows WHERE WorkflowId = #WorkflowId#)
               ))
      ]]>
    </select>

    <select id="bwwf_WfInstanceCreationController_Count_Adv_ByWorkflowIdAndDpId" resultClass="int" parameterClass="Hashtable">
      <![CDATA[
      SELECT COUNT(*) FROM bwwf_Tracking_Workflows
      WHERE (StartedTime >= #StartedTime#) AND (Urgency = #Urgency#)
        AND Creator IN(
          SELECT UserName FROM bw_Users WHERE DpId LIKE '$DpId$%'
        )
        AND (WorkflowId IN(
              SELECT WorkflowId FROM bwwf_Workflows WHERE WorkflowName = (
                  SELECT WorkflowName FROM bwwf_Workflows WHERE WorkflowId = #WorkflowId#)
          ))
      ]]>
    </select>

    <!-- WorkflowCreationControl (end) -->

    <!-- FieldControlInfo (begin)-->

    <insert id="xqp_WorkflowFieldControl_Insert" parameterClass="FieldControlInfo">
      <![CDATA[
        INSERT INTO xqp_WorkflowFieldControl 
          (WorkflowName, ActivityName, FieldName, FieldValue, ExtCondition, TargetUsers, CreatedTime)
        VALUES 
          (#WorkflowName#, #ActivityName#, #FieldName#, #FieldValue#, #ExtCondition#, #TargetUsers#, getdate())
      ]]>
    </insert>

    <update id="xqp_WorkflowFieldControl_Update_ById" parameterClass="FieldControlInfo">
      <![CDATA[
        UPDATE xqp_WorkflowFieldControl
          SET FieldValue=#FieldValue#, ExtCondition=#ExtCondition#, TargetUsers=#TargetUsers#
        WHERE Id = #Id#
      ]]>
    </update>

    <select id="xqp_WorkflowFieldControl_Select_ByFieldAndActivity" parameterClass="Hashtable" resultMap="FieldControlInfoResult">
      <![CDATA[
      SELECT ID, WorkflowName, ActivityName, FieldName, FieldValue, ExtCondition, TargetUsers, CreatedTime
      FROM xqp_WorkflowFieldControl
      WHERE (ActivityName = #ActivityName#) AND (FieldName = #FieldName#) AND (WorkflowName = #WorkflowName#)
      Order By CreatedTime
      ]]>
    </select>
    <!-- FieldControlItem (end)-->

    <!-- FieldInfo Begin-->
    <select id="bwwf_ControllableFields_Select_ByWorkflowId" parameterClass="guid" resultMap="FieldInfoResult">
      <![CDATA[
      SELECT Id, FName AS FieldName, Name AS DisplayName, DataSource, ItemDataType 
      FROM bwdf_FormItemDefinitions
      WHERE (ItemType = '2' OR ItemType = '5') AND FormDefinitionId IN (
        SELECT [Id] FROM bwdf_FormDefinitions WHERE (IsCurrentVersion = 1) AND [Id] IN(
	        SELECT FormDefinitionId FROM bwdf_FormDefinitionInExternals
	        WHERE EntityType = 'Form_Workflow' AND EntityId = #value#
        )
      )
      Order By FName
      ]]>
    </select>
    <select id="bwwf_ControllableFields_Select_ByWorkflowIdAndField" parameterClass="Hashtable" resultMap="FieldInfoResult">
      <![CDATA[
      SELECT Id, FName AS FieldName, Name AS DisplayName, DataSource, ItemDataType 
      FROM bwdf_FormItemDefinitions
      WHERE (ItemType = '2' OR ItemType = '5') AND (FName = #FieldName#) AND FormDefinitionId = (
	      SELECT [Id] FROM bwdf_FormDefinitions WHERE (IsCurrentVersion = 1) AND [Id] IN(
	        SELECT FormDefinitionId FROM bwdf_FormDefinitionInExternals
	        WHERE EntityType = 'Form_Workflow' AND EntityId = #WorkflowId#
        )
      )
      ]]>
    </select>
    <!-- FieldInfo End-->
	</statements>
</sqlMap>
