<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <spring>
    <context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
      <resource uri="config://spring/objects"/>
      <!--<resource uri="objects.config"/>-->
    </context>
    <objects xmlns="http://www.springframework.net" >
      
      <object type="pages/Login.aspx" >
        <property name="authService" ref="authService"/>
      </object>
      <object type="pages/LoginIndex.aspx" >
        <property name="authService" ref="authService"/>
      </object>
      <object type="pages/Logout.aspx" >
        <property name="authService" ref="authService"/>
      </object>
      <object type="pages/register.aspx" >
        <property name="roleService" ref="roleService"/>
        <property name="userService" ref="userService"/>
      </object>
      
      <object type="pages/Authorize.aspx" >
        <property name="userService" ref="userService"/>
        <property name="authorizeService" ref="authorizeService"/>
      </object>
      <object type="pages/ChangePassword.aspx" >
        <property name="userService" ref="userService"/>
      </object>
      <object type="pages/Users.aspx">
        <property name="userService" ref="userService"/>
        <property name="roleService" ref="roleService"/>
        <property name="departmentService" ref="departmentService"/>
      </object>
      <object type="pages/Roles.aspx">
        <property name="roleService" ref="roleService"/>
      </object>
      <object type="pages/Resources.aspx">
        <property name="resourceService" ref="resourceService"/>
      </object>
      <object type="pages/DeptRoles.aspx" >
        <property name="userService" ref="userService"/>
        <property name="roleService" ref="roleService"/>
        <property name="departmentService" ref="departmentService"/>
      </object>
      <object type="pages/UserRoles.aspx" >
        <property name="userService" ref="userService"/>
        <property name="roleService" ref="roleService"/>
      </object>
      <object type="pages/EditUser.aspx">
        <property name="userService" ref="userService"/>
        <property name="departmentService" ref="departmentService"/>
        <property name="roleService" ref="roleService"/>
      </object>
      <object type="pages/EditRole.aspx">
        <property name="roleService" ref="roleService"/>
        <property name="resourceService" ref="resourceService"/>
      </object>
      <object type="pages/EditResource.aspx">
        <property name="resourceService" ref="resourceService"/>
      </object>
      <object type="pages/DeleteRole.aspx">
        <property name="roleService" ref="roleService"/>
      </object>
      <object type="pages/PopupUserPicker.aspx" >
        <property name="userService" ref="userService"/>
        <property name="departmentService" ref="departmentService"/>
        <property name="rootNodeName" value="广东移动潮州分公司"/>
        <property name="rootDeptId" value="3297681318"/>
        <property name="expandDeptId" value="3297681318"/>
      </object>
      <object type="pages/PopupUserPicker2.aspx" >
        <property name="userService" ref="userService"/>
        <property name="departmentService" ref="departmentService"/>
        <property name="rootDeptName" value="广东移动潮州分公司"/>
        <property name="rootDeptId" value="3297681318"/>
        <property name="expandDeptId" value="3297681318"/>
      </object>
      
    </objects>
  </spring>
</configuration>
