<?xml version="1.0" encoding="utf-8"?>
<!--
Botwave.FileManager.Support.WebDAVFileService, Botwave.Core
Botwave.FileManager.Support.SharedDirectoryFileService, Botwave.Core
-->
<fileManager type="Botwave.FileManager.Support.WebDAVFileService, Botwave.Core">
   <!-- WebDAVFileService -->
  <username>administrator</username>
  <password>CzGmcc@014</password>
  <url>http://172.17.21.100:8081/</url>
  <!-- SharedDirectoryFileService -->
  <path>~/App_Data/Temp/</path>
</fileManager>
