<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="CountersignedSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="Countersigned" type="Botwave.Workflow.Domain.Countersigned, Botwave.Workflow.Core" />
  </alias>

  <resultMaps>
    <resultMap id="CountersignedResult" class="Countersigned">
      <result property="ActivityInstanceId" column="ActivityInstanceId"/>
      <result property="UserName" column="UserName"/>
      <result property="Message" column="Message"/>
      <result property="CreatedTime" column="CreatedTime"/>
    </resultMap>
  </resultMaps>

  <statements>
    <insert id="bwwf_Countersigned_Insert" parameterClass="Countersigned">
        update bwwf_Tracking_Todo set State = 2 where ActivityInstanceId = #ActivityInstanceId# and UserName = #UserName#;
        INSERT INTO bwwf_Tracking_Countersigned
        (ActivityInstanceId,UserName,Message,CreatedTime)
        VALUES
        (#ActivityInstanceId#,#UserName#,#Message#,#CreatedTime#)
    </insert>
    
    <select id="bwwf_Countersigned_Select_Todo_By_ActivityInstanceId" parameterClass="guid" resultMap="AssignmentSpace.TodoInfoResult">
      <![CDATA[
        select ActivityInstanceId,UserName,State,ProxyName,OperateType from bwwf_Tracking_Todo
        where ActivityInstanceId = #value# AND UserName NOT IN (
           SELECT UserName FROM bwwf_Tracking_Countersigned where ActivityInstanceId = #value#
        )
        ]]>
    </select>

      <select id="bwwf_Countersigned_Select_By_ActivityInstanceId" parameterClass="guid" resultMap="CountersignedResult">
          select ActivityInstanceId,UserName,Message,CreatedTime from bwwf_Tracking_Countersigned
          where ActivityInstanceId = #value#
          order by CreatedTime desc
      </select>
  </statements>
</sqlMap>