<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="ReportSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="Report" type="Botwave.Workflow.Domain.Report, Botwave.Workflow.Core" />
  </alias>

  <resultMaps>
    <resultMap id="StatResult" class="Report">
      <result property="StatName" column="StatName"/>
      <result property="StatInstance" column="StatInstance"/>
      <result property="StatID" column="StatID"/>
    </resultMap>
  </resultMaps>
  
  <parameterMaps>
    <parameterMap id="StatByNameParameter" class="Hashtable">
      <parameter property="WorkflowName" column="WorkflowName"/>
      <parameter property="StartDT" column="StartDT"/>
      <parameter property="EndDT" column="EndDT"/>
    </parameterMap>
  </parameterMaps>

  <statements>
    <!--流程运行效率分析-->
    <select id="bwwf_WorkFlows_Efficiency" resultMap="StatResult">
      <![CDATA[
    	SELECT max(w.WorkFlowName) as StatName,
	    (case 
			    when sum(datediff(minute,StartedTime,FinishedTime))/count(*)>=1440
            then cast(sum(datediff(minute,StartedTime,FinishedTime))/count(*)/1440 as varchar)+'天'+
				    (case when sum(datediff(minute,StartedTime,FinishedTime))/count(*)%1440/60=0 then '' 
					    else  cast(sum(datediff(minute,StartedTime,FinishedTime))/count(*)%1440/60 as varchar)+'小时' end)
		   	    else 
			    (case when sum(datediff(minute,StartedTime,FinishedTime))/count(*)>=60
					    then cast(sum(datediff(minute,StartedTime,FinishedTime))/count(*)/60 as varchar)+'小时'+
					    (case when sum(datediff(minute,StartedTime,FinishedTime))/count(*)%60 = 0 then '' 
						    else cast(sum(datediff(minute,StartedTime,FinishedTime))/count(*)%60 as varchar)+'分钟' end)
				    else
				    (case when sum(datediff(second,StartedTime,FinishedTime))/count(*)<60  then '' 
						    else cast(sum(datediff(second,StartedTime,FinishedTime))/count(*)/60 as varchar)+'分钟' end)+
				    (case when sum(datediff(second,StartedTime,FinishedTime))/count(*)%60 = 0 then ''
                else cast(sum(datediff(second,StartedTime,FinishedTime))/count(*)%60 as varchar)+'秒' end)
         end)
       end)
      as StatInstance,tw.WorkflowId as StatID
      FROM bwwf_Tracking_Workflows as tw
      LEFT JOIN bwwf_Workflows as w on tw.workflowId=w.workflowId
      where State=2 and w.Enabled=1 and w.Iscurrent=1
      Group by tw.workflowId
      ]]>
    </select>

    <!--流程步骤运行效率分析-->
    <select id="bwwf_Activities_Efficiency" resultMap="StatResult" parameterClass="Guid">
      <![CDATA[
      SELECT max(a.ActivityName) as StatName,
      (case 
			    when sum(datediff(minute,CreatedTime,FinishedTime))/count(*)>=1440
            then cast(sum(datediff(minute,CreatedTime,FinishedTime))/count(*)/1440 as varchar)+'天'+
				    (case when sum(datediff(minute,CreatedTime,FinishedTime))/count(*)%1440/60=0 then '' 
					    else  cast(sum(datediff(minute,CreatedTime,FinishedTime))/count(*)%1440/60 as varchar)+'小时' end)
		   	    else 
			    (case when sum(datediff(minute,CreatedTime,FinishedTime))/count(*)>=60
					    then cast(sum(datediff(minute,CreatedTime,FinishedTime))/count(*)/60 as varchar)+'小时'+
					    (case when sum(datediff(minute,CreatedTime,FinishedTime))/count(*)%60 = 0 then '' 
						    else cast(sum(datediff(minute,CreatedTime,FinishedTime))/count(*)%60 as varchar)+'分钟' end)
				    else
				    (case when sum(datediff(second,CreatedTime,FinishedTime))/count(*)<60  then '' 
						    else cast(sum(datediff(second,CreatedTime,FinishedTime))/count(*)/60 as varchar)+'分钟' end)+
				    (case when sum(datediff(second,CreatedTime,FinishedTime))/count(*)%60 = 0 then ''
                else cast(sum(datediff(second,CreatedTime,FinishedTime))/count(*)%60 as varchar)+'秒' end)
         end)
       end)       
      as StatInstance,ta.ActivityId as StatID
      FROM vw_bwwf_Tracking_Activities_All as ta
      LEFT JOIN bwwf_Activities as a on ta.ActivityId=a.ActivityId
      WHERE workflowId= #value# and ta.IsCompleted=1
      GROUP BY ta.ActivityId
      order by max(ta.CreatedTime)
      ]]>
    </select>

    <!--流程超时统计-->
    <select id="bwwf_Workflows_Overtime" resultMap="StatResult">
      <![CDATA[
      select WorkflowName as StatName,cast(Count(WorkflowName) as varchar)+'' as StatInstance, newid() as StatID from 
      (
      select w.WorkflowId,w.WorkflowName from bwwf_Tracking_Workflows as tw
          inner join bwwf_Workflows as w on tw.WorkflowId = w.WorkflowId
          WHERE [State] = 1 AND [ExpectFinishedTime] < GETDATE()
      ) as t 
      group by WorkflowName
      order by Count(WorkflowName) DESC
      ]]>
    </select>
    
    <!--<select id="bwwf_Activities_Stat" resultMap="StatResult" parameterClass="Hashtable">
      select a.ActivityId as StatId,max(a.ActivityName) as StatName,cast(count(*) as  varchar) as StatInstance from vw_bwwf_Tracking_Search as ta
      left join bwwf_activities as a on ta.ActivityId=a.ActivityId
      left join bwwf_Tracking_Workflows as tw on ta.WorkflowInstanceId=tw.WorkflowInstanceId
      left join bwwf_Workflows as w on tw.WorkflowId=w.WorkflowId
      where w.WorkflowName=#WorkflowName#
      <dynamic prepend="AND">
      <isParameterPresent>
        <isNotEmpty property="StartDT" prepend="AND">tw.StartedTime>=#StartDT#</isNotEmpty>
        <isNotEmpty property="EndDT" prepend="AND">#EndDT#>=tw.StartedTime</isNotEmpty>
      </isParameterPresent>
    </dynamic>
      group by a.ActivityId ,a.sortorder
      order by a.SortOrder
    </select>-->

    <procedure id="bwwf_Activities_Stat" parameterMap="StatByNameParameter" resultMap="StatResult">
      bwwf_ext_GetActivitiesStatByName
    </procedure>
    
  </statements>
</sqlMap>
