<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="WorkflowInstanceSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="WorkflowInstance" type="Botwave.Workflow.Domain.WorkflowInstance, Botwave.Workflow.Core" />
  </alias>

  <resultMaps>
    <resultMap id="WorkflowInstanceResult" class="WorkflowInstance">
      <result property="WorkflowInstanceId" column="WorkflowInstanceId"/>
      <result property="WorkflowId" column="WorkflowId"/>
      <result property="SheetId" column="SheetId"/>
      <result property="State" column="State"/>
      <result property="Creator" column="Creator"/>
      <result property="StartedTime" column="StartedTime"/>
      <result property="FinishedTime" column="FinishedTime" />
      <result property="Title" column="Title" />
      <result property="Secrecy" column="Secrecy"/>
      <result property="Urgency" column="Urgency"/>
      <result property="Importance" column="Importance"/>
      <result property="ExpectFinishedTime" column="ExpectFinishedTime"/>
      <result property="Requirement" column="Requirement"/>
    </resultMap>
    
  </resultMaps>

  <statements>
    <insert id="bwwf_WorkflowInstance_Insert" parameterClass="WorkflowInstance">
      INSERT INTO bwwf_Tracking_Workflows
      (WorkflowInstanceId,WorkflowId,State,Creator,StartedTime,Title,Secrecy,Urgency,Importance,ExpectFinishedTime,Requirement, SheetId)
      VALUES
      (#WorkflowInstanceId#,#WorkflowId#,#State#,#Creator#,getdate(),#Title#,#Secrecy#,#Urgency#,#Importance#,#ExpectFinishedTime#,#Requirement#, dbo.fn_bwwf_GetWorkflowSheetId(#WorkflowId#, getdate()))
    </insert>

    <update id="bwwf_WorkflowInstance_Update" parameterClass="WorkflowInstance">
      UPDATE bwwf_Tracking_Workflows SET
        Title = #Title#, Secrecy = #Secrecy#, Urgency = #Urgency#, Importance = #Importance#, ExpectFinishedTime = #ExpectFinishedTime#, Requirement = #Requirement#, State=#State#
      WHERE WorkflowInstanceId=#WorkflowInstanceId#
    </update>

    <update id="bwwf_WorkflowInstance_Finish" parameterClass="hashtable">
      UPDATE bwwf_Tracking_Workflows set
        FinishedTime = getdate(), State = #State#
      WHERE WorkflowInstanceId=(select WorkflowInstanceId from vw_bwwf_Tracking_Activities_All where ActivityInstanceId = #ActivityInstanceId#)
    </update>

    <delete id="bwwf_WorkflowInstance_Delete" parameterClass="guid">
      DELETE FROM bwwf_Tracking_Workflows WHERE WorkflowInstanceId = #value#
    </delete>

    <select id="bwwf_WorkflowInstance_Select" resultMap="WorkflowInstanceResult" parameterClass="guid">
      SELECT tw.WorkflowInstanceId, tw.WorkflowId, tw.SheetId, tw.State, tw.Creator, tw.StartedTime, tw.FinishedTime,
        tw.Title, tw.Secrecy, tw.Urgency, tw.Importance,tw.ExpectFinishedTime, tw.Requirement
      FROM bwwf_Tracking_Workflows tw
      <dynamic prepend="where">
        <isParameterPresent>
          tw.WorkflowInstanceId = #value#
        </isParameterPresent>
      </dynamic>
    </select>
    
    <select id="bwwf_WorkflowInstance_Select_By_WorkflowId" resultMap="WorkflowInstanceResult" parameterClass="guid">
        SELECT tw.WorkflowInstanceId, tw.WorkflowId, tw.SheetId, tw.State, tw.Creator, tw.StartedTime, tw.FinishedTime,
        tw.Title, tw.Secrecy, tw.Urgency, tw.Importance,tw.ExpectFinishedTime, tw.Requirement
        FROM bwwf_Tracking_Workflows tw
        <dynamic prepend="where">
        <isParameterPresent>
          tw.WorkflowId = #value#
        </isParameterPresent>
      </dynamic>
    </select>

    <select id="bwwf_WorkflowInstance_Select_Like_Title" resultMap="WorkflowInstanceResult" parameterClass="string">
      SELECT WorkflowInstanceId,WorkflowId,SheetId,State,Creator,StartedTime,FinishedTime,Title,Secrecy,Urgency,Importance,ExpectFinishedTime,Requirement
      FROM bwwf_Tracking_Workflows
      WHERE Title LIKE '%$value$%'
    </select>

    <select id="bwwf_WorkflowInstance_Select_By_ActivityInstanceId" resultMap="WorkflowInstanceResult" parameterClass="guid">
      SELECT tw.WorkflowInstanceId, tw.WorkflowId, tw.SheetId, tw.State, tw.Creator, tw.StartedTime, tw.FinishedTime,
      tw.Title, tw.Secrecy, tw.Urgency, tw.Importance,tw.ExpectFinishedTime, tw.Requirement
      FROM bwwf_Tracking_Workflows tw
      WHERE tw.WorkflowInstanceId = (
      SELECT distinct ta.WorkflowInstanceId FROM vw_bwwf_Tracking_Activities_All ta WHERE ta.ActivityInstanceId = #value#
      )
    </select>

  </statements>
</sqlMap>