<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" >
  <description>bw-dynamicform</description>
  
  <object id="formDefinitionService"
           type="Botwave.DynamicForm.IBatisNet.FormDefinitionService, Botwave.DynamicForm.IBatisNet" />

  <object id="dataFormLibraryService" type="Botwave.DynamicForm.Extension.Contracts.DataFormLibraryService,Botwave.DynamicForm.Extension"/>
  
  <object id="formInstanceService"
           type="Botwave.DynamicForm.IBatisNet.FormInstanceService, Botwave.DynamicForm.IBatisNet">
    <property name="formDefinitionService" ref="formDefinitionService"/>
    <property name="uploadFileHandler" ref="emptyUploadFileHandler"/>
  </object>

  <object id="RenderStrategy"
      type="Botwave.DynamicForm.Renders.DefaultRenderStrategy, Botwave.DynamicForm" />

  <object id="DivRenderStrategy"
      type="Botwave.DynamicForm.Extension.Renders.DefaultRenderStrategy, Botwave.DynamicForm.Extension" />

  <object id="FormItemDataBinder"
      type="Botwave.DynamicForm.Binders.DefaultFormItemDataBinder, Botwave.DynamicForm" >
    <property name="formInstanceService" ref="formInstanceService"/>
  </object>
  
  <object id="partTableService"
          type="Botwave.DynamicForm.IBatisNet.WorkflowPartTableService, Botwave.DynamicForm.IBatisNet" />
  <!-- plugin (begin) -->

  <object id="emptyUploadFileHandler"
           type="Botwave.DynamicForm.Plugin.EmptyUploadFileHandler, Botwave.DynamicForm" />

  <object id="activityDefinitionService"
          type="Botwave.Workflow.IBatisNet.ActivityDefinitionService, Botwave.Workflow.IBatisNet">
  </object>
  <!-- plugin (end) -->

  <object id="FormDefinitionExporter"
             type="Botwave.XQP.ImportExport.FormDefinitionExporter, Botwave.XQP">
    <property name="FormDefinitionService" ref="FormDefinitionService"/>
  </object>

  <object id="FormDefinitionImporter"
              type="Botwave.XQP.ImportExport.FormDefinitionImporter, Botwave.XQP">
    <property name="FormDefinitionService" ref="FormDefinitionService"/>
    <property name="RenderStrategy" ref="RenderStrategy"/>
  </object>

</objects>
