<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <spring>
    <context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
      <resource uri="config://spring/objects"/>
      <resource uri="objects.config"/>
    </context>
    <objects xmlns="http://www.springframework.net" >
      
      <object type="pages/formIndex.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
      </object>
      
      <!--<object type="pages/create.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
      </object>-->

      <object type="pages/choose.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
        <property name="WorkflowDefinitionService" ref="WorkflowDefinitionService"/>
        <property name="formItemDataBinder" ref="formItemDataBinder"/>
        <property name="renderStrategy" ref="renderStrategy"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="getDataService" ref="getDataService"/>
        <property name="formItemIFramesService" ref="formItemIFramesService"/>
        <property name="itemDataListSettingService" ref="itemDataListSettingService"/>
        <property name="dataListDefinitionService" ref="dataListDefinitionService"/>
        <property name="divRenderStrategy" ref="divRenderStrategy"/>
        <property name="dataFormLibraryService" ref="dataFormLibraryService"/>
      </object>

      <object type="pages/create.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
        <property name="formItemDataBinder" ref="formItemDataBinder"/>
        <property name="renderStrategy" ref="renderStrategy"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="getDataService" ref="getDataService"/>
        <property name="formItemIFramesService" ref="formItemIFramesService"/>
        <property name="itemDataListSettingService" ref="itemDataListSettingService"/>
        <property name="dataListDefinitionService" ref="dataListDefinitionService"/>
        <property name="divRenderStrategy" ref="divRenderStrategy"/>
        <property name="dataFormLibraryService" ref="dataFormLibraryService"/>
      </object>
      
      <object type="pages/itemcreate.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
        <property name="formItemDataBinder" ref="formItemDataBinder"/>
        <property name="renderStrategy" ref="renderStrategy"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="getDataService" ref="getDataService"/>
        <property name="formItemIFramesService" ref="formItemIFramesService"/>
        <property name="itemDataListSettingService" ref="itemDataListSettingService"/>
        <property name="dataListDefinitionService" ref="dataListDefinitionService"/>
        <property name="divRenderStrategy" ref="divRenderStrategy"/>
      </object>

      <object type="pages/templatecreate.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
        <property name="formItemDataBinder" ref="formItemDataBinder"/>
        <property name="renderStrategy" ref="renderStrategy"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="getDataService" ref="getDataService"/>
        <property name="formItemIFramesService" ref="formItemIFramesService"/>
        <property name="itemDataListSettingService" ref="itemDataListSettingService"/>
        <property name="dataListDefinitionService" ref="dataListDefinitionService"/>
        <property name="divRenderStrategy" ref="divRenderStrategy"/>
        <property name="dataFormLibraryService" ref="dataFormLibraryService"/>
      </object>

      <object type="pages/template.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
      </object>

      <object type="pages/waptemplate.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
      </object>
      
      <object type="pages/async/checkItemName.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
      </object>

      <object type="pages/async/getItemDefintionById.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
      </object>
      
      <object type="pages/optimize.aspx">
        <property name="partTableService" ref="partTableService"/>
      </object>
      
      <!--FormItemExtention-->
      <object type="pages/config/AdvancedConfig.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
      </object>
      <object type="pages/config/UC/getouterdata.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
        <property name="getDataService" ref="getDataService"/>
      </object>

      <object type="pages/config/UC/validateDataType.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
        <property name="getDataService" ref="getDataService"/>
        <property name="jsLibraryService" ref="jsLibraryService"/>
      </object>

      <object type="pages/config/UC/formitemlinkage.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
        <property name="getDataService" ref="getDataService"/>
        <property name="jsLibraryService" ref="jsLibraryService"/>
      </object>

      <object type="pages/config/UC/formitemsRules.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
        <property name="getDataService" ref="getDataService"/>
        <property name="jsLibraryService" ref="jsLibraryService"/>
      </object>

      <object type="pages/config/UC/formitemiframes.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
        <property name="getDataService" ref="getDataService"/>
        <property name="formItemIFramesService" ref="formItemIFramesService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="itemDataListSettingService" ref="itemDataListSettingService"/>
        <property name="dataListDefinitionService" ref="dataListDefinitionService"/>
      </object>

      <object type="pages/config/UC/formitemdatalist.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
        <property name="getDataService" ref="getDataService"/>
        <property name="itemDataListSettingService" ref="itemDataListSettingService"/>
        <property name="dataListDefinitionService" ref="dataListDefinitionService"/>
        <property name="formItemIFramesService" ref="formItemIFramesService"/>
      </object>
      <!--end-->
    </objects>
  </spring>
</configuration>
