<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="DepartmentSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="Department" type="Botwave.Security.Domain.Department, Botwave.Security" />
  </alias>

  <resultMaps>
    <resultMap id="DepartmentResult" class="Department">
      <result property="DpId" column="DpId"/>
      <result property="DpName" column="DpName"/>
      <result property="ParentDpId" column="ParentDpId"/>
      <result property="DpFullName" column="DpFullName"/>
      <result property="DpLevel" column="DpLevel"/>
      <result property="DeptOrderNo" column="DeptOrderNo"/>
      <result property="IsTmpDp" column="IsTmpDp"/>
      <result property="Type" column="Type"/>
      <result property="CreatedTime" column="CreatedTime"/>
      <result property="LastModTime" column="LastModTime"/>
      <result property="Creator" column="Creator"/>
      <result property="LastModifier" column="LastModifier"/>
    </resultMap>
  </resultMaps>

  <statements>
    <select id="bw_Depts_Select" parameterClass="string" resultMap="DepartmentResult">
      SELECT DpId, DpName, ParentDpId, DpFullName, DpLevel, DeptOrderNo, IsTmpDp, Type, CreatedTime, LastModTime, Creator, LastModifier
      FROM bw_Depts
      <dynamic prepend="where">
        <isParameterPresent>
          DpId = #value#
        </isParameterPresent>
      </dynamic>
      ORDER BY DpId
    </select>
    
    <select id="bw_Depts_Select_ByParentId" parameterClass="string" resultMap="DepartmentResult">
      <![CDATA[
      SELECT DpId, DpName, ParentDpId, DpFullName, DpLevel, DeptOrderNo,
        IsTmpDp, Type, CreatedTime, LastModTime, Creator, LastModifier
      FROM bw_Depts
      WHERE ([Type]=1) AND ([ParentDpId] = #value#)
      ORDER BY DeptOrderNo ASC
      ]]>
    </select>

    <select id="bw_Depts_Select_Top_Like_Name" parameterClass="string" resultMap="DepartmentResult">
      <![CDATA[
      SELECT TOP 30 DpId, DpName, ParentDpId, DpFullName, DpLevel, DeptOrderNo,
        IsTmpDp, Type, CreatedTime, LastModTime, Creator, LastModifier
      FROM bw_Depts
      WHERE ([Type]=1) AND (DpFullName LIKE '%$value$%') OR (DpId LIKE '%$value$%')
      ORDER BY DpId
      ]]>
    </select>

    <select id="bw_Depts_Select_By_FullName" parameterClass="string" resultMap="DepartmentResult">
      <![CDATA[
      SELECT DpId, DpName, ParentDpId, DpFullName, DpLevel, DeptOrderNo,
        IsTmpDp, Type, CreatedTime, LastModTime, Creator, LastModifier
      FROM bw_Depts
      WHERE (DpFullName = #value#)
      ORDER BY DpId
      ]]>
    </select>
  </statements>
</sqlMap>