<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="EntityPermissionSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="EntityPermission" type="Botwave.Security.Domain.EntityPermission, Botwave.Security" />
  </alias>

  <resultMaps>
    <resultMap id="EntityPermissionResult" class="EntityPermission">
      <result property="Id" column="Id"/>
      <result property="EntityType" column="EntityType"/>
      <result property="EntityId" column="EntityId"/>
      <result property="PermissionType" column="PermissionType"/>
      <result property="PermissionValue" column="PermissionValue"/>
    </resultMap>
  </resultMaps>

  <statements>

    <insert id="bw_EntityPermissions_Insert" parameterClass="EntityPermission">
      INSERT INTO bw_EntityPermissions
        (Id, EntityType, EntityId, PermissionType, PermissionValue)
      VALUES
        (#Id#, #EntityType#, #EntityId#, #PermissionType#, #PermissionValue#)
    </insert>

    <update id="bw_EntityPermissions_Update" parameterClass="EntityPermission">
      UPDATE bw_EntityPermissions SET
      EntityType = #EntityType#, EntityId = #EntityId#, PermissionType = #PermissionType#, PermissionValue = #PermissionValue#
      WHERE Id = #Id#
    </update>

    <delete id="bw_EntityPermissions_Delete" parameterClass="int">
      DELETE FROM bw_EntityPermissions WHERE [Id] = #value#
    </delete>

    <select id="bw_EntityPermissions_Select" parameterClass="int" resultMap="EntityPermissionResult">
      SELECT Id, EntityType, EntityId, PermissionType, PermissionValue
      FROM bw_EntityPermissions
      <dynamic prepend="where">
        <isParameterPresent>
          [Id] = #value#
        </isParameterPresent>
      </dynamic>
      ORDER BY [Id] DESC
    </select>

  </statements>
</sqlMap>
