<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="botwave.workflow" type="Botwave.Workflow.WorkflowConfig, Botwave.Workflow.Core" />
    <section name="botwave.workflowMap" type="Botwave.Workflow.Extension.Configuration.WorkflowMapSectionHandler, Botwave.Workflow.Extension" />
    <section name="botwave.workflowSelector" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <botwave.workflow allowContinuousApprove="true" />
  <botwave.workflowMap configSource="workflowMap.config" />
  <botwave.workflowSelector>    
    <!--
    <add key="流程名称" value="选择器类型名称/default" />
    -->
    <add key="特殊需求申请流程" value="czmccProfile" />
    <add key="销售精英竞赛平台酬金申告流程" value="czmccXSJYProfile" />
  </botwave.workflowSelector>
  
  <spring>
    <context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
      <resource uri="config://spring/objects"/>
      <!--<resource uri="xqp_objects.config"/>-->
    </context>
    <objects xmlns="http://www.springframework.net" >
      <!-- user controls(begin) -->

      <object type="Botwave.Workflow.Extension.WorkflowMap.RenderHelper, Botwave.Workflow.Extension" >
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
      </object>

      <object type="controls/WorkflowWorkItem.ascx">
        <property name="workflowService" ref="workflowService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowUserService" ref="workflowUserService"/>
      </object>

      <object type="controls/WorkflowView.ascx">
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowUserService" ref="workflowUserService"/>
        <property name="activityService" ref="activityService"/>
      </object>
      <!--user controls end-->
      
      <!--pages-->
      <object type="pages/Todo.aspx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityService" ref="activityService"/>
      </object>
      <object type="ajax/TodoAjax.aspx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="workflowMobileService" ref="workflowMobileService"/>
      </object>
      <object type="pages/ToReview.aspx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityService" ref="activityService"/>
      </object>
      <object type="pages/Draft.aspx">
        <property name="workflowService" ref="workflowService"/>
      </object>
      <object type="pages/doneTaskByAppl.aspx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>
      <object type="pages/myTask.aspx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>
      <object type="pages/doneTask.aspx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>
      
      <object type="pages/search.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="mobileWorkflowSearcher" ref="mobileWorkflowSearcher"/>
      </object>
      <object type="pages/process.aspx" >
        <property name="workflowEngine" ref="workflowEngine"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="activityService" ref="activityService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="activityAllocationService" ref="activityAllocationService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowFormService" ref="workflowFormService"/>
        <property name="mobileFormService" ref="mobileFormService"/>
        <property name="activityExecutionContextHandler" ref="activityExecutionContextHandler"/>
        <property name="workflowUIProfile" ref="workflowUIProfile"/>
        <property name="workflowReviewService" ref="workflowReviewService"/>
        <property name="reviewPending" ref="reviewPending"/>
        <property name="FormInstanceService" ref="FormInstanceService"/>
        <property name="getOuterDataHandler" ref="getOuterDataHandler"/>
        <property name="dataListInstanceService" ref="dataListInstanceService"/>
        <property name="workflowMobileService" ref="workflowMobileService"/>
        <property name="rootDeptName" value="广东移动潮州分公司"/>
        <property name="rootDeptId" value="3297681318"/>
        <property name="expandDeptId" value="3297681318"/>
      </object>
      <object type="pages/notify.aspx" >
        <property name="workflowEngine" ref="workflowEngine"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="workflowNotifyService" ref="workflowNotifyService"/>
        <property name="workflowUserService" ref="workflowUserService"/>
        <property name="formInstanceService" ref="formInstanceService"/>
      </object>
      <object type="pages/start.aspx" >
        <property name="workflowService" ref="workflowService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="workflowEngine" ref="workflowEngine"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowInstanceCreationController" ref="workflowInstanceCreationController"/>
        <property name="mobileFormService" ref="mobileFormService"/>
        <property name="workflowFormService" ref="workflowFormService"/>
        <property name="workflowAttachmentService" ref="xqpWorkflowAttachmentService"/>
        <property name="workflowReviewService" ref="workflowReviewService"/>
        <property name="reviewPending" ref="reviewPending"/>
        <property name="getOuterDataHandler" ref="getOuterDataHandler"/>
        <property name="dataListInstanceService" ref="dataListInstanceService"/>
        <property name="workflowMobileService" ref="workflowMobileService"/>
        <property name="rootDeptName" value="广东移动潮州分公司"/>
        <property name="rootDeptId" value="3297681318"/>
        <property name="expandDeptId" value="3297681318"/>
      </object>
      <object type="pages/workflowView.aspx" >
        <property name="workflowEngine" ref="workflowEngine"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="activityService" ref="activityService"/>
        <property name="countersignedService" ref="countersignedService"/>
        <property name="workflowFormService" ref="workflowFormService"/>
        <property name="mobileFormService" ref="mobileFormService"/>
        <property name="workflowResourceService" ref="workflowResourceService"/>
        <property name="FormInstanceService" ref="FormInstanceService"/>
        <property name="getOuterDataHandler" ref="getOuterDataHandler"/>
        <property name="workflowMobileService" ref="workflowMobileService"/>
      </object>
      <!--pages end-->
      <!--ajax -->
      <object type="ajax/doneTaskAjax.aspx">
        <property name="workflowMobileService" ref="workflowMobileService"/>
      </object>
      <object type="pages/doneReviews.aspx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>
      <object type="pages/assignmentTask.aspx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>
      <object type="ajax/assignmentTaskAjax.aspx">
        <property name="workflowMobileService" ref="workflowMobileService"/>
      </object>
      <object type="ajax/PopupForwardAjax.aspx" >
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowUserService" ref="workflowUserService"/>
      </object>
      <!--ajax end-->
    </objects>
  </spring>
</configuration>
