
@{
    ViewBag.Title = "投资项目选择";
    Layout = "~/Views/Shared/_Content.cshtml";
}
@section Css{
    <style>
        .main-flip div {
            right: 290px;
        }

        .public-table-main table {
            width: 66%;
        }
    </style>

}
@section Scripts{
    <script src="~/Content/app/datePicker.js"></script>
    <script type="text/javascript">

        choseArr = new Array();
        choseArr = [];
        var app = angular.module('ListPage', ['tm.pagination']);
        //控制器
        app.controller('ProjController', ['$scope','BusinessService', function ($scope,BusinessService) {
            $scope.queryBuilder = {
            };
            //获取列表
            var GetListData = function () {
                box.load("GetListData");
                var postData = {
                    pageIndex: $scope.paginationConf.currentPage,
                    pageSize: $scope.paginationConf.itemsPerPage,
                    queryBuilder: $scope.queryBuilder
                }
                BusinessService.list(postData).success(function (response) {
                    box.ready("GetListData");
                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                }).error(function (err) {
                    box.ready("GetListData");
                    box.alert("网络出错！", { icon: 'error' });
                });

            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };

            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);
            var str = "";
            var selectedId = '@ViewData["selected"]';
            $scope.isCh = function (proj) {
                if (selectedId.indexOf(proj.ProjSn) >= 0) {
                    if (str.indexOf(proj.ProjSn) < 0) {
                        choseArr.push(proj);
                        str += proj.ProjSn + ",";
                    }
                }
                return selectedId.indexOf(proj.ProjSn) >= 0;

            }

            /*实现全选，多选操作*/
           // $scope.isCh = false;//默认未选中
            $scope.all = function ($event) {//全选
                var isChecked = $event.target.checked;
                angular.element("[ng-model='x']").prop("checked", isChecked);
                if (isChecked == true) {
                    angular.forEach($scope.ListPageData, function (obj) {
                        choseArr.push(obj);//此处ID名称不同的页面名称不同，需要修改
                      
                    });
                }
                else
                    choseArr = [];
            };
            $scope.chk = function ($event, z) {//单选或者多选
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if (choseArr.indexOf(z) < 0) {
                        choseArr.push(z);
                    }
                    if (choseArr.length == $scope.ListPageData.length) {
                        $scope.master = true;
                    }
                }
                else {//取消选中
                    var index = choseArr.indexOf(z);
                    if (index > -1) {
                        choseArr.splice(index, 1);
                        $scope.master = false;
                    }
                }
            };
            $scope.query = function () {
                $scope.queryBuilder.ProjSn = $("[ng-model='queryBuilder.ProjSn']").val();
                $scope.queryBuilder.ProjName = $("[ng-model='queryBuilder.ProjName']").val();
                GetListData();
            }
        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http.post(CurPath + 'Proj/GetListData', postData);
            };
            return serive;
        }]);

        function getResult() {
            var appElement = document.querySelector('[ng-controller=ProjController]');
            var $scope = angular.element(appElement).scope();
            var ListPageData = $scope.ListPageData;
            var result = [];
            $.each(choseArr, function (i, item) {
                result.push({
                    id: item.id,
                    text: item.ProjSn
                });
            });
            return result;
        }

    </script>
}

<div id="ng-app" ng-app="ListPage" ng-controller="ProjController">
    <!--content--->
    <div class="search-mod">
        <table>
            <tr>
                <td>
                    项目编号：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ProjSn" class="cell-input" style="width:80px;" />
                    </div>
                </td>
                <td>
                    项目名称：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ProjName" class="cell-input" style="width:80px;" />
                    </div>
                </td>
                <td>
                    <div class="ui-input">
                        <a ng-click="query()" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>
            </tr>

        </table>
    </div>

    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th style="width:50px"><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>
                <th style="width:80px">项目编号</th>
                <th style="width:100px">项目名称</th>
            </tr>
            <tr ng-repeat="proj in ListPageData">
                <td><input type="checkbox" id="{{proj.id}}" name="{{proj.ProjName}}" ng-model="x" ng-checked="isCh(proj)" ng-click="chk($event,proj)" /></td>
                <td ng-bind="proj.ProjSn"></td>
                <td ng-bind="proj.ProjName"></td>
            </tr>

        </table>
    </div>
    <div class="main-flip">
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>

