
@{
    ViewBag.Title = "心声汇总";
    Layout = "~/Views/Shared/_Content.cshtml";
}
@section Scripts{
    <script src="~/Content/app/number.js"></script>
    <script src="~/Content/app/datePicker.js"></script>
    <script type="text/javascript">
        var app = angular.module('ListPage', ['tm.pagination', 'datePicker']);
        //控制器
        app.controller('Controller', ['$scope', "$filter", 'BusinessService', function ($scope, $filter, BusinessService) {
            $scope.GroupName = null;
            $scope.queryBuilder = {
                Applytitle: "",
                Creator: "",
                DeptName: "",
                CreateTime_Start: "",
                CreateTime_End: ""
            };

            //获取列表
            var GetListData = function () {
                box.load("GetListData");
                $scope.master = false;
                choseArr = [];
                if (parent.getPageParam != undefined)
                    postData = parent.getPageParam('@Request.Path');//根据路径获取
                if (postData == null) {
                    postData = {
                        pageIndex: $scope.paginationConf.currentPage,
                        pageSize: $scope.paginationConf.itemsPerPage,
                        queryBuilder: $scope.queryBuilder
                    };
                }
                else {
                    $scope.paginationConf.currentPage = postData.pageIndex;
                    $scope.paginationConf.itemsPerPage = postData.pageSize;
                    $scope.queryBuilder = postData.queryBuilder;
                }
                BusinessService.list(postData).success(function (response) {
                    box.ready("GetListData");
                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                }).error(function (err) {
                    box.ready("GetListData");
                    //alert("网络出错！");
                    box.alert("网络出错！", { icon: 'error' });
                });

            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };

            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);

            /*实现全选，多选操作*/
            var choseArr = new Array();
            $scope.x = false;//默认未选中
            $scope.all = function ($event) {//全选
                var isChecked = $event.target.checked;
                angular.element("[ng-model='x']").prop("checked", isChecked);
                if (isChecked == true) {
                    choseArr = [];
                    angular.forEach($scope.ListPageData, function (obj) {
                        choseArr.push(obj.Id);//此处ID名称不同的页面名称不同，需要修改
                    });
                }
                else
                    choseArr = [];
            };
            $scope.chk = function ($event, z) {//单选或者多选
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if (choseArr.indexOf(z) < 0) {
                        choseArr.push(z);
                    }
                    if (choseArr.length == $scope.ListPageData.length) {
                        $scope.master = true;
                    }
                }
                else {//取消选中
                    var index = choseArr.indexOf(z);
                    if (index > -1) {
                        choseArr.splice(index, 1);
                        $scope.master = false;
                    }
                }
            };
            $scope.editData = function (id) {
                var url = "";
                if (id == "" || id == undefined) { //判断是列表点击确发，还是编辑按钮确发
                    if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                        box.alert("请选中一条数据进行查看！");
                        return;
                    };
                    url = CurPath + 'InnerVoices/View?id=' + choseArr[0];
                }
                else {
                    url = CurPath + 'InnerVoices/View?id=' + id;
                }
                //保存最近一次的查询条件
                if (parent.pageParamList != undefined) {
                    var pageParam = { pageUrl: '@Request.Path', postData: postData };
                    parent.pageParamList.push(pageParam);
                }
                window.location.href = url;

            };

            $scope.query = function () {
                GetListData();
            }
            $scope.getAttrByArr = function (arr, attr) {
                return getAttrByArr(arr, attr);
            }
            //显示title
            $scope.showTitle = function ($event, value) {
                ele = $event.target;
                if (!value) {
                    value = ele.innerHTML;
                }
                if (ele.offsetWidth < ele.scrollWidth) {
                    ele.title = ele.innerHTML;
                }
                else {
                    ele.title = '';
                }
            };

            //导出功能
            $scope.downloadFile = function () {
                if ($scope.ListPageData.length == 0) {//没有选择一个的时候提示
                    box.alert("没有可以导出的数据！！");
                    return;
                };
                box.load("GetListData");
                window.location.href = CurPath + 'InnerVoices/Download?queryBuilder=' + JSON.stringify($scope.queryBuilder);
                box.ready("GetListData");
            }
        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http.post(CurPath + 'InnerVoices/GetListData', postData);
            };

            serive.deleteData = function (ids) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'InnerVoices/Delete',
                    data: ids
                });
            };
            return serive;
        }]);
    </script>
}
<div id="ng-app" ng-app="ListPage" ng-controller="Controller">
    <!--content--->
    <div class="search-mod">
        <table>
            <tr>
                <td>
                    单号：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.GroupName" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>
                    标题：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.Applytitle" class="cell-input" style="width:120px;" />
                    </div>
                </td>

                <td>
                    申请人：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.Creator" class="cell-input" style="width:120px;" />
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    所属部门：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.DeptName" class="cell-input" style="width:120px;" />
                    </div>
                </td>

                <td>
                    创建时间：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" id="CreateTime_Start" name="CreateTime_Start" date-Picker dateFmt="yyyy-MM-dd" ng-model="queryBuilder.CreateTime_Start" class="cell-input cell-input-data" readonly>
                        <i class="icon-data"></i>
                        <span style="float:left;margin:0px 5px;">至</span>
                        <input type="text" id="CreateTime_End" name="CreateTime_End" date-Picker dateFmt="yyyy-MM-dd" ng-model="queryBuilder.CreateTime_End" class="cell-input cell-input-data" readonly>
                        <i class="icon-data"></i>
                    </div>
                </td>
                <td>
                    <div class="ui-input">
                        <a ng-click="query()" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th style="width:30px;"><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>
                <th style="width:230px;">标题</th>
                <th style="width:100px;">主题类型</th>
                <th style="width:130px;">单号</th>
                <th style="width:100px;">申请人</th>
                <th style="width:130px;">所属部门</th>
                <th style="width:110px;">创建时间</th>

            </tr>
            <tr ng-repeat="emp in ListPageData">
                <td><input type="checkbox" id="{{emp.Id}}" ng-model="x" ng-checked="x" ng-click="chk($event,emp.Id)" /></td>
                <td>
                    <a ng-click="editData(emp.Id)" ng-bind="emp.Applytitle"></a>
                </td>
                <td ng-bind="emp.Themetype"></td>
                <td ng-bind="emp.Applysn"></td>
                <td ng-bind="emp.Creator"></td>
                <td ng-bind="emp.DeptName"></td>
                <td ng-bind="emp.CreateTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
            </tr>

        </table>
    </div>

    <div class="main-flip">

        <div class="the-operation1" style="float:left">
            <ul>

                <li><a href="javascript:void(0);" ng-click="editData('')" class="btn-ok"><i></i>查看</a></li>
                <li><a href="javascript:void(0);" ng-click="downloadFile()" class="btn-export"><i></i>导出</a></li>
            </ul>

        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>
