
@{
    ViewBag.Title = "SynopsisIndex";
    Layout = "~/Views/Shared/_Content.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <style>
        body, ul, li, p, img, h1, h2, h3, h4, i {
            padding: 0;
            margin: 0;
            color: #222;
            font-size: 14px;
        }

        .text {
            padding: 20px;
            text-align: center;
            width: 92%;
        }

            .text i {
                font-size: 24px;
                color: #f00000;
            }

            .text h3 {
                text-align: center;
                font-weight: bold;
                font-size: 18px;
                color: #f00000;
                margin: 10px 0;
                padding-left: 200px;
            }

            .text p {
                padding-left: 26px;
                line-height: 22px;
                text-align: left;
            }

            .text h2 {
                font-size: 18px;
                margin: 10px 0;
            }

            .text h4 {
                text-align: left;
                text-indent: 2em;
                line-height: 24px;
            }

            .text h5 {
                font-size: 24px;
                color: #f00000;
                font-weight: bold;
            }

        html {
            overflow-x: hidden;
        }

        body {
            overflow-x: hidden;
        }
    </style>
</head>

<body style="overflow-x: hidden;">
    <div class="text">
        <h5>基 层 心 声</h5>
        <h3>员工建议意见收集平台</h3>
        <p style="text-indent:2em;">为及时收集基层单位对公司各部门在办事效率、服务态度、流程优化及需求支撑等方面的意见及建议，随时倾听来自一线的“好声音”和金点子，公司特设立“基层心声”员工建议意见收集平台，欢迎广大员工踊跃参与建言献策！</p>
        <h2>使用须知</h2>
        <h4>一、功能简介</h4>
        <p style="text-indent:2em;">“基层心声”员工建议意见收集平台是公司领导及职能部门与基层员工沟通互动的电子化渠道，也是公司进一步加强联系群众、听取民意、集中民智的又一新平台。本着简要快捷、方便员工的原则，本平台目前设有“我的心声”及“心声汇总”两个板块，具有受理、查询、评价等功能。欢迎您在使用过程中，直接通过“发起心声”的形式将您的体验感受和改进建议及时向我们反馈，以便我们对本平台不断进行丰富及完善。</p>
        <h4>二、操作流程</h4>
        <p style="text-indent:2em;">1、提交：通过“我的心声”点击“发起心声”，即可填写主题及内容。您可选择是否公开个人信息，如果选“否”则您的意见建议在流转过程中系统将不会显示您的个人信息；同时也可选择是否公开您的“基层心声”，如果选“否”则您所提交的内容将无法被其他同事看到。</p>
        <p style="text-indent:2em;">2、查询：通过“心声汇总”，任何员工均可看到所有选择公开的意见建议内容。发起人也可通过“我的心声”第一时间查询已提交内容的办理进度和结果。</p>
        <p style="text-indent:2em;">3、评价：为促进闭环管理，发起人可于回复结果发布后对职能部门处理情况进行满意度评价。</p>
        <h4>三、注意事项</h4>
        <p style="text-indent:2em;">1、为了提高办理质量和效率，每条心声原则上反映一个问题，如需反映多个问题，请分别提交。</p>
        <p style="text-indent:2em;">2、请您遵守国家法律法规和公司的各项制度规定，不得发表违法违规或损害道德的言论。</p>
        <p style="text-indent:2em;">3、如您选择公开个人信息，请如实填写姓名、部门等相关信息，并对所提供材料内容的真实性负责。</p>
        <i style="margin:20px 0; display:block; text-align:left; padding-left:4%;">热切期待您的“好声音”和“金点子”！</i>
    </div>
</body>
</html>


