
@{
    ViewBag.Title = "StockAsset";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <script src="~/Content/app/datePicker.js"></script>
<script src="~/Content/Javascript/ngDialog/ngDialog.js"></script>
    <script type="text/javascript">
        var app = angular.module('ListPage', ['tm.pagination', 'ngDialog']);
        //控制器
        app.controller('StockController', ['$scope', "$filter", 'BusinessService', 'ngDialog', function ($scope, $filter, BusinessService, ngDialog) {
            var Id = '@ViewData["Id"]';
            $scope.asset = { StockId: Id };
            //获取列表
            var GetListData = function () {
                box.load("GetListData");
                var postData = {
                    pageIndex: $scope.paginationConf.currentPage,
                    pageSize: $scope.paginationConf.itemsPerPage,
                    Id: Id
                }
                BusinessService.list(postData).success(function (response) {
                    box.ready("GetListData");
                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                }).error(function (err) {
                    box.ready("GetListData");
                    box.alert("网络出错！", { icon: 'error' });
                });

            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };

            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);

            /*实现全选，多选操作*/
            var choseArr = new Array();
            $scope.x = false;//默认未选中
            $scope.all = function ($event) {//全选
                var isChecked = $event.target.checked;
                angular.element("[ng-model='x']").prop("checked", isChecked);
                if (isChecked == true) {
                    choseArr = [];
                    angular.forEach($scope.ListPageData, function (obj) {
                        choseArr.push(obj.Id);//此处ID名称不同的页面名称不同，需要修改
                    });
                }
                else
                    choseArr = [];
            };
            $scope.chk = function ($event, z) {//单选或者多选
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if (choseArr.indexOf(z) < 0) {
                        choseArr.push(z);
                    }
                    if (choseArr.length == $scope.ListPageData.length) {
                        $scope.master = true;
                    }
                }
                else {//取消选中
                    var index = choseArr.indexOf(z);
                    if (index > -1) {
                        choseArr.splice(index, 1);
                        $scope.master = false;
                    }
                }
            };
            $scope.deleteData = function () {//
                if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                    box.alert("请至少选中一条数据再操作！")
                    return;
                };
                box.confirm("确定要删除选中的" + choseArr.length + "条数据吗？", { icon: 'question' }, function (result) {
                    if (result) {
                        //调用删除服务
                        BusinessService.deleteData(choseArr).success(function (response) {
                            if (response.message == "成功") {
                                GetListData();
                            }
                            else {
                                box.alert(response.messsage.length > 0 ? response.messsage : "删除失败", { icon: 'error' });
                            }
                        });
                    }
                });
            };
            $scope.StockAssetEdit = function () {
                if (choseArr[0] == "" || choseArr.length != 1) {//没有选择一个的时候提示
                    box.alert("请选中一条您要修改的数据再操作（请不要多选）！");
                    return;
                };
                window.location.href = CurPath + 'Stock/StockAssetEdit?Id=' + choseArr[0] + '&StockId=' + Id;

            }

            $scope.fileDialog = function () {
                var _type = 'StockAsset'; //导入的类型
                var data = "";
                var dialog = ngDialog.openConfirm({
                    title: '导入固定资产编码',
                    template: "<iframe ' frameborder='0' marginwidth='0' style='width:100%;height:100%;overflow:hidden;' src='../Import/Index?type=" + _type + "&data=" + Id + "'></iframe>",
                    disableAnimation: true,
                    showClose: true,
                    plain: true,
                    width: 700,
                    height: 400,
                    top: -60,
                    preCloseCallback: function () {
                        //回调。窗口关闭后所做的事。。。。。
                        //box.load("loadding");
                        GetListData();
                    }
                });

            };

            //----------------------------------------------
        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http.post(CurPath + 'Stock/GetStockAssetbyid', postData);
            };

            serive.deleteData = function (ids) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'Stock/DeleteAsset',
                    data: ids
                });
            };
            return serive;
        }]);

        //------------------------------------------

    </script>
}

<div Id="ng-app" ng-app="ListPage" ng-controller="StockController">
    <!--content--->
    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>
                <th style="white-space:nowrap">固定资产编码</th>
                <th style="white-space:nowrap">产品类型</th>
                <th style="white-space:nowrap">产品型号</th>
                <th style="white-space:nowrap">状态</th>
            </tr>
            <tr ng-repeat="stock in ListPageData">
                <td><input type="checkbox" Id="{{stock.Id}}" ng-model="x" ng-checked="x" ng-click="chk($event,stock.Id)" /></td>
                <td ng-bind="stock.AssetSn"></td>
                <td ng-bind="stock.EquipClass"></td>
                <td ng-bind="stock.EquipInfo"></td>
                <td style="white-space:nowrap" ng-bind="stock.State=='1'?'已调拨':'未调拨'"></td>
            </tr>

        </table>
    </div>

    <div class="main-flip">

        <div class="the-operation1" style="float:left">
            <ul>
                <li><a href="../Stock/StockAssetEdit?StockId={{asset.StockId}}" class="btn-add"><i></i>添加</a></li>
                <li><a ng-click="StockAssetEdit()" class="btn-edit"><i></i>编辑</a></li>
                <li><a href="javascript:void(0);" ng-click="deleteData()" class="btn-del"><i></i>删除</a></li>
                <li><a ng-click="fileDialog()" class="btn-import"><i></i>导入</a></li>
                @*<li> <a href="../Stock/StockIndex" class="cell-btn-orange" style="width:70px;">返回</a></li>*@
</ul>

        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>

