
@{
    Layout = "~/Views/Shared/_Content.cshtml";
}
@section Scripts{
    <script src="~/Content/Javascript/json3.min.js"></script>
    <script src="~/Content/app/number.js"></script>
    <script src="~/Content/app/datePicker.js"></script>
    <script>
        var app = angular.module('CreateOrUpdate', ['number', 'datePicker']);
        app.config(['$locationProvider', function ($locationProvider) {
            $locationProvider.html5Mode(true);
        }]);
        app.controller('StockController', ['$scope', 'BusinessService', function ($scope, BusinessService) {
            $scope.m = function (e) {
                var ss = window.event || e;
                if (ss.keyCode != 8 && (ss.keyCode < 48 || ss.keyCode > 57)) {
                    ss.preventDefault();
                }
            }
            $scope.type = [{ "text": "营业厅", "value": 0 }, { "text": "非营业厅", "value": 1 }];
            var Id = '@ViewData["Id"]';
            $scope.stock = {};
            $scope.EquipClassList = [];
            if (Id != null && Id.toString().length > 0) {

                BusinessService.getDataByID(Id).success(function (response) {
                    $scope.stock = response;

                }).error(function (response) {
                    box.alert("错误！", { icon: 'error' });
                });
            }
            BusinessService.GetEquipClassList().success(function (response) {
                $scope.EquipClassList = response.EquipClassList;
            }).error(function (response) {
                box.alert("错误!!！", { icon: 'error' });
            });
            $scope.save = function () {
                $scope.editForm.failSubmited = false;
                if ($scope.editForm.$valid) {
                    $scope.stock.Id = Id;
                    var postData = $scope.stock;
                    BusinessService.save(postData).success(function (response) {
                        if (response.IsSuccess) {
                            box.alert("保存成功", { icon: 'success' }, function () {
                                window.location.href = CurPath + 'Stock/StockIndex';
                            });
                        }
                    }
                    ).error(function (response) { box.alert("错误！", { icon: 'error' }) });
                }
                else { $scope.editForm.failSubmited = true; }
            };
            //-------------------------------------
            $scope.editMember = function (type) {
                var iframeId = type + '_edit';
                var title = "";
                var iframeSrc = "";
                var wWidth = 530;
                switch (type) {
                    case 'proj': {
                        title = '投资项目';
                        iframeSrc = '../Proj/ProjWindow?selected=' + $scope.stock.ProjSn;
                    } break;
                    //case 'equip': {
                    //    title = '设备类型';
                    //    iframeSrc = '../Equip/EquipWindow?selected=' + $scope.stock.EquipClass;
                    //} break;
                    default: title = type;
                }
                title += "选择";
                var iframeStr = "<iframe Id='" + iframeId + "' name='" + iframeId + "' frameborder='0' marginwidth='0' style='width:100%;height:100%;overflow:hidden;' src='" + iframeSrc + "'></iframe>";
                box.popup(iframeStr,
                    {
                        title: title,
                        width: wWidth,//窗口宽度，默认400
                        height: 380,//窗口高度，默认400
                        hasOk: true,
                        hasCancel: true,
                        onBeforeClose: function (data) {
                            if (data == true) {
                                var theWindow = window;
                                while ((!theWindow.frames[iframeId]) && (!!theWindow.parent)) {
                                    theWindow = theWindow.parent;
                                }
                                if (!theWindow.frames[iframeId]) {
                                    box.alert('出错！', { icon: 'error' });
                                }
                                else {
                                    var result = theWindow.frames[iframeId].getResult();
                                    switch (type) {
                                        case 'proj': {
                                            $scope.stock.ProjSn = getAttrByArr(result, 'text').join(',');
                                        } break;
                                        //case 'equip': {
                                        //    $scope.stock.EquipClass = getAttrByArr(result, 'text').join(',');
                                        //} break;
                                        default: break;
                                    }
                                    $scope.$apply();
                                }
                            }
                        }
                    });
            }
        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};

            serive.save = function (postData) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'Stock/Save',
                    data: postData
                });
            };
            serive.getDataByID = function (Id) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'Stock/GetDataByID/' + Id
                });
            };
            serive.GetEquipClassList = function () {//
                return $http({
                    method: 'POST',
                    url: CurPath + 'Stock/GetEquipClassList'
                });
            };

            return serive;
        }]);
    </script>
}

<div xmlns:ng="http://angularjs.org" class="public-form">
    <form action="" method="post" Id="ng-app" ng-app="CreateOrUpdate" ng-controller="StockController" name="editForm" novalidate>
        <table>
            @*<tr>
                <th>标签号：</th>
                <td>
                    <div class="ui-input">
                        <input type="text" name="LableNo" ng-model="stock.LableNo" required class="cell-input" />
                        <strong class="must-options">*</strong>
                        <div class="ui-tips" ng-show="editForm.LableNo.$invalid&&editForm.failSubmited">
                            <div class="note"><i class="icon-note"></i>输入提示</div>
                            <div class="error" style="display:block">
                                <i class="icon-error"></i>
                                <span ng-show="editForm.LableNo.$error.required">请输入标签号</span>
                            </div>
                            <div class="correct"><i class="icon-correct"></i></div>
                        </div>
                    </div>
                </td>
            </tr>*@
            <tr>
                <th>资产类型：</th>
                <td>
                    <div class="ui-input">
                        <div class="selectdrapdown">
                            <select  required class="cell-input" name="StockType" ng-model="stock.StockType" placeholder="请选择" ng-options="x.value as x.text for x in type"></select>
                            <strong class="must-options">*</strong>
                            <div class="ui-tips" ng-show="editForm.StockType.$invalid&&editForm.failSubmited">
                                <div class="note"><i class="icon-note"></i>输入提示</div>
                                <div class="error" style="display:block">
                                    <i class="icon-error"></i>
                                    <span ng-show="editForm.StockType.$error.required">请选择资产类型</span>
                                </div>
                                <div class="correct"><i class="icon-correct"></i></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>设备类型：</th>
                <td>
                    <div class="ui-input">
                        <div class="selectdrapdown">
                            <select class="cell-input" name="EquipClass" required ng-model="stock.EquipClass"  style="width:222px;">
                                <option ng-repeat="x in EquipClassList" value="{{x.DDValue}}">{{x.DDText}}</option>
                            </select>

                            <strong class="must-options">*</strong>
                            <div class="ui-tips" ng-show="editForm.EquipClassList.$invalid&&editForm.failSubmited">
                                <div class="note"><i class="icon-note"></i>输入提示</div>
                                <div class="error" style="display:block"><i class="icon-error"></i>请选择设备类型</div>
                                <div class="correct"><i class="icon-correct"></i></div>
                            </div>
                        </div>
                    </div>
                    @*<div class="ui-input">
                        <input required type="text" name="EquipClass" ng-click="editMember('equip')" ng-model="stock.EquipClass" class="cell-input" style="width:120px;" />
                        <strong class="must-options">*</strong>
                        <div class="ui-tips" ng-show="editForm.EquipClass.$invalid&&editForm.failSubmited">
                            <div class="note"><i class="icon-note"></i>输入提示</div>
                            <div class="error" style="display:block">
                                <i class="icon-error"></i>
                                <span ng-show="editForm.EquipClass.$error.required">请选择设备类型</span>
                            </div>
                            <div class="correct"><i class="icon-correct"></i></div>
                        </div>
                    </div>*@
                </td>
            </tr>
            <tr>
                <th>设备型号：</th>
                <td>
                    <div class="ui-input">
                        <input type="text" name="EquipInfo" ng-model="stock.EquipInfo" required class="cell-input" />
                        <strong class="must-options">*</strong>
                        <div class="ui-tips" ng-show="editForm.EquipInfo.$invalid&&editForm.failSubmited">
                            <div class="note"><i class="icon-note"></i>输入提示</div>
                            <div class="error" style="display:block">
                                <i class="icon-error"></i>
                                <span ng-show="editForm.EquipInfo.$error.required">请选择输入设备型号</span>
                            </div>
                            <div class="correct"><i class="icon-correct"></i></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>入库数量：</th>
                <td>
                    <div class="ui-input">
                        <input type="text" name="EquipNum" ng-model="stock.EquipNum" required class="cell-input" />
                        <strong class="must-options">*</strong>
                        <div class="ui-tips" ng-show="editForm.EquipNum.$invalid&&editForm.failSubmited">
                            <div class="note"><i class="icon-note"></i>输入提示</div>
                            <div class="error" style="display:block">
                                <i class="icon-error"></i>
                                <span ng-show="editForm.EquipNum.$error.required">请输入入库数量</span>
                            </div>
                            <div class="correct"><i class="icon-correct"></i></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>投资项目编号：</th>
                <td>
                    <div class="ui-input">
                        <input required type="text" name="ProjSn" ng-click="editMember('proj')" ng-model="stock.ProjSn" class="cell-input" style="width:120px;" />
                        <strong class="must-options">*</strong>
                        <div class="ui-tips" ng-show="editForm.ProjSn.$invalid&&editForm.failSubmited">
                            <div class="note"><i class="icon-note"></i>输入提示</div>
                            <div class="error" style="display:block">
                                <i class="icon-error"></i>
                                <span ng-show="editForm.ProjSn.$error.required">请输入入库数量</span>
                            </div>
                            <div class="correct"><i class="icon-correct"></i></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>设备描述：</th>
                <td>
                    <div class="the-text-area">
                        <textarea name="Content" ng-model="stock.Content" required></textarea>
                        <strong class="must-options">*</strong>
                        <div class="ui-tips" ng-show="editForm.Content.$invalid&&editForm.failSubmited">
                            <div class="note"><i class="icon-note"></i>输入提示</div>
                            <div class="error" style="display:block">
                                <i class="icon-error"></i>
                                <span ng-show="editForm.Content.$error.required">请输入设备描述</span>
                            </div>
                            <div class="correct"><i class="icon-correct"></i></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>
                    <a ng-click="save()" class="cell-btn-blue" style="width:70px; margin-right:20px;">保存</a>
                    <a href="../Stock/StockIndex" class="cell-btn-orange" style="width:70px;">返回</a>
                </td>
            </tr>
        </table>
    </form>
</div>

