<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <spring>
    <context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
      <resource uri="config://spring/objects"/>
      <resource uri="file://~/plugins/easyflow/apps/xqp2/objects.config"/>
    </context>
    <objects xmlns="http://www.springframework.net" >
     
      <object type="controls/LeftMenu.ascx" >
        <property name="workflowResourceService" ref="workflowResourceService"/>
      </object>
      
      <object type="pages/extension/default.aspx" >
        <property name="workflowNoticeService" ref="workflowNoticeService"/>
      </object>

      <object type="pages/app/edit.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>

      <object type="pages/security/Authorize.aspx" >
        <property name="userService" ref="userService"/>
        <property name="authorizeService" ref="authorizeService"/>
      </object>

      <object type="pages/notices/controls/noticeEditor.ascx">
        <property name="noticeService" ref="noticeService"/>
      </object>
      <object type="pages/notices/controls/noticeView.ascx">
        <property name="noticeService" ref="noticeService"/>
      </object>
      <object type="pages/notices/controls/noticeList.ascx">
        <property name="noticeService" ref="noticeService"/>
      </object>      
      <object type="pages/notices/EditNotice.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>
      
      <!-- workflow -->
      <object type="pages/workflows/workflowDeploy.aspx" >
        <property name="deployService" ref="deployService"/>
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="workflowResourceService" ref="workflowResourceService"/>
        <property name="activityRulesHelper" ref="activityRulesHelper"/>
        <property name="FormDefinitionDeployService" ref="FormDefinitionDeployService"/>
      </object>
      <object type="pages/workflows/workflowHistoryDeploy.aspx" >
        <property name="deployService" ref="deployService"/>
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityRulesHelper" ref="activityRulesHelper"/>
        <property name="FormDefinitionDeployService" ref="FormDefinitionDeployService"/>
      </object>
      <object type="pages/workflows/workflowIndex.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="workflowResourceService" ref="workflowResourceService"/>
        <property name="workflowNoticeService" ref="workflowNoticeService"/>
      </object>
      <object type="pages/workflows/config/configWorkflow.aspx" >
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="workflowRoleService" ref="workflowRoleService"/>
      </object>
      <object type="pages/workflows/config/configHistoryWorkflow.aspx" >
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>
      <object type="pages/workflows/config/configActivity.aspx" >
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowFieldService" ref="workflowFieldService"/>
        <property name="workflowRoleService" ref="workflowRoleService"/>
        <property name="rootNodeName" value="广东移动潮州分公司"/>
        <property name="rootDeptId" value="3297681318"/>
        <property name="expandDeptId" value="3297681318"/>
      </object>
      <object type="pages/workflows/config/configReview.aspx" >
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
      </object>
      <object type="pages/workflows/config/IntelligentRemind.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>
      <object type="pages/workflows/config/RemindTime.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>
		<object type="pages/workflows/config/configUser.aspx" >
			<property name="workflowResourceService" ref="workflowResourceService"/>
		</object>
      <object type="pages/workflows/config/configactivityremark.aspx" >
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
      </object>

      <object type="pages/workflows/config/configActivityRules.aspx" >
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <!--<property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowFieldService" ref="workflowFieldService"/>-->
        <property name="activityRulesService" ref="activityRulesService"/>
      </object>
      
      <object type="pages/workflows/config/ConfigWorkflowRelation.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>

      <object type="pages/workflows/config/ConfigWorkflowRelationExt.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityRulesService" ref="activityRulesService"/>
      </object>
      
      <object type="pages/workflows/ajax/RulesAjax.aspx" >
        <property name="activityRulesService" ref="activityRulesService"/>
      </object>

      <object type="pages/workflows/designer/flowdesign.aspx" >
        <property name="activitySetService" ref="activitySetService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        
      </object>
      <object type="pages/workflows/designer/Flowdesign/ModalDialog/WorkflowProfile.ascx" >
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="workflowRoleService" ref="workflowRoleService"/>
      </object>
      <object type="pages/workflows/designer/Flowdesign/Ajax/ProcessdataAjax.aspx" >
        <property name="activitySetService" ref="activitySetService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="activityRulesService" ref="activityRulesService"/>
      </object>
      <object type="pages/workflows/designer/Flowdesign/ModalDialog/attribute.aspx" >
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowFieldService" ref="workflowFieldService"/>
        <property name="workflowRoleService" ref="workflowRoleService"/>
        <property name="activityRulesService" ref="activityRulesService"/>
      </object>
      <!-- report -->
      <object type="pages/workflows/controls/ActivityStat.ascx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="reportService" ref="reportService"/>
        <property name="workflowReportService" ref="workflowReportService"/>
        <property name="workflowResourceService" ref="workflowResourceService"/>
      </object>      
      <object type="pages/workflows/controls/WorkflowBusinessStat.ascx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="workflowResourceService" ref="workflowResourceService"/>
        <property name="formInstanceService" ref="formInstanceService"/>
        <property name="workflowReportService" ref="workflowReportService"/>
        <property name="dataListInstanceService" ref="dataListInstanceService"/>
        <property name="itemDataListSettingService" ref="itemDataListSettingService"/>
        <property name="dataListDefinitionService" ref="dataListDefinitionService"/>
        <property name="formDefinitionService" ref="formDefinitionService"/>
      </object>
      <object type="pages/workflows/controls/WorkflowDetailStat.ascx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="workflowResourceService" ref="workflowResourceService"/>
        <property name="workflowReportService" ref="workflowReportService"/>
      </object>
      <object type="pages/workflows/controls/WorkflowCommentStat.ascx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="workflowResourceService" ref="workflowResourceService"/>
        <property name="workflowReportService" ref="workflowReportService"/>
      </object>
      <object type="pages/workflows/report/WorkflowList.aspx">
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowReportService" ref="workflowReportService"/>
      </object>
      <object type="pages/workflows/report/DataListInfoDetail.aspx">
        <property name="formDefinitionService" ref="formDefinitionService"/>
        <property name="dataListInstanceService" ref="dataListInstanceService"/>
        <property name="itemDataListSettingService" ref="itemDataListSettingService"/>
        <property name="dataListDefinitionService" ref="dataListDefinitionService"/>
      </object>
      <object type="pages/workflows/report/ReportTimeRataState.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>
      <!--report end-->

      <!--智能提醒-->
      <object type="pages/workflows/config/ConfigIntelligentRemind.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>

      <object type="pages/workflows/config/ConfigIntelligentRemindNotice.aspx" >
        <property name="taskAssignService" ref="taskAssignService"/>
      </object>
      <!--智能提醒end-->

      <!--运维功能begin-->
      <object type="pages/workflows/extension/workflowHelper.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="activityService" ref="activityService"/>
        <property name="roleService" ref="roleService"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="workflowEngine" ref="workflowEngine"/>
      </object>
      <object type="pages/workflows/maintenance/search.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowSearcher" ref="workflowSearcher"/>
        <property name="workflowMaintenanceService" ref="workflowMaintenanceService"/>
      </object>
      <object type="pages/workflows/maintenance/process.aspx" >
        <property name="workflowEngine" ref="workflowEngine"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="activityService" ref="activityService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="activityAllocationService" ref="activityAllocationService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowFormService" ref="workflowFormService"/>
        <property name="activityExecutionContextHandler" ref="activityExecutionContextHandler"/>
        <property name="workflowUIProfile" ref="workflowUIProfile"/>
        <property name="workflowReviewService" ref="workflowReviewService"/>
        <property name="reviewPending" ref="reviewPending"/>
        <property name="FormInstanceService" ref="FormInstanceService"/>
        <property name="getOuterDataHandler" ref="getOuterDataHandler"/>
        <property name="dataListInstanceService" ref="dataListInstanceService"/>
        <property name="workflowMaintenanceService" ref="workflowMaintenanceService"/>
      </object>
      <object type="pages/workflows/maintenance/ProcessHistoryEditorLoader.ascx" >
        <property name="workflowMaintenanceService" ref="workflowMaintenanceService"/>
      </object>
      <object type="pages/workflows/maintenance/workflowhelper.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
      </object>
      <object type="pages/workflows/maintenance/transfertask.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowSearcher" ref="workflowSearcher"/>
        <property name="workflowMaintenanceService" ref="workflowMaintenanceService"/>
      </object>
      <!--运维功能end-->
      
    </objects>
  </spring>
</configuration>
