<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>

    <!--<sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.AutoNamedContextHandler, Tools" />
    </sectionGroup>-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!--<spring>
    <context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
      -->
  <!-- ... -->
  <!--
    </context>
  </spring>-->
  <!--172.17.21.100 CZManageSystem  10.1.20.142 CZMS_new-->
  <connectionStrings>
    <!--<add name="SqlConnection" connectionString="Data Source=WEIBINLONG\WBL;Initial Catalog=CZMS_new;User ID=sa;Password=sa123;Persist Security Info=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
    <add name="SqlConnection" connectionString="Data Source=.;Initial Catalog=CZManageSystem;User ID=sa;Password=123456;Persist Security Info=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"  />
    <add name="SqlConnectionHR" connectionString="Data Source=172.17.21.100;Initial Catalog=HR;User ID=sa;Password=CzGmcc@014;Persist Security Info=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="YKTBalanceConnect" connectionString="Data Source=172.17.21.100;Initial Catalog=czzh;User ID=sa;Password=CzGmcc@014;Persist Security Info=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--SSO相关的设置  消息通知参数设置-->
    <!--<add key="__SystemID__" value="CZ_TEF" />
    <add key="__SysAccount__" value="ef" />
    <add key="__SysPassword__" value="" />
    <add key="__IgnoredUrl__" value="?!ValidateToken.aspx" />
    <add key="__CompanyCode__" value="CZ" />-->
    <add key="__SystemID__" value="CZPAC_ACCESSRIGHT" />
    <add key="__SysAccount__" value="xtczpac" />
    <add key="__SysPassword__" value="CZPAC2016xt" />
    <add key="__IgnoredUrl__" value="?!ValidateToken.aspx" />
    <add key="__CompanyCode__" value="CZ" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SSO_Login" value="http://tiap.cz.gmcc.net/sys/iaplogin.aspx" />
    <add key="SSOLoginUrl" value="http://portal-app2.gmcc.net/uipservice2/uipservice" />
    <!--流程易中配置系统信息 9c687feb-3cb5-454c-b760-150c7dbb0657-->
    <add key="Workflow_SystemID" value="9c687feb-3cb5-454c-b760-150c7dbb0657"/>
    <add key="Workflow_SystemAcount" value="CompositeManagement" />
    <add key="Workflow_SystemPwd" value="123456" />
    <add key="Workflow_SystemUrl" value="http://localhost:5774/Plugins/easyflow/contrib/workflow/pages/ws/WorkflowAPIService.asmx" />
    <!--文件服务器设置-->
    <add key="url" value="http://172.17.21.100:8081/" />
    <add key="userName" value="Administrator" />
    <add key="password" value="CzGmcc@014" />
    <!--上传文件保存文件夹设置-->
    <!--基站电量管理相关上传文件保存的文件夹-->
    <add key="OGSM" value="基站附件" />
    <add key="VacationApply" value="休假申请附件" />
    <add key="ReVacationApply" value="异常休假申请附件" />
    <add key="VacationCloseApply" value="销假申请附件" />
    <add key="Knowledge" value="知识普及" />

    <!--短信平台相关参数-->
    <add key="SMS_Contention" value="Data Source=172.17.21.100;user id = sa;password=CzGmcc@014;Initial Catalog=CZ_Gateway;Max Pool Size=1000;Connect Timeout=5"/>
    <add key="SMS_Port" value="10657345220819"/>
    <add key="SMS_Type" value="FREE"/>
    <add key="SMS_State" value="1"/>
    <add key="SMS_ProName" value="SYS_spSubmitLong"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="500000" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime  targetFramework="4.5.2" requestValidationMode="2.0" executionTimeout="1000" maxRequestLength="40960000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <customErrors mode="Off" />
    <!--<httpModules> 
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
    </httpModules>-->
    <!--<httpHandlers>
      <add name="SpringPageHandler" verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
      <add name="SpringContextMonitor" verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web"/>
     </httpHandlers>-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<modules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
    </modules>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="App_Data/Dependencies" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>