
@{
    ViewBag.Title = "投资项目列表";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <script src="~/Content/Javascript/ngDialog/ngDialog.js"></script>
    <script type="text/javascript">
        $(function () {
            
        });
        var app = angular.module('ListPage', ['tm.pagination', 'ngDialog']);
        //控制器
        app.controller('PageController', ['$scope', "$filter", 'ngDialog', 'BusinessService', '$timeout', function ($scope, $filter, ngDialog, BusinessService, $timeout) {


            //参数：保留小数位数，货币符号，整数部分千位分隔符，小数分隔符
            Number.prototype.formatMoney = function (places, symbol, thousand, decimal) {
                places = !isNaN(places = Math.abs(places)) ? places : 2;
                symbol = symbol !== undefined ? symbol : "$";
                thousand = thousand || ",";
                decimal = decimal || ".";
                var number = this,
                    negative = number < 0 ? "-" : "",
                    i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
                    j = (j = i.length) > 3 ? j % 3 : 0;
                return symbol + negative + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
            };

            $scope.queryBuilder = {
            };

            //获取字典“年”
            BusinessService.getDictListByName('年').success(function (response) {
                $scope.dictYear = response.items;
            }).error(function (err) {
                box.alert("网络出错！", { icon: 'error' });
            });

            $scope.resetComData = function () {
                if ($scope.dictYear == undefined) {
                    $timeout(function () {
                        $scope.resetComData();
                    }, 100);
                }
                else {
                    $scope.queryBuilder = postData.queryBuilder;
                }
            }

            //获取列表
            var GetListData = function () {
                box.load("GetListData");
                $scope.master = false;
                choseArr = [];

                //获取最近一次查询条件
                if (parent.getPageParam != undefined)
                    postData = parent.getPageParam('@Request.Path');//根据路径获取
                if (postData == null) {
                    postData = {
                        pageIndex: $scope.paginationConf.currentPage,
                        pageSize: $scope.paginationConf.itemsPerPage,
                        queryBuilder: $scope.queryBuilder
                    };
                }
                else {
                    $scope.paginationConf.currentPage = postData.pageIndex;
                    $scope.paginationConf.itemsPerPage = postData.pageSize;
                    $scope.queryBuilder = postData.queryBuilder;
                    $scope.resetComData();
                }

                BusinessService.list(postData).success(function (response) {
                    box.ready("GetListData");
                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                    $scope.total = response.total;
                }).error(function (err) {
                    box.ready("GetListData");
                    box.alert("网络出错！", { icon: 'error' });
                });

            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };

            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);

            /*实现全选，多选操作*/
            var choseArr = new Array();
            $scope.x = false;//默认未选中
            $scope.all = function ($event) {//全选
                var isChecked = $event.target.checked;
                angular.element("[ng-model='x']").prop("checked", isChecked);
                if (isChecked == true) {
                    choseArr = [];
                    angular.forEach($scope.ListPageData, function (obj) {
                        choseArr.push(obj.ID);//此处ID名称不同的页面名称不同，需要修改
                    });
                }
                else
                    choseArr = [];
            };
            $scope.chk = function ($event, z) {//单选或者多选
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if (choseArr.indexOf(z) < 0) {
                        choseArr.push(z);
                    }
                    if (choseArr.length == $scope.ListPageData.length) {
                        $scope.master = true;
                    }
                }
                else {//取消选中
                    var index = choseArr.indexOf(z);
                    if (index > -1) {
                        choseArr.splice(index, 1);
                        $scope.master = false;
                    }
                }
            };

            $scope.query = function () {
                GetListData();
            }

            $scope.addData = function () {
                //保存最近一次的查询条件
                if (parent.pageParamList != undefined) {
                    var pageParam = { pageUrl: '@Request.Path', postData: postData };
                    parent.pageParamList.push(pageParam);
                }
                window.location.href = CurPath + 'Project/ProjectEdit';
            }


            //修改按钮
            $scope.editData = function (id) {
                var url = "";
                if (id == "" || id == undefined) { //判断是列表点击确发，还是编辑按钮确发
                    if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                        box.alert("请至少选中一条数据再操作！");
                        return;
                    };
                    url = CurPath + 'Project/ProjectEdit?ID=' + choseArr[0];
                }
                else {
                    url = CurPath + 'Project/ProjectEdit?ID=' + id;
                }
                //保存最近一次的查询条件
                if (parent.pageParamList != undefined) {
                    var pageParam = { pageUrl: '@Request.Path', postData: postData };
                    parent.pageParamList.push(pageParam);
                }
                window.location.href = url;
            };


            //删除数据
            $scope.deleteData = function () {//
                if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                    box.alert("请至少选中一条数据再操作！");
                    return;
                };

                box.confirm("确定要删除选中的" + choseArr.length + "条数据吗？", { icon: 'question' }, function (result) {
                    if (result) {
                        //调用删除服务
                        BusinessService.deleteData(choseArr).success(function (response) {
                            if (response.isSuccess) {
                                box.alert("成功删除" + response.successCount + "条数据", { icon: 'success' }); choseArr = new Array();
                                GetListData();
                            }
                            else {
                                box.alert(response.messsage.length > 0 ? response.messsage : "删除失败", { icon: 'error' });
                            }
                        }).error(function (response) { box.alert("网络出错！", { icon: 'error' }); });
                    }
                });
            };

            //导入按钮
            $scope.fileDialog = function () {
                var _type = 'InvestProject'; //导入的类型
                var dialog = ngDialog.openConfirm({
                    title: '导入投资项目信息',
                    template: "<iframe ' frameborder='0' marginwidth='0' style='width:100%;height:100%;overflow:hidden;' src='../Import/Index?type=" + _type + "'></iframe>",
                    disableAnimation: true,
                    showClose: true,
                    plain: true,
                    width: 700,
                    height: 400,
                    top: -60,
                    preCloseCallback: function () {
                        //回调。窗口关闭后所做的事。。。。。
                        //获取会议室资料信息
                        GetListData();
                    }
                });

            };


            //显示title
            $scope.showTitle = function ($event, value) {
                ele = $event.target;
                if (!value) {
                    value = ele.innerHTML;
                }
                if (ele.offsetWidth < ele.scrollWidth) {
                    ele.title = ele.innerHTML;
                }
                else {
                    ele.title = '';
                }
            };

            //转换为金额，保留2为小数
            $scope.changeToMoney = function (value) {
                var dd = parseInt(value);
                var temp = dd.formatMoney(2, '', ',', ',');
                return temp;
            }

        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http.post(CurPath + 'Project/GetListData_Project', postData);
            };

            serive.deleteData = function (ids) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'Project/Delete_Project',
                    data: { ids: ids }
                });
            };


            //根据字典名称获取字典信息
            serive.getDictListByName = function (DDName) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'DataDictionary/GetDictListByName',
                    data: { DDName: DDName }
                });
            };
            return serive;
        }]);

    </script>
}
<div id="ng-app" ng-app="ListPage" ng-controller="PageController">
    <!--content--->
    <div class="search-mod">
        <table>
            <tr>
                <td>
                    项目编号：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ProjectID" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>
                    项目名称：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ProjectName" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>下达年份：</td>
                <td>
                    <div class="ui-input">
                        <div class="selectdrapdown">
                            <select ng-model="queryBuilder.Year" ng-options="a.value as a.text for a in dictYear" class="cell-input" style="width:80px;">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>负责部门：</td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.DpCode_Text" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>项目经理：</td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ManagerID_Text" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>
                    <div class="ui-input">
                        <a ng-click="query()" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>
                <th>下达年份</th>
                <th>计划任务书文号</th>
                <th>项目编号</th>
                <th>项目名称</th>
                <th>起止年限</th>
                <th>项目总投资(元)</th>
                <th>年度项目投资(元)</th>
                <th>项目经理</th>
            </tr>
            <tr ng-repeat="emp in ListPageData">
                <td><input type="checkbox" id="{{emp.ID}}" ng-model="x" ng-checked="x" ng-click="chk($event,emp.ID)" /></td>
                <td>{{emp.Year}}</td>
                <td><div style="width:125px;" class="divOverflow" ng-mouseenter="showTitle($event)">{{emp.TaskID}}</div></td>
                <td><div style="width:100px; color:blue;cursor:pointer;" class="divOverflow" ng-mouseenter="showTitle($event)" ng-click="editData(emp.ID)">{{emp.ProjectID}}</div></td>
                <td><div style="width:125px;" class="divOverflow" ng-mouseenter="showTitle($event)">{{emp.ProjectName}}</div></td>
                <td>{{emp.BeginEnd}}</td>
                <td style="text-align:right;">{{changeToMoney(emp.Total)}}</td>
                <td style="text-align:right;">{{changeToMoney(emp.YearTotal)}}</td>
                <td>{{emp.Manager_Text}}</td>
            </tr>
            <tr>
                <th colspan="2">合计：</th>
                <td colspan="4"></td>
                <td style="text-align:right;">{{changeToMoney(total.Total)}}</td>@**@
                <td style="text-align:right;">{{changeToMoney(total.YearTotal)}}</td>@**@
                <td></td>
            </tr>
        </table>
    </div>

    <div class="main-flip">

        <div class="the-operation1" style="float:left">
            <ul>
                <li><a ng-click="addData()" class="btn-add"><i></i>添加</a></li>
                <li><a href="javascript:void(0);" ng-click="editData()" class="btn-edit"><i></i>编辑</a></li>
                <li><a href="javascript:void(0);" ng-click="deleteData()" class="btn-del"><i></i>删除</a></li>
                <li><a ng-click="fileDialog()" class="btn-import"><i></i>导入</a></li>
                <li><a href="../Project/Download_InvestProject?queryBuilder={{queryBuilder}}" class="btn-export"><i></i>导出</a></li>
            </ul>

        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>



