
@{
    ViewBag.Title = "投资项目列表";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <script src="~/Content/Javascript/ngDialog/ngDialog.js"></script>
    <script src="~/Content/app/number.js"></script>
    <script type="text/javascript">
        var app = angular.module('ListPage', ['tm.pagination', 'ngDialog', 'number', 'datePicker']);
        //控制器
        app.controller('PageController', ['$scope', "$filter", 'ngDialog', 'BusinessService', function ($scope, $filter, ngDialog, BusinessService) {
            $scope.queryBuilder = {
            };

            //获取字典“年”
            BusinessService.getDictListByName('年').success(function (response) {
                $scope.dictYear = response.items;
            }).error(function (err) {
                box.alert("网络出错！", { icon: 'error' });
            });

            //获取列表
            var GetListData = function () {
                box.load("GetListData");
                $scope.master = false;
                choseArr = [];
                var postData = {
                    pageIndex: $scope.paginationConf.currentPage,
                    pageSize: $scope.paginationConf.itemsPerPage,
                    queryBuilder: $scope.queryBuilder
                }
                BusinessService.list(postData).success(function (response) {
                    box.ready("GetListData");
                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                    $scope.total = response.total;
                }).error(function (err) {
                    box.ready("GetListData");
                    box.alert("网络出错！", { icon: 'error' });
                });

            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };

            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);

            /*实现全选，多选操作*/
            var choseArr = new Array();
            $scope.x = false;//默认未选中
            $scope.all = function ($event) {//全选
                var isChecked = $event.target.checked;
                angular.element("[ng-model='x']").prop("checked", isChecked);
                if (isChecked == true) {
                    choseArr = [];
                    angular.forEach($scope.ListPageData, function (obj) {
                        choseArr.push(obj.ID);//此处ID名称不同的页面名称不同，需要修改
                    });
                }
                else
                    choseArr = [];
            };
            $scope.chk = function ($event, z) {//单选或者多选
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if (choseArr.indexOf(z) < 0) {
                        choseArr.push(z);
                    }
                    if (choseArr.length == $scope.ListPageData.length) {
                        $scope.master = true;
                    }
                }
                else {//取消选中
                    var index = choseArr.indexOf(z);
                    if (index > -1) {
                        choseArr.splice(index, 1);
                        $scope.master = false;
                    }
                }
            };

            $scope.query = function () {
                GetListData();
            }


        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http.post(CurPath + 'Project/GetListData_ProjectQuery', postData);
            };


            //根据字典名称获取字典信息
            serive.getDictListByName = function (DDName) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'DataDictionary/GetDictListByName',
                    data: { DDName: DDName }
                });
            };
            return serive;
        }]);

    </script>
}
<div id="ng-app" ng-app="ListPage" ng-controller="PageController">
    <!--content--->
    <div class="search-mod">
        <table>
            <tr>
                <td>下达年份：</td>
                <td>
                    <div class="ui-input">
                        <div class="selectdrapdown">
                            <select ng-model="queryBuilder.Year" ng-options="a.value as a.text for a in dictYear" class="cell-input" style="width:80px;">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td>计划任务书文号：</td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.TaskID" class="cell-input" style="width:145px;" />
                    </div>
                </td>
                <td>
                    <div class="ui-input">
                        <a ng-click="query()" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    项目编号：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ProjectID" class="cell-input" style="width:145px;" />
                    </div>
                </td>
                <td>
                    项目名称：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ProjectName" class="cell-input" style="width:145px;" />
                    </div>
                </td>
                <td>
                    <div class="ui-input">
                        <a href="../Project/Download_InvestProjectQuery?queryBuilder={{queryBuilder}}" class="cell-btn-blue" style="*margin-bottom:8px;">导出</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>项目总投资(元)：</td>
                <td>
                    <div class="ui-input">
                        <input type="text" number precision="2" ng-model="queryBuilder.Total_start" class="cell-input" style="width:50px;" />
                        <span style="margin:0px 5px;">至</span>
                        <input type="text" number precision="2" ng-model="queryBuilder.Total_end" class="cell-input" style="width:50px;" />
                    </div>
                </td>
                <td>年度项目投资(元)：</td>
                <td>
                    <div class="ui-input">
                        <input type="text" number precision="2" ng-model="queryBuilder.YearTotal_start" class="cell-input" style="width:50px;" />
                        <span style="margin:0px 5px;">至</span>
                        <input type="text" number precision="2" ng-model="queryBuilder.YearTotal_end" class="cell-input" style="width:50px;" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    起止年限：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.BeginEnd" class="cell-input" style="width:145px;" />
                    </div>
                </td>
                <td>
                    年度建设内容：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.Content" class="cell-input" style="width:145px;" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    要求完成时限：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.FinishDate" class="cell-input" style="width:145px;" />
                    </div>
                </td>
                <td>负责专业室：</td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.DpCode_Text" class="cell-input" style="width:145px;" />
                    </div>
                </td>
            </tr>

            <tr>
                <td>室负责人：</td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.UserID_Text" class="cell-input" style="width:145px;" />
                    </div>
                </td>
                <td>项目经理：</td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ManagerID_Text" class="cell-input" style="width:145px;" />
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th style="display:none;"><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>
                <th>项目编号</th>
                <th>项目名称</th>
                <th>项目总投资(元)</th>
                <th>年度项目投资(元)</th>
                <th>项目经理</th>
                <th>合同签订金额(元)</th>
                <th>暂估金额(元)</th>
                <th>已付款金额(元)</th>
                <th>已到货接受金额(元)</th>
                <th>资本开支金额(元)</th>
                <th>资本开支率(%)</th>
                <th>年度考核资本开支(元)</th>
                <th>年度考核资本开支率(%)</th>
                <th>转资率(%)</th>

            </tr>
            <tr ng-repeat="emp in ListPageData">
                <td style="display:none;"><input type="checkbox" id="{{emp.ID}}" ng-model="x" ng-checked="x" ng-click="chk($event,emp.ID)" /></td>
                <td>{{emp.ProjectID}}</td>
                <td>{{emp.ProjectName}}</td>
                <td>{{emp.Total}}</td>
                <td>{{emp.YearTotal}}</td>
                <td>{{emp.ManagerID_Text}}</td>
                <td>{{emp.SignTotal}}</td>
                <td>{{emp.NotPay}}</td>
                <td>{{emp.Pay}}</td>
                <td>{{emp.MISMoney}}</td>
                <td>{{emp.MustPay}}</td>
                <td>{{emp.ProjectRate}}</td>
                <td>{{emp.YearMustPay}}</td>
                <td>{{emp.YearRate}}</td>
                <td>{{emp.TransferRate}}</td>
            </tr>
            <tr>
                <th colspan="2">合计：</th>
                <td>{{total.Total}}</td>
                <td>{{total.YearTotal}}</td>
                <td colspan="2"></td>
                <td>{{total.NotPay}}</td>
                <td>{{total.Pay}}</td>
                <td>{{total.MISMoney}}</td>
                <td>{{total.MustPay}}</td>
                <td colspan="1"></td>
                <td>{{total.YearMustPay}}</td>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>

    <div class="main-flip">
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>



