
@{
    ViewBag.Title = "休假申请编辑页_WF";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <script src="~/Content/app/number.js"></script>
    <link href="~/Content/Javascript/Uploadify/uploadify.css" rel="stylesheet" />
    <script src="~/Content/Javascript/Uploadify/jquery.uploadify-3.1.min.js"></script>
    <script src="~/Content/app/filesuploadify.js"></script>
    <script src="~/Content/Javascript/ngDialog/ngDialog.js"></script>
    <script>


        var app = angular.module('CreateOrUpdate', ['number', 'datePicker', 'filesuploadify', 'ngDialog']);
        app.config(['$locationProvider', function ($locationProvider) {
            $locationProvider.html5Mode(true);
        }]);
        app.controller('CreateController', ['$scope', 'BusinessService', '$filter', '$timeout', 'ngDialog', function ($scope, BusinessService, $filter, $timeout, ngDialog) {
            var ApplyID = '@ViewData["ApplyID"]';
            $scope.curObj = {
                Apply: {},
                Meeting: {},
                Courses: {},
                Teaching: {},
                Other: {},
                Attachments: {}
            }
            $scope.ActivitiesCompleted = [];
            
            var getCurData = false;
            var getData = function () {
                BusinessService.getDataByID(ApplyID).success(function (response) {
                    $scope.curObj = response;

                    if ($scope.curObj.Meeting == null) $scope.curObj.Meeting = {};
                    if ($scope.curObj.Courses == null) $scope.curObj.Courses = {};
                    if ($scope.curObj.Meeting == null) $scope.curObj.Meeting = {};
                    if ($scope.curObj.Teaching == null) $scope.curObj.Teaching = {};
                    if ($scope.curObj.Other == null) $scope.curObj.Other = {};
                    if ($scope.curObj.Attachments == null) $scope.curObj.Attachments = {};

                    if ($scope.curObj.Apply.StartTime) $scope.curObj.Apply.StartTime = $scope.curObj.Apply.StartTime.replace('T', ' ');
                    if ($scope.curObj.Apply.EndTime) $scope.curObj.Apply.EndTime = $scope.curObj.Apply.EndTime.replace('T', ' ');
                    if ($scope.curObj.Apply.EditTime) $scope.curObj.Apply.EditTime = $scope.curObj.Apply.EditTime.replace('T', ' ');
                    if ($scope.curObj.Meeting.StartTime) $scope.curObj.Meeting.StartTime = $scope.curObj.Meeting.StartTime.replace('T', ' ');
                    if ($scope.curObj.Meeting.EndTime) $scope.curObj.Meeting.EndTime = $scope.curObj.Meeting.EndTime.replace('T', ' ');
                    if ($scope.curObj.Courses.StartTime) $scope.curObj.Courses.StartTime = $scope.curObj.Courses.StartTime.replace('T', ' ');
                    if ($scope.curObj.Courses.EndTime) $scope.curObj.Courses.EndTime = $scope.curObj.Courses.EndTime.replace('T', ' ');
                    if ($scope.curObj.Teaching.StartTime) $scope.curObj.Teaching.StartTime = $scope.curObj.Teaching.StartTime.replace('T', ' ');
                    if ($scope.curObj.Teaching.EndTime) $scope.curObj.Teaching.EndTime = $scope.curObj.Teaching.EndTime.replace('T', ' ');
                    if ($scope.curObj.Other.StartTime) $scope.curObj.Other.StartTime = $scope.curObj.Other.StartTime.replace('T', ' ');
                    if ($scope.curObj.Other.EndTime) $scope.curObj.Other.EndTime = $scope.curObj.Other.EndTime.replace('T', ' ');

                    //获取流程步骤执行情况信息
                    if ($scope.curObj.Apply.WorkflowInstanceId != null && $scope.curObj.Apply.WorkflowInstanceId != '')
                        BusinessService.getActivitiesCompletedByID($scope.curObj.Apply.WorkflowInstanceId).success(function (response2) {
                            $scope.ActivitiesCompleted = response2.items;
                        })

                }).error(function (response) {
                    box.alert("网络出错！", { icon: 'error' });
                }).then(function () { getCurData = true; });
            }

            //获取当前数据
            if (ApplyID != null && ApplyID.toString().length > 0) {
                getData();
            }
            else {
                getCurData = true;
            }

            //设置相关的配置信息
            var setConfigureData = function () {
                $timeout(function () {
                    if (getCurData) {
                        //获取字典“休假类型”
                        BusinessService.getDictListByName('休假类型').success(function (response) {
                            $scope.dictVacationType = response.items;
                            $timeout(function () {
                                if (!$scope.curObj.Apply.VacationType && !!response.defaultvalue) {
                                    $scope.curObj.Apply.VacationType = response.defaultvalue;
                                }
                            }, 1);
                        }).error(function (err) {
                            box.alert("网络出错！", { icon: 'error' });
                        });

                        //获取字典“公假类型”
                        BusinessService.getDictListByName('公假类型').success(function (response) {
                            $scope.dictVacationClass = response.items;
                            $timeout(function () {
                                if (!$scope.curObj.Apply.VacationClass && !!response.defaultvalue) {
                                    $scope.curObj.Apply.VacationClass = response.defaultvalue;
                                }
                            }, 1);
                        }).error(function (err) {
                            box.alert("网络出错！", { icon: 'error' });
                        });

                        //获取字典“培训-课程类别”
                        BusinessService.getDictListByName('培训课程').success(function (response) {
                            $scope.dictCoursesType = response.items;
                            $timeout(function () {
                                if (!$scope.curObj.Courses.CoursesType && !!response.defaultvalue) {
                                    $scope.curObj.Courses.CoursesType = response.defaultvalue;
                                }
                            }, 1);
                        }).error(function (err) {
                            box.alert("网络出错！", { icon: 'error' });
                        });

                        //获取字典“培训-主办单位”
                        BusinessService.getDictListByName('主办单位').success(function (response) {
                            $scope.dictProvinceCity = response.items;
                            $timeout(function () {
                                if (!$scope.curObj.Courses.ProvinceCity && !!response.defaultvalue) {
                                    $scope.curObj.Courses.ProvinceCity = response.defaultvalue;
                                }
                            }, 1);
                        }).error(function (err) {
                            box.alert("网络出错！", { icon: 'error' });
                        });

                        //获取字典“内部讲师授课-讲师级别”
                        BusinessService.getDictListByName('讲师级别').success(function (response) {
                            $scope.dictTeacherType = response.items;
                            $timeout(function () {
                                if (!$scope.curObj.Teaching.TeacherType && !!response.defaultvalue) {
                                    $scope.curObj.Teaching.TeacherType = response.defaultvalue;
                                }
                            }, 1);
                        }).error(function (err) {
                            box.alert("网络出错！", { icon: 'error' });
                        });

                    }
                    else {
                        setConfigureData();
                    }
                }, 100);
            }
            setConfigureData();//设置相关的配置信息


            //修改休假类型事件
            var resetVacationType = function () {
                $(".gongjia,.kaihui,.peixun,.shouke,.qita").hide();
                if ($scope.curObj.Apply.VacationType == "公假")
                    $(".gongjia").show();
                else {
                    $scope.curObj.Apply.VacationClass = "";
                    $scope.curObj.Apply.OutAddress = "";
                }
            }
            //修改公假类型事件
            var resetVacationClass = function () {
                $(".kaihui,.peixun,.shouke,.qita").hide();
                switch ($scope.curObj.Apply.VacationClass) {
                    case '开会': $(".kaihui").show(); break;
                    case '培训': $(".peixun").show(); break;
                    case '内部讲师授课': $(".shouke").show(); break;
                    case '其他': $(".qita").show(); break;
                    default: break;
                }
            }


            $scope.$watch('curObj.Apply.VacationType', resetVacationType);
            $scope.$watch('curObj.Apply.VacationClass', resetVacationClass);


        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            
            serive.getDataByID = function (id) {//根据入库单ID获取数据
                return $http({
                    method: 'POST',
                    url: CurPath + 'VacationApply/GetDataByID_Apply?id=' + id
                });
            };


            serive.getActivitiesCompletedByID = function (id) {//根据入库单ID获取数据
                return $http({
                    method: 'POST',
                    url: CurPath + 'Workflow/GetActivitiesCompletedByID?WorkflowInstanceId=' + id
                });
            };

            //根据字典名称获取字典信息
            serive.getDictListByName = function (DDName) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'DataDictionary/GetDictListByName',
                    data: { DDName: DDName }
                });
            };
            //删除附件
            serive.deleteUpload = function (id) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'Upload/FileUploadDelete/' + id
                });
            };
            //查询附件信息
            serive.getAttachmentDataByID = function (id) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'Upload/GetOGSMDataByID/' + id
                });
            };
            return serive;
        }]);


    </script>
    <style>
        .the-operation1 ul li a {
            padding: 0px;
        }

        .public-form {
            margin-bottom: 0px;
            margin-top: 20px;
        }

        .main-flip {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .cell-input-data {
            width: 120px;
        }

        .cell-input {
            width: 120px;
        }

        .selectdrapdown select.cell-input {
            width: 140px;
        }

        .public-form table tr th {
            width: 13%;
        }
        
        .WF_Table{width:100%;border: 1px solid #EAEAEA;border-width: 1px 0px 0px 1px;border-collapse:collapse;}
        .WF_Table tr th{background:white;padding:7px;font-weight: bold;border: 1px solid #EAEAEA;border-width: 0px 1px 1px 0px;text-align: center;}
        .WF_Table tr td{padding:5px;border: 1px solid #EAEAEA;border-width: 0px 1px 1px 0px; width:35%;}
        .WF_Table tr th {background:#F4F4F4; width:15%;}
    </style>
}
<!--公告编辑--->

<div xmlns:ng="http://angularjs.org">
    <form action="" method="post" id="ng-app" ng-app="CreateOrUpdate" ng-controller="CreateController" name="editForm" novalidate>
        <div >
            <table class="WF_Table">
                <tr>
                    <th>标题：</th>
                    <td colspan="3" ng-bind="curObj.Apply.ApplyTitle">
                    </td>
                </tr>
                <tr>
                    <th>单号：</th>
                    <td>{{(curObj.Apply.State==null||curObj.Apply.State==0)?'(提交时自动生成)':curObj.Apply.ApplySn}}</td>
                    <th class="editWithout">所在部门：</th>
                    <td class="editWithout" ng-bind="curObj.Apply.DeptName"></td>
                </tr>
                <tr class="editWithout">
                    <th>申请人：</th>
                    <td ng-bind="curObj.Apply.Editor_Text"></td>
                    <th>手机号码：</th>
                    <td ng-bind="curObj.Apply.Mobile"></td>
                </tr>
                <tr>
                    <th>休假类型:</th>
                    <td ng-bind=".Apply.VacationType">
                    </td>
                    <th>休假天数:</th>
                    <td ng-bind="curObj.Apply.PeriodTime"></td>
                </tr>
                <tr>
                    <th>休假开始时间:</th>
                    <td ng-bind="curObj.Apply.StartTime">
                    </td>
                    <th>休假结束时间:</th>
                    <td ng-bind="curObj.Apply.EndTime">
                    </td>
                </tr>
                <tr>
                    <th>休假事由:</th>
                    <td colspan="3" ng-bind="curObj.Apply.Reason">
                    </td>
                </tr>
                <tr class="gongjia">
                    <th>公假类型:</th>
                    <td ng-bind="curObj.Apply.VacationClass">
                    </td>
                    <th>外出地点:</th>
                    <td ng-bind="curObj.Apply.OutAddress">
                    </td>
                </tr>

                <tr class="kaihui">
                    <th>会议开始时间:</th>
                    <td ng-bind="curObj.Meeting.StartTime">
                    </td>
                    <th>会议结束时间:</th>
                    <td ng-bind="curObj.Meeting.EndTime">
                    </td>
                </tr>
                <tr class="kaihui">
                    <th>会议天数:</th>
                    <td colspan="3" ng-bind="curObj.Meeting.PeriodTime">
                    </td>
                </tr>
                <tr class="kaihui">
                    <th>会议名称:</th>
                    <td colspan="3" ng-bind="curObj.Meeting.MeetingName">
                    </td>
                </tr>
                <tr class="kaihui">
                    <th>备注:</th>
                    <td colspan="3" ng-bind="curObj.Meeting.Remark">
                    </td>
                </tr>

                <tr class="peixun">
                    <th>培训开始时间:</th>
                    <td ng-bind="curObj.Courses.StartTime">
                    </td>
                    <th>培训结束时间:</th>
                    <td ng-bind="curObj.Courses.EndTime">
                    </td>
                </tr>
                <tr class="peixun">
                    <th>培训天数:</th>
                    <td ng-bind="curObj.Courses.PeriodTime">
                    </td>
                    <th>课程类别:</th>
                    <td ng-bind="curObj.Courses.CoursesType">
                    </td>
                </tr>
                <tr class="peixun">
                    <th>课程名称:</th>
                    <td colspan="3" ng-bind="curObj.Courses.CoursesName">
                    </td>

                </tr>
                <tr class="peixun">
                    <th>主办单位:</th>
                    <td colspan="3" ng-bind="curObj.Courses.ProvinceCity">
                    </td>
                </tr>
                <tr class="peixun">
                    <th>备注:</th>
                    <td colspan="3" ng-bind="curObj.Courses.Remark">
                    </td>
                </tr>

                <tr class="shouke">
                    <th>授课开始时间:</th>
                    <td ng-bind="curObj.Teaching.StartTime">
                    </td>
                    <th>授课结束时间:</th>
                    <td ng-bind="curObj.Teaching.EndTime">
                    </td>
                </tr>
                <tr class="shouke">
                    <th>授课天数:</th>
                    <td ng-bind="curObj.Teaching.PeriodTime">
                    </td>
                    <th>讲师级别:</th>
                    <td ng-bind="curObj.Teaching.TeacherType">
                    </td>
                </tr>
                <tr class="shouke">
                    <th>授课课程名称:</th>
                    <td colspan="3" ng-bind="curObj.Teaching.TeachingPlan">
                    </td>

                </tr>
                <tr class="shouke">
                    <th>备注:</th>
                    <td colspan="3" ng-bind="curObj.Teaching.Remark">
                    </td>
                </tr>

                <tr class="qita">
                    <th>事件开始时间:</th>
                    <td ng-bind="curObj.Other.StartTime">
                    </td>
                    <th>事件结束时间:</th>
                    <td ng-bind="curObj.Other.EndTime">
                    </td>
                </tr>
                <tr class="qita">
                    <th>事件天数:</th>
                    <td colspan="3" ng-bind="curObj.Other.PeriodTime">
                    </td>
                </tr>
                <tr class="qita">
                    <th>事件名称:</th>
                    <td colspan="3" ng-bind="curObj.Teaching.OtherName">
                    </td>
                </tr>
                <tr class="qita">
                    <th>备注:</th>
                    <td colspan="3" ng-bind="curObj.Other.Remark">
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align:top;">申请证明:</th>
                    <td colspan="3">
                        <div class="attachemnt-table" ng-show="curObj.Attachments.length>0">
                            <table id="AttachmentTable" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="350px">附件名称</td>
                                    <td>附件大小</td>
                                </tr>
                                <tr ng-repeat="x in curObj.Attachments">
                                    <td style="text-align:left;" width="350px">
                                        <a class="ico_download" style="color: Blue;" ng-href="/Upload/FileDownload?id={{x.Id}}" title="点击下载">{{x.FileName}}</a>
                                    </td>
                                    <td>{{x.FileSize}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </form>
</div>
<!--公告编辑 end--->
