
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <script src="~/Content/app/datePicker.js"></script>
    <!--[弹出层]-->
    <script src="~/Content/Javascript/ngDialog/ngDialog.js"></script>
    <!--[弹出层end]-->
    <script type="text/javascript">
        var app = angular.module('ListPage', ['tm.pagination', 'datePicker', 'ngDialog']);
        //控制器
        app.controller('BirthControlLogController', ['$scope', "$filter", 'BusinessService', 'ngDialog', function ($scope, $filter, BusinessService, ngDialog) {
            $scope.queryBuilder = {
                UserName: "",
                OpType: ""
            };
            //获取列表
            var GetListData = function () {
                box.load("GetListData");
                queryBuilder: $scope.queryBuilder
                var postData = {
                    pageIndex: $scope.paginationConf.currentPage,
                    pageSize: $scope.paginationConf.itemsPerPage,
                    queryBuilder: $scope.queryBuilder
                }
                BusinessService.list(postData).success(function (response) {
                    box.ready("GetListData");
                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                }).error(function (err) {
                    box.ready("GetListData");
                    box.alert("网络出错！", { icon: 'error' });
                });
            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };
            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);           

            $scope.query = function () {
                GetListData();
            }
        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http.post(CurPath + 'BirthControlLog/GetListData', postData);
            };
            return serive;
        }]);
        app.filter("jsonDate", function ($filter) {
            return function (input, format) {
                //从字符串 /Date(1448864369815)/ 得到时间戳 1448864369815
                var timestamp = Number(input.replace(/\/Date\((\d+)\)\//, "$1"));
                //转成指定格式
                return $filter("date")(timestamp, format);
            };
        });


    </script>
    <style>
        .cell-input {
            width: 80px;
        }
    </style>
}


<div id="ng-app" ng-app="ListPage" ng-controller="BirthControlLogController">
    <!--content--->
    <div class="search-mod" style="height:30px;">
        <table>
            <tr>
                <td>操作人：</td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.UserName" class="cell-input" style="width:120px;" />
                    </div>
                </td> 
                <td>
                    编辑状态：
                </td>
                <td>
                    <div class="ui-input">
                        <div class="selectdrapdown">
                            <select class="cell-input" ng-model="queryBuilder.OpType" style="width:70px;">
                                <option value="">全部</option>
                                <option value="新增">新增</option>
                                <option value="编辑">编辑</option>
                                <option value="导入">导入</option>
                                <option value="删除">删除</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ui-input">
                        <a ng-click="query()" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>操作人</th>
                <th>IP地址</th>
                <th>操作类型</th>
                <th>操作时间</th>
                <th>描述</th>
            </tr>
            <tr ng-repeat="emp in ListPageData">
                <td ng-bind="emp.UserName"></td>
                <td ng-bind="emp.UserIp"></td>
                <td ng-bind="emp.OpType"></td>
                <td ng-bind="emp.OpTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td ng-bind="emp.Description"></td>
            </tr>

        </table>
    </div>

    <div class="main-flip">
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>

