<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net" >
  <description>czmcc</description>

  <object id="StateDealWithHandler"
          type="Botwave.Workflow.Practices.CZMCC.Service.Impl.StateDealWithHandler, Botwave.Workflow.Practices">
    <property name="activityService" ref="ActivityService"/>
    <property name="workflowService" ref="WorkflowService"/>
    <property name="WorkflowDefinitionService" ref="WorkflowDefinitionService"/>
    <property name="activityDefinitionService" ref="ActivityDefinitionService"/>
    <property name="next" ref="xqpPostActivityExecutionHandler" />
  </object>
  
  <object id="gratuityService"
          type="Botwave.Workflow.Practices.CZMCC.GratuityService, Botwave.Workflow.Practices">
    <property name="userService" ref="UserService"/>
    <property name="workflowDefinitionService" ref="WorkflowDefinitionService"/>
    <property name="activityDefinitionService" ref="ActivityDefinitionService"/>
    <property name="postActivityExecutionMessageHandler" ref="postActivityExecutionMessageHandler"/>
  </object>
  
</objects>
