<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <spring>
    <context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
      <resource uri="config://spring/objects"/>
      <!--<resource uri="objects.config"/>-->
    </context>
    <objects xmlns="http://www.springframework.net" >

      <object type="pages/BeReadPush.aspx" >
        <property name="workflowService" ref="workflowService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="workflowUserService" ref="workflowUserService"/>
        <property name="activityService" ref="activityService"/>
      </object>
      <object type="pages/WorkflowRelationPopup.aspx" >
        <property name="workflowSearcher" ref="workflowSearcher"/>
      </object>
    </objects>
  </spring>
</configuration>
