<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" >
  <description>bw-security</description>
  
  <object type="Botwave.Security.LoginHelper">
    <property name="userService" ref="userService"/>
    <property name="resourceService" ref="resourceService"/>
  </object>

  <!--<object id="authService"
          type="Botwave.Security.DefaultAuthService, Botwave.Security">
  </object>-->
  
  <object id="authService"
          type="Botwave.Workflow.Practices.CZMCC.Support.DefaultAuthService, Botwave.Workflow.Practices">
    <property name="userService" ref="userService"/>
    <property name="resourceService" ref="resourceService"/>
  </object>

  <!--<object id="loginEventListener"
          type="Botwave.Security.LoginEventListener, Botwave.Security">
  </object>

  <object id="logoutEventListener"
          type="Botwave.Security.LogoutEventListener, Botwave.Security">
  </object>-->

  <object id="userService"
          type="Botwave.Security.IBatisNet.UserService, Botwave.Security.IBatisNet">
  </object>
  
  <object id="roleService"
          type="Botwave.Security.IBatisNet.RoleService, Botwave.Security.IBatisNet">
  </object>
  
  <object id="resourceService"
          type="Botwave.Security.IBatisNet.ResourceService, Botwave.Security.IBatisNet">
  </object>

  <object id="authorizeService"
          type="Botwave.Security.IBatisNet.AuthorizeService, Botwave.Security.IBatisNet">
  </object>

  <object id="departmentService"
          type="Botwave.Security.IBatisNet.DepartmentService, Botwave.Security.IBatisNet">
  </object>  
</objects>

