
@{
    ViewBag.Title = "已终止的暂估条目";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <script src="~/Content/app/datePicker.js"></script>
    <script src="~/Content/Javascript/ngDialog/ngDialog.js"></script>
    <script type="text/javascript">
        var app = angular.module('ListPage', ['tm.pagination', 'datePicker', 'ngDialog']);
        //控制器
        app.controller('ProjectPayController', ['$scope', "$filter", 'BusinessService', 'ngDialog', function ($scope, $filter, BusinessService, ngDialog) {
            $scope.queryBuilder = {
            };

            //获取列表
            var GetListData = function () {
                box.load("GetListData");
                $scope.master = false;
                choseArr = [];
                $scope.queryBuilder.Status = "终止";
                var postData = {
                    pageIndex: $scope.paginationConf.currentPage,
                    pageSize: $scope.paginationConf.itemsPerPage,
                    queryBuilder: $scope.queryBuilder
                }
                BusinessService.list(postData).success(function (response) {
                    box.ready("GetListData");
                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                    $scope.total = response.total;
                }).error(function (err) {
                    box.ready("GetListData");
                    box.alert("网络出错！", { icon: 'error' });
                });

            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };

            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);

            /*实现全选，多选操作*/
            var choseArr = new Array();
            $scope.x = false;//默认未选中
            $scope.all = function ($event) {//全选
                var isChecked = $event.target.checked;
                angular.element("[ng-model='x']").prop("checked", isChecked);
                if (isChecked == true) {
                    choseArr = [];
                    angular.forEach($scope.ListPageData, function (obj) {
                        choseArr.push(obj.ID);//此处ID名称不同的页面名称不同，需要修改
                    });
                }
                else
                    choseArr = [];
            };
            $scope.chk = function ($event, z) {//单选或者多选
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if (choseArr.indexOf(z) < 0) {
                        choseArr.push(z);
                    }
                    if (choseArr.length == $scope.ListPageData.length) {
                        $scope.master = true;
                    }
                }
                else {//取消选中
                    var index = choseArr.indexOf(z);
                    if (index > -1) {
                        choseArr.splice(index, 1);
                        $scope.master = false;
                    }
                }
            };

            $scope.recoverData = function () {//
                if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                    box.alert("请至少选中一条数据再操作！");
                    return;
                };
                box.confirm("确定要恢复选中的" + choseArr.length + "条数据吗？", { icon: 'question' }, function (result) {
                    if (result) {
                        //调用删除服务
                        BusinessService.recoverData(choseArr).success(function (response) {
                            if (response.isSuccess) {
                                box.alert("成功恢复" + response.successCount + "条数据", { icon: 'success' });
                                GetListData();
                            }
                            else {
                                box.alert(response.messsage.length > 0 ? response.messsage : "恢复失败", { icon: 'error' });
                            }
                        }).error(function (response) { box.alert("网络出错！", { icon: 'error' }); });
                    }
                });
            };
            $scope.query = function () {
                GetListData();
            }

        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http.post(CurPath + 'ProjectPay/GetStopTempEstimateList', postData);
            };

            serive.recoverData = function (Id) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'ProjectPay/RecoverData',
                    data: {Ids: Id }
                });
            };
            return serive;
        }]);

    </script>
}
<div id="ng-app" ng-app="ListPage" ng-controller="ProjectPayController">
    <!--content--->
    <div class="search-mod">
        <table>
            <tr>
                <td>
                    暂估终止时间：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" precision="2"  id="StartTime" date-Picker ng-model="queryBuilder.StatusTime_Start"  class="cell-input" style="width:80px;" readonly/>
                        <span style="margin:0px 5px;">至</span>
                        <input type="text" precision="2" id="EndTime" date-Picker ng-model="queryBuilder.StatusTime_End" class="cell-input" style="width:80px;"readonly />
                    </div>
                </td>
                <td>
                    暂估人：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.EstimateUserName" class="cell-input" style="width:120px;" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    项目编号：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ProjectID" class="cell-input" style="width:120px;" />
                    </div>
                </td>

                <td>
                    项目名称：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ProjectName" class="cell-input" style="width:120px;" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    合同编号：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ContractID" class="cell-input" style="width:120px;" />
                    </div>
                </td>

                <td>
                    合同名称：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ContractName" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>
                    <div class="ui-input">
                        <a ng-click="query()" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>
                <th>项目编号</th>
                <th>项目名称</th>
                <th>合同编号</th>
                <th>合同名称</th>
                <th>合同金额(元)</th>
                <th>实际合同金额(元)</th>
                <th>形象进度</th>
                <th>已付款金额</th>
                <th>暂估金额</th>
                <th>暂估人</th>
                <th>终止时间</th>
            </tr>
            <tr ng-repeat="temp in ListPageData">
                <td><input type="checkbox" id="{{temp.ID}}" ng-model="x" ng-checked="x" ng-click="chk($event,temp.ID)" /></td>
                <td ng-bind="temp.ProjectID"></td>
                <td ng-bind="temp.ProjectName"></td>
                <td ng-bind="temp.ContractID"></td>
                <td ng-bind="temp.ContractName"></td>
                <td ng-bind="temp.SignTotal"></td>
                <td ng-bind="temp.PayTotal"></td>
                <td ng-bind="temp.Rate"></td>
                <td ng-bind="temp.Pay"></td>
                <td ng-bind="temp.NotPay"></td>
                <td ng-bind="temp.EstimateUserName"></td>
                <td ng-bind="temp.StatusTime|date:'yyyy-MM-dd'"></td>
            </tr>
            <tr>
                <th colspan="5">合计：</th>
                <td>{{total.SignTotalCount}}</td>
                <td>{{total.PayTotalCount}}</td>
                <td></td>
                <td>{{total.PayCount}}</td>
                <td>{{total.NotPayCount}}</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="main-flip">

        <div class="the-operation1" style="float:left">
            <ul>
                <li><a href="javascript:void(0);" ng-click="recoverData()" class="btn-ok"><i></i>恢复</a></li>
            </ul>

        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>

