<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="ResourceSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="ResourceInfo" type="Botwave.Security.Domain.ResourceInfo, Botwave.Security" />
  </alias>

  <resultMaps>
    <resultMap id="ResourceInfoResult" class="ResourceInfo">
      <result property="ResourceId" column="ResourceId"/>
      <result property="ParentId" column="ParentId"/>
      <result property="Type" column="Type"/>
      <result property="Name" column="Name"/>
      <result property="Alias" column="Alias"/>
      <result property="Enabled" column="Enabled"/>
    </resultMap>
  </resultMaps>

  <statements>
    <insert id="bw_Resources_Insert" parameterClass="ResourceInfo">
      INSERT INTO bw_Resources
      (ResourceId, ParentId, Type, Name, Alias, Enabled)
      VALUES
      (#ResourceId#, #ParentId#, #Type#, #Name#, #Alias#, #Enabled#)
    </insert>

    <update id="bw_Resources_Update" parameterClass="ResourceInfo">
      UPDATE bw_Resources SET
      ParentId = #ParentId#, Type = #Type#, Name = #Name#,
      Alias = #Alias#, Enabled = #Enabled#
      WHERE ResourceId = #ResourceId#
    </update>

    <update id="bw_Resources_Update_Enabled" parameterClass="Hashtable">
      UPDATE bw_Resources SET
      Enabled = #Enabled#
      WHERE ResourceId = #ResourceId#
    </update>

    <update id="bw_Resources_Update_Visible" parameterClass="Hashtable">
      UPDATE bw_Resources SET
      Visible = #Visible#
      WHERE ResourceId = #ResourceId#
    </update>

    <delete id="bw_Resources_Delete" parameterClass="string">
      DELETE FROM bw_Resources WHERE ResourceId = #value#
    </delete>
    
    <select id="bw_Resources_Select" parameterClass="string" resultMap="ResourceInfoResult">
      SELECT ResourceId, ParentId, Type, Name, Alias, Enabled
      FROM bw_Resources
      <dynamic prepend="where">
        <isParameterPresent>
          ResourceId = #value#
        </isParameterPresent>
      </dynamic>
      ORDER BY ResourceId
    </select>

    <select id="bw_Resources_Select_Count_ByParentId" parameterClass="string" resultClass="int">
      SELECT Count(0)
      FROM bw_Resources
      WHERE ParentId = #value#
    </select>

    <select id="bw_Resources_Select_IsExists" parameterClass="Hashtable" resultClass="int">
      SELECT COUNT(0)
      FROM bw_Resources
      WHERE (Alias = #Alias# OR Name = #Name#)
    </select>
    <select id="bw_Resources_Select_ByType" parameterClass="string" resultMap="ResourceInfoResult">
      <![CDATA[
      SELECT ResourceId, ParentId, Type, Name, Alias, Enabled
      FROM bw_Resources
      WHERE [Type] = #value# AND Enabled = 1
      ORDER BY ResourceId ASC
      ]]>
    </select>
    <select id="bw_Resources_Select_ByUserId" parameterClass="guid" resultMap="ResourceInfoResult">
      <![CDATA[
      SELECT ResourceId, ParentId, Type, Name, Alias, Enabled
      FROM bw_Resources
      WHERE ResourceId IN(
	          SELECT ResourceId FROM bw_RolesInResources rir
                  WHERE rir.RoleId IN(
		                SELECT RoleId FROM bw_UsersInRoles where UserId IN(
			                  (SELECT (#value#))
			                  UNION
			                  (
				                  SELECT ba.FromUserId FROM bw_Authorizations ba
			                      WHERE ba.Enabled = 1 AND IsFullAuthorized = 1 AND ba.BeginTime <= getdate() 
					                  AND ba.EndTime >= getdate() AND (ba.ToUserId = #value#)
			                  )
		              )
	          )
      )
      ]]>
    </select>
    
    <select id="bw_Resources_Select_ByUserName" parameterClass="Hashtable" resultMap="ResourceInfoResult">
      <![CDATA[
      SELECT ResourceId, ParentId, Type, Name, Alias, Enabled
      FROM bw_Resources
      WHERE (ResourceId LIKE '$ResourcePrefix$%') AND ResourceId IN(
	          SELECT ResourceId FROM bw_RolesInResources rir
                  WHERE rir.RoleId IN(
		                SELECT RoleId FROM bw_UsersInRoles where UserId IN(
			                  (SELECT UserId FROM bw_Users WHERE ([UserName] = #UserName#))
			                  UNION
			                  (
				                  SELECT ba.FromUserId FROM bw_Authorizations ba
			                      WHERE ba.Enabled = 1 AND IsFullAuthorized = 1 AND ba.BeginTime <= getdate() 
					                  AND ba.EndTime >= getdate() AND (ba.ToUserId = (SELECT UserId FROM bw_Users WHERE ([UserName] = #UserName#)))
			                  )
		              )
	          )
      )
      ]]>
    </select>

    <select id="bw_Resources_Select_ByParentId" parameterClass="string" resultMap="ResourceInfoResult">
      <![CDATA[
      SELECT ResourceId, ParentId, Type, Name, Alias, Enabled
      FROM bw_Resources
      WHERE ParentId = #value#
      ORDER BY ResourceId
      ]]>
    </select>

    <select id="bw_Resources_Select_ByRoleId" parameterClass="guid" resultMap="ResourceInfoResult">
      <![CDATA[
      SELECT ResourceId, ParentId, Type, Name, Alias, Enabled
      FROM bw_Resources
      WHERE ResourceId IN(
          SELECT ResourceId FROM bw_RolesInResources WHERE RoleId = #value#
      )
      ORDER BY ResourceId
      ]]>
    </select>
  </statements>
</sqlMap>