<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="RoleSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="RoleInfo" type="Botwave.Security.Domain.RoleInfo, Botwave.Security" />
  </alias>

  <resultMaps>
    <resultMap id="RoleInfoResult" class="RoleInfo">
      <result property="RoleId" column="RoleId"/>
      <result property="ParentId" column="ParentId"/>
      <result property="IsInheritable" column="IsInheritable"/>
      <result property="RoleName" column="RoleName"/>
      <result property="Comment" column="Comment"/>
      <result property="BeginTime" column="BeginTime"/>
      <result property="EndTime" column="EndTime"/>
      <result property="Creator" column="Creator"/>
      <result property="LastModifier" column="LastModifier"/>
      <result property="CreatedTime" column="CreatedTime"/>
      <result property="LastModTime" column="LastModTime"/>
      <result property="SortOrder" column="SortOrder"/>
    </resultMap>
  </resultMaps>

  <statements>
    
    <insert id="bw_Roles_Insert" parameterClass="RoleInfo">
      INSERT INTO bw_Roles
      (RoleId, ParentId, IsInheritable, RoleName, Comment, BeginTime, EndTime, CreatedTime, LastModTime, Creator, LastModifier, SortOrder)
      VALUES
      (#RoleId#, #ParentId#, #IsInheritable#, #RoleName#, #Comment#, #BeginTime#, #EndTime#, #CreatedTime#, #LastModTime#, #Creator#, #LastModifier#, '10')
    </insert>

    <update id="bw_Roles_Update" parameterClass="RoleInfo">
      UPDATE bw_Roles SET
        ParentId = #ParentId#, IsInheritable = #IsInheritable#, RoleName = #RoleName#,
        Comment = #Comment#, BeginTime = #BeginTime#, EndTime = #EndTime#,
        LastModTime = #LastModTime#, LastModifier = #LastModifier#
      WHERE RoleId = #RoleId#
    </update>

    <delete id="bw_Roles_Delete" parameterClass="guid">
      DELETE FROM bw_Roles WHERE RoleId = #value#
    </delete>

    <select id="bw_Roles_Select" parameterClass="guid" resultMap="RoleInfoResult">
      SELECT RoleId, ParentId, IsInheritable, RoleName, Comment, BeginTime, EndTime, CreatedTime, LastModTime, Creator, LastModifier,SortOrder
      FROM bw_Roles
      <dynamic prepend="where">
        <isParameterPresent>
          RoleId = #value#
        </isParameterPresent>
      </dynamic>
      ORDER BY SortOrder, RoleName DESC
    </select>
    
    <select id="bw_Roles_Scale_ByParentId" parameterClass="guid" resultClass="int">
      SELECT COUNT(0)
      FROM bw_Roles
      WHERE ParentId = #value#
    </select>

    <select id="bw_Roles_Select_Enabled" resultMap="RoleInfoResult">
      <![CDATA[
      SELECT RoleId, ParentId, IsInheritable, RoleName, Comment, BeginTime, EndTime, CreatedTime, LastModTime, Creator, LastModifier,SortOrder
      FROM bw_Roles
      WHERE (BeginTime <= getdate()) AND (EndTime >= getdate()) 
          AND (ParentId <> '00000000-0000-0000-0000-000000000000')
      ORDER BY RoleName
      ]]>
    </select>
    
    <select id="bw_Roles_Select_ByParentId" parameterClass="guid" resultMap="RoleInfoResult">
      <![CDATA[
      SELECT RoleId, IsInheritable, ParentId, RoleName, Comment, BeginTime, EndTime, CreatedTime, LastModTime, Creator, LastModifier,SortOrder
      FROM bw_Roles
      WHERE ParentId = #value#
      ORDER BY SortOrder, RoleName
      ]]>
    </select>

    <select id="bw_Roles_Select_ByUserId" parameterClass="guid" resultMap="RoleInfoResult">
      <![CDATA[
      SELECT RoleId, IsInheritable, ParentId, RoleName, Comment, BeginTime, EndTime, CreatedTime, LastModTime, Creator, LastModifier,SortOrder
      FROM bw_Roles
      WHERE RoleId IN(
            SELECT RoleId FROM bw_UsersInRoles WHERE UserId = #value#
      )
      ORDER BY SortOrder, RoleName
      ]]>
    </select>

    <select id="bw_Roles_Select_ByRoleName" parameterClass="string" resultClass="RoleInfo">
      SELECT RoleId, IsInheritable, ParentId, RoleName, Comment, BeginTime, EndTime, CreatedTime, LastModTime, Creator, LastModifier
      FROM bw_Roles
      WHERE RoleName = #value#
    </select>

    <!-- Users In Roles(begin)  -->
    <insert id="bw_UsersInRoles_Insert" parameterClass="Hashtable">
      <![CDATA[
      INSERT INTO bw_UsersInRoles
          (UserId, RoleId)
      VALUES
          (#UserId#,#RoleId#)
      ]]>
    </insert>

    <delete id="bw_UsersInRoles_Delete_ByRoleId" parameterClass="guid">
      DELETE FROM bw_UsersInRoles WHERE RoleId = #value#
    </delete>

    <delete id="bw_UsersInRoles_Delete_ByUserId" parameterClass="guid">
      DELETE FROM bw_UsersInRoles WHERE UserId = #value#
    </delete>

    <delete id="bw_UsersInRoles_Delete_ByRoleIdAndUserId" parameterClass="Hashtable">
      DELETE FROM bw_UsersInRoles
      WHERE RoleId = #RoleId# AND UserId=#UserId#
    </delete>
    <!-- Users In Roles(end)  -->
    
    <!-- Roles In Resources(begin)  -->
    <insert id="bw_RolesInResources_Insert" parameterClass="Hashtable">
      <![CDATA[
      INSERT INTO bw_RolesInResources
          (RoleId, ResourceId)
      VALUES
          (#RoleId#, #ResourceId#)
      ]]>
    </insert>

    <delete id="bw_RolesInResources_Delete_ByRoleId" parameterClass="guid">
      DELETE FROM bw_RolesInResources WHERE RoleId = #value#
    </delete>
    <!-- Roles In Resources(end)  -->
    
  </statements>
</sqlMap>