<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="UserSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="UserInfo" type="Botwave.Security.Domain.UserInfo, Botwave.Security" />
  </alias>

  <cacheModels>
    <cacheModel id="user-cache" implementation="LRU" readOnly="true" serialize="false">
      <flushInterval hours="24"/>
      <property name="CacheSize" value="200"/>
    </cacheModel>
  </cacheModels>

  <resultMaps>
  <resultMap id="UserInfoResult" class="UserInfo">
    <result property="UserId" column="UserId"/>
    <result property="UserName" column="UserName"/>
    <result property="Password" column="Password"/>
    <result property="Email" column="Email"/>
    <result property="Mobile" column="Mobile"/>
    <result property="Tel" column="Tel"/>
    <result property="EmployeeId" column="EmployeeId"/>
    <result property="RealName" column="RealName"/>
    <result property="Type" column="Type"/>
    <result property="Status" column="Status"/>
    <result property="DpId" column="DpId"/>

    <result property="Ext_Int" column="Ext_Int"/>
    <result property="Ext_Decimal" column="Ext_Decimal"/>
    <result property="Ext_Str1" column="Ext_Str1"/>
    <result property="Ext_Str2" column="Ext_Str2"/>
    <result property="Ext_Str3" column="Ext_Str3"/>

    <result property="CreatedTime" column="CreatedTime"/>
    <result property="LastModTime" column="LastModTime"/>
    <result property="Creator" column="Creator"/>
    <result property="LastModifier" column="LastModifier"/>
  </resultMap>

  <resultMap id="UserInfoResult2" class="UserInfo">
    <result property="UserId" column="UserId"/>
    <result property="UserName" column="UserName"/>
    <result property="Password" column="Password"/>
    <result property="Email" column="Email"/>
    <result property="Mobile" column="Mobile"/>
    <result property="Tel" column="Tel"/>
    <result property="EmployeeId" column="EmployeeId"/>
    <result property="RealName" column="RealName"/>
    <result property="Type" column="Type"/>
    <result property="Status" column="Status"/>
    <result property="DpId" column="DpId"/>

    <result property="Ext_Int" column="Ext_Int"/>
    <result property="Ext_Decimal" column="Ext_Decimal"/>
    <result property="Ext_Str1" column="Ext_Str1"/>
    <result property="Ext_Str2" column="Ext_Str2"/>
    <result property="Ext_Str3" column="Ext_Str3"/>

    <result property="CreatedTime" column="CreatedTime"/>
    <result property="LastModTime" column="LastModTime"/>
    <result property="Creator" column="Creator"/>
    <result property="LastModifier" column="LastModifier"/>

    <result property="DpFullName" column="DpFullName"/>
  </resultMap>
  </resultMaps>

  <statements>
    <insert id="bw_Users_Insert" parameterClass="UserInfo">
    <![CDATA[
      INSERT INTO bw_Users 
      (UserId, UserName, Password, Email, Mobile, Tel, EmployeeId, 
        RealName, Type, Status, DpId, Ext_Int, Ext_Decimal, Ext_Str1, Ext_Str2, Ext_Str3, 
        CreatedTime, LastModTime, Creator, LastModifier) 
      VALUES 
      ( #UserId#, #UserName#, #Password#, #Email#, #Mobile#, #Tel#, #EmployeeId#, 
        #RealName#, #Type#, #Status#, #DpId#, #Ext_Int#, #Ext_Decimal#, #Ext_Str1#, #Ext_Str2#, #Ext_Str3#, 
        getdate(), getdate(), #Creator#, #LastModifier#);
       
      insert into bw_UsersInRoles
      (userid,roleid)
      values
       (#UserId#, '9FE980BF-25F0-4483-85C5-BE23496C8E8E')
       ]]>
    </insert>
    <update id="bw_Users_Update" parameterClass="UserInfo">
      UPDATE bw_Users 
      SET Email = #Email#, Mobile = #Mobile#, Tel = #Tel#, EmployeeId = #EmployeeId#, 
        RealName = #RealName#, DpId = #DpId#, LastModTime = getdate(), LastModifier = #LastModifier# 
      WHERE UserId = #UserId#
    </update>
    <update id="bw_Users_ChangePassword" parameterClass="Hashtable">
      UPDATE bw_Users SET Password = #NewPassword# 
      WHERE UserName = #UserName# AND Password = #OldPassword#
    </update>
    <delete id="bw_Users_Delete" parameterClass="guid">
      DELETE FROM bw_Users WHERE [UserId] = #value#
    </delete>
    
    <select id="bw_Users_Select_IsExists" parameterClass="string" resultClass="int">
      SELECT COUNT(1) FROM bw_Users WHERE UserName = #value#
    </select>
    
    <select id="bw_Users_Select_ByUserId" parameterClass="guid" resultMap="UserInfoResult2">
      <![CDATA[
      SELECT UserId, UserName, Password, Email, Mobile, Tel, EmployeeId,
        RealName, Type, Status, DpId, DpFullName, Ext_Int, Ext_Decimal, Ext_Str1, Ext_Str2, Ext_Str3,
        CreatedTime, LastModTime, Creator, LastModifier
      FROM vw_bw_Users_Detail
      WHERE UserId = #value#
      ]]>
    </select>
    <select id="bw_Users_Select_ByUserName" parameterClass="string" resultMap="UserInfoResult2">
      <![CDATA[
      SELECT UserId, UserName, Password, Email, Mobile, Tel, EmployeeId,
        RealName, Type, Status, DpId, DpFullName, Ext_Int, Ext_Decimal, Ext_Str1, Ext_Str2, Ext_Str3,
        CreatedTime, LastModTime, Creator, LastModifier
      FROM vw_bw_Users_Detail
      WHERE UserName = #value#
      ]]>
    </select>
    <select id="bw_Users_Select_ByEmployeeId" parameterClass="string" resultMap="UserInfoResult2">
      <![CDATA[
      SELECT UserId, UserName, Password, Email, Mobile, Tel, EmployeeId,
          RealName, Type, Status, DpId, DpFullName, Ext_Int, Ext_Decimal, Ext_Str1, Ext_Str2, Ext_Str3,
          CreatedTime, LastModTime, Creator, LastModifier
      FROM vw_bw_Users_Detail
      WHERE EmployeeId = #value#
      ]]>
    </select>

    <select id="bw_Users_Select_ByRealName" parameterClass="hashtable" resultMap="UserInfoResult">
      <![CDATA[
      SELECT UserId, UserName, Password, Email, Mobile, Tel, EmployeeId,
          RealName, Type, Status, DpId, Ext_Int, Ext_Decimal, Ext_Str1, Ext_Str2, Ext_Str3,
          CreatedTime, LastModTime, Creator, LastModifier
      FROM vw_bw_Users_Detail        
      WHERE RealName = #RealName# AND DpFullName = #DpFullName#
      ]]>
    </select>

    <select id="bw_Users_Select_LikeName" parameterClass="string" resultMap="UserInfoResult2">
      <![CDATA[
      SELECT TOP 30 UserId, UserName, Password, Email, Mobile, Tel, EmployeeId,
          RealName, Type, Status, DpId, DpFullName, Ext_Int, Ext_Decimal, Ext_Str1, Ext_Str2, Ext_Str3,
          CreatedTime, LastModTime, Creator, LastModifier
      FROM vw_bw_Users_Detail
      WHERE (Status >-1) AND ((RealName LIKE '$value$%') OR (UserName LIKE '$value$%'))
      ORDER BY RealName
      ]]>
    </select>

    <select id="bw_Users_Select_ByDpId" parameterClass="string" resultMap="UserInfoResult2">
      <![CDATA[
      SELECT TOP 30 UserId, UserName, Password, Email, Mobile, Tel, EmployeeId,
          RealName, Type, Status, DpId, DpFullName, Ext_Int, Ext_Decimal, Ext_Str1, Ext_Str2, Ext_Str3,
          CreatedTime, LastModTime, Creator, LastModifier
      FROM vw_bw_Users_Detail
      WHERE Status >-1 AND DpId = #value#
      ORDER BY RealName
      ]]>
    </select>

    <select id="bw_Users_Select_LikeDpId" parameterClass="string" resultMap="UserInfoResult2">
      <![CDATA[
      SELECT TOP 30 UserId, UserName, Password, Email, Mobile, Tel, EmployeeId,
          RealName, Type, Status, DpId, DpFullName, Ext_Int, Ext_Decimal, Ext_Str1, Ext_Str2, Ext_Str3,
          CreatedTime, LastModTime, Creator, LastModifier
      FROM vw_bw_Users_Detail
      WHERE Status >-1 AND DpId LIKE '$value$%'
      ORDER BY RealName
      ]]>
    </select>

    <select id="bw_Users_Select_Count_LikeDpId" parameterClass="string" resultClass="int">
      <![CDATA[
      SELECT Count(0) FROM bw_Users
      WHERE DpId LIKE '$value$%'
      ]]>
    </select>
  </statements>
  
</sqlMap>