
@{
    ViewBag.Title = "ApplyList";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <script src="~/Content/app/datePicker.js"></script>
    <script type="text/javascript">
        var app = angular.module('ListPage', ['tm.pagination']);
        //控制器
        app.controller('EquipApplyController', ['$scope', '$filter', 'BusinessService', function ($scope, $filter, BusinessService) {
            $scope.queryBuilder = {
                ApplyTitle:''
            };
            //获取列表
            var GetListData = function () {
                box.load("GetListData");
                if (parent.getPageParam != undefined)
                    postData = parent.getPageParam('@Request.Path');//根据路径获取
                if (postData == null) {
                    postData = {
                        ApplyTitle: $scope.queryBuilder.ApplyTitle,
                        pageIndex: $scope.paginationConf.currentPage,
                        pageSize: $scope.paginationConf.itemsPerPage,
                        queryBuilder: $scope.queryBuilder
                       
                    };
                }
                else {
                    $scope.paginationConf.currentPage = postData.pageIndex;
                    $scope.paginationConf.itemsPerPage = postData.pageSize;
                    $scope.queryBuilder = postData.queryBuilder;
                    postData.ApplyTitle = $scope.queryBuilder.ApplyTitle;
                }

                BusinessService.list(postData).success(function (response) {
                    box.ready("GetListData");

                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                }).error(function (err) {
                    box.ready("GetListData");
                    box.alert("网络出错！", { icon: 'error' });
                });

            }
            $scope.StatusText = function (sta) {
                if (sta == 0) {
                   return "待提交";
                }
                if (sta == 1) {
                    return "已提交";
                }
                if (sta == 3) {
                    return "已完成";
                }
            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };

            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);

            /*实现全选，多选操作*/
            var choseArr = new Array();
            $scope.x = false;//默认未选中
            $scope.all = function ($event) {//全选
                var isChecked = $event.target.checked;
                angular.element("[ng-model='x']").prop("checked", isChecked);
                if (isChecked == true) {
                    choseArr = [];
                    angular.forEach($scope.ListPageData, function (obj) {
                        choseArr.push(obj.ApplyId);//此处ID名称不同的页面名称不同，需要修改
                    });
                }
                else
                    choseArr = [];
            };
            $scope.chk = function ($event, z) {//单选或者多选
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if (choseArr.indexOf(z) < 0) {
                        choseArr.push(z);
                    }
                    if (choseArr.length == $scope.ListPageData.length) {
                        $scope.master = true;
                    }
                }
                else {//取消选中
                    var index = choseArr.indexOf(z);
                    if (index > -1) {
                        choseArr.splice(index, 1);
                        $scope.master = false;
                    }
                }
            };
            $scope.deleteData = function () {//
                if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                    box.alert("请至少选中一条数据再操作！")
                    return;
                };
                box.confirm("确定要删除选中的" + choseArr.length + "条数据吗？", { icon: 'question' }, function (result) {
                    if (result) {
                        //调用删除服务

                        BusinessService.deleteData(choseArr).success(function (response) {
                            if (response.isSuccess) {
                               box.alert("成功删除" + response.successCount + "条数据", { icon: 'success' }); choseArr = new Array();
                                GetListData();
                            }
                            else {
                                box.alert(response.messsage.length > 0 ? response.messsage : "删除失败", { icon: 'error' });
                            }
                        }).error(function (response) { box.alert("网络出错！", { icon: 'error' }); });
                    }
                });
            };
            $scope.editData = function (id) {
                var url = "";
                if (id == "" || id == undefined) { //判断是列表点击确发，还是编辑按钮确发
                    if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                        box.alert("请至少选中一条数据再操作！");
                        return;
                    };
                    var dd = $filter('filter')($scope.ListPageData, { 'ApplyId': choseArr[0] });
                    if (dd.length < 0 || dd[0].Status != 0) {
                        box.alert("该数据已经提交，不能修改！");
                        return;
                    }
                    url = CurPath + 'EquipApply/Apply?type=edit&ApplyId=' + choseArr[0];
                }
                else {
                    url = CurPath + 'EquipApply/Apply?ApplyId=' + id;
                    url += '&type=look';
                }
                //保存最近一次的查询条件
                if (parent.pageParamList != undefined) {
                    var pageParam = { pageUrl: '@Request.Path', postData: postData };
                    parent.pageParamList.push(pageParam);
                }
                window.location.href = url;
            };
            $scope.query = function () {
                GetListData();
            }
            $scope.CancelData = function (id) {
                box.popup('<div class="ui-input" style="margin-right:0px;">'
                        + '<input type="text" id="cancelReason" class="cell-input cell-input-data" style="width:350px;margin-left: 15px;margin-bottom: 0px;" />'
                        + '<div id="cancelReason_tip" style="margin-left: 15px; color:red; display:none;">*  取消原因不能为空！</div>'
                        + '</div>',
                     {
                         title: '请填写取消原因：',
                         width: 400,
                         height: 52,
                         hasOk: true,
                         hasCancel: true,
                         onBeforeClose: function (result) {
                             var reason = box.getWindow()[0].document.getElementById("cancelReason").value;
                             if (result == true) {
                                 if (reason.length < 1) {
                                     $(box.getWindow()[0].document.getElementById("cancelReason_tip")).show();
                                     box.boxShake();
                                     return false;
                                 }
                                 //调用删除服务
                                 BusinessService.CancelData([id], reason).success(function (response) {
                                     if (response.isSuccess) {
                                         GetListData();
                                     }
                                     else {
                                         box.alert(response.messsage.length > 0 ? response.messsage : "操作失败", { icon: 'error' });
                                     }
                                 }).error(function (response) { box.ready("cancelReason"); box.alert("网络出错！", { icon: 'error' }); });
                             }
                         }
                     });

            };
            $scope.print = function () {
                if (choseArr[0] == "" || choseArr.length != 1) {//没有选择一个的时候提示
                    box.alert("请选中一条您要打印的数据再操作（请不要多选）！");
                    return;
                };
                var dd = $filter('filter')($scope.ListPageData, { 'ApplyId': choseArr[0] });
                if (dd.length < 0 || dd[0].WorkflowInstanceId == null || dd[0].WorkflowInstanceId.length <= 0)
                    box.alert("没有流程实例ID，请先提交数据！", { icon: 'error' });
                else
                    {
                    if (parent.pageParamList != undefined) {
                        var pageParam = { pageUrl: '@Request.Path', postData: postData };
                        parent.pageParamList.push(pageParam);
                    }
                    window.open(CurPath + 'plugins/easyflow/contrib/workflow/pages/print.aspx?wiid=' + dd[0].WorkflowInstanceId);
                }
            }
        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'EquipApply/ApplyGetList',
                    data: postData
                });
            };

            serive.CancelData = function (ids, reason) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'EquipApply/CancelBoardroomApply_manager',
                    data: { ids: ids, reason: reason }
                });
            };
            serive.deleteData = function (ids) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'EquipApply/ApplyDelete',
                    data: ids
                });
            };

            return serive;
        }]);

    </script>
}
<div Id="ng-app" ng-app="ListPage" ng-controller="EquipApplyController">
    <!--content--->
    <div class="search-mod">
        <table>
            <tr>
                <td>
                    标题：
                </td>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ApplyTitle" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>
                    <div class="ui-input">
                        <a ng-click="query()" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>
            </tr>

        </table>
    </div>

    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>
                <th style="white-space:nowrap">申请单标题</th>
                <th style="white-space:nowrap">当前状况</th>
                <th style="white-space:nowrap">发起人</th>
                <th style="white-space:nowrap">发起时间</th>
                <th style="white-space:nowrap">当前处理人</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="app in ListPageData">
                <td><input type="checkbox" Id="{{app.ApplyId}}" ng-model="x" ng-checked="x" ng-click="chk($event,app.ApplyId)" /></td>
                <td><a style="color:blue;cursor:pointer;" ng-click="editData(app.ApplyId)">{{app.ApplyTitle}}</a></td>
                <td style="white-space:nowrap"  ng-bind="StatusText({{app.Status}})"></td>
                <td ng-bind="app.ApplyName"></td>
                <td ng-bind="app.ApplyTime|date:'yyyy-MM-dd'"></td>
                <td ng-bind="app.ActorName"></td>
                <td>
                    <div class="operation-btn" style="text-align: left;">
                        @*<a ng-href="../EquipApply/ApplyDetail?ApplyId={{app.ApplyId}}" ng-hide="app.Status=='0'">查看</a>*@
                        <a ng-href="../EquipApply/Apply?ApplyId={{app.ApplyId}}" ng-show="app.Status=='0'">修改</a>
                        <a href="javascript:void(0);" ng-click="CancelData(app.ApplyId)" ng-hide="app.Status=='3'||app.Status=='99'">取消</a>
                    </div>
                </td>
            </tr>

        </table>
    </div>

    <div class="main-flip">

        <div class="the-operation1" style="float:left">
            <ul>
                <li><a href="javascript:void(0);" href="../EquipApply/Apply" class="btn-add"><i></i>添加</a></li>
                <li><a ng-click="editData()" class="btn-edit"><i></i>编辑</a></li>
                <li><a href="javascript:void(0);" ng-click="deleteData()" class="btn-del"><i></i>删除</a></li>
                <li><a ng-click="print()" class="btn-print"><i></i>打印</a></li>
            </ul>

        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>

