<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" >
  <description>bw-workflow</description>

  <!-- parser (begin) -->
  <object id="joinConditionParser"
           type="Botwave.Workflow.Parser.DefaultJoinConditionParser, Botwave.Workflow.Core" />

  <object id="splitConditionParser"
           type="Botwave.Workflow.Parser.DefaultSplitConditionParser, Botwave.Workflow.Core" />

  <object id="commandRulesParser"
          type="Botwave.Workflow.IBatisNet.VelocityCommandRulesParser, Botwave.Workflow.IBatisNet" >
  </object>
  <!-- parser (end) -->

  <!-- allocators (begin) -->
  <object id="usersTaskAllocator"
        type="Botwave.Workflow.Allocator.UsersTaskAllocator, Botwave.Workflow.Core" />

  <object id="starterTaskAllocator"
        type="Botwave.Workflow.IBatisNet.WorkflowStarterTaskAllocator, Botwave.Workflow.IBatisNet" />

  <object id="processorTaskAllocator"
        type="Botwave.Workflow.IBatisNet.WorkflowProcessorTaskAllocator, Botwave.Workflow.IBatisNet" />

  <object id="resourceTaskAllocator"
        type="Botwave.Workflow.Extension.Service.Plugins.ResourceTaskAllocator, Botwave.Workflow.Extension" />

  <object id="taskAllocatorManager"
            type="Botwave.Workflow.Allocator.DefaultTaskAllocatorManager, Botwave.Workflow.Core">
    <property name="AllocatorDict">
      <dictionary>
        <entry key="users" value-ref="usersTaskAllocator"/>
        <entry key="starter" value-ref="starterTaskAllocator"/>
        <entry key="processor" value-ref="processorTaskAllocator"/>
        
        <entry key="resource" value-ref="resourceTaskAllocator"/>
      </dictionary>
    </property>
  </object>
  <!-- allocators (end) -->

  <!-- core service (begin) -->
  <object id="workflowEngine"
          type="Botwave.Workflow.DefaultWorkflowEngine, Botwave.Workflow.Core">
    <property name="activityExecutionService" ref="activityExecutionService"/>
  </object>

  <object id="workflowDefinitionService"
          type="Botwave.Workflow.IBatisNet.WorkflowDefinitionService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="workflowService"
          type="Botwave.Workflow.IBatisNet.WorkflowService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="workflowSettingService"
          type="Botwave.Workflow.IBatisNet.WorkflowSettingService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="workflowPagerService"
          type="Botwave.Workflow.IBatisNet.WorkflowPagerService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="activityDefinitionService"
          type="Botwave.Workflow.IBatisNet.ActivityDefinitionService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="activityService"
          type="Botwave.Workflow.IBatisNet.ActivityService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="activitySetService"
          type="Botwave.Workflow.IBatisNet.ActivitySetService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="activityAllocationService"
          type="Botwave.Workflow.IBatisNet.ActivityAllocationService, Botwave.Workflow.IBatisNet">
    <property name="taskAllocatorManager" ref="taskAllocatorManager"/>
    <property name="userProxy" ref="userProxy"/>
  </object>

  <object id="countersignedService"
          type="Botwave.Workflow.IBatisNet.CountersignedService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="taskAssignService"
          type="Botwave.Workflow.IBatisNet.TaskAssignService, Botwave.Workflow.IBatisNet">
    <property name="activityAllocationService" ref="activityAllocationService"/>
    <property name="postAssignHandler" ref="postAssignHandler"/>
  </object>

  <object id="deployService"
          type="Botwave.Workflow.IBatisNet.DeployService, Botwave.Workflow.IBatisNet">
    <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
    <property name="activityDefinitionService" ref="activityDefinitionService"/>
    <property name="postDeployHandler" ref="postDeployHandler"/>
    <property name="resourceTranslator" ref="resourceTranslator"/>
    <property name="preCommitDeployHandler" ref="preCommitDeployHandler"/>
  </object>

  <object id="activityExecutionService"
          type="Botwave.Workflow.IBatisNet.ActivityExecutionService, Botwave.Workflow.IBatisNet">
    <property name="activityExecutionHandlerManager" ref="activityExecutionHandlerManager"/>
    <property name="decisionParserManager" ref="decisionParserManager"/>
    <property name="activityDefinitionService" ref="activityDefinitionService"/>
    <property name="activityService" ref="activityService"/>
    <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
    <property name="workflowService" ref="workflowService"/>
    <property name="postActivityExecutionHandler" ref="postActivityExecutionHandler"/>
    <property name="postCancelWorkflowHandler" ref="postCancelWorkflowHandler"/>
    <property name="postCompleteWorkflowHandler" ref="postCompleteWorkflowHandler"/>
    <property name="preDeleteWorkflowHandler" ref="preDeleteWorkflowHandler"/>
    <property name="commandRulesParser" ref="commandRulesParser"/>
    <property name="joinConditionParser" ref="joinConditionParser"/>
    <property name="activityAllocationService" ref="activityAllocationService"/>
    <property name="postCloseParallelActivityInstancesHandler" ref="postCloseParallelActivityInstancesHandler"/>
    <property name="userProxy" ref="userProxy"/>
    <property name="userProxyNotifier" ref="userProxyNotifier"/>
    <property name="countersignedService" ref="countersignedService"/>
    <property name="countersignedConditionParser" ref="splitConditionParser"/>
    <property name="joinConditionHandlerManager" ref="joinConditionHandlerManager"/>
  </object>

  <object id="commentService"
          type="Botwave.Workflow.IBatisNet.CommentService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="reportService"
          type="Botwave.Workflow.IBatisNet.ReportService, Botwave.Workflow.IBatisNet">
  </object>
  <!-- core service (end) -->

  <!-- extension plugins (begin) -->
  
  <object id="activityExecutionHandlerManager"
           type="Botwave.Workflow.Extension.Service.Plugins.ActivityExecutionHandlerManager, Botwave.Workflow.Extension" />

  <object id="joinConditionHandlerManager"
           type="Botwave.Workflow.Extension.Service.Plugins.JoinConditionHandlerManager, Botwave.Workflow.Extension" />

  <object id="joinConditionHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.JoinConditionHandler, Botwave.Workflow.Extension" />

  <object id="decisionParserManager"
           type="Botwave.Workflow.Extension.Service.Plugins.DecisionParserManager, Botwave.Workflow.Extension" />

  <object id="postActivityExecutionHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.PostActivityExecutionHandler, Botwave.Workflow.Extension" />

  <object id="postAssignHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.PostAssignHandler, Botwave.Workflow.Extension" />

  <object id="postCountersignedHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.PostCountersignedHandler, Botwave.Workflow.Extension" />

  <object id="postCompleteWorkflowHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.PostCompleteWorkflowHandler, Botwave.Workflow.Extension" />

  <object id="postCancelWorkflowHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.PostCancelWorkflowHandler, Botwave.Workflow.Extension" />

  <object id="preDeleteWorkflowHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.PreDeleteWorkflowHandler, Botwave.Workflow.Extension" />

  <object id="postCloseParallelActivityInstancesHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.PostCloseParallelActivityInstancesHandler, Botwave.Workflow.Extension" />

  <object id="postDeployHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.PostDeployHandler, Botwave.Workflow.Extension">
    <property name="workflowSettingService" ref="workflowSettingService"/>
    <property name="workflowFormService" ref="workflowFormService"/>
  </object>
  
  <object id="preCommitDeployHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.PreCommitDeployHandler, Botwave.Workflow.Extension">
    <property name="workflowResourceService" ref="workflowResourceService"/>
  </object>
  
  <object id="postCommentHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.PostCommentHandler, Botwave.Workflow.Extension" />

  <object id="userProxy"
           type="Botwave.Workflow.Extension.Service.Plugins.UserProxy, Botwave.Workflow.Extension" />

  <object id="userProxyNotifier"
           type="Botwave.Workflow.Extension.Service.Plugins.UserProxyNotifier, Botwave.Workflow.Extension" />

  <object id="resourceTranslator"
           type="Botwave.Workflow.Extension.Service.Plugins.ResourceTranslator, Botwave.Workflow.Extension" />

  <object id="workflowInstanceCreationController"
           type="Botwave.Workflow.Extension.Service.Plugins.WorkflowInstanceCreationController, Botwave.Workflow.Extension" />
  <!-- extension plugins (end) -->

  <!-- extension service (begin) -->
  <object id="workflowSearcher"
           type="Botwave.Workflow.Extension.Service.Support.DefaultWorkflowSearcher, Botwave.Workflow.Extension" />

  <object id="workflowUserService"
           type="Botwave.Workflow.Extension.Service.Support.DefaultWorkflowUserService, Botwave.Workflow.Extension" />

  <object id="workflowResourceService"
           type="Botwave.Workflow.Extension.Service.Support.DefaultWorkflowResourceService, Botwave.Workflow.Extension" />

  <object id="workflowNotifyService"
           type="Botwave.Workflow.Extension.Service.Support.DefaultWorkflowNotifyService, Botwave.Workflow.Extension" />

  <object id="emptyWorkflowFormService"
           type="Botwave.Workflow.Extension.Service.Support.EmptyWorkflowFormService, Botwave.Workflow.Extension" />

  <object id="emptyWorkflowFieldService"
           type="Botwave.Workflow.Extension.Service.Support.EmptyWorkflowFieldService, Botwave.Workflow.Extension" />

  <object id="emptyWorkflowNotifyService"
           type="Botwave.Workflow.Extension.Service.Support.EmptyWorkflowNotifyService, Botwave.Workflow.Extension" />

  <object id="emptyWorkflowFileService"
           type="Botwave.Workflow.Extension.Service.Support.EmptyWorkflowFileService, Botwave.Workflow.Extension" />

  <object id="emptyWorkflowAttachmentService"
           type="Botwave.Workflow.Extension.Service.Support.EmptyWorkflowAttachmentService, Botwave.Workflow.Extension" />
  <!-- extension service (end) -->
  
  <!-- extension workflow form (begin)-->
  <object id="workflowFormService"
           type="Botwave.Workflow.Extension.Service.Support.DefaultWorkflowFormService, Botwave.Workflow.Extension">
    <property name="formDefinitionService" ref="formDefinitionService"/>
    <property name="formInstanceService" ref="formInstanceService"/>
    <property name="formItemDataBinder" ref="formItemDataBinder"/>
  </object>

  <object id="formDefinitionService"
           type="Botwave.DynamicForm.IBatisNet.FormDefinitionService, Botwave.DynamicForm.IBatisNet" />

  <object id="formInstanceService"
           type="Botwave.DynamicForm.IBatisNet.FormInstanceService, Botwave.DynamicForm.IBatisNet">
    <property name="formDefinitionService" ref="formDefinitionService"/>
    <property name="uploadFileHandler" ref="emptyUploadFileHandler"/>
  </object>
  
  <object id="formItemDataBinder"
      type="Botwave.DynamicForm.Binders.DefaultFormItemDataBinder, Botwave.DynamicForm" >
    <property name="formInstanceService" ref="formInstanceService"/>
  </object>
  
  <object id="emptyUploadFileHandler"
           type="Botwave.DynamicForm.Plugin.EmptyUploadFileHandler, Botwave.DynamicForm" />
  <!-- extension workflow form (end)-->

  <object id="extendActivityService"
          type="Botwave.XQP.Service.Support.ExtendAvtivityService, Botwave.XQP">
  </object>
  
</objects>
