<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="botwave.workflow" type="Botwave.Workflow.WorkflowConfig, Botwave.Workflow.Core" />
    <section name="botwave.workflowMap" type="Botwave.Workflow.Extension.Configuration.WorkflowMapSectionHandler, Botwave.Workflow.Extension" />
    <section name="botwave.workflowSelector" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="flowNames" value="基层心声" />
    <add key="itemNames" value="F2" />
    <add key="itemValues" value="否" />
  </appSettings>
  <botwave.workflow allowContinuousApprove="true" />
  <botwave.workflowMap configSource="workflowMap.config" />
  <botwave.workflowSelector>    
    <!--
    <add key="流程名称" value="选择器类型名称/default" />
    -->
    <add key="特殊需求申请流程" value="czmccProfile" />
    <add key="销售精英竞赛平台酬金申告流程" value="czmccXSJYProfile" />
  </botwave.workflowSelector>
  
  <spring>
    <context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
      <resource uri="config://spring/objects"/>
      <!--<resource uri="xqp_objects.config"/>-->
    </context>
    <objects xmlns="http://www.springframework.net" >
      <!-- user controls(begin) -->
      
      <object type="Botwave.Workflow.Extension.WorkflowMap.RenderHelper, Botwave.Workflow.Extension" >
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
      </object>

      <object type="controls/WorkflowWorkItem.ascx">
        <property name="workflowService" ref="workflowService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowUserService" ref="workflowUserService"/>
        <property name="FormInstanceService" ref="FormInstanceService"/>
      </object>

      <object type="controls/WorkflowView.ascx">
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowUserService" ref="workflowUserService"/>
        <property name="activityService" ref="activityService"/>
      </object>

      <object type="controls/TodoList.ascx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityService" ref="extendActivityService"/>
      </object>
      <object type="interface/controls/TodoList.ascx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityService" ref="activityService"/>
      </object>
     
      
      <object type="controls/ProxyTodoList.ascx">
        <property name="activityService" ref="activityService"/>
      </object>

      <object type="controls/WorkflowTaskList.ascx">
        <property name="activityService" ref="activityService"/>
      </object>

      <object type="controls/ActivitySelector.ascx">
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowSelectorFactory" ref="workflowSelectorFactory"/>
        <property name="activityService" ref="activityService"/>
      </object>

      <object type="controls/ReviewSelector.ascx">
        <property name="workflowService" ref="workflowService"/>
        <property name="workflowUserService" ref="workflowUserService"/>
        <property name="activityService" ref="activityService"/>
      </object>
      <!--wbl-->
      <object type="controls/ProcessHistory.ascx">
        <property name="activityService" ref="activityService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="countersignedService" ref="countersignedService"/>
        <property name="userService" ref="userService"/>
      </object>

      <object type="controls/ProcessHistoryExtend.ascx">
        <property name="activityService" ref="activityService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="countersignedService" ref="countersignedService"/>
        <property name="userService" ref="userService"/>
      </object>

      <object type="controls/ProcessHistoryLoader.ascx">
        <property name="historyControls">
          <dictionary>
            <entry key="特殊需求申请流程" value="~/plugins/easyflow/contrib/workflow/controls/ProcessHistoryExtend.ascx"/>
          </dictionary>
        </property>
      </object>
      <!--wbl-->
      <object type="controls/WorkflowStat.ascx">
        <property name="reportService" ref="reportService"/>
      </object>

      <object type="controls/Attachments.ascx">
        <property name="workflowFileService" ref="xqpWorkflowFileService"/>
        <property name="workflowAttachmentService" ref="xqpWorkflowAttachmentService"/>
      </object>
      <!-- user controls(end) -->

      <!-- pages(begin) -->
      <object type="pages/workflowIndex.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="workflowResourceService" ref="workflowResourceService"/>
      </object>

      <object type="pages/doneTask.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="workflowPagerService" ref="workflowPagerService"/>
      </object>

      <object type="pages/workflowView.aspx" >
        <property name="workflowEngine" ref="workflowEngine"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="activityService" ref="activityService"/>
        <property name="countersignedService" ref="countersignedService"/>
        <property name="workflowFormService" ref="workflowFormService"/>
        <property name="workflowResourceService" ref="workflowResourceService"/>
        <property name="FormInstanceService" ref="FormInstanceService"/>
        <property name="getOuterDataHandler" ref="getOuterDataHandler"/>
      </object>
      <object type="interface/workflowView.aspx" >
        <property name="workflowEngine" ref="workflowEngine"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="activityService" ref="activityService"/>
        <property name="countersignedService" ref="countersignedService"/>
        <property name="workflowFormService" ref="workflowFormService"/>
        <property name="workflowResourceService" ref="workflowResourceService"/>
        <property name="FormInstanceService" ref="FormInstanceService"/>
        <property name="getOuterDataHandler" ref="getOuterDataHandler"/>
      </object>

      <object type="pages/workflowDoneIndex.aspx" >
        <property name="workflowPagerService" ref="workflowPagerService"/>
      </object>

      <object type="pages/WorkflowDeploy.aspx" >
        <property name="deployService" ref="deployService"/>
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="workflowResourceService" ref="workflowResourceService"/>
      </object>

      <object type="pages/draft.aspx" >
        <property name="workflowService" ref="workflowService"/>
      </object>
      <object type="interface/draft.aspx" >
        <property name="workflowService" ref="workflowService"/>
      </object>

      <object type="pages/start.aspx" >
        <property name="workflowService" ref="workflowService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="workflowEngine" ref="workflowEngine"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowInstanceCreationController" ref="workflowInstanceCreationController"/>
        <property name="workflowFormService" ref="workflowFormService"/>
        <property name="workflowAttachmentService" ref="xqpWorkflowAttachmentService"/>
        <property name="workflowReviewService" ref="workflowReviewService"/>
        <property name="reviewPending" ref="reviewPending"/>
        <property name="getOuterDataHandler" ref="getOuterDataHandler"/>
        <property name="dataListInstanceService" ref="dataListInstanceService"/>
      </object>
      <object type="interface/start.aspx" >
        <property name="workflowService" ref="workflowService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="workflowEngine" ref="workflowEngine"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowInstanceCreationController" ref="workflowInstanceCreationController"/>
        <property name="workflowFormService" ref="workflowFormService"/>
        <property name="workflowAttachmentService" ref="xqpWorkflowAttachmentService"/>
        <property name="workflowReviewService" ref="workflowReviewService"/>
        <property name="reviewPending" ref="reviewPending"/>
        <property name="getOuterDataHandler" ref="getOuterDataHandler"/>
        <property name="dataListInstanceService" ref="dataListInstanceService"/>
      </object>

      <object type="pages/process.aspx" >
        <property name="workflowEngine" ref="workflowEngine"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="activityService" ref="activityService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="activityAllocationService" ref="activityAllocationService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowFormService" ref="workflowFormService"/>
        <property name="activityExecutionContextHandler" ref="activityExecutionContextHandler"/>
        <property name="workflowUIProfile" ref="workflowUIProfile"/>
        <property name="workflowReviewService" ref="workflowReviewService"/>
        <property name="reviewPending" ref="reviewPending"/>
        <property name="FormInstanceService" ref="FormInstanceService"/>
        <property name="getOuterDataHandler" ref="getOuterDataHandler"/>
        <property name="dataListInstanceService" ref="dataListInstanceService"/>
      </object>

      <object type="pages/notify.aspx" >
        <property name="workflowEngine" ref="workflowEngine"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="workflowNotifyService" ref="workflowNotifyService"/>
        <property name="workflowUserService" ref="workflowUserService"/>
        <property name="formInstanceService" ref="formInstanceService"/>
      </object>

      <object type="pages/NotifyReader.aspx" >
        <property name="workflowService" ref="workflowService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
        <property name="workflowUserService" ref="workflowUserService"/>
        <property name="activityService" ref="activityService"/>
        <property name="notifyReaderService" ref="notifyReaderService"/>
      </object>

      <object type="pages/assignmentTask.aspx">
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
      </object>

      <object type="pages/popupForward.aspx" >
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowUserService" ref="workflowUserService"/>
      </object>

      <object type="pages/search.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowSearcher" ref="workflowSearcher"/>
      </object>
      <object type="interface/search.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowSearcher" ref="workflowSearcher"/>
      </object>
      <object type="pages/searchbyorg.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowSearcher" ref="workflowSearcher"/>
      </object>
      <object type="pages/workflowComment.aspx" >
        <property name="commentService" ref="commentService"/>
        <property name="workflowNotifyService" ref="workflowNotifyService"/>
        <property name="workflowUserService" ref="workflowUserService"/>
        <property name="workflowAttachmentService" ref="xqpWorkflowAttachmentService"/>
        <property name="workflowFileService" ref="xqpWorkflowFileService"/>
      </object>

      <object type="pages/config/configWorkflow.aspx" >
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="workflowSettingService" ref="workflowSettingService"/>
      </object>

      <object type="pages/config/configActivity.aspx" >
        <property name="activityDefinitionService" ref="activityDefinitionService"/>
        <property name="taskAssignService" ref="taskAssignService"/>
        <property name="workflowFieldService" ref="xqpWorkflowFieldService"/>
      </object>

      <object type="pages/myTask.aspx">
        <property name="WorkflowDefinitionService" ref="WorkflowDefinitionService"/>
        <property name="workflowSearcher" ref="workflowSearcher"/>
      </object>
      <object type="interface/myTask.aspx">
        <property name="WorkflowDefinitionService" ref="WorkflowDefinitionService"/>
        <property name="workflowSearcher" ref="workflowSearcher"/>
      </object>

      <object type="pages/doneTaskByAppl.aspx">
        <property name="WorkflowDefinitionService" ref="WorkflowDefinitionService"/>
        <property name="workflowSearcher" ref="workflowSearcher"/>
      </object>
      <object type="interface/todolists.aspx">
        <property name="WorkflowDefinitionService" ref="WorkflowDefinitionService"/>
        <property name="workflowSearcher" ref="workflowSearcher"/>
      </object>

      <object type="pages/workflowTemplate.aspx">
        <property name="workflowFileService" ref="xqpWorkflowFileService"/>
        <property name="workflowAttachmentService" ref="xqpWorkflowAttachmentService"/>
      </object>

      <object type="pages/stat/efficiencyStat.aspx">
        <property name="reportService" ref="reportService"/>
      </object>

      <object type="pages/stat/activityEfficiencyStat.aspx">
        <property name="reportService" ref="reportService"/>
      </object>

      <object type="pages/stat/workflowsOvertimeStat.aspx">
        <property name="reportService" ref="reportService"/>
      </object>

      <object type="pages/stat/workflowsOvertimeList.aspx">
        <property name="reportService" ref="reportService"/>
      </object>

      <object type="pages/doneReviews.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>

      <object type="pages/Extension/WorkflowHelper.aspx" >
        <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
      </object>
      <!-- pages(end) -->
    </objects>
  </spring>
</configuration>
