<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" >
  <description>bw-xqp2</description>

  <!-- allocators (begin) -->
  <object id="usersTaskAllocator"
        type="Botwave.Workflow.Allocator.UsersTaskAllocator, Botwave.Workflow.Core" />

  <object id="starterTaskAllocator"
        type="Botwave.Workflow.IBatisNet.WorkflowStarterTaskAllocator, Botwave.Workflow.IBatisNet" />

  <object id="processorTaskAllocator"
        type="Botwave.Workflow.IBatisNet.WorkflowProcessorTaskAllocator, Botwave.Workflow.IBatisNet" />

  <object id="resourceTaskAllocator"
        type="Botwave.Workflow.Extension.Service.Plugins.ResourceTaskAllocator, Botwave.Workflow.Extension" />

  <object id="taskAllocatorManager"
            type="Botwave.Workflow.Allocator.DefaultTaskAllocatorManager, Botwave.Workflow.Core">
    <property name="AllocatorDict">
      <dictionary>
        <entry key="users" value-ref="usersTaskAllocator"/>
        <entry key="starter" value-ref="starterTaskAllocator"/>
        <entry key="processor" value-ref="processorTaskAllocator"/>
        <!--<entry key="superior" value-ref="superiorTaskAllocator"/>-->
        <entry key="resource" value-ref="resourceTaskAllocator"/>
        <!--<entry key="field" value-ref="xqpFieldTaskAllocator"/>-->
      </dictionary>
    </property>
  </object>
  <!-- allocators (end) -->
  <object id="workflowDefinitionService"
          type="Botwave.Workflow.IBatisNet.WorkflowDefinitionService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="workflowService"
          type="Botwave.Workflow.IBatisNet.WorkflowService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="workflowSettingService"
          type="Botwave.Workflow.IBatisNet.WorkflowSettingService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="activityDefinitionService"
          type="Botwave.Workflow.IBatisNet.ActivityDefinitionService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="activityService"
          type="Botwave.Workflow.IBatisNet.ActivityService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="activitySetService"
          type="Botwave.Workflow.IBatisNet.ActivitySetService, Botwave.Workflow.IBatisNet">
  </object>

  <object id="activityAllocationService"
          type="Botwave.Workflow.IBatisNet.ActivityAllocationService, Botwave.Workflow.IBatisNet">
    <property name="taskAllocatorManager" ref="taskAllocatorManager"/>
    <property name="userProxy" ref="userProxy"/>
  </object>

  <object id="taskAssignService"
          type="Botwave.Workflow.IBatisNet.TaskAssignService, Botwave.Workflow.IBatisNet">
    <property name="activityAllocationService" ref="activityAllocationService"/>
    <property name="postAssignHandler" ref="postAssignHandler"/>
  </object>

  <object id="deployService"
          type="Botwave.Workflow.IBatisNet.DeployService, Botwave.Workflow.IBatisNet">
    <property name="workflowDefinitionService" ref="workflowDefinitionService"/>
    <property name="activityDefinitionService" ref="activityDefinitionService"/>
    <property name="postDeployHandler" ref="postDeployHandler"/>
    <property name="resourceTranslator" ref="resourceTranslator"/>
    <property name="preCommitDeployHandler" ref="preCommitDeployHandler"/>
  </object>

  <object id="reportService"
        type="Botwave.Workflow.IBatisNet.ReportService, Botwave.Workflow.IBatisNet" />

  <object id="postAssignHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.PostAssignHandler, Botwave.Workflow.Extension">
    <property name="next" ref="xqpPostAssignHandler"/>
  </object>

  <object id="postDeployHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.PostDeployHandler, Botwave.Workflow.Extension">
    <property name="workflowSettingService" ref="workflowSettingService"/>
    <property name="workflowFormService" ref="workflowFormService"/>
    <property name="next" ref="xqpPostDeployHandler"/>
  </object>
  <object id="FormDefinitionDeployService"  type="Botwave.DynamicForm.Extension.Contracts.FormDefinitionDeployService, Botwave.DynamicForm.Extension">
    <property name="FormDefinitionService" ref="formDefinitionService"/>
    <property name="getDataService" ref="getDataService"/>
    <property name="formItemIFramesService" ref="formItemIFramesService"/>
    <property name="itemDataListSettingService" ref="itemDataListSettingService"/>
    <property name="dataListDefinitionService" ref="dataListDefinitionService"/>
  </object>

  <object id="preCommitDeployHandler"
           type="Botwave.Workflow.Extension.Service.Plugins.PreCommitDeployHandler, Botwave.Workflow.Extension">
    <property name="workflowResourceService" ref="workflowResourceService"/>
  </object>

  <object id="userProxy"
           type="Botwave.Workflow.Extension.Service.Plugins.UserProxy, Botwave.Workflow.Extension" />

  <object id="resourceTranslator"
           type="Botwave.Workflow.Extension.Service.Plugins.ResourceTranslator, Botwave.Workflow.Extension" />

  <object id="workflowResourceService"
           type="Botwave.Workflow.Extension.Service.Support.DefaultWorkflowResourceService, Botwave.Workflow.Extension" />

  <!-- security (begin) -->
  <object id="userService"
          type="Botwave.Security.IBatisNet.UserService, Botwave.Security.IBatisNet">
  </object>

  <object id="roleService"
          type="Botwave.Security.IBatisNet.RoleService, Botwave.Security.IBatisNet">
  </object>

  <object id="resourceService"
          type="Botwave.Security.IBatisNet.ResourceService, Botwave.Security.IBatisNet">
  </object>

  <object id="authorizeService"
          type="Botwave.Security.IBatisNet.AuthorizeService, Botwave.Security.IBatisNet">
  </object>
  <!-- security (end) -->

  <!-- extension workflow form (begin)-->
  <object id="workflowFormService"
           type="Botwave.Workflow.Extension.Service.Support.DefaultWorkflowFormService, Botwave.Workflow.Extension">
    <property name="formDefinitionService" ref="formDefinitionService"/>
    <property name="formInstanceService" ref="formInstanceService"/>
    <property name="formItemDataBinder" ref="formItemDataBinder"/>
  </object>

  <object id="formDefinitionService"
           type="Botwave.DynamicForm.IBatisNet.FormDefinitionService, Botwave.DynamicForm.IBatisNet" />

  <object id="formInstanceService"
           type="Botwave.DynamicForm.IBatisNet.FormInstanceService, Botwave.DynamicForm.IBatisNet">
    <property name="formDefinitionService" ref="formDefinitionService"/>
    <property name="uploadFileHandler" ref="emptyUploadFileHandler"/>
  </object>

  <object id="FormItemDataBinder"
      type="Botwave.DynamicForm.Binders.DefaultFormItemDataBinder, Botwave.DynamicForm" >
    <property name="formInstanceService" ref="formInstanceService"/>
  </object>

  <object id="emptyUploadFileHandler"
           type="Botwave.DynamicForm.Plugin.EmptyUploadFileHandler, Botwave.DynamicForm" />
  <!-- extension workflow form (end)-->

  <!-- xqp2 (begin)-->

  <object id="workflowFieldService"
           type="Botwave.XQP.Service.Plugins.WorkflowFieldService, Botwave.XQP" />

  <object id="noticeService"
            type="Botwave.XQP.Service.Support.NoticeService, Botwave.XQP">
  </object>

  <object id="workflowNoticeService"
         type="Botwave.XQP.Service.Plugins.WorkflowNoticeService, Botwave.XQP">
    <property name="noticeService" ref="noticeService"/>
  </object>

  <object id="workflowReportService"
				type="Botwave.XQP.Service.Support.WorkflowReportService, Botwave.XQP" >
    <property name="dataListDefinitionService" ref="dataListDefinitionService"/>
    <property name="dataListInstanceService" ref="dataListInstanceService"/>
    <property name="formInstanceService" ref="formInstanceService"/>

  </object>

  <object id="xqpPostDeployHandler"
           type="Botwave.XQP.Service.Plugins.PostDeployHandler, Botwave.XQP" >
    <property name="roleService" ref="roleService"/>
    <property name="workflowAttachmentService" ref="xqpWorkflowAttachmentService"/>
  </object>

  <object id="xqpPostAssignHandler"
           type="Botwave.XQP.Service.Plugins.PostAssignHandler, Botwave.XQP">
    <property name="userService" ref="userService"/>
  </object>

  <object id="xqpWorkflowAttachmentService"
         type="Botwave.XQP.Service.Plugins.WorkflowAttachmentService, Botwave.XQP" />
  <!-- xqp2 (end)-->
</objects>
