
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Content.cshtml";
}



@section Scripts{
    <script src="~/Content/app/number.js"></script>
    <script src="~/Content/Javascript/json3.js"></script>
    <script src="~/Content/app/datePicker.js"></script>
    <!--[弹出层]-->
    <script src="~/Content/Javascript/ngDialog/ngDialog.js"></script>
    <!--[弹出层end]-->

    <script>
        var app = angular.module('CreateOrUpdate', ['number', 'datePicker', 'ngDialog']);
        app.config(['$locationProvider', function ($locationProvider) {
            $locationProvider.html5Mode(true);
        }]);
        app.controller('CreateController', ['$scope', '$filter', '$timeout', 'BusinessService', 'ngDialog', function ($scope, $filter, $timeout, BusinessService, ngDialog) {
            $scope.curObj = {
            };
            var choseArr = new Array();
            var id = '@ViewData["Id"]';
            var getComData = false;
            var getComData2 = false;
            //获取周期类型
            BusinessService.getDinningRoomAsDict().success(function (response) {
                $scope.dictDinningRoom = response;
            }).error(function (err) {
                box.alert("网络出错！", { icon: 'error' });
            }).then(function () { getComData = true; });
            //获取周期类型
            BusinessService.getDictListByName('餐次').success(function (response) {
                $scope.dictMealTimeType = response.items;
            }).error(function (err) {
                box.alert("网络出错！", { icon: 'error' });
            }).then(function () { getComData2 = true; });

            var loadCurData = function () {
                $timeout(function () {
                    if (getComData && getComData2) {
                        BusinessService.getDataByID(id).success(function (response) {
                            $scope.curObj = response;
                            $scope.ChangeCommand($scope.curObj.DinningRoomID, $scope.curObj.Id);
                        }).error(function (response) {
                            box.alert("网络出错！", { icon: 'error' });
                        });

                    }
                    else {
                        loadCurData();
                    }
                }, 100);
            }
            if (id != "00000000-0000-0000-0000-000000000000") {
                loadCurData();
            }
            else {
                $scope.curObj.Id = "00000000-0000-0000-0000-000000000000";
            }


            $scope.ChangeCommand = function (DinningRoomID,PackageId) {
                var postData = {
                    DinningRoomID: $scope.curObj.DinningRoomID,
                    PackageId: $scope.curObj.Id
                }
                BusinessService.list(postData).success(function (response) {
                    $scope.ListPageData = response.items;
                    choseArr = [];
                    angular.forEach($scope.ListPageData, function (obj) {
                        choseArr.push(obj.Id);
                    });
                }).error(function (err) {
                    box.alert("网络出错！", { icon: 'error' });
                });
            };
            $scope.save = function () {
                var tempDatas = $filter('filter')($scope.ListPageData, function (obj) {
                    return choseArr.indexOf(obj.Id) > -1;
                });
                //alert("here");
                $scope.editForm.failSubmited = false;
                if ($scope.editForm.$valid) {
                    var postData = {
                        dataBase: $scope.curObj,
                        dataCommandList: tempDatas
                    }
                    BusinessService.save(postData).success(function (response) {
                        if (response.IsSuccess) {
                            //alert("保存成功");
                            box.alert("保存成功", { icon: 'success' }, function () {
                                window.location.href = CurPath + 'OrderMealPackage/Index?DinningRoomID=@ViewData["DinningRoomID"]';
                            });
                        }
                        else {
                            box.alert(response.Message, { icon: 'error' });
                        }
                    }).error(function (response) { box.alert('网络出错！', { icon: 'error' }); });
                }
                else {
                    $scope.editForm.failSubmited = true;
                }
            };
        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};

            serive.list = function (postData) {
                return $http.post(CurPath + 'OrderMealPackage/GetPlaceListData', postData);
            };

            serive.save = function (postData) {
                //return $http({
                //    method: 'POST',
                //    url: CurPath + 'OrderMealPackage/Save',
                //    data: postData
                //});
                return $http.post(CurPath + 'OrderMealPackage/Save', postData);
            };
            //获取服务信息作为字典
            serive.getDinningRoomAsDict = function () {
                return $http({
                    method: 'POST',
                    url: CurPath + 'OrderMealDinningRoom/getDinningRoomAsDict'
                });
            };
            serive.getDataByID = function (id) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'OrderMealPackage/GetDataByID/' + id
                });
            };
            //根据字典名称获取字典信息
            serive.getDictListByName = function (DDName) {//获取字典
                return $http({
                    method: 'POST',
                    url: CurPath + 'DataDictionary/GetDictListByName',
                    data: { DDName: DDName }
                });
            };

            return serive;
        }]);
    </script>
}
<style>

</style>
<!----->

<div xmlns:ng="http://angularjs.org" class="public-form">
    <form action="" method="post" id="ng-app" ng-app="CreateOrUpdate" ng-controller="CreateController" name="editForm" novalidate>
        <table id="ForEdit">
            <tr>
                <th>
                    所属食堂：
                </th>
                <td>
                    <div class="ui-input">
                        <div class="selectdrapdown">
                            <select class="cell-input" ng-model="curObj.DinningRoomID" required name="DinningRoomID" ng-change="ChangeCommand(curObj.DinningRoomID,curObj.Id);" style="width:70px;" ng-options="x.DinningRoomID as x.DinningRoomName for x in dictDinningRoom">
                                    <option value="">全部</option>
                            </select>
                            <strong class="must-options">*</strong>
                            <div class="ui-tips" ng-show="editForm.DinningRoomID.$invalid&&editForm.failSubmited">
                                <div class="note"><i class="icon-note"></i>输入提示</div>
                                <div class="error" style="display:block">
                                    <i class="icon-error"></i>
                                    <span ng-hide="editForm.DinningRoomID.$valid">请选择所属食堂</span>
                                </div>
                                <div class="correct"><i class="icon-correct"></i></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    用餐时段：
                </th>
                <td>
                    <div class="ui-input">                        
                        <div class="selectdrapdown">
                            <select class="cell-input" ng-model="curObj.MealTimeType" required name="MealTimeType" style="width:70px;" ng-options="x.text as x.text for x in dictMealTimeType">
                                <option value="">全部</option>
                            </select>
                            <strong class="must-options">*</strong>
                            <div class="ui-tips" ng-show="editForm.MealTimeType.$invalid&&editForm.failSubmited">
                                <div class="note"><i class="icon-note"></i>输入提示</div>
                                <div class="error" style="display:block">
                                    <i class="icon-error"></i>
                                    <span ng-hide="editForm.MealTimeType.$valid">请选择用餐时段</span>
                                </div>
                                <div class="correct"><i class="icon-correct"></i></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    套餐名称：
                </th>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="curObj.PackageName" name="PackageName" required class="cell-input"/>
                        <strong class="must-options">*</strong>
                        <div class="ui-tips" ng-show="editForm.PackageName.$invalid&&editForm.failSubmited">
                            <div class="note"><i class="icon-note"></i>输入提示</div>
                            <div class="error" style="display:block">
                                <i class="icon-error"></i>
                                <span ng-hide="editForm.PackageName.$valid">请输入套餐名称</span>
                            </div>
                            <div class="correct"><i class="icon-correct"></i></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    套餐价格：
                </th>
                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="curObj.PackagePrice" name="PackagePrice" number precision="2" max="9999999" min="0"  required class="cell-input"/>
                        <strong class="must-options">*</strong>
                        <div class="ui-tips" ng-show="editForm.PackagePrice.$invalid&&editForm.failSubmited">
                            <div class="note"><i class="icon-note"></i>输入提示</div>
                            <div class="error" style="display:block">
                                <i class="icon-error"></i>
                                <span ng-hide="editForm.PackagePrice.$valid">请输入套餐价格</span>
                            </div>
                            <div class="correct"><i class="icon-correct"></i></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    订餐命令：
                </th>
                <td>
                    <div>
                        <ol>
                            <li ng-repeat="emp in ListPageData">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="ui-input">
                                                {{emp.MealPlaceName}}：
                                                <input type="text" id="Command" name="Command" ng-model="emp.Command" required class="cell-input" style="float:none; width:60px;">                                                
                                                <strong class="must-options" style="float:none; ">*</strong>
                                                <div class="ui-tips" style="float:none; " ng-show="editForm.Command.$invalid&&editForm.failSubmited">
                                                    <div class="note"><i class="icon-note"></i>输入提示</div>
                                                    <div class="error" style="float:none; display:block">
                                                        <i class="icon-error"></i>
                                                        <span ng-hide="editForm.Command.$valid" >请输入订餐命令</span>
                                                    </div>
                                                    <div class="correct"><i class="icon-correct"></i></div>
                                                </div>
                                            </div>
                                            <input type="hidden" id="Id" name="Id" ng-model="emp.Id" />
                                            <input type="hidden" id="PlaceId" name="PlaceId" ng-model="emp.PlaceId" />
                                        </td>

                                    </tr>
                                </table>
                            </li>
                        </ol>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    套餐描述：
                </th>
                <td>
                    <div class="the-text-area">
                        <textarea name="Discription" ng-model="curObj.Discription"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>
                    <a ng-click="save()" class="cell-btn-blue" id="ForEdit_saveOption" style="width:70px; margin-right:20px;">保存</a>
                    <a onclick="window.history.go(-1);" class="cell-btn-orange" style="width:70px;">返回</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- end--->


