<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="ActivityRulesDetailSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="RulesDetail" type="Botwave.Workflow.Routing.Domain.RulesDetail, Botwave.Workflow.Routing" />
  </alias>

  <!--<cacheModels>
        <cacheModel id="ad-cache" implementation="LRU" readOnly="true" serialize="false">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="200"/>
        </cacheModel>
    </cacheModels>-->

  <resultMaps>
    <resultMap class="RulesDetail" id="ActivityRulesDetailResult" >
      <result property="Ruleid" column="Ruleid"/>
      <result property="Workflowid" column="Workflowid"/>
      <result property="ActivityName" column="ActivityName"/>
      <result property="NextActivityName" column="NextActivityName"/>
      <result property="StepType" column="StepType"/>
      <result property="Description" column="Description"/>
      <result property="Conditions" column="Conditions"/>
      <result property="Title" column="Title"/>
      <result property="Creator" column="Creator"/>
      <result property="Createdtime" column="Createdtime"/>
      <result property="LastModifier" column="LastModifier"/>
      <result property="LastModtime" column="LastModtime"/>
      <!--<result property="FName" column="FName" />
      <result property="FValue" column="FValue" />
      <result property="FNumber" column="FNumber" />-->
      <result property="ParentRuleId" column="ParentRuleId" />
      <result property="Status" column="Status" />
      <result property="FieldsAssemble" column="FieldsAssemble" />
    </resultMap>

    <resultMap class="RulesDetail" id="ActivityOrgazitionTypeResult" >
      <result property="ActivityId" column="Activityid"/>
      <result property="OrganizationType" column="OrganizationType" />
      <result property="Status" column="Status" />
    </resultMap>
  </resultMaps>

  <statements>

    <select id="bwwf_ActivityRule_Select" resultMap="ActivityRulesDetailResult" parameterClass="guid">
      <![CDATA[
        SELECT RuleId,WorkflowId,ActivityName,NextActivityName,ParentRuleId,StepType,Description,Condition Conditions,Title,Creator,Createdtime,LastModifier,LastModtime,Status,FieldsAssemble FROM bwwf_Activities_Rules
        where RuleId=#value#
        ]]>
    </select>
    
    <select id="bwwf_StartActivityRules_Select" resultMap="ActivityRulesDetailResult" parameterClass="Hashtable">
        <![CDATA[
        SELECT RuleId,WorkflowId,Activityid,NextActivityid,ParentRuleId,StepType,Description,Condition Conditions,Title,Creator,Createdtime,LastModifier,LastModtime,Status,FieldsAssemble FROM bwwf_Activities_Rules
        where WorkflowId = #WorkflowId# and ActivityName = #ActivityName# and NextActivityName = #NextActivityName#
        and stepType = 0 and Status = 1
        ]]>
    </select>

    <select id="bwwf_NextActivityRules_Select" resultMap="ActivityRulesDetailResult" parameterClass="Hashtable">
        <![CDATA[
        SELECT RuleId,WorkflowId,ActivityName,NextActivityName,ParentRuleId,StepType,Description,Condition Conditions,Title,Creator,Createdtime,LastModifier,LastModtime,Status,FieldsAssemble FROM bwwf_Activities_Rules
        where WorkflowId = #WorkflowId# and ActivityName = #ActivityName# and NextActivityName = #NextActivityName#
        and stepType = 1 and Status = 1
        ]]>
    </select>

    <select id="bwwf_ActivityRules_Select" resultMap="ActivityRulesDetailResult" parameterClass="Hashtable">
      <![CDATA[
        SELECT RuleId,WorkflowId,ActivityName,NextActivityName,ParentRuleId,StepType,Description,Condition Conditions,Title,Creator,Createdtime,LastModifier,LastModtime,Status,FieldsAssemble FROM bwwf_Activities_Rules
        where WorkflowId = #WorkflowId# and ActivityName = #ActivityName#
        and stepType = 1 and Status = 1
        ]]>
    </select>
    
    <select id="bwwf_RelationRules_Select" resultMap="ActivityRulesDetailResult" parameterClass="Hashtable">
      <![CDATA[
        SELECT RuleId,WorkflowId,ActivityName,NextActivityName,ParentRuleId,StepType,Description,Condition Conditions,Title,Creator,Createdtime,LastModifier,LastModtime,Status,FieldsAssemble FROM bwwf_Activities_Rules
        where WorkflowId = #WorkflowId# and ActivityName = #ActivityName#
        and stepType = 2 and Status = 1
        ]]>
    </select>
    
    <select id="bwwf_ActivityRulesDetail_ExistRules" resultClass="int" parameterClass="RulesDetail">
        <![CDATA[
        SELECT status FROM bwwf_Activities_Rules
        where NextActivityName = #NextActivityName#
        and ActivityName = #ActivityName#
        and ParentRuleId = #ParentRuleId#
        and WorkflowId = #Workflowid#
        ]]>
    </select>

    <select id ="bwwf_ActivityRulesAnalysis_Result" resultClass="int" parameterClass="RulesDetail">
       <![CDATA[
       select count(id)  from (select b.id,FName,
       (case
       when to_char(dbms_lob.substr(Value_Str,2000)) is null then
       to_char(dbms_lob.substr(value_text ,2000))
       else
       to_char(dbms_lob.substr(value_str,2000))
       end)
       FValue,value_decimal FNumber
       from bwdf_FormItemDefinitions a,bwdf_FormItemInstances b
       where a.id=b.FormItemDefinitionId and b.forminstanceid = #Workflowinstanceid#)
       where #Conditions#
       ]]>
    </select>

    <select id="bwwf_ActivityOrganizationType_Selete" resultClass="int" parameterClass="string">
        <![CDATA[
        SELECT OrganizationType FROM BWWF_ACT_ORGANIZATIONTYPE
        where ActivityName = #value# and Status = 1
        ]]>
    </select>
    
    <select id="bwwf_ActivityOrganizationType_Exist" resultClass="int" parameterClass="string">
        <![CDATA[
        SELECT count(OrganizationType) FROM BWWF_ACT_ORGANIZATIONTYPE
        where ActivityName = #value#
        ]]>
    </select>
    
    <insert id="bwwf_ActivityRulesDetail_Insert" parameterClass="RulesDetail">
        <![CDATA[
        INSERT INTO bwwf_Activities_Rules(
        RuleId,WorkflowId,ActivityName,NextActivityName,StepType,ParentRuleId,Condition,Description,Title,Status,Creator,CreatedTime,LastModifier,LastmodTime,FieldsAssemble
        )VALUES(
        #Ruleid#,#Workflowid#,#ActivityName#,#NextActivityName#,#StepType#,#ParentRuleId#,#Conditions#,#Description#,#Title#,#Status#,#Creator#,#Createdtime#,#LastModifier#,#LastModtime#,#FieldsAssemble#
        )
        ]]>
    </insert>
    
    <insert id="bwwf_ActivityOrganizationType_Insert" parameterClass="Hashtable">
        <![CDATA[
        INSERT INTO BWWF_ACT_ORGANIZATIONTYPE(
        Activityid,OrganizationType,Status
        )VALUES(
        #Activityid#,#OrganizationType#,#Status#
        )
        ]]>
    </insert>

    <update id="bwwf_ActivityRulesDetail_Update" parameterClass="RulesDetail">
      <![CDATA[
        UPDATE bwwf_Activities_Rules set 
        ParentRuleId = #ParentRuleId#,
        Condition = #Conditions#,
        Description = #Description#,
        Title = #Title#,
        Status = #Status#,
        LastModifier = #LastModifier#,
        LastmodTime = #LastModtime#
        WHERE RULEID = #Ruleid#
      ]]>
    </update>
    
    <update id="bwwf_ActivityRulesDetail_Update_ByActName" parameterClass="RulesDetail">
      <![CDATA[
        UPDATE bwwf_Activities_Rules set 
        Condition = #Conditions#,
        Description = #Description#,
        Title = #Title#,
        Status = #Status#,
        LastModifier = #LastModifier#,
        LastmodTime = #LastModtime#,
        FieldsAssemble = #FieldsAssemble#
        WHERE NEXTACTIVITYNAME = #NextActivityName#
        and ActivityName = #ActivityName#
        AND ParentRuleId = #ParentRuleId#
        and WorkflowId = #Workflowid#
      ]]>
    </update>
    
    <update id="bwwf_ActivityOrganizationType_Update" parameterClass="Hashtable">
      <![CDATA[
        UPDATE BWWF_ACT_ORGANIZATIONTYPE set 
        OrganizationType = #OrganizationType#,
        WHERE ACTIVITYID = #Activityid#
      ]]>
    </update>

      <delete id ="bwwf_ActivityRulesDetail_Delete" parameterClass="string">
          <![CDATA[
          update bwwf_Activities_Rules set Status = 0 WHERE RULEID = #value#
          ]]>
      </delete>
      
    <delete id ="bwwf_ActivityOrganizationType_Delete" parameterClass="string">
          <![CDATA[
          update BWWF_ACT_ORGANIZATIONTYPE set Status = 0 WHERE ACTIVITYID = #value#
          ]]>
   </delete>
      

    <insert id="bwwf_ActivityRules_Insert_ForStart" parameterClass="RulesDetail">
        <![CDATA[
        INSERT INTO bwwf_Activities_BeginRules(
        RuleId,FName,FValue,FNumber
        )VALUES(
        #Ruleid#,#FName#,#FValue#,#FNumber#
        )
        ]]>
    </insert>
    <!--更新下一步活动ID-->
    <!--<update id="bwwf_Activity_Update_NextActivitySetId" parameterClass="hashtable">
      <![CDATA[
      update bwwf_Activities set NextActivitySetId=#ActivityID# where ActivityID=#PrevActivitySetId#
      ]]>
    </update>-->
    <!--根据活动id获取name-->
    <!--<select id="bwwf_ActivityRules_Insert_ForStart" parameterClass="guid" resultClass="string">
      select ActivityName from bwwf_Activities where Activityid = #value#
    </select>-->
    <!--根据实例活动id获取上一步退回的处理人-->
    <!--<select id="bwwf_Tracking_Act_Select_actor_By_ActivityInstanceId" parameterClass="string" resultClass="string">
      <![CDATA[
        SELECT actor FROM vw_bwwf_Tracking_Act_All BTA1 WHERE BTA1.ActivityInstanceId IN(
          SELECT activityinstanceid FROM bwwf_tracking_activities_set where setid in(
                 SELECT prevsetid FROM vw_bwwf_Tracking_Act_All BTA1
                 WHERE BTA1.ActivityInstanceId = #value# AND operatetype=1)
        )
      ]]>
    </select>-->
  </statements>
</sqlMap>