<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="DataListInstanceSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="DataListItemInstance" type="Botwave.DynamicForm.Extension.Domain.DataListItemInstance, Botwave.DynamicForm.Extension" />
  </alias>
  
  <parameterMaps>
    <parameterMap id="QueryItemInstanceParameters" class="guid">
      <parameter property="FormInstanceId" />
    </parameterMap>
  </parameterMaps>
  
  <resultMaps>

    <resultMap class="DataListItemInstance" id="DataListItemInstance_Result">
      <result column="Id" property="Id" />
      <result column="DataListItemDefinitionId" property="DataListItemDefinitionId" />
      <result column="FormInstanceId" property="FormInstanceId" />
      <result column="Value" property="Value" />
      <result column="RowNumber" property="RowNumber" />
      <result column="ColumnNumber" property="ColumnNumber" />
    </resultMap>
  </resultMaps>

  <statements>

    <!--FormItemInstances Statement Begin-->
    <insert id="bwdf_DataListItemInstances_Insert" parameterClass="DataListItemInstance">
      INSERT INTO bwdf_DataListItemInstances
      ([Id],[DataListItemDefinitionId],[FormInstanceId],[Value_Str],[RowNumber],[ColumnNumber])
      VALUES
      (#Id#,#DataListItemDefinitionId#,#FormInstanceId#,#Value#,#RowNumber#,#ColumnNumber#)
    </insert>

    <update id="bwdf_DataListItemInstances_Update" parameterClass="DataListItemInstance">
      UPDATE bwdf_DataListItemInstances
      SET [Value_Str] = #Value#
      WHERE [Id] = #Id# 
    </update>

    <delete id="bwdf_DataListItemInstances_Delete" parameterClass="Guid">
      DELETE from bwdf_DataListItemInstances
      WHERE [FormInstanceId] = #value#
    </delete>

    <select id="bwdf_DataListItemInstances_Select" parameterClass="Guid" resultMap="DataListItemInstance_Result" >
      SELECT A.[Id],[DataListItemDefinitionId],[FormInstanceId],[Value_Str] as [Value],[RowNumber],A.[ColumnNumber]
      FROM bwdf_DataListItemInstances AS A
      INNER JOIN bwdf_DataListItemDefinitions AS B ON A.[DataListItemDefinitionId]=B.[Id]
      WHERE [FormInstanceId]=#Value#
    </select>
    
    <!--<procedure id="bwdf_ItemInstances_Select" parameterMap="QueryItemInstanceParameters" resultClass="FormItemInstance" >
      bwdf_ext_GetFormItemInstanceList
    </procedure>-->
    
    <select id="bwdf_DataListItemInstances_Select_By_InstanceAndDefinitionId" parameterClass="Hashtable" resultMap="DataListItemInstance_Result" >
      SELECT [Id],[DataListItemDefinitionId],[FormInstanceId],[Value_Str] as Value,[RowNumber],[ColumnNumber]
      FROM bwdf_DataListItemInstances with(nolock)
      WHERE [FormInstanceId]=#FormInstanceId# AND [DataListItemDefinitionId] = #DataListItemDefinitionId#
    </select>

	  <select id="bwdf_getDlItemInstances" parameterClass="Hashtable" resultMap="DataListItemInstance_Result" >
		  SELECT A.[Id],[DataListItemDefinitionId],[FormInstanceId],[Value_Str] as [Value],[RowNumber],A.[ColumnNumber]
		  FROM bwdf_DataListItemInstances AS A
		  INNER JOIN bwdf_DataListItemDefinitions AS B ON A.DataListItemDefinitionId=B.Id
		  <dynamic prepend="WHERE">
			  <isNotNull prepend="AND" property="formInstanceId">
				  FormInstanceId=#formInstanceId#
			  </isNotNull>
			  <isNotNull prepend="AND" property="formInstanceId">
				  A.DataListItemDefinitionId=#dlItemDefinitionId#
			  </isNotNull>
		  </dynamic>
		  order by A.rowNumber asc,A.ColumnNumber asc
	  </select>
    <!--FormItemInstances Statement End-->
  </statements>
</sqlMap>
