<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="JsLibrarySpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="JsLibrary" type="Botwave.DynamicForm.Extension.Domain.JsLibrary, Botwave.DynamicForm.Extension" />
  </alias>

  <!--<cacheModels>
        <cacheModel id="ad-cache" implementation="LRU" readOnly="true" serialize="false">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="200"/>
        </cacheModel>
    </cacheModels>-->

  <resultMaps>
    <resultMap class="JsLibrary" id="JsLibraryDetail" >
      <result property="Id" column="Id"/>
      <result property="Title" column="Title"/>
      <result property="FileName" column="FileName"/>
      <result property="Type" column="Type"/>
      <result property="Events" column="Events"/>
      <result property="Function" column="Function"/>
      <result property="Creator" column="Creator"/>
      <result property="CreatedTime" column="CreatedTime"/>
    </resultMap>
  </resultMaps>

  <statements>

    <select id="bwdf_JsLibrary_Select" resultMap="JsLibraryDetail" >
        <![CDATA[
        SELECT [Id],[Title],[FileName],[Type],[Events],[Function],[Creator],[CreatedTime] FROM bwdf_JS_Library
        ]]>
    </select>

    <select id="bwdf_JsLibrary_Select_By_Type" resultMap="JsLibraryDetail" parameterClass="int">
      <![CDATA[
        SELECT [Id],[Title],[FileName],[Type],[Events],[Function],[Creator],[CreatedTime] FROM bwdf_JS_Library
        where [Type] = #value#
        ]]>
    </select>


    <select id="bwdf_JsLibrary_Select_By_Id" resultMap="JsLibraryDetail" parameterClass="int">
      <![CDATA[
        SELECT [Id],[Title],[FileName],[Type],[Events],[Function],[Creator],[CreatedTime] FROM bwdf_JS_Library
        where [Id] = #value#
        ]]>
    </select>

    <insert id="bwdf_JsLibrary_Insert" parameterClass="JsLibrary">
        <![CDATA[
        INSERT INTO [dbo].[bwdf_JS_Library]
           ([Title]
           ,[FileName]
           ,[type]
           ,[events]
           ,[function]
           ,[creator]
           ,[createdtime])
     VALUES
           (#Title#
           ,"FileName"
           ,#Type#
           ,#Events#
           ,#Function#
           ,#Creator#
           ,getdate())
        )
        ]]>
    </insert>

    <update id="bwdf_JsLibrary_Update_By_Id" parameterClass="JsLibrary">
      <![CDATA[
        update [dbo].[bwdf_JS_Library]
           set [Title] = #Title#
           ,[FileName] = #FileName#
           ,[type] = #Type#
           ,[events] = #Events#
           ,[function] = #Function#
           ,[creator] = #Creator#
           ,[createdtime] = getdate()
     where id = #Id#
      ]]>
    </update>
    
      <delete id ="bwdf_JsLibrary_Delete_By_Id" parameterClass="int">
          <![CDATA[
          delete from bwdf_JS_Library where id=#value#
          ]]>
      </delete>
  </statements>
</sqlMap>