<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="IntelligentRemindSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="IntelligentRemind" type="Botwave.XQP.Domain.IntelligentRemind, Botwave.XQP" />
    <typeAlias alias="IntelligentRemindControl" type="Botwave.XQP.Domain.IntelligentRemindControl, Botwave.XQP" />
    <typeAlias alias="ReminderTimeSpan" type="Botwave.XQP.Domain.ReminderTimeSpan, Botwave.XQP" />
    <typeAlias alias="CZReminderTimeSpan" type="Botwave.XQP.Domain.CZReminderTimeSpan, Botwave.XQP" />
  </alias>

	<resultMaps>
    <resultMap class="IntelligentRemind" id="IntelligentRemind_Result">
      <result column="Id" property="Id" />
      <result column="WorkflowName" property="WorkflowName" />
      <result column="ActivityName" property="ActivityName" />
      <result column="ExtArgs" property="ExtArgs" />
      <result column="StayHours" property="StayHours" />
      <result column="RemindType" property="RemindType" />
      <result column="RemindTimes" property="RemindTimes" />
      <result column="Creator" property="Creator" />
      <result column="CreatedTime" property="CreatedTime" />
    </resultMap>

    <resultMap class="IntelligentRemindControl" id="IntelligentRemindControlResult">
      <result column="Id" property="Id" />
      <result column="WorkflowName" property="WorkflowName" />
      <result column="ActivityName" property="ActivityName" />
      <result column="Urgency" property="Urgency" />
      <result column="StayHours" property="StayHours" />
      <result column="RemindType" property="RemindType" />
      <result column="RemindTimes" property="RemindTimes" />
      <result column="Creator" property="Creator" />
      <result column="CreatedTime" property="CreatedTime" />
    </resultMap>
    
    <resultMap class="ReminderTimeSpan" id="ReminderTimeSpanResult">
      <result column="TimeId" property="TimeId" />
      <result column="WorkflowName" property="WorkflowName" />
      <result column="BeginHours" property="BeginHours" />
      <result column="BeginMinutes" property="BeginMinutes" />
      <result column="EndHours" property="EndHours" />
      <result column="EndMinutes" property="EndMinutes" />
    </resultMap>

    <resultMap class="CZReminderTimeSpan" id="CZReminderTimeSpanResult">
      <result column="TimeId" property="TimeId" />
      <result column="EntityId" property="EntityId" />
      <result column="BeginHours" property="BeginHours" />
      <result column="BeginMinutes" property="BeginMinutes" />
      <result column="EndHours" property="EndHours" />
      <result column="EndMinutes" property="EndMinutes" />
      <result column="RemindType" property="RemindType" />
    </resultMap>
  </resultMaps>
	
	<statements>	
    <!-- IntelligentRemind Begin -->
    <insert id="xqp_IntelligentRemind_Insert" parameterClass="IntelligentRemind">
      INSERT INTO xqp_Reminder_Intelligent 
      (WorkflowName,ActivityName,ExtArgs,StayHours,RemindType,RemindTimes, Creator)
      VALUES 
      (#WorkflowName#,#ActivityName#,#ExtArgs#,#StayHours#,#RemindType#,#RemindTimes#,#Creator#)
    </insert>

    <update id="xqp_IntelligentRemind_Update" parameterClass="IntelligentRemind">
      UPDATE xqp_Reminder_Intelligent 
      SET WorkflowName = #WorkflowName#,ActivityName = #ActivityName#,ExtArgs = #ExtArgs#,StayHours = #StayHours#,
          RemindType = #RemindType#,RemindTimes = #RemindTimes#,Creator = #Creator#
      WHERE [Id] = #Id#
    </update>

    <delete id="xqp_IntelligentRemind_Delete" parameterClass="IntelligentRemind">
      DELETE FROM xqp_Reminder_Intelligent WHERE [Id] = #Id#
    </delete>

    <select id="xqp_IntelligentRemind_Select" parameterClass="string" resultMap="IntelligentRemind_Result" >
      <![CDATA[
      SELECT i.[Id], wf.[WorkflowName],a.[ActivityName],ISNULL(i.[ExtArgs],'00') ExtArgs,ISNULL(i.[StayHours],-1) StayHours,
            ISNULL(i.[RemindType],0) RemindType,ISNULL(i.[RemindTimes],-1) RemindTimes,i.[Creator],i.[CreatedTime]
      FROM bwwf_Activities AS a
            LEFT JOIN bwwf_Workflows AS wf on a.[WorkflowId] = wf.[WorkflowId]
            LEFT JOIN xqp_Reminder_Intelligent AS i on wf.WorkflowName = i.WorkflowName and a.ActivityName = i.ActivityName
      WHERE (wf.Enabled=1 AND IsCurrent=1)
      ]]>
      <dynamic prepend="AND">
        <isParameterPresent>wf.[WorkflowName] = #WorkflowName#</isParameterPresent>
      </dynamic>
      ORDER BY a.[State]
    </select>

    <select id="xqp_IntelligentRemind_Select_IsExists" parameterClass="Hashtable" resultClass="int">
      SELECT [Id] FROM xqp_Reminder_Intelligent
      WHERE (WorkflowName = #WorkflowName# AND ActivityName = #ActivityName#)
    </select>

    <select id="xqp_IntelligentRemind_Select_Id_ByActivityInstanceId" parameterClass="guid" resultClass="int">
      <![CDATA[
      SELECT rit.Id
      FROM vw_bwwf_Tracking_Activities_All ta 
            LEFT JOIN bwwf_Activities a ON ta.ActivityId = a.ActivityId 
            LEFT JOIN bwwf_Workflows w ON w.WorkflowId = a.WorkflowId 
            LEFT JOIN xqp_Reminder_Intelligent rit ON rit.WorkflowName = w.WorkflowName AND rit.ActivityName = a.ActivityName
      where taa1.ActivityInstanceId = #value#
      ]]>
    </select>
    <!-- IntelligentRemind End-->

    <!-- IntelligentRemindControl (begin) -->
    <insert id="xqp_IntelligentRemindControl_Insert" parameterClass="IntelligentRemindControl">
      INSERT INTO xqp_Reminder_IntelligentControl
      (WorkflowName, ActivityName, Urgency, StayHours,RemindTimes, RemindType, Creator,CreatedTime)
      VALUES
      (#WorkflowName#, #ActivityName#, #Urgency#, #StayHours#,#RemindTimes#, #RemindType#, #Creator#,getdate())
    </insert>

    <update id="xqp_IntelligentRemindControl_Update_ByWorkflowName" parameterClass="IntelligentRemindControl">
      UPDATE xqp_Reminder_IntelligentControl
      SET StayHours = #StayHours#,RemindTimes=#RemindTimes#, 
            RemindType=#RemindType#, Creator = #Creator#, CreatedTime = getdate()
      WHERE (WorkflowName = #WorkflowName#) AND (ActivityName=#ActivityName#) AND (Urgency=#Urgency#)
    </update>

    <select id="xqp_IntelligentRemindControl_Select_IsExists" resultClass="int" parameterClass="Hashtable">
      <![CDATA[
      SELECT [Id] FROM xqp_Reminder_IntelligentControl      
      WHERE (WorkflowName = #WorkflowName#) AND (ActivityName=#ActivityName#) AND (Urgency=#Urgency#)
      ]]>
    </select>

    <select id="xqp_IntelligentRemindControl_Select_ByWorkflowActivityName" resultMap="IntelligentRemindControlResult" parameterClass="Hashtable">
      <![CDATA[
      SELECT Id, WorkflowName, ActivityName, Urgency, StayHours, 
            RemindTimes, RemindType,Creator,CreatedTime
      FROM xqp_Reminder_IntelligentControl
      WHERE (WorkflowName = #WorkflowName#) AND (ActivityName=#ActivityName#)
      ]]>
    </select>
    <!-- IntelligentRemindControl (end) -->
    
    <!-- Workflow Reminder Timespan Begin-->
    <insert id="xqp_ReminderTimespan_Insert" parameterClass="ReminderTimeSpan">
      INSERT INTO xqp_Reminder_TimeSpans
      (WorkflowName, BeginHours, BeginMinutes, EndHours, EndMinutes)
      VALUES 
      (#WorkflowName#, #BeginHours#, #BeginMinutes#, #EndHours#, #EndMinutes#)
    </insert>

    <update id="xqp_ReminderTimespan_Update" parameterClass="ReminderTimeSpan">
      UPDATE xqp_Reminder_TimeSpans 
      SET BeginHours = #BeginHours#, BeginMinutes = #BeginMinutes#,
      EndHours = #EndHours#, EndMinutes = #EndMinutes#
      WHERE TimeId = #TimeId#
    </update>

    <delete id="xqp_ReminderTimespan_Delete" parameterClass="int">
      DELETE FROM xqp_Reminder_TimeSpans WHERE TimeId = #value#
    </delete>

    <select id="xqp_ReminderTimespan_Select_By_WorkflowId" parameterClass="guid" resultMap="ReminderTimeSpanResult">
      <![CDATA[
      SELECT TimeId, WorkflowName, BeginHours, BeginMinutes, EndHours, EndMinutes
      FROM xqp_Reminder_TimeSpans
      WHERE WorkflowName = (
          SELECT WorkflowName FROM bwwf_Workflows WHERE WorkflowId = #value#
      )
      ]]>
    </select>

    <!-- Workflow Reminder Timespan End-->

    <!--CZ Workflow Reminder Timespan Begin-->
    <insert id="cz_ReminderTimespan_Insert" parameterClass="CZReminderTimeSpan">
      INSERT INTO cz_Reminder_TimeSpans
      (EntityId, BeginHours, BeginMinutes, EndHours, EndMinutes, RemindType)
      VALUES
      (#EntityId#, #BeginHours#, #BeginMinutes#, #EndHours#, #EndMinutes#, #RemindType#)
    </insert>

    <update id="cz_ReminderTimespan_Update" parameterClass="CZReminderTimeSpan">
      UPDATE cz_Reminder_TimeSpans
      SET BeginHours = #BeginHours#, BeginMinutes = #BeginMinutes#,
      EndHours = #EndHours#, EndMinutes = #EndMinutes#,RemindType=#RemindType#
      WHERE TimeId = #TimeId#
    </update>

    <delete id="cz_ReminderTimespan_Delete" parameterClass="int">
      DELETE FROM cz_Reminder_TimeSpans WHERE TimeId = #value#
    </delete>

    <select id="cz_ReminderTimespan_Select_By_EntityId" parameterClass="guid" resultMap="CZReminderTimeSpanResult">
      <![CDATA[
      SELECT TimeId, EntityId, BeginHours, BeginMinutes, EndHours, EndMinutes,RemindType
      FROM cz_Reminder_TimeSpans
      where EntityId = #value#
      ]]>
    </select>

    <select id="cz_ReminderTimespan_Select_By_Aiid" parameterClass="guid" resultMap="CZReminderTimeSpanResult">
      <![CDATA[
      SELECT TimeId, EntityId, BeginHours, BeginMinutes, EndHours, EndMinutes,RemindType
      FROM cz_Reminder_TimeSpans
      where EntityId = (select activityId from bwwf_tracking_activities where activityInstanceId = #value#)
      ]]>
    </select>

    <!-- Workflow Reminder Timespan End-->
    
	</statements>
</sqlMap>
