<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="CZMCCSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="UCS_FromField" type="Botwave.XQP.Domain.UCS_FromField, Botwave.XQP" />
    <typeAlias alias="Ucs_Reportforms" type="Botwave.XQP.Domain.Ucs_Reportforms, Botwave.XQP" />
  </alias>
  <statements>
    
    <select id="Get_FromFieldById" parameterClass="string" resultClass="UCS_FromField" >
      select *from UCS_FromField where ReportformsID= #value#  order by fieldorder
    </select>
    <select id="Get_ReportformsById" parameterClass="string" resultClass="Ucs_Reportforms" >
      select *from Ucs_Reportforms where id= #value#
    </select>
    <select id="Get_ReportformsALL" parameterClass="string" resultClass="Ucs_Reportforms" >
      select *from Ucs_Reportforms
    </select>
    
    <update id="Reportforms_update" parameterClass="Ucs_Reportforms">
      UPDATE Ucs_Reportforms
      SET
      formname = #formname#,
      datasource = #datasource#,
      [type] = #type#,
      createtime = #createtime#,
      updatetime = #updatetime#,
      lasthandlers = #lasthandlers#,
      strOrder = #strOrder#,
      strGroup=#strGroup#,
      strWhere=#strWhere#,
      [Statistics]=#Statistics#,
      formtype=#formtype#,
      FilterRule=#FilterRule#,
      ImageOnly=#ImageOnly#
      where id=#id#
    </update>
    <insert id="Reportforms_insert"  parameterClass="Ucs_Reportforms">
      INSERT INTO Ucs_Reportforms
      (
      id,
      formname,
      datasource,
      [type],
      createtime,
      updatetime,
      lasthandlers,
      strOrder,
      strGroup,
      formtype,
      [Statistics],
      FilterRule,
      ImageOnly
      )
      VALUES
      (
      #id#,
      #formname#,
      #datasource#,
      #type#,
      #createtime#,
      #updatetime#,
      #lasthandlers#,
      #strOrder#,
      #strGroup#,
      #formtype#,
      #Statistics#,
      #FilterRule#,
      #ImageOnly#
      )
    </insert>
    <insert id="fromfield_insert"  parameterClass="UCS_FromField" >
      INSERT INTO UCS_FromField
      (
      ReportformsID,
      fieldname,
      field,
      IsShow,
      fieldorder,
      IsSelect,
      whereStrtype,
      Fieldtype,
      datasource,
      whereFieldText,
      whereFieldValue,
      wherePositionType,
      whereOrder,
      isorganization,
      LinkUrl,
      parameter,
      strWhere,
      EVA_Formula,
      EVA_ID,
      imgtype,
      Axis,
      IsCount,
      StatisticsType
      )
      VALUES
      (
      #ReportformsID#,
      #fieldname#,
      #field#,
      #IsShow#,
      #fieldorder#,
      #IsSelect#,
      #whereStrtype#,
      #Fieldtype#,
      #datasource#,
      #whereFieldText#,
      #whereFieldValue#,
      #wherePositionType#,
      #whereOrder#,
      #isorganization#,
      #LinkUrl#,
      #parameter#,
      #strWhere#,
      #EVA_Formula#,
      #EVA_ID#,
      #imgtype#,
      #Axis#,
      #IsCount#,
      #StatisticsType#
      )

    </insert>
    <update id="fromfield_update" parameterClass="UCS_FromField">
      UPDATE UCS_FromField
      SET
      fieldname = #fieldname#,
      field =  #field#,
      IsShow =  #IsShow#,
      fieldorder =  #fieldorder#,
      IsSelect =  #IsSelect#,
      whereStrtype =  #whereStrtype#,
      Fieldtype =  #Fieldtype#,
      datasource =  #datasource#,
      whereFieldText =  #whereFieldText#,
      whereFieldValue = #whereFieldValue#,
      wherePositionType = #wherePositionType#,
      whereOrder =  #whereOrder#,
      isorganization =  #isorganization#,
      LinkUrl=#LinkUrl#,
      EVA_ID=#EVA_ID#,
      strWhere=#strWhere#,
      EVA_Formula=#EVA_Formula#,
      imgtype=#imgtype#,
      Axis=#Axis#,
      parameter=#parameter#,
      IsCount=#IsCount#,
      StatisticsType=#StatisticsType#
      where id=#id#
    </update>
    <delete id="fromfield_del" parameterClass="UCS_FromField">
      DELETE FROM UCS_FromField WHERE id=#id#
    </delete>
  </statements>
</sqlMap>