<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="WorkflowCustomReportSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="WorkflowCustomReport" type="Botwave.XQP.Domain.WorkflowCustomReport, Botwave.XQP" />
  </alias>

	<resultMaps>
		<resultMap class="WorkflowCustomReport" id="WorkflowCustomReport_Result">
			<result column="Id" property="Id" />
			<result column="WorkflowName" property="WorkflowName" />
			<result column="Name" property="Name" />
			<result column="Remark" property="Remark" />
			<result column="Content" property="Content" />
      <result column="ShowFields" property="ShowFields" />
      <result column="Conditions" property="Conditions" />
			<result column="Creator" property="Creator" />
			<result column="CreatedTime" property="CreatedTime" />
		</resultMap>
	</resultMaps>
	
	<statements>
	
		<insert id="xqp_CustomReport_Insert" parameterClass="WorkflowCustomReport">
      INSERT INTO xqp_Report
      ([WorkflowName],[Name],[Remark],[Content],[ShowFields],[Conditions],[Creator],[CreatedTime])
      VALUES
      (#WorkflowName#,#Name#,#Remark#,#Content#,#ShowFields#,#Conditions#,#Creator#,#CreatedTime#)
    </insert>

		<update id="xqp_CustomReport_Update" parameterClass="WorkflowCustomReport">
      UPDATE xqp_Report
      SET [WorkflowName] = #WorkflowName#,[Name] = #Name#,[Remark] = #Remark#,[Content] = #Content#,[ShowFields] = #ShowFields#,[Conditions] = #Conditions#,[Creator] = #Creator#,[CreatedTime] = #CreatedTime#
      WHERE [Id] = #Id#
    </update>		

		<delete id="xqp_CustomReport_Delete" parameterClass="WorkflowCustomReport">
			DELETE FROM xqp_Report WHERE [Id] = #Id#
		</delete>

		<select id="xqp_CustomReport_Select" parameterClass="int" resultMap="WorkflowCustomReport_Result" >
      SELECT [Id],[WorkflowName],[Name],[Remark],[Content],[ShowFields],[Conditions],[Creator],[CreatedTime] 
      FROM xqp_Report
      <dynamic prepend="where">
				<isParameterPresent>[Id] = #Id#</isParameterPresent>
			</dynamic>
		</select>

    <select id="xqp_CustomReport_Select_By_User" parameterClass="string" resultMap="WorkflowCustomReport_Result" >
      SELECT [Id],[WorkflowName],[Name],[Remark],[Content],[ShowFields],[Conditions],[Creator],[CreatedTime] 
      FROM xqp_Report
      WHERE [Creator] = 'admin'
      <dynamic prepend="OR">
        <isParameterPresent>[Creator] = #Creator#</isParameterPresent>
      </dynamic>
    </select>
	</statements>
</sqlMap>
