<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="WorkflowRoleSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="czUserInfo" type="Botwave.Security.Domain.UserInfo, Botwave.Security" />
    <typeAlias alias="czRoleInfo" type="Botwave.Security.Domain.RoleInfo, Botwave.Security" />
    <typeAlias alias="czResourceInfo" type="Botwave.Security.Domain.ResourceInfo, Botwave.Security" />
  </alias>

  <resultMaps>
    <resultMap id="czUserInfoResult" class="czUserInfo">
      <result property="UserId" column="UserId"/>
      <result property="UserName" column="UserName"/>
      <result property="Password" column="Password"/>
      <result property="Email" column="Email"/>
      <result property="Mobile" column="Mobile"/>
      <result property="Tel" column="Tel"/>
      <result property="EmployeeId" column="EmployeeId"/>
      <result property="RealName" column="RealName"/>
      <result property="Type" column="Type"/>
      <result property="Status" column="Status"/>
      <result property="DpId" column="DpId"/>

      <result property="Ext_Int" column="Ext_Int"/>
      <result property="Ext_Decimal" column="Ext_Decimal"/>
      <result property="Ext_Str1" column="Ext_Str1"/>
      <result property="Ext_Str2" column="Ext_Str2"/>
      <result property="Ext_Str3" column="Ext_Str3"/>

      <result property="CreatedTime" column="CreatedTime"/>
      <result property="LastModTime" column="LastModTime"/>
      <result property="Creator" column="Creator"/>
      <result property="LastModifier" column="LastModifier"/>

      <result property="DpFullName" column="DpFullName"/>
    </resultMap>
    <resultMap id="czRoleInfoResult" class="czRoleInfo">
      <result property="RoleId" column="RoleId"/>
      <result property="ParentId" column="ParentId"/>
      <result property="IsInheritable" column="IsInheritable"/>
      <result property="RoleName" column="RoleName"/>
      <result property="Comment" column="Comment"/>
      <result property="BeginTime" column="BeginTime"/>
      <result property="EndTime" column="EndTime"/>
      <result property="Creator" column="Creator"/>
      <result property="LastModifier" column="LastModifier"/>
      <result property="CreatedTime" column="CreatedTime"/>
      <result property="LastModTime" column="LastModTime"/>
      <result property="SortOrder" column="SortOrder"/>
    </resultMap>
    <resultMap id="czResourceInfoResult" class="czResourceInfo">
      <result property="ResourceId" column="ResourceId"/>
      <result property="ParentId" column="ParentId"/>
      <result property="Type" column="Type"/>
      <result property="Name" column="Name"/>
      <result property="Alias" column="Alias"/>
      <result property="Enabled" column="Enabled"/>
    </resultMap>
  </resultMaps>

  <statements>

    <select id="cz_UserInfo_Select_By_RoleId" parameterClass="guid" resultMap="czUserInfoResult">
      <![CDATA[
      SELECT u.UserId, UserName, Password, Email, Mobile, Tel, EmployeeId,
        RealName, Type, Status, DpId, DpFullName, Ext_Int, Ext_Decimal, Ext_Str1, Ext_Str2, Ext_Str3,
        CreatedTime, LastModTime, Creator, LastModifier
      FROM vw_bw_Users_Detail u
      inner join bw_UsersInRoles r
      on u.userid=r.userid
      WHERE r.roleid = #value# and u.Status = 0
      ]]>
    </select>

    <select id="cz_RoleInfo_Select_By_ResourceId" parameterClass="string" resultMap="czRoleInfoResult">
      <![CDATA[
      SELECT RoleId, IsInheritable, ParentId, RoleName, Comment, BeginTime, EndTime, CreatedTime, LastModTime, Creator, LastModifier,SortOrder
      FROM bw_Roles
      WHERE RoleId IN(
            SELECT RoleId FROM bw_RolesInResources WHERE ResourceId = #value#
      )
      ORDER BY SortOrder, RoleName
      ]]>
    </select>

    <!--Resources-->
    <select id="cz_ResourceInfo_Select_ByName" parameterClass="string" resultMap="czResourceInfoResult">
      <![CDATA[
      SELECT top 1 ResourceId, ParentId, Type, Name, Alias, Enabled
      FROM bw_Resources
      WHERE Name = #value#
      ORDER BY ResourceId
      ]]>
    </select>

    <select id="cz_UserInfo_Select_By_ResourceId" parameterClass="string" resultMap="czUserInfoResult">
      <![CDATA[
      SELECT u.UserId, UserName, Password, Email, Mobile, Tel, EmployeeId,
        RealName, u.Type, u.Status, DpId, DpFullName, Ext_Int, Ext_Decimal, Ext_Str1, Ext_Str2, Ext_Str3,
        u.CreatedTime, u.LastModTime, u.Creator, u.LastModifier
      FROM vw_bw_Users_Detail u inner join bw_UsersInRoles ur 
      on u.UserId=ur.UserId inner join bw_Roles r on ur.RoleId=r.RoleId
      inner join bw_RolesInResources rr on r.RoleId=rr.RoleId
      inner join bw_Resources re on rr.ResourceId=re.ResourceId where re.ResourceId=#value#
      ]]>
    </select>
    <!--Resources end-->
  </statements>
</sqlMap>
