<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="WorkflowDefinitionSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="WorkflowDefinition" type="Botwave.Workflow.Domain.WorkflowDefinition, Botwave.Workflow.Core" />
  </alias>

    <cacheModels>
        <cacheModel id="wf-def-cache" implementation="LRU" readOnly="true" serialize="false">
            <flushInterval hours="24"/>
            <property name="CacheSize" value="100"/>
        </cacheModel>
    </cacheModels>
    
  <resultMaps>
    <resultMap id="WorkflowDefinitionResult" class="WorkflowDefinition">
      <result property="WorkflowId" column="WorkflowId"/>
      <result property="WorkflowName" column="WorkflowName"/>
      <result property="Owner" column="Owner"/>
      <result property="Enabled" column="Enabled"/>
      <result property="IsCurrent" column="IsCurrent"/>
      <result property="Version" column="Version"/>
      <result property="Creator" column="Creator" />
      <result property="Remark" column="Remark"/>
      <result property="LastModifier" column="LastModifier" />
      <result property="CreatedTime" column="CreatedTime"/>
      <result property="LastModTime" column="LastModTime"/>
    </resultMap>
    
    <resultMap id="WorkflowDefinitionResult2" class="WorkflowDefinition">
      <result property="WorkflowId" column="WorkflowId"/>
      <result property="WorkflowName" column="WorkflowName"/>
      <result property="Owner" column="Owner"/>
      <result property="Enabled" column="Enabled"/>
      <result property="IsCurrent" column="IsCurrent"/>
      <result property="Version" column="Version"/>
      <result property="Creator" column="Creator" />
      <result property="Remark" column="Remark"/>
      <result property="LastModifier" column="LastModifier" />
      <result property="CreatedTime" column="CreatedTime"/>
      <result property="LastModTime" column="LastModTime"/>

      <result property="WorkflowAlias" column="WorkflowAlias"/>
    </resultMap>
  </resultMaps>

  <statements>
    <select id="bwwf_Workflows_Select" resultMap="WorkflowDefinitionResult2" parameterClass="guid">
      SELECT WorkflowId, WorkflowName, Owner, Enabled, IsCurrent, Version, Creator, Remark,
          LastModifier, CreatedTime, LastModTime, IsDeleted, WorkflowAlias
      FROM vw_bwwf_Workflows_Detail
      WHERE (IsDeleted = 0) and (Enabled = 1) AND (IsCurrent = 1)
      <dynamic prepend="and">
        <isParameterPresent>
          WorkflowId = #value#
        </isParameterPresent>
      </dynamic>
      ORDER BY LastModTime desc, WorkflowAlias asc
    </select>
    
    <select id="bwwf_Workflows_Select_All" resultMap="WorkflowDefinitionResult2" parameterClass="guid">
      SELECT WorkflowId, WorkflowName, Owner, Enabled, IsCurrent, Version, Creator, Remark,
          LastModifier, CreatedTime, LastModTime, IsDeleted, WorkflowAlias
      FROM vw_bwwf_Workflows_Detail
      WHERE IsDeleted = 0 and IsCurrent = 1
      <dynamic prepend="and">
        <isParameterPresent>
          WorkflowId = #value#
        </isParameterPresent>
      </dynamic>
      ORDER BY WorkflowAlias asc
    </select>
    
    <select id="bwwf_Workflows_Select_By_Id" resultMap="WorkflowDefinitionResult2" parameterClass="guid" cacheModel="wf-def-cache">
      SELECT WorkflowId, WorkflowName, Owner, Enabled, IsCurrent, Version, Creator, Remark,
      LastModifier, CreatedTime, LastModTime, IsDeleted, WorkflowAlias
      FROM vw_bwwf_Workflows_Detail
      WHERE IsDeleted = 0 and WorkflowId = #value#
      ORDER BY LastModTime DESC
    </select>
    
    <select id="bwwf_Workflows_Select_CurrentVersion_ByName" resultMap="WorkflowDefinitionResult2" parameterClass="string">
      SELECT WorkflowId, WorkflowName, Owner, Enabled, IsCurrent, Version, Creator, Remark,
      LastModifier, CreatedTime, LastModTime, IsDeleted, WorkflowAlias
      FROM vw_bwwf_Workflows_Detail
      WHERE (IsCurrent = 1 and WorkflowName = #value#)
      ORDER BY LastModTime DESC
    </select>
    
    <select id="bwwf_Workflows_Select_CurrentVersion_ById" resultMap="WorkflowDefinitionResult2" parameterClass="guid">
      SELECT WorkflowId, WorkflowName, Owner, Enabled, IsCurrent, Version, Creator, Remark,
      LastModifier, CreatedTime, LastModTime, IsDeleted, WorkflowAlias
      FROM vw_bwwf_Workflows_Detail
      WHERE (IsCurrent = 1 and WorkflowName = (SELECT WorkflowName FROM bwwf_Workflows WHERE WorkflowId = #value#))
      ORDER BY LastModTime DESC
    </select>
    
    <select id="bwwf_Workflows_Select_By_WorkflowName" resultMap="WorkflowDefinitionResult" parameterClass="string">
        <!--select WorkflowId,WorkflowName,Owner,Enabled,IsCurrent,Version,Creator,Remark,LastModifier,CreatedTime,LastModTime
        from bwwf_Workflows
        where IsDeleted = 0 and Enabled = 1 and IsCurrent = 1 and WorkflowName = #value#
        order by LastModTime desc-->
      select WorkflowId,WorkflowName,Owner,Enabled,IsCurrent,Version,Creator,Remark,LastModifier,CreatedTime,LastModTime
      from bwwf_Workflows
      where IsCurrent = 1 and WorkflowName = #value#
      order by LastModTime desc
    </select>

    <select id="bwwf_Workflows_Select_IsExists" resultClass="int" parameterClass="guid">
        SELECT COUNT(0) FROM bwwf_Workflows
        WHERE IsDeleted = 0 AND WorkflowId = #value#
    </select>

    <!--插入新流程-->
    <insert id="bwwf_Workflows_Insert" parameterClass="WorkflowDefinition">
      INSERT INTO bwwf_Workflows(
      [WorkflowId],[WorkflowName],[Owner],[Enabled],[IsCurrent],[Version],[Creator],Remark,[LastModifier],[CreatedTime],[LastModTime]
      )VALUES(
      #WorkflowId#,#WorkflowName#,#Owner#,#Enabled#,#IsCurrent#,#Version#,#Creator#,#Remark#,#LastModifier#,getdate(),getdate()
      )
    </insert>

    <!--检查是否有重名流程名称-->
    <select id="bwwf_Workflows_IsExitsName" parameterClass="string" resultMap="WorkflowDefinitionResult">
        select WorkflowId,WorkflowName,Owner,Enabled,IsCurrent,Version,Creator,Remark,LastModifier,CreatedTime,LastModTime
        from bwwf_Workflows where IsDeleted = 0 and Enabled = 1 and IsCurrent = 1 and WorkflowName= #WorkflowName#
    </select>

    <!--更新启用/停用-->
    <update id="bwwf_Workflows_UpdateEnabled" parameterClass="Hashtable">
      UPDATE bwwf_Workflows SET Enabled = #Enabled# WHERE WorkflowId = #WorkflowId#
    </update>

    <!--更新当前版本-->
    <update id="bwwf_Workflows_UpdateCurrent" parameterClass="guid">
      UPDATE bwwf_Workflows SET IsCurrent = 0 WHERE WorkflowId = #value#
    </update>

    <!--删除流程-->
    <update id="bwwf_Workflows_Delete" parameterClass="guid">
      update bwwf_Workflows set IsDeleted=1 where WorkflowId=#oldflowId#
    </update>
        
  </statements>
</sqlMap>