<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Customize_GroupChannelSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <statements>
        <select id="GroupChannel_Select_By_EntityName" parameterClass="string" resultClass="string" >
            SELECT UserName FROM [xqp_Customize_GroupChannel_Users] AS ccd
            LEFT JOIN  [xqp_Customize_GroupChannel_Entity] AS cce ON ccd.EntityId = cce.Id
            WHERE cce.NAME = #name#
            ORDER BY ccd.Id
        </select>

        <select id="GroupChannel_Select_By_TreeName" parameterClass="string" resultClass="string" >
            SELECT UserName FROM [xqp_Customize_GroupChannel_Users] AS ccd
            LEFT JOIN [xqp_Customize_Trees] AS t ON ccd.EntityId = t.[ID]
            WHERE t.[Name] =  #name#
        </select>

        <select id="GroupChannel_Select_By_Product" parameterClass="string" resultClass="string" >
            SELECT TOP 1 UserName FROM [xqp_Customize_GroupChannel_Users] AS ccd
            LEFT JOIN [xqp_Customize_GroupChannel_Entity] AS t ON ccd.EntityId = t.[ID]
            WHERE t.[Name] IN($Product$)
            ORDER BY NEWID()
        </select>

        <select id="GroupChannel_Select_By_Agent" parameterClass="string" resultClass="string" >
            SELECT UserName FROM [xqp_Customize_GroupChannel_Users] AS ccd
            LEFT JOIN  [xqp_Customize_GroupChannel_Entity] AS cce ON ccd.EntityId = cce.Id
            WHERE cce.NAME like #name#
        </select>
    </statements>
</sqlMap>
