
@{
    ViewBag.Title = "租赁费用";
    Layout = "~/Views/Shared/_Content.cshtml";
}
@section Scripts{
    <script src="~/Content/app/number.js"></script>
    <script src="~/Content/app/datePicker.js"></script>
    <script src="~/Content/Javascript/ngDialog/ngDialog.js"></script>

    <script type="text/javascript">
        var app = angular.module('ListPage', ['tm.pagination', 'datePicker', 'ngDialog']);
        //控制器
        app.controller('Controller', ['$scope', "$filter", '$timeout', 'BusinessService', 'ngDialog', function ($scope, $filter,$timeout, BusinessService, ngDialog) {
            $scope.GroupName = null;
            $scope.queryBuilder = {
                CorpId: "",
                Name:""

            };
            //获取所属单位
            BusinessService.getDictListByName('所属单位').success(function (response) {
                $scope.dictCorpType = response.items;
                //$timeout(function () {
                //    if (!$scope.queryBuilder.CorpId && !!response.defaultvalue) {
                //        $scope.queryBuilder.CorpId = response.defaultvalue;
                //    }
                //}, 1);
            }).error(function (err) {
                box.alert("网络出错！", { icon: 'error' });
            }).then(function () { loadComData1 = true; });
            //获取列表
            var GetListData = function () {
                box.load("GetListData");
                $scope.master = false;
                choseArr = [];
                if (parent.getPageParam != undefined)
                    postData = parent.getPageParam('@Request.Path');//根据路径获取
                if (postData == null) {
                    postData = {
                        pageIndex: $scope.paginationConf.currentPage,
                        pageSize: $scope.paginationConf.itemsPerPage,
                        queryBuilder: $scope.queryBuilder
                    };
                }
                else {
                    $scope.paginationConf.currentPage = postData.pageIndex;
                    $scope.paginationConf.itemsPerPage = postData.pageSize;
                    $scope.queryBuilder = postData.queryBuilder;
                }
                BusinessService.list(postData).success(function (response) {
                    box.ready("GetListData");
                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                }).error(function (err) {
                    box.ready("GetListData");
                    //alert("网络出错！");
                    box.alert("网络出错！", { icon: 'error' });
                });

            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };

            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);

            /*实现全选，多选操作*/
            var choseArr = new Array();
            $scope.x = false;//默认未选中
            $scope.all = function ($event) {//全选
                var isChecked = $event.target.checked;
                angular.element("[ng-model='x']").prop("checked", isChecked);
                if (isChecked == true) {
                    choseArr = [];
                    angular.forEach($scope.ListPageData, function (obj) {
                        choseArr.push(obj.ID);//此处ID名称不同的页面名称不同，需要修改
                    });
                }
                else
                    choseArr = [];
            };
            $scope.chk = function ($event, z) {//单选或者多选
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if (choseArr.indexOf(z) < 0) {
                        choseArr.push(z);
                    }
                    if (choseArr.length == $scope.ListPageData.length) {
                        $scope.master = true;
                    }
                }
                else {//取消选中
                    var index = choseArr.indexOf(z);
                    if (index > -1) {
                        choseArr.splice(index, 1);
                        $scope.master = false;
                    }
                }
            };
            $scope.editData = function (id) {
                var url = "";
                if (id == "" || id == undefined) { //判断是列表点击确发，还是编辑按钮确发
                    if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                        box.alert("请选中一条您要修改的数据再操作（请不要多选）！");
                        return;
                    };
                    url = CurPath + 'CarFeeRent/Edit?Id=' + choseArr[0];
                }
                else {
                    url = CurPath + 'CarFeeRent/Edit?Id=' + id;
                }
                //保存最近一次的查询条件
                if (parent.pageParamList != undefined) {
                    var pageParam = { pageUrl: '@Request.Path', postData: postData };
                    parent.pageParamList.push(pageParam);
                }
                window.location.href = url; 

            }

            $scope.deleteData = function () {//
                if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                    box.alert("请至少选中一条数据再操作！");
                    return;
                };

                box.confirm("确定要删除选中的" + choseArr.length + "条数据吗？", { icon: 'question' }, function (result) {
                    if (result) {
                        //调用删除服务
                        BusinessService.deleteData(choseArr).success(function (response) {
                            if (response.message == "成功") {
                                box.alert("成功删除" + choseArr.length + "条数据", { icon: 'success' });
                                GetListData();
                            }
                            else {
                                box.alert("删除失败", { icon: 'error' });
                            }
                        }).error(function (response) { box.alert("网络出错！", { icon: 'error' }); });
                    }
                });
            };
            $scope.query = function () {
                GetListData();
            }
            $scope.getAttrByArr = function (arr, attr) {
                return getAttrByArr(arr, attr);
            }
            //显示title
            $scope.showTitle = function ($event, value) {
                ele = $event.target;
                if (!value) {
                    value = ele.innerHTML;
                }
                if (ele.offsetWidth < ele.scrollWidth) {
                    ele.title = ele.innerHTML;
                }
                else {
                    ele.title = '';
                }
            };
            $scope.fileDialog = function () {
                var _type = 'CarFeeFix'; //导入的类型
                var dialog = ngDialog.openConfirm({
                    title: '导入固定费用',
                    template: "<iframe ' frameborder='0' marginwidth='0' style='width:100%;height:100%;overflow:hidden;' src='../Import/Index?type=" + _type + "'></iframe>",
                    disableAnimation: true,
                    showClose: true,
                    plain: true,
                    width: 700,
                    height: 400,
                    top: -60,
                    preCloseCallback: function () {
                        //回调。窗口关闭后所做的事。。。。。


                        GetListData();

                    }
                });

            };

            //导出功能
            $scope.downloadFile = function () {
                if ($scope.ListPageData.length == 0) {//没有选择一个的时候提示
                    box.alert("没有可以导出的数据！！");
                    return;
                };
                box.load("GetListData");
                window.location.href = CurPath + 'CarFeeRent/Download?queryBuilder=' + JSON.stringify($scope.queryBuilder);
                box.ready("GetListData");
            }
        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http.post(CurPath + 'CarFeeRent/CarFeeRentGetListData', postData);
            };

            serive.deleteData = function (ids) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'CarFeeRent/CarFeeRentDelete',
                    data: ids
                });
            };

            serive.getDictListByName = function (DDName) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'DataDictionary/GetDictListByName',
                    data: { DDName: DDName }
                });
            };
            return serive;
        }]);
    </script>
}
<div id="ng-app" ng-app="ListPage" ng-controller="Controller">
    <!--content--->
    <div class="search-mod">
        <table>
            <tr>
                <td>
                    所属单位：
                </td>

                <td>
                    <div class="ui-input">
                        <select class="cell-input" name="CorpId" required ng-model="queryBuilder.CorpId" style="width:222px;">
                            <option  value="">全部</option>
                            <option ng-repeat="x in dictCorpType" value="{{x.value}}">{{x.text}}</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="ui-input">
                        <a ng-click="query()" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>
            </tr>
        </table>




    </div>

    <div class="public-table-main">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th style="width:30px;"><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>
                <th style="width:230px;">所属单位</th>
                <th style="width:100px;">车牌号</th>
                <th style="width:130px;">缴费类型</th>
                <th style="width:100px;">使用单位</th>
                <th style="width:130px;">租赁费</th>
                <th style="width:110px;">超包租费</th>
                <th style="width:100px;">汽油费</th>
                <th style="width:100px;">路桥费</th>
                <th style="width:100px;">补贴</th>
                <th style="width:100px;">小计</th>
                <th style="width:100px;">开始日期</th>
                <th style="width:100px;">结束日期</th>
                <th style="width:100px;">经手人</th>

            </tr>
            <tr ng-repeat="emp in ListPageData">
                <td><input type="checkbox" id="{{emp.CarFeeRentId}}" ng-model="x" ng-checked="x" ng-click="chk($event,emp.CarFeeRentId)" /></td>
                <td ng-bind="emp.CorpId_text"></td>
                <td><a ng-click="editData(emp.CarFeeRentId)" ng-bind="emp.LicensePlateNum"></a></td>
                <td ng-bind="emp.SortId_text"></td>
                <td ng-bind="emp.CorpName"></td>
                <td ng-bind="emp.RentFee"></td>
                <td ng-bind="emp.MoreFee"></td>
                <td ng-bind="emp.GasFee"></td>
                <td ng-bind="emp.RoadFee"></td>
                <td ng-bind="emp.DriverFee"></td>
                <td ng-bind="emp.TotalFee"></td>
                <td ng-bind="emp.StartTime|date:'yyyy-MM-dd'"></td>
                <td ng-bind="emp.EndTime|date:'yyyy-MM-dd'"></td>
                <td ng-bind="emp.Person"></td>


            </tr>

        </table>
    </div>

    <div class="main-flip">

        <div class="the-operation1" style="float:left">
            <ul>
                <li><a href="../CarFeeRent/Edit" class="btn-add"><i></i>添加</a></li>
                <li><a ng-click="editData('')" class="lia-5"><i></i>编辑</a></li>
                <li><a href="javascript:void(0);" ng-click="deleteData()" class="btn-del"><i></i>删除</a></li>
                <li><a ng-click="fileDialog()" class="btn-import"><i></i>导入</a></li>
                <li><a  href="javascript:void(0);" ng-click="downloadFile()"  class="btn-export"><i></i>导出</a></li>
            </ul>

        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>
