
@{
    ViewBag.Title = "物资采购查询";
    Layout = "~/Views/Shared/_Content.cshtml";
}
@section Css{
    <style type="text/css">
        .FixedHeaderColumnsTableDiv {
            overflow: auto;
            position: relative;
        }

        .FixedCell {
            position: relative;
            top: expression(this.offsetParent.scrollTop);
            left: expression(this.parentElement.offsetParent.scrollLeft);
            z-index: 1800;
        }

        .FixedHeaderRow1 {
            position: relative;
            top: expression(this.offsetParent.scrollTop);
            background-color: #ccc;
            z-index: 300;
        }

        .FixedHeaderRow2 {
            position: relative;
            top: expression(this.offsetParent.scrollTop);
            z-index: 290;
            background-color: #ffccff;
        }

        .FixedDataColumn {
            position: relative;
            left: expression(this.parentElement.offsetParent.parentElement.scrollLeft);
            z-index: 200;
            background-color: Aqua;
        }
    </style>
}
@section Scripts{
    <script src="~/Content/app/number.js"></script>
    <script src="~/Content/app/datePicker.js"></script>
    <script src="~/Content/Javascript/ngDialog/ngDialog.js"></script>

    <script type="text/javascript">
        var app = angular.module('ListPage', ['tm.pagination', 'datePicker', 'number', 'ngDialog']);
        //控制器
        app.controller('Controller', ['$scope', "$filter", '$timeout', 'BusinessService', 'ngDialog', function ($scope, $filter, $timeout, BusinessService, ngDialog) {

            $scope.queryBuilder = {
                /// <summary>
                /// 项目编号
                /// </summary>
                ProjectID: '',
                /// <summary>
                /// 项目名称
                /// </summary>
                ProjectName: '',
                /// <summary>
                /// 合同编号
                /// </summary>
                ContractID: '',
                /// <summary>
                /// 合同名称
                /// </summary>
                ContractName: '',
                /// <summary>
                /// 订单说明
                /// </summary>
                OrderDesc: '',
                /// <summary>
                /// 从订单录入金额SUM
                /// </summary>
                OrderInPay_Start: '',
                /// <summary>
                /// 至订单录入金额SUM
                /// </summary>
                OrderInPay_End: '',
                /// <summary>
                /// 从订单接收金额SUM
                /// </summary>
                OrderOutSum_Start: '',
                /// <summary>
                /// 至订单接收金额SUM
                /// </summary>
                OrderOutSum_End: '',
                /// <summary>
                /// 从未接收设备(元)
                /// </summary>
                OrderUnReceived_Start: '',
                /// <summary>
                /// 至未接收设备(元)
                /// </summary>
                OrderUnReceived_End: '',
                /// <summary>
                /// 供应商
                /// </summary>
                Apply: ''
            };

            //获取列表
            var GetListData = function () {
                box.load("loading");
                $scope.master = false;
                choseArr = [];
                var postData = {
                    pageIndex: $scope.paginationConf.currentPage,
                    pageSize: $scope.paginationConf.itemsPerPage,
                    queryBuilder: $scope.queryBuilder
                };
                BusinessService.list(postData).success(function (response) {
                    $scope.paginationConf.totalItems = response.count;
                    $scope.ListPageData = response.items;
                }).error(function (err) {
                    //alert("网络出错！");
                    box.alert("网络出错！", { icon: 'error' });
                });
                box.ready("loading");
            }
            //配置分页基本参数
            $scope.paginationConf = {
                currentPage: 1,
                itemsPerPage: 10
            };

            /***************************************************************
            当页码和页面记录数发生变化时监控后台查询
            如果把currentPage和itemsPerPage分开监控的话则会触发两次后台事件。
            ***************************************************************/
            $scope.$watch('paginationConf.currentPage + paginationConf.itemsPerPage', GetListData);

            /*实现全选，多选操作*/
            var choseArr = new Array();
            $scope.x = false;//默认未选中
            $scope.all = function ($event) {//全选
                var isChecked = $event.target.checked;
                angular.element("[ng-model='x']").prop("checked", isChecked);
                if (isChecked == true) {
                    choseArr = [];
                    angular.forEach($scope.ListPageData, function (obj) {
                        choseArr.push(obj.ID);//此处ID名称不同的页面名称不同，需要修改
                    });
                }
                else
                    choseArr = [];
            };
            $scope.chk = function ($event, z) {//单选或者多选
                if (z == null || z == "undefined") {
                    return;
                }
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if (choseArr.indexOf(z) < 0) {
                        choseArr.push(z);
                    }
                    if (choseArr.length == $scope.ListPageData.length) {
                        $scope.master = true;
                    }
                }
                else {//取消选中
                    var index = choseArr.indexOf(z);
                    if (index > -1) {
                        choseArr.splice(index, 1);
                        $scope.master = false;
                    }
                }
            };
            $scope.Edit = function () {
                if (choseArr.length != 1 || choseArr[0] == "") {//没有选择一个的时候提示
                    box.alert("请选中一条您要修改的数据再操作（请不要多选）！");
                    return;
                };
                window.location.href = CurPath + 'InvestMaterials/Edit?key=' + choseArr[0];
            }

            $scope.deleteData = function () {//
                box.load("loading");
                if (choseArr[0] == "" || choseArr.length == 0) {//没有选择一个的时候提示
                    box.alert("请至少选中一条数据再操作！");
                    return;
                };
                box.confirm("确定要删除选中的" + choseArr.length + "条数据吗？", { icon: 'question' }, function (result) {
                    if (result) {
                        //调用删除服务
                        BusinessService.deleteData(choseArr).success(function (response) {
                            if (response.IsSuccess) {
                                box.alert("成功删除" + response.data.successCount + "条数据", { icon: 'success' });
                                GetListData();
                                box.ready("loading");
                            }
                            else {
                                box.alert(response.Message.length > 0 ? response.Message : "删除失败", { icon: 'error' });
                            }
                        }).error(function (response) {
                            box.alert("网络出错！", { icon: 'error' });
                            box.ready("loading");
                        });
                    }
                });
            };
            $scope.query = function () {
                GetListData();
            }
            
            //导出功能
            $scope.downloadFile = function () {
                if ($scope.ListPageData.length == 0) {//没有选择一个的时候提示
                    box.alert("没有可以导出的数据！！");
                    return;
                };
                box.load("GetListData");
                window.location.href = CurPath + 'InvestMaterials/Download?queryBuilder=' + JSON.stringify($scope.queryBuilder);
                box.ready("GetListData");
            }
        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            //获取列表请求
            serive.list = function (postData) {
                return $http.post(CurPath + 'InvestMaterials/GetListData', postData);
            };
            
            serive.deleteData = function (ids) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'InvestMaterials/Delete',
                    data: ids
                });
            };

            return serive;
        }]);
    </script>
}
<div id="ng-app" ng-app="ListPage" ng-controller="Controller">
    <!--content--->
    <div class="search-mod">
        <table>

            <tr>
                <td>
                    项目编号：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ProjectID" placeholder="请输入项目编号" class="cell-input" style="width:120px;" />
                    </div>

                </td>
                <td>
                    项目名称：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ProjectName" placeholder="请输入项目名称" class="cell-input" style="width:120px;" />
                    </div>
                </td>
                <td>
                    订单说明：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.OrderDesc" placeholder="请输入订单说明" class="cell-input" style="width:120px;" />
                    </div>

                </td>



            </tr>
            <tr>
                <td>
                    订单录入金额SUM：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.OrderInPay_Start" placeholder="请输入数额" number precision="2" max="9999999" min="0" class="cell-input" style="width:120px;" />Ｘ
                    </div>

                </td>
                <td>
                    至：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.OrderInPay_End" placeholder="请输入数额" number precision="2" max="9999999" min="0" class="cell-input" style="width:120px;" />Ｘ
                    </div>
                </td>
                <td>
                    合同编号：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ContractID" placeholder="请输入合同编号" class="cell-input" style="width:120px;" />
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    订单接收金额SUM：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.OrderOutSum_Start" placeholder="请输入数额" number precision="2" max="9999999" min="0" class="cell-input" style="width:120px;" />Ｘ
                    </div>

                </td>
                <td>
                    至：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.OrderOutSum_End" placeholder="请输入数额" number precision="2" max="9999999" min="0" class="cell-input" style="width:120px;" />Ｘ
                    </div>
                </td>

                <td>
                    合同名称：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.ContractName" placeholder="请输入合同名称" class="cell-input" style="width:120px;" />
                    </div>
                </td>


            </tr>
            <tr>
                <td>
                    未接收设备(元)：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.OrderUnReceived_Start" placeholder="请输入数额" number precision="2" max="9999999" min="0" class="cell-input" style="width:120px;" />Ｘ
                    </div>

                </td>
                <td>
                    至：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.OrderUnReceived_End" placeholder="请输入数额" number precision="2" max="9999999" min="0" class="cell-input" style="width:120px;" />Ｘ
                    </div>
                </td>
                <td>
                    供应商：
                </td>

                <td>
                    <div class="ui-input">
                        <input type="text" ng-model="queryBuilder.Apply" placeholder="请输入供应商" class="cell-input" style="width:120px;" />
                    </div>
                </td>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td><td></td>
                <td  >
                    <div class="ui-input">
                        <a ng-click="query()" class="cell-btn-blue" style="*margin-bottom:8px;">查询</a>
                    </div>
                </td>

            </tr>
        </table>

    </div>

    <div class="public-table-main FixedHeaderColumnsTableDiv">
        <table cellpadding="0" cellspacing="0">
            <tr>
                @*<th style="width:30px;"><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>*@
                <th>
                    项目编号
                </th>
                <th>
                    项目名称
                </th>
                <th>
                    订单编号
                </th>
                <th>
                    订单说明
                </th>
                <th>
                    录入订单公司
                </th>
                <th>
                    审批状态
                </th>
                <th>
                    订单录入金额SUM
                </th>
                <th>
                    订单接收公司
                </th>
                <th>
                    订单接收金额SUM
                </th>
                <th>
                    订单创建日期
                </th>
                <th>
                    合同编号
                </th>
                <th>
                    合同名称
                </th>
                <th>
                    外围系统合同编号
                </th>
                <th>
                    订单题头项目
                </th>
                <th>
                    订单备注
                </th>
                <th>
                    供应商
                </th>
                <th>
                    订单接收百分比SUM
                </th>
                <th>
                    未接收设备(元)
                </th>
            </tr>
            <tr ng-repeat="emp in ListPageData">
                @*<td><input type="checkbox" id="{{emp.ID}}" ng-model="x" ng-checked="x" ng-click="chk($event,emp.ID)" /></td>*@
                <td ng-bind="emp.ProjectID"></td>
                <td ng-bind="emp.ProjectName"></td>
                <td ng-bind="emp.OrderID"></td>
                <td ng-bind="emp.OrderDesc"></td>
                <td ng-bind="emp.OrderInCompany"></td>
                <td ng-bind="emp.AuditStatus"></td>
                <td ng-bind="emp.OrderInPay"></td>
                <td ng-bind="emp.OrderOutCompany"></td>
                <td ng-bind="emp.OrderOutSum"></td>
                <td ng-bind="emp.OrderCreateTime|date:'yyyy-MM-dd'"></td>
                <td ng-bind="emp.ContractID"></td>
                <td ng-bind="emp.ContractName"></td>
                <td ng-bind="emp.OutContractID"></td>
                <td ng-bind="emp.OrderTitle"></td>
                <td ng-bind="emp.OrderNote"></td>
                <td ng-bind="emp.Apply"></td>
                <td ng-bind="emp.OrderOutRate"></td>
                <td ng-bind="emp.OrderUnReceived"></td>

            </tr>

        </table>
    </div>

    <div class="main-flip">

        <div class="the-operation1" style="float:left">
            <ul>
                @*<li><a href="../InvestMaterials/Edit" class="btn-add"><i></i>添加</a></li>
                <li><a ng-click="Edit()" class="btn-edit"><i></i>编辑</a></li>
                <li><a href="javascript:void(0);" ng-click="deleteData()" class="btn-del"><i></i>删除</a></li>*@
                <li><a  href="javascript:void(0);" ng-click="downloadFile()"  class="btn-export"><i></i>导出</a></li>
            </ul>

        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!--content--->
</div>
