<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="AppsSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="Apps" type="Botwave.XQP.Domain.Apps, Botwave.XQP" />
  </alias>

  <resultMaps>
    <resultMap class="Apps" id="Apps_Result">
      <result column="AppId" property="AppId" />
      <result column="AppName" property="AppName" />
      <result column="Password" property="Password" />
      <result column="Enabled" property="Enabled" />
      <result column="Remark" property="Remark" />
      <result column="AccessType" property="AccessType" />
      <result column="Settings" property="Settings" />
      <result column="AccessUrl" property="AccessUrl" />
      <result column="Creator" property="Creator" />
      <result column="LastModifier" property="LastModifier" />
      <result column="CreatedTime" property="CreatedTime" />
      <result column="LastModTime" property="LastModTime" />
    </resultMap>
  </resultMaps>

  <statements>

    <insert id="xqp_Apps_Insert" parameterClass="Apps">
      INSERT INTO xqp_Apps ([AppName],[Password],[Enabled],[Remark],[AccessType],[Settings],[AccessUrl],[Creator],[CreatedTime], LastModifier, LastModTime)
      VALUES (#AppName#,#Password#,#Enabled#,#Remark#,#AccessType#,#Settings#,#AccessUrl#,#Creator#,getdate(), #Creator#, getdate())
    </insert>

    <update id="xqp_Apps_Update" parameterClass="Apps">
      UPDATE xqp_Apps
      SET [AppName] = #AppName#,[Password] = #Password#,[Enabled] = #Enabled#,[Remark] = #Remark#,[AccessType]=#AccessType#,[Settings] = #Settings#,
      [AccessUrl] = #AccessUrl#, [LastModifier] = #LastModifier#, LastModTime = getdate()
      WHERE [AppId] = #AppId#
    </update>

    <delete id="xqp_Apps_Delete" parameterClass="Apps">
      DELETE FROM xqp_Apps WHERE [AppId] = #AppId#
    </delete>

    <select id="xqp_Apps_Select" parameterClass="int" resultMap="Apps_Result" >
      SELECT [AppId],[AppName],[Password],[Enabled],[Remark],[AccessType],[Settings],[AccessUrl],[Creator],[LastModifier],[CreatedTime],[LastModTime]
      FROM xqp_Apps
      <dynamic prepend="where">
        <isParameterPresent>[AppId] = #AppId#</isParameterPresent>
      </dynamic>
    </select>

    <select id="xqp_Apps_Select_By_Name" parameterClass="string" resultMap="Apps_Result" >
      SELECT [AppId],[AppName],[Password],[Enabled],[Remark],[AccessType],[Settings],[AccessUrl],[Creator],[LastModifier],[CreatedTime],[LastModTime]
      FROM xqp_Apps
      WHERE [AppName] = #AppName#
    </select>

    <select id="xqp_Apps_Select_IsExists" parameterClass="string" resultClass="int" >
      SELECT COUNT(0)
      FROM xqp_Apps
      WHERE [AppName] = #AppName#
    </select>
  </statements>
</sqlMap>
