<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="WorkflowMenuGroupSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="WorkflowMenuGroup" type="Botwave.XQP.Domain.WorkflowMenuGroup, Botwave.XQP" />
    <typeAlias alias="WorkflowInMenuGroup" type="Botwave.XQP.Domain.WorkflowInMenuGroup, Botwave.XQP" />
  </alias>

  <resultMaps>
    <resultMap class="WorkflowMenuGroup" id="WorkflowMenuGroup_Result">
      <result column="GroupID" property="GroupID" />
      <result column="GroupName" property="GroupName" />
      <result column="ShowOrder" property="ShowOrder" />
    </resultMap>

    <resultMap class="WorkflowInMenuGroup" id="WorkflowInMenuGroup_Result">
      <result column="WorkflowName" property="WorkflowName" />
      <result column="MenuGroupId" property="MenuGroupId" />
      <result column="ShowOrder" property="ShowOrder" />

      <result column="WorkflowId" property="WorkflowId" />
      <result column="WorkflowAlias" property="WorkflowAlias" />
      <result column="AliasImage" property="AliasImage" />
    </resultMap>
  </resultMaps>

  <statements>
    <!-- WorkflowMenuGroup (begin) -->
    <insert id="xqp_WorkflowMenuGroup_Insert" parameterClass="WorkflowMenuGroup">
      INSERT INTO xqp_WorkflowMenuGroup
      ([GroupName],[ShowOrder]) VALUES (#GroupName#,#ShowOrder#)
    </insert>

    <update id="xqp_WorkflowMenuGroup_Update" parameterClass="WorkflowMenuGroup">
      UPDATE xqp_WorkflowMenuGroup
      SET [GroupName] = #GroupName#,[ShowOrder] = #ShowOrder#
      WHERE [GroupID] = #GroupID#
    </update>

    <delete id="xqp_WorkflowMenuGroup_Delete" parameterClass="WorkflowMenuGroup">
      DELETE FROM xqp_WorkflowMenuGroup WHERE [GroupID] = #GroupID#
    </delete>

    <select id="xqp_WorkflowMenuGroup_Select" parameterClass="int" resultMap="WorkflowMenuGroup_Result" >
      SELECT GroupID, GroupName, ShowOrder
      FROM xqp_WorkflowMenuGroup
      <dynamic prepend="where">
        <isParameterPresent>GroupID = #GroupID#</isParameterPresent>
      </dynamic>
      ORDER BY ShowOrder
    </select>

    <select id="xqp_WorkflowMenuGroup_Select_By_Name" parameterClass="string" resultClass="int" >
      SELECT COUNT(0) FROM xqp_WorkflowMenuGroup
      WHERE GroupName = #GroupName#
    </select>
    <!-- WorkflowMenuGroup (end) -->

    <!-- WorkflowInMenuGroup (begin) -->
    <insert id="xqp_WorkflowInMenuGroup_Insert" parameterClass="WorkflowInMenuGroup">
      INSERT INTO xqp_WorkflowInMenuGroup (WorkflowName,MenuGroupId,ShowOrder)
      VALUES (#WorkflowName#,#MenuGroupId#,#ShowOrder#)
    </insert>

    <update id="xqp_WorkflowInMenuGroup_Update" parameterClass="WorkflowInMenuGroup">
      UPDATE xqp_WorkflowInMenuGroup
      SET MenuGroupId = #MenuGroupId#, ShowOrder = #ShowOrder#
      WHERE WorkflowName = #WorkflowName#
    </update>

    <delete id="xqp_WorkflowInMenuGroup_Delete" parameterClass="string">
      DELETE FROM xqp_WorkflowInMenuGroup WHERE WorkflowName = #value#
    </delete>

    <!-- 如果不显示被禁用的加上条件(W.Enabled = 1)-->
    <select id="xqp_WorkflowInMenuGroup_Select" resultMap="WorkflowInMenuGroup_Result" >
      <![CDATA[
      SELECT w.WorkflowId, w.WorkflowName, wmg.MenuGroupId, wmg.ShowOrder, 
            ws.WorkflowAlias, ws.AliasImage
      FROM bwwf_Workflows w 
            LEFT JOIN  bwwf_WorkflowSettings ws ON  ws.WorkflowName = w.WorkflowName 
            LEFT JOIN  xqp_WorkflowInMenuGroup wmg ON w.WorkflowName = wmg.WorkflowName
      WHERE (w.IsDeleted = 0) AND (w.IsCurrent = 1) AND (w.Enabled = 1)
      ORDER BY ws.WorkflowAlias, w.WorkflowName
      ]]>
    </select>

    <select id="xqp_WorkflowInMenuGroup_Select_WorkflowName" parameterClass="string" resultMap="WorkflowInMenuGroup_Result" >
      <![CDATA[
      SELECT w.WorkflowId, w.WorkflowName, wmg.MenuGroupId,wmg.ShowOrder, ws.WorkflowAlias, ws.AliasImage
      FROM bwwf_Workflows w 
            LEFT JOIN  bwwf_WorkflowSettings ws ON  ws.WorkflowName = w.WorkflowName 
            LEFT JOIN  xqp_WorkflowInMenuGroup wmg ON wmg.WorkflowName = w.WorkflowName 
      WHERE w.WorkflowName = #value#
      ]]>
    </select>

    <select id="xqp_WorkflowInMenuGroup_Select_IsExists" parameterClass="string" resultClass="int" >
      SELECT COUNT(0) FROM xqp_WorkflowInMenuGroup
      WHERE WorkflowName = #value#
    </select>

    <select id="xqp_WorkflowInMenuGroup_Select_By_Workflow" parameterClass="string" resultMap="WorkflowInMenuGroup_Result" >
      <![CDATA[
      SELECT w.WorkflowId, w.WorkflowName, wmg.MenuGroupId, wmg.ShowOrder, 
            ws.WorkflowAlias, ws.AliasImage
      FROM bwwf_Workflows w 
            LEFT JOIN  bwwf_WorkflowSettings ws ON  ws.WorkflowName = w.WorkflowName 
            LEFT JOIN  xqp_WorkflowInMenuGroup wmg ON w.WorkflowName = wmg.WorkflowName
      WHERE (w.IsDeleted = 0) AND (w.IsCurrent = 1) AND (w.Enabled = 1)
            AND  (w.WorkflowName = #value#)
    ]]>
    </select>
    <!-- WorkflowInMenuGroup (end) -->
  </statements>
</sqlMap>
