<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="WorkflowDesignerSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="WorkflowComponent" type="Botwave.XQP.Designer.WorkflowComponent, Botwave.XQP" />
    <typeAlias alias="WorkflowActivity" type="Botwave.XQP.Designer.WorkflowActivity, Botwave.XQP" />
  </alias>

  <resultMaps />
	
	<statements>

    <insert id="bwwf_Designer_Activities_Insert" parameterClass="Hashtable">
      insert into bwwf_Designer_Activities (ActivityId, [X], [Y]) values  (#ActivityId#,#X#,#Y#)
    </insert>
    
    <update id="bwwf_Designer_Activities_Update_ByActivityId" parameterClass="Hashtable">
      UPDATE bwwf_Designer_Activities SET  [X]=#X#, [Y]=#Y#
      WHERE ActivityId = #ActivityId#
    </update>
    
    <select id="bwwf_Designer_Workflow_Select_By_WorkflowId" resultClass="WorkflowComponent" parameterClass="guid">
    <![CDATA[
    SELECT w.WorkflowName, w.Owner, w.Remark, ws.BasicFields, ws.WorkflowAlias,  ws.TaskNotifyMinCount, ws.UndoneMaxCount, 
          xws.SmsNotifyFormat,  xws.EmailNotifyFormat, xws.StatSmsNodifyFormat, xws.StatEmailNodifyFormat,   xws.CreationControlType, 
          xws.MaxCreationInMonth, xws.MaxCreationInWeek
      FROM bwwf_Workflows w
          LEFT JOIN bwwf_WorkflowSettings ws ON ws.WorkflowName =  w.WorkflowName
          LEFT JOIN xqp_workflowSettings  xws ON xws.WorkflowName =  w.WorkflowName
     WHERE (workflowId = #value#)
     ]]>
    </select>
    
    <select id="bwwf_Designer_Activities_Select_By_WorkflowId" resultClass="WorkflowActivity" parameterClass="guid">
      <![CDATA[
      SELECT a.WorkflowId, a.ActivityId, a.ActivityName, a.State, a.SortOrder, a.PrevActivitySetId, a.NextActivitySetId, a.JoinCondition, a.SplitCondition, a.CommandRules, 
            a.ExecutionHandler, a.PostHandler, a.AllocatorUsers, a.ExtendAllocators, a.ExtendAllocatorArgs, a.DefaultAllocator, a.DecisionType, a.DecisionParser, 
            a.CountersignedCondition, a.ParallelActivitySetId, a.RejectOption, res.Name AS AllocatorResource, ISNULL(da.X, -1) AS X, ISNULL(da.Y, -1) AS Y
      FROM dbo.bwwf_Activities a
            LEFT JOIN dbo.bwwf_Designer_Activities da ON da.ActivityId = a.ActivityId
            LEFT JOIN dbo.bw_Resources res ON res.ResourceId = a.AllocatorResource
      WHERE a.WorkflowId =#value# ORDER BY a.State, a.SortOrder
      ]]>
    </select>
    
    <select id="bwwf_Designer_Assignments_Select_By_WorkflowId" resultClass="AllocatorOption" parameterClass="guid">
      <![CDATA[
      SELECT a.ActivityId, a.AllocatorUsers, a.ExtendAllocators,  a.ExtendAllocatorArgs, a.DefaultAllocator, res.[Name] AS AllocatorResource
       FROM bwwf_Assignments a 
            LEFT JOIN  bw_Resources res ON res.ResourceId = a.AllocatorResource      
      WHERE a .ActivityId IN(
        SELECT ActivityId FROM bwwf_Activities WHERE WorkflowId = #value#
      )
      ]]>
    </select>
    
	</statements>
</sqlMap>
