<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="HelpSpace" xmlns="http://ibatis.apache.org/mapping"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <alias>
        <typeAlias alias="Help" type="Botwave.XQP.Domain.Help, Botwave.XQP" />
    </alias>

    <resultMaps>
        <resultMap class="Help" id="Help_Result">
            <result column="Id" property="Id" />
            <result column="Title" property="Title" />
            <result column="Content" property="Content" />
            <result column="ParentId" property="ParentId" />
            <result column="ShowOrder" property="ShowOrder" />
        </resultMap>
    </resultMaps>

    <statements>

        <insert id="xqp_Help_Insert" parameterClass="Help">
            INSERT INTO [dbo].[xqp_Help] ([Title],[Content],[ParentId],[ShowOrder])
            VALUES (#Title#,#Content#,#ParentId#,#ShowOrder#)
        </insert>

        <update id="xqp_Help_Update" parameterClass="Help">
            UPDATE [dbo].[xqp_Help] SET [Title] = #Title#,[Content] = #Content#,[ParentId] = #ParentId#,[ShowOrder] = #ShowOrder#
            WHERE [Id] = #Id#
        </update>

        <delete id="xqp_Help_Delete" parameterClass="Help">
            DELETE FROM [dbo].[xqp_Help] WHERE [Id] = #Id#
        </delete>

        <select id="xqp_Help_Select" parameterClass="int" resultMap="Help_Result" >
            SELECT [Id],[Title],[Content],[ParentId],[ShowOrder] FROM [dbo].[xqp_Help]
            <dynamic prepend="where">
                <isParameterPresent>[Id] = #Id#</isParameterPresent>
            </dynamic>
            ORDER BY [Id],[ShowOrder]
        </select>

        <select id="xqp_Help_Select_By_ParentId" parameterClass="int" resultMap="Help_Result" >
            SELECT [Id],[Title],[Content],[ParentId],[ShowOrder] FROM [dbo].[xqp_Help]
            WHERE [ParentId] = #ParentId#
            ORDER BY [ShowOrder]
        </select>

    </statements>
</sqlMap>


