<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="botwave.themes" type="Botwave.Web.Themes.ThemeSectionHandler, Botwave.Core"/>
  </configSections>
  
  <!--
    botwave.themes 说明：

    
    新增主题，即在 botwave.themes 下新增 theme 节点，如：

      <theme name="black" title="经典黑色" preview="../res/img/theme_black.jpg" />
    其中：

    (1) name：表示主题的名称，其值与存放在 App_Themes 目录下的主题目录名称相同；

    (2) title：表示主题的标题，用于在主题(布局)选择页面上的显示名称；

    (3) preview：表示主题的预览图的路径，用于在主题(布局)选择页面上的显示预览微缩图。

         预览图的建议大小：328×200。

  -->
  <botwave.themes defaultTheme="common" repeatColumns="2">
    <theme name="common" title="庄重蓝色" preview="../res/img/theme_blue.jpg" />
    <theme name="orange" title="典雅桔色" preview="../res/img/theme_orange.jpg" />
    <theme name="newblue" title="明快蓝白" preview="../res/img/theme_newblue.jpg" />
    <theme name="black" title="经典黑色" preview="../res/img/theme_black.jpg" />
  </botwave.themes>
  
  <spring>
    <context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net" >
      <object type="pages/Default.aspx" >
        <property name="redirectPage" value="redirect.htm"/>
      </object>
    </objects>
  </spring>
</configuration>
